[2018-09-12 17:50] lucas992x commented on #53
Dimenticavo di aggiungere un paio di cose:
- Per i casi "doppi", come Rocco/Adriano nella Lega di Hoenn, io userei due box distinti in cui aggiungere un `sup` per distinguere i giochi in cui quell'Allenatore ha quel ruolo (c'è l'apposito parametro _only_).
- Per Spighetto+Chicco+Maisello userei 3 box separati specificando con il parametro _notes_ quando ognuno è sfidabile, altrimenti se vogliamo f

[2018-09-12 17:52] Cruifer commented on #53
@lucas992 A me piaceva di più con la medaglia a sinistra, ma comunque va bene anche così. Magari la prossima volta edita direttamente dalla mia sandbox altrimenti non le creo per nulla :P. Per i casi doppi io metterei semplicemente le scritte di ogni tizio di colore diverso, altrimenti con troppi box rischia di essere confusionario

[2018-09-12 17:55] lucas992x commented on #53
@Cruifer I casi doppi finora sono solo 3:
- Rocco/Adriano fra i Campioni di Hoenn.
- Aristide/Iris come Capopalestra di Unima (e separarli permetterebbe di avere 12 riquadri quindi layout più OCD).
- Nardo/Iris come Campione di Unima.

Secondo me non è un male separarli, ma se decidiamo di non farlo implementerò nel template anche questa possibilità. Tenete presente che comunque ora hanno un singo

[2018-09-13 10:46] Cruifer commented on #34
@CiaobyDany Ma quindi da ora in avanti lo standard è questo?

![50fe0055-06d7-490f-a3df-40cc0c3e24cc](https://user-images.githubusercontent.com/38588039/45483711-07270880-b752-11e8-90b2-f6860c49a6c8.jpeg)

Se mi dai conferma guardo se c'è da modificare qualcosa in #52. E si potrebbe anche pensare di chiudere l'issue, in effetti.

[2018-09-13 11:09] CiaobyDany commented on #34
@Cruifer In linea di massima direi di sì. Ho visto una variante con anche i nomi stranieri in corsivo che mi convinceva molto poco principalmente perché il giapponese in corsivo è un'invenzione occidentale, se provi a scrivere un kanji storto ti sparano.

[2018-09-13 11:56] Cruifer commented on #34
@CiaobyDany quindi questa cosa sarebbe da evitare come la morte, sì?
![dfc54c7c-530c-4762-b519-72d8b383fb20](https://user-images.githubusercontent.com/38588039/45486836-c97bad00-b75c-11e8-9a8b-5501d4ade047.jpeg)

[2018-09-13 12:06] CiaobyDany commented on #34
@Cruifer Direi di sì. Si può lasciare l'inglese in corsivo volendo, ma sono sempre più convinto che il giapponese in corsivo sia una bestemmia. Mi aveva sempre lasciato stranito ma non riuscivo a capire quale fosse il problema nel concreto.

[2018-09-13 12:18] Cruifer commented on #34
Ho sistemato. Ne approfitto per chiudere l'issue, tanto il layout così mi sembra più che soddisfacente.

[2018-09-13 12:18] #34 closed, assigned to CiaobyDany

[2018-09-14 13:56] Cruifer opened #54 "Update template tabelle dei dungeon"
## Descrizione
Le tabelle dei Pokémon e degli strumenti nei dungeon in questo momento sono vecchie e fuori standard, e su mobile sono indecenti.

## Screenshot
![20180914_160028](https://user-images.githubusercontent.com/38588039/45554875-a70a9200-b837-11e8-8e66-d1ffc173d13b.png)
![20180914_160101](https://user-images.githubusercontent.com/38588039/45554914-bab5f880-b837-11e8-880a-3fe4d12a2e2e.png

[2018-09-14 18:09] lucas992x commented on #53
Mi sono accorto ora di avervi mentito, altri due casi doppi sono Koga/Nina e Giovanni/Blu come Capipalestra di Kanto.

[2018-09-15 08:33] flavio-a commented on #53
Ci sono anche Adriano/Rodolfo a Hoenn.

[2018-09-15 12:46] lucas992x opened #55 "Template Sprite da aggiornare"
## Descrizione
Un'immagine vale più di mille parole:
![capture _2018-09-15-14-36-17](https://user-images.githubusercontent.com/38510975/45586328-50fc2400-b8f5-11e8-9052-a3b9617011b3.png)

## Pagine affette
Tutte le pagine dei Pokémon,  visto che il [template Sprite](https://wiki.pokemoncentral.it/Template:Sprite) si usa lì.

## Risoluzione del problema
Una possibilità può essere sostituire le scri

[2018-09-15 12:56] CiaobyDany commented on #55
@lucas992 Non basta, devi cambiare il layout in toto, ricorda che tra due mesi avrai la settima generazione con tre modelli frontali e due retro e quelli di LGPE saranno enormi

[2018-09-16 16:12] lucas992x commented on #53
https://wiki.pokemoncentral.it/Utente:Lucas992/ProveTemplate
Qui ho messo tutti i casi doppi per vederli direttamente, secondo me l'idea del box doppio e con colori appropriati anziché singolo colore neutro è la migliore. L'unico che non mi convinceva troppo è Aristide/Iris, ma perché in `md`/`sm` avendone 2 per fila si avrebbe Silvestro e Ciprian da soli sulle rispettive righe: l'unico "rimedio"

[2018-09-16 22:05] #54 closed, assigned to Cruifer

[2018-09-16 22:44] davla commented on #46
UPDATE: È un casino della madonna

[2018-09-17 19:01] Snorlite opened #56 "Aggiornamento versi usati nel PokémonInfo"
I versi usati nella sezione verso del template PokémonInfo sono ancora fermi alla quinta generazione, e direi che sarebbe ora di aggiornarli. Da quello che ho capito solo @mexicat può mettere le mani ai file mp3, quindi è necessario il suo intervento.

[Qui](https://play.pokemonshowdown.com/audio/cries/) ho trovato un elenco completo, su Dropbox ho caricato i rispettivi file .mp3 nella cartella Ve

[2018-09-17 22:11] lucas992x commented on #53
Ho aggiornato tutti i template sopra citati con questo nuovo layout.

La prossima categoria che mi viene in mente sono i template delle controparti per regioni (per intenderci, una cosa di [questo tipo](https://wiki.pokemoncentral.it/Template:Edifici_lotta)). Se siete d'accordo userei un layout del genere.
Template di navigazione:
- https://wiki.pokemoncentral.it/Template:Edifici_lotta
- https://w

[2018-09-18 08:37] lucas992x commented on #56
Una cosa non ho capito: i file che hai messo nella cartella condivisa di Dropbox hanno altri problemi o solo quello del nome?
Comunque non metterti lì a rinominarli singolarmente, quello se serve si fa con un programma automatico (almeno i Pokémon "standard", poi le forme alternative si sistemeranno a parte).

[2018-09-18 08:55] Snorlite commented on #56
@lucas992 I file su Dropbox sono quelli presi da Showdown, quindi con i nomi e iniziale minuscola e formato mp3.

[2018-09-18 10:27] lucas992x commented on #56
@Snorlite Ok, ma la mia domanda è: il nome è l'unico potenziale problema o ce ne sono altri?

[2018-09-18 11:45] Snorlite commented on #56
@lucas992 Una volta risolto quello penso non ci siano altri problemi, a parte appunto modificare il template in modo da supportare più versi per forme alternative.

[2018-09-18 14:01] davla commented on #56
Quindi c'è da rinominare una schiera di files da nome in minuscolo a numero di dex? Qual'è il problema?

[2018-09-18 15:41] Snorlite commented on #56
@davla I versi aggiornati che ho trovato sono chiamati in base al nome del Pokémon tutto in minuscolo. Se è possibile aggiornare il widget del Verso per fare in modo di prendere come parametro il nome della specie (e "convertendo" in minuscolo l'iniziale del nome della specie inserito nel parametro relativo per leggere ad esempio bulbasaur.mp3 invece di Bulbasaur.mp3) invece del numero Pokédex, al

[2018-09-18 16:00] lucas992x commented on #56
@Snorlite Rinominare quei file non è un problema, persino io riuscirei a scrivere un programma che lo faccia in automatico, quindi figurati uno esperto come Maze o Flavio.

[2018-09-18 16:32] davla commented on #56
Ma anche la soluzione di Snorlo è ottima. Cioè, si può tranquillamente cambiare il widget, chiamarlo con il nome del Pokémon e farne il lowercase.

@Snorlite i widget sono editabili da tutti gli admin, e non richiedono chissà cosa per scriverli, anche perché li teniamo volutamente piccoli.

[2018-09-18 17:48] Snorlite commented on #56
@davla Ok, allora è deciso, teniamo i nomi. Ho visto un po' come fare.

Il widget non lo modificherei finché @mexicat non carica i file aggiornati, in ogni caso l'unica cosa che modificherei è sostituire $ndex con $specie.

Ho messo nella mia sandbox una versione modificata del PokémonInfo per permettere l'aggiunta di più versi nel caso dei Pokémon elencati nel primo post. Il lowercase l'ho gestit

[2018-09-20 10:10] mexicat commented on #56
Confermo che servirebbe averli nel formato attuale (es. 003.mp3)

[2018-09-20 10:15] Snorlite commented on #56
@mexicat Ah, ok. Per eventuali versi delle forme alternative, invece? Come è opportuno gestirle?

[2018-09-20 10:18] mexicat commented on #56
@Snorlite In realtà non avevo letto tutta la discussione 😅 il numero va tenuto nel caso non si modifichi il widget, però se lo volete modificare non c’è problema, posso caricare i file così come sono. (Per le forme non saprei, ma nella cartella vedo che c’è roba tipo `710-average.mp3`)

[2018-09-20 10:26] Snorlite commented on #56
@mexicat 710-average nella cartella attualmente usata dal wiki? Perché in quella su Dropbox non ho visto numeri.

In ogni caso il PokémonInfo attuale non gestisce ancora la riproduzione dei versi delle forme alternative, ma nella mia sandbox dovrei avere aggiunto questa funzionalità senza problemi.

Quando caricherai tutti i file che sono su Dropbox sistemo template e widget.

[2018-09-21 09:39] mexicat commented on #56
Ho caricato tutti i file con i nomi al posto dei numeri, tipo https://media.pokemoncentral.it/wiki/versi/abomasnow.mp3

[2018-09-21 11:01] Snorlite commented on #56
@mexicat Grazie, stasera ci guardo ed eventualmente sistemo le cose.

[2018-09-21 12:24] lucas992x commented on #53
Ecco la mia proposta: https://wiki.pokemoncentral.it/Utente:Lucas992/ProveTemplate
Pensavo che quasi quasi lo si potrebbe usare anche nelle pagine contenenti tabelle simili, per esempio https://wiki.pokemoncentral.it/Giudice_Onomastico#Localit.C3.A0

[2018-09-21 12:25] CiaobyDany commented on #53
@lucas992 Why not?

[2018-09-21 12:27] Cruifer commented on #53
@lucas992 c'è anche https://wiki.pokemoncentral.it/Template:Cimiteri

[2018-09-21 12:35] lucas992x commented on #53
Aggiunto anche lui, thx.

[2018-09-21 12:43] lucas992x commented on #53
Ho editato il commento precedente. Se ci sono altri casi in cui si può usare questo template aggiungeteli, tanto me ne sarò sicuramente dimenticati alcuni.

[2018-09-21 12:45] CiaobyDany commented on #53
@lucas992 Le due rocce mi sembrano valide. Cioè, è lo stesso principio dei luoghi con campo magnetico speciale

[2018-09-21 16:18] Snorlite commented on #56
@mexicat perdonami ma porygon-z.mp3 dovrebbe chiamarsi porygon-Z.mp3 e hooh.mp3, dovrebbe essere ho-Oh.mp3. Porygon l'avevo corretto in locale ma si vede che Dropbox non me l'ha sincronizzato, il secondo me l'ero proprio dimenticato 😅

Poi per qualche motivo farfetch'd.mp3 non lo prende, nonostante il carattere apostrofo mi sembri lo stesso.

[2018-09-22 19:15] flavio-a commented on #47
Ho provato a fare un modulo per sostituire il template da chiamare con il render ma è sorto un imprevisto: all'interno del render non si può usare una chiamata ad un template/modulo come valore di un parametro. Questo non vuol dire che non si riesca a fare, ma il tutto diventa più impegnativo da realizzare, quindi sto riprendendo in considerazione l'ipotesi di un modulo dati.

[2018-09-24 10:43] davla commented on #56
Aaaaah. Scusate che mi sono dimenticato dell'esistenza di questo coso.

@Snorlite La prossima volta che fai un parametro con nome italiano ti sputo.

Comunque, come Snorlo ha fatto notare, il caro vecchio *Farfetch'd* crea immani problemi. Oltre a questio abbiamo i trattini, e cazzi e mazzi vari che potrebbero potenzialmente non essere nomi validi di files in un linux filesystem. Sarebbe meglio to

[2018-09-24 11:34] flavio-a commented on #56
@davla Non è che i moduli interfaccia mi piacciano tanto, è che sono comodi. Comunque non vedo perché no, basta aggiungere l'adeguata funzione.

[2018-09-24 20:47] davla commented on #56
Muoviti a farlo

[2018-09-26 08:24] flavio-a commented on #56
Requirements needed: vuoi un'interfaccia che mappi ndex (solo ndex o anche nomi? ndex solo "puri" o anche con un'abbr?) in una lista (space separated?) di tutte le abbr delle sue forme alternative (se l'ndex non ha forme alternative lista vuota = stringa vuota o errore di script? se l'ndex ha forme alternative useless vanno considerate o no?)

[2018-09-26 10:29] lucas992x commented on #53
Template di navigazione di una determinata regione: la serie principale è aggiornata (e segue uno standard), ma gli spin-off no. Secondo me l'attuale soluzione va bene, solo non mi convince il fatto che il titolo in alto sia del colore della regione mentre tutte le altre etichette sono nere; secondo me è meglio mettere anche il titolo nero (o bianco se il colore di sfondo è scuro).
Se poi decidiam

[2018-09-26 13:49] flavio-a commented on #53
Il template:Zone PSMD è bellissimo così come l'avevo fatto a suo tempo, se me lo tocchi ti taglio le mani :).
Scherzi a parte, in quello davvero mi piacerebbe tenere i colori dei vari continenti, però non è indispensabile.

[2018-09-26 13:52] davla commented on #56
Esatto. Ci ho pensato ieri ma poi non ho scritto. Si passa l'ndex su tre cifre, perché esiste come parametro dell'infobox.

Ci sono tre casi in cui dovresti ritornare cose diverse:
- Pokémon senza forme alternative: stringa vuota.
- Pokémon con forme con versi diversi: comma-separated list of forms abbreviations
- Pokémon con tutte le forme con versi uguali: 'all'

Come noti, serve di sapere quali

[2018-09-26 14:31] lucas992x commented on #53
Ti propongo questa soluzione: etichette colorate in questo modo quando si vogliono differenziare i loro colori. Volendo potremmo anche pensare di usarle negli altri template per far risaltare meglio le varie parti (città, percorsi, etc).
![scr](https://user-images.githubusercontent.com/38510975/46086665-dc549f80-c1a8-11e8-9aa3-f7159c6bc41d.png)

[2018-09-26 14:49] davla commented on #56
In realtà, togethr with le sigle mi servirebbero pure i nomi delle forme alternative. Una list of pairs, insomma. Una roba tipo *comma per separare le pairs, dash per separare i due items nella pair*. O qualsiasi cosa migliore di venga in mente

[2018-09-26 14:56] flavio-a commented on #56
@davla Non puoi fare da solo usando PokémonData.getFormName (o qualcosa del genere)?

[2018-09-26 14:59] flavio-a commented on #53
@lucas992 diciamo che mi posso accontentare. Le tue mani sono salve (per stavolta)

[2018-09-26 15:44] lucas992x commented on #53
Stavo riflettendo sulla possibilità di mettere sempre le etichette come nel template PSMD. Non mi convince troppo usarlo dappertutto, fra queste 3 possibilità preferisco quella delle etichette come nello screen qui sopra.

[2018-09-27 16:36] #52 closed, assigned to Cruifer

[2018-09-27 20:10] flavio-a commented on #56
Tre domande: nella lista di abbr serve anche `base`? Se sì, in che formato? Nella lista devo mettere tutte le forme o solo quelle con versi diversi dalla forma base?

[2018-09-27 21:11] davla commented on #56
- No, non posso fare niente da solo, perché non posso chiamare i moduli dai widget.
- Nella lista abbr non serve `base`, e servono solo le forme con verso diverso (altrimenti che cazzo li abbiamo messi a fare nel modulo)?

[2018-09-28 17:24] flavio-a commented on #56
Aggiunta in pokemoncentral/wiki-lua-modules@bb169d7c8f06f0db764cc37ed1efa0d53fad6f73. Dai test dovresti anche capire se ho rispettato tutti i requisiti o se mi sono sbagliato.

[2018-09-28 18:43] lucas992x commented on #53
Ho messo le due prove nella solita pagina: https://wiki.pokemoncentral.it/Utente:Lucas992/ProveTemplate
Per la seconda i colori li ho scelti un po' a caso, se avete idee migliori proponetele.

[2018-09-29 13:00] flavio-a commented on #53
Io rimetterei i `text-small` per l'elenco di luoghi e lascerei i link blu invece di neri.

[2018-09-29 13:21] lucas992x commented on #53
@flavio-a Fatto, guardate ora se vi convince

[2018-09-29 13:45] flavio-a commented on #53
Ok ho mentito, mettiamo il testo di dimensione normale (però preferisco i link blu e non neri).

[2018-09-29 14:23] lucas992x commented on #53
Ok, ho rimesso il testo normale senza `small-text` e senza `black-text`. Così vi piace?

[2018-09-29 20:29] davla commented on #56
@mexicat Dovresti caricare i nuovi files. Cartella `Cries` su Dropbox.
Ma soprattutto,
[code]
Dovrei fare un banale split-by-comma di una stringa. Poi l'escape si fa sui singoli elementi nel loop, tranquillo.

Qui ti dice come fare, https://www.smarty.net/docsv2/en/language.modifiers.tpl, il bullet point the inizia con *Secondly - if $security is enabled,*

[2018-10-01 12:32] lucas992x opened #57 "Elenchi da modulizzare"
I seguenti elenchi potrebbero essere modulizzati:
- [ ] https://wiki.pokemoncentral.it/Abilit%C3%A0#Elenco_delle_abilit.C3.A0 (in questo si vorrebbe aggiungere il numero di Pokémon che ce l'hanno come unica abilità standard, come possibile abilità standard, e come abilità speciale)
- [x] https://wiki.pokemoncentral.it/Elenco_Pok%C3%A9mon_per_abilit%C3%A0
- [ ] https://wiki.pokemoncentral.it/Elenco

[2018-10-03 13:26] mexicat commented on #56
Ho caricato i file, ma non ho capito cosa mi stai chiedendo di fare e soprattutto in che contesto...

[2018-10-04 20:58] davla commented on #56
L'estensione dei widget usa Smarty templating language, che ha una simpatica cosa di far usare tutte le funzioni PHP come filtri/modifiers/pipes/ilcazzochesichiamano. Ora, l'estensione blocca molte di queste funzioni, che devono essere inserite in una whitelist. A me servirebbe di fare uno split di una stringa, ovverosia `explode` in PHP. Prenderò tutte le precauzioni del caso per evitare code inj

[2018-10-05 07:29] davla commented on #57
Sull'ultimo punto c'è stato un malinteso. È un po' un'overkill fare un modulo e chiamarlo nelle pagine per stampare due numeretti che cambiano una volta ogni due anni. Quello che sarebbe meglio fare è scrivere tre righe di lua per tirare fuori quel numeretto e aggiornarlo a mano.

Però è anche vero che le tabelle sotto sono modulizzate proprio per non doverle aggiornare, e cambiano con la stessa f

[2018-10-05 15:33] lucas992x commented on #41
Anche questa discussione si è un po' persa :D allora vogliamo passare da `light` -> `normale` a `normale` -> `light` -> `normale`?

[2018-10-05 15:46] davla commented on #41
Ricordo vagamente di una discussione con Denelio che servirebbero delle prove. Perché lo gradiente triplo, a mio avviso, non si vede sulle cose non sufficientemente larghe.

[2018-10-05 16:10] lucas992x commented on #41
In alcuni casi è vero che non si nota troppo la presenza del gradiente. Ma è un problema ciò?

[2018-10-05 16:13] lucas992x commented on #41
Ne approfitto anche per far notare che per certi colori la versione `light` è perfettamente identica alla `normale`. È voluta questa cosa? (https://wiki.pokemoncentral.it/Utente:Lucas992/Elenco_colori guardate per esempio i gruppi Uova)

[2018-10-05 16:17] flavio-a commented on #41
@lucas992 dovrebbe succedere solo per i gruppi uova, alcuni colori _text, FFF e 000. Gli ultimi due per ovvi motivi, i colori _text perché credo che dovrebbe funzionare lo stesso su tutte e tre le shades del colore e i primi perché Dany non aveva (giustamente) voglia di inventarli visto che non c'erano su Bulba e non vengono usati tipo da nessuna parte. Non so di nessun altro caso di uguaglianza

[2018-10-06 13:35] Cruifer opened #58 "Update aree amico"
## Descrizione
Avevo incominciato a lavorare alle aree amico ma non le avevo finite. Sono rimaste un po' di cose da fare tra cui:

- Update grafico ai template:
  - [x] https://wiki.pokemoncentral.it/Template:InfoboxAreaAmico
  - [x] https://wiki.pokemoncentral.it/Template:Aree_Amico
  - [x] https://wiki.pokemoncentral.it/Template:Aapkmn
  - [x] https://wiki.pokemoncentral.it/Template:Aapkmn/h
- S

[2018-10-06 14:09] flavio-a commented on #58
@Cruifer Bravo Crusca, ti darò una mano (se avrò tempo)

[2018-10-07 12:03] flavio-a commented on #37
Avevo tempo e ho finito di dividere le mosse: https://wiki.pokemoncentral.it/Utente:Ff300/sandbox2
Ci sono un po' di gruppi che restano controversi (a mio avviso), ho fatto una sezione apposta che vi invito a leggere. Più precisamente dovreste votare la vostra alternativa (firmandovi con `--~~~`) e/o scrivere le motivazioni del vostro voto (io lo farei solo in un secondo momento per gruppi su cui

[2018-10-08 14:52] Snorlite commented on #40
Allora, intanto mi scuso per non avere partecipato alla discussione in precedenza.

La sostanza è che nel Pokédex dei giochi, le megaevoluzioni hanno - in maniera analoga alle forme tradizionali come Forma Terra/Cielo di Shaymin, Forma Scudo/Spada di Aegislash, ecc. - come didascalia "Mega<nome Pokémon>", mentre i Pokémon archeo hanno "Archeorisveglio". I Pokémon standard ovviamente non hanno ness

[2018-10-09 10:16] davla commented on #40
Credo che la mia motivazione al tempo sia stato che le mega sono conosciute così. Se sei sicuro che nel Pokédex siano così, allora si potrebbe pensare di cambiarle. Però ci sono tantissimi controlli da fare nei moduli e in giro per il wiki, quindi non sarà una cosa breve e indolore.

[2018-10-09 16:24] flavio-a commented on #40
Non deve esserlo per forza. Abbiamo un sacco di incongruenze in giro, non credo che avere qualche scritta "MegaTizio" in giro invece di "Tizio\<div class="text-small"\>MegaTizio\</div\>" sia la fine del mondo. Per quanto riguarda i moduli penso basterà cambiare i nomi delle mega nel Poké/data e i nomi delle forme alternative nell'AltForms/data

[2018-10-09 16:55] Snorlite commented on #40
![image](https://user-images.githubusercontent.com/42011697/46684678-da9cca00-cbf3-11e8-9889-dbf1c9fe536f.png)
![image](https://user-images.githubusercontent.com/42011697/46684684-df617e00-cbf3-11e8-970e-f462b9f60549.png)
Per farvi capire che sono sicuro (è la Banca Pokémon, ma vi assicuro che non cambia nulla).

[2018-10-09 17:11] Snorlite commented on #40
D'altro canto - me ne sono accorto adesso - per Groudon e Kyogre nel sito ufficiale le loro forme alternative vengono chiamate ArcheoGroudon e ArcheoKyogre https://www.pokemon.com/it/pokedex/groudon https://www.pokemon.com/it/pokedex/kyogre (vedasi la combobox).

Anche le forme alternative degli altri Pokémon sono presenti in una combobox, quindi che da noi i nomi (ArcheoGroudon/ArcheoKyogre o Arc

[2018-10-09 17:12] lucas992x commented on #40
@Snorlite infatti i giochi sono molto più affidabili del sito Pokémon, che a volte è veramente scandaloso.

[2018-10-09 17:14] flavio-a commented on #40
Il sito ufficiale non è aggiornato. Per esempio abbiamo scoperto che Darmanitan base era "Forma Normalità" fino a ROZA, ma è "Stato Normale" da SL; sul sito ufficiale però c'è ancora Forma Normalità. In questi casi abbiamo deciso di seguire i giochi, quindi `Archeorisveglio` e `MegaTizio`.

[2018-10-10 15:50] davla commented on #40
@Snorlite Gli `<small>` non si usano più. `<span class="small-text">`
@flavio-a Ci sono un sacco di casi in cui fai `hasMega` o `hasArcheo` o quelle robe lì. In generale, le Mega e le Archeo sono trattate con `if` da qualche parte. Sarebbe da controllare.

[2018-10-10 20:07] #48 closed, assigned to nobody

[2018-10-11 16:08] flavio-a commented on #40
Vabbe, si controlla. Finché sono solo i moduli si fa tutto, il problema sono le pagine, ma come già detto non mi sembra la fine del mondo se per un po' restiamo in uno stato ibrido, anche perché sperabilmente sono molto gestite dai moduli e quindi dovremmo coprire in un colpo solo molte pagine (e le più visitate).

[2018-10-17 10:29] flavio-a commented on #47
Ok, dopo un po' di lavoro dovrei aver fatto il modulo dati (oltre al modulo per stampare l'elenco. Risultato: https://wiki.pokemoncentral.it/Utente:Ff300/sandbox
Questo è esattamente l'output del modulo, quindi quello che si vedrà nella pagina se lo vogliamo usare. Dovrebbe essere perfettamente identico alla vecchia sandbox di Dany, ma ovviamente non posso escludere errori nella creazione (automat

[2018-10-17 10:40] lucas992x commented on #47
@flavio-a Un paio di osservazioni:
- La pagina è piuttosto pesante, valuterei uno split.
- Esiste la classe black-text, che si può usare per "semplificare" qualcosa.
- Per i Colorabbrev, proverei ad aggiungere uno spazietto prima e dopo, invece di lasciarli tutti così attaccati.

[2018-10-17 10:42] CiaobyDany commented on #47
@lucas992 Veramente il modulo era stato creato per evitare di splittare ^^"
A parte questo, mi sembra ok, ma bisognerebbe cambiare il nome delle forme in tutte le forme per chi ne ha una con le eccezioni delle forme di Alola e di Basculin credo, ma ti darò conferma in seguito

[2018-10-17 12:13] flavio-a commented on #47
@lucas992 prima di valutare la pesantezza aspetterei di usare davvero il modulo, visto che non ho idea dell'impatto sulle performance (al momento il sorgente sono infinite righe di codice generate dall'esecuzione del modulo sulla mia macchina). La classe `black-text` è una buona idea, più tardi vedo se/quanto semplifica le cose. Lo spazio tra le abbrev vedo quanto si riesce a fare comodamente, se

[2018-10-18 11:33] davla commented on #40
Sì, ma non è semplice come la facevi tu. Non basta modificare il modulo dati, era questo che volevo intendere.

[2018-10-19 06:44] flavio-a commented on #47
Ho messo il modulo nella pagina, a me non sembra troppo pesante una volta che il browser a cachato i MS. Non è leggera, per carità, ma mi sembra ragionevole. Il `black-text` verrà implementato in un prossimo update del modulo, insieme ad eventuali altre modifiche (es: quella di aggiungere gli spazi o per le forme alternative).

[2018-10-19 08:28] lucas992x commented on #47
Noto che in alcuni casi i giochi vengono mostrati in ordine crescente di percentuale e non secondo l'ordine canonico di uscita dei giochi stessi. Secondo me avrebbe più senso il secondo dei due. Guardate per esempio Growlithe e Arcanine, dove RFVF viene prima di RZS e N2B2 prima di NB.
Sempre in Growlithe e Arcanine OAC sono ripetuti due volte. Non so se si tratti di un errore o di qualcosa che ha

[2018-10-19 10:43] flavio-a commented on #47
@lucas992 L'ho fatto apposta perché era così nella sandbox di Dany, però in effetti anch'io preferisco l'altro

[2018-10-20 12:14] lucas992x commented on #57
Ne approfitto per una domanda abbastanza correlata (visto che si parla degli elenchi per statistiche base). A qualcuno potrebbe interessare avere questo elenco in riferimento a una certa generazione, e non è detto che quello attuale vada bene comunque (l'esempio che mi viene in mente sono gli ordinamenti potenzialmente sbagliati perché ovviamente lui non sa a quale generazione sta pensando l'utent

[2018-10-20 12:27] flavio-a commented on #57
pr0 tip: se non mi assegnate le issue ci metto il triplo del tempo a vederle
tornando IT: @lucas992 dal lato tecnico si può fare senza problemi, dal punto di vista dell'utilità ho molti dubbi. Dato che l'elenco verrebbe con anche i valori delle vecchie generazioni l'unico problema sarebbe proprio l'ordinamento, e per solo questa feature non credo valga la pena di fare più pagine. Se però preferite

[2018-10-20 14:29] davla commented on #57
@flavio-a Si può fare anche l'elenco con i valori di una generazione soltanto, è fattibile. Ma boh, anche io ho dubbi sull'utilità.

[2018-10-20 14:33] davla opened #59 "Potenziali sostituzioni periodiche con il bot"
## Descrizione
Qui mi dovrete ricordare le sostituzioni automatiche che ho detto che avrei fatto con il bot. Perché tanto me ne scordo

- [x] metereologic -> meteorologic
- [x] `\[\[(\w+) (tipo)\|` -> `[[$1|`
- [x] `\[\[(\w+) (mossa)\|` -> `[[$1|`
- [x] `\[\[(\w+) (abilità)\|` -> `[[$1|`
- [x] Vari template non più usati come `p`, `t`, `m`, `a`, `dwa`, `pw`
- [ ] Qualcosa che tolga le maiuscole al

[2018-10-20 17:17] lucas992x commented on #57
A me qualche volta fa comodo, e infatti ricorro ad altri siti (Bulba o Serebii a seconda dei casi). Vedete un po' voi.

[2018-10-20 17:34] lucas992x commented on #59
- [x] metereologic -> meteorologic
- [x] [[Fuoco (tipo)| -> [[Fuoco| (e ovviamente anche gli altri tipi)
- [x] Vari template non più usati come `p`, `m`, `a`, `dwa`, `pw`

Man mano che mi vengono in mente altre cose le aggiungo.

[2018-10-20 18:18] CiaobyDany commented on #57
@flavio-a Chi deve buildare squadre di vecchie generazioni se non ha i Pokémon ordinati correttamente se ne fa un cazzo della tabella. Considerando che si tratta di un numero esiguo di casi in cui cambia non credo che sia molto lungo splittare l'elenco...

[2018-10-20 19:02] lucas992x commented on #57
@CiaobyDany A me farebbe comodo proprio per questo 😁

[2018-10-20 20:49] flavio-a commented on #57
@lucas992 Ok, abbiamo capito. Facciamo più pagine (che, com'era giardino detto, non è un problema dal punto di vista tecnico)

[2018-10-20 20:50] CiaobyDany commented on #57
@flavio-a Com'era giardino detto non è un problema ma una vera e propria perla

[2018-10-21 09:31] davla commented on #59
Edita il mio post, se no faccio casino

[2018-10-22 06:59] flavio-a commented on #57
Come abbiamo osservato, recentemente c'è stata un'esplosione degli errori di script negli elenchi. Questa dovrebbe essere una lista completa degli elenchi influenzati:
- [ ] https://wiki.pokemoncentral.it/Elenco_Pok%C3%A9mon_per_punti_base_ceduti
- [x] https://wiki.pokemoncentral.it/Elenco_Pok%C3%A9mon_completamente_evoluti_per_statistiche_base
- [ ] https://wiki.pokemoncentral.it/Elenco_Pok%C3%A9

[2018-10-24 09:29] flavio-a commented on #30
Non ho guardato per i glitch, ma ho guardato per il modulo dati delle evoluzioni, prometto che poi guarderò anche per quelli (anche perché l'interfaccia con parametri è sempre utile).
In pokemoncentral/wiki-lua-modules@ad77d06023e78c638182c29e772355eaeffc28df potete vedere che ho aggiunto le evoluzioni per livello di (spero) tutti i Pokémon che si evolvono in quel modo, più qualcosa per un po' di

[2018-10-24 10:33] lucas992x commented on #30
Diciamo che sono stato gentilmente offerto come volontario :P quindi potreste essere altrettanto gentili ad abilitarmi per modificare cose, visto che mi dice "You must be on a branch to make or propose changes to this file" (oppure spiegarmi cosa devo fare per auto-abilitarmi se ne sono in grado).

[2018-10-24 13:52] flavio-a commented on #30
https://github.com/pokemoncentral/wiki-lua-modules/edit/evo-data/Evo-data.lua
Da qui non ti fa modificare?

[2018-10-24 15:00] lucas992x commented on #30
Da lì sì, è il terzo link del messaggio precedente che me lo impedisce mostrandomi quel messaggio, ma se quello che devo modificare è quest'altro non ci sono problemi, mi ci metterò con comodo (così ne approfitto anche per ricontrollare quelle già inserite).

[2018-10-24 15:28] flavio-a commented on #30
Ah no, il terzo link è solo un comodo elenco di quelli già fatti da cui si dovrebbe (spero) capire cosa fare nei vari casi. E non è davvero modificabile (ma non sembra neanche una buona idea, visto che mi sono sbattuto per creare in automatico tutti quelli per livello).

[2018-11-05 15:07] flavio-a opened #60 "DebRes per vecchie gen"
## Descrizione
C'è da creare il DebRes oldgen.

## Risoluzione del problema
C'è già il branch e un po' di roba fatta. Bisogna integrare con il multigen nel PokéAbil/data, poi creare le sottopagine.

[2018-11-07 20:35] lucas992x opened #61 "Aggiornamento a LGPE: template da creare/aggiornare"
Topic sul forum: https://forum.pokemoncentral.it/threads/27188/ (lascerei lì le informazioni che possono inserire anche gli utenti e qui le cose tecniche che dobbiamo fare noi)
- [x] https://wiki.pokemoncentral.it/Template:Zone
    - [x] Aggiungere le entry per LGPE
    - [x] Capire come risolvere il problema dei nomi lunghi (blackabbrev+colorabbrev? Accorciarli in qualche modo?)
- [x] https://wik

[2018-11-07 22:10] flavio-a commented on #61
@lucas992 Togliere ha il problema che non fa capire che il Pokémon non ha una voce Pokédex/non si trova in quel gioco

[2018-11-07 22:21] lucas992x commented on #61
Ovviamente se decidiamo di togliere ci aggiungerei una nota, in cima o in fondo al template, per spiegarlo alla veloce.

[2018-11-07 22:21] CiaobyDany commented on #61
@lucas992 Ma abbiamo davvero utenti così imbecilli?

[2018-11-07 22:22] lucas992x commented on #61
@CiaobyDany Devo proprio rispondere?

[2018-11-07 22:25] CiaobyDany commented on #61
@lucas992 No, dai, seriamente. Nello zone stiamo parlando delle nuove UC + Zeraora in SL più di tutto quello che non è prima gen in LGPE. Davvero bisogna specificare che non ci sono? Cazzo, è segnato nella prima frase "introdotto in" e che LGPE abbia solo la prima gen è specificato nella sua pagina.
Passi quasi il dex che è meno immediato, ma il zone è veramente da menomati, suvvia...

[2018-11-07 22:28] flavio-a commented on #61
Sulla cosa delle mosse: prima vediamo i learnset, se sono radicalmente differenti poi ne parliamo (che tendenzialmente vorrà dire io che mi oppongo perché non ho voglia di smazzarmi i moduli e voi che mi convincete a fare il contrario)

[2018-11-08 20:55] flavio-a commented on #61
Un paio di domande:
- perché c'è da fare un nuovo template Pokémon per LGPE? Non riusciamo a riusare il vecchio come al solito? Tanto supporta già l'assenza di abilità (fa le prime due gen).
- il Listmove cosa deve essere aggiornato? Perché non c'è scritto e non l'ho capito.

[2018-11-08 20:59] CiaobyDany commented on #61
@flavio-a Mi sono perso lo storico. Ora c'è il template Pokémon con il parametro gen senza i sottotemplate? In ogni caso, bisogna aggiornare pure quello.
Il listmove credo sia da aggiornare perché le mosse di LGPE non coincidono con quelle della settima generazione

[2018-11-08 21:01] flavio-a commented on #61
Yep, i sottotemplate sono essenzialmente dei redirect che fissano il parametro `gen`.

Non coincidono cosa vuol dire? Perché viene usato solo per l'[elenco mosse](https://wiki.pokemoncentral.it/Elenco_mosse), e non vedo cosa serva cambiare per adattarlo a LGPE.

[2018-11-08 21:04] CiaobyDany commented on #61
@flavio-a Mea culpa, rispondo quando non sono nelle condizioni di farlo senza controllare. Credo che sia stato inserito per errore perché dal nome è stato considerato un template delle pagine di mosse/Pokémon

[2018-11-08 21:20] lucas992x commented on #61
Leggendo di fretta ho visto "template [...] per l'elenco di mosse" e ho pensato all'elenco mosse, mi sa che ho sbagliato io ad interpretare. Se è così toglietelo pure.

[2018-11-09 15:14] davla commented on #61
Nel DebRes, che si fa con l'assenza di abilità? Per esempio Gastly non sarà più immune a Terra, tanto per dirne una. Si potrebbe cambiare il testo nella disascalia in qualcosa come *Se questo Pokémon non ha l'abilità XXX, se la perde o ne sono annullati gli effetti ...*, oppure ignorare la abilità finché LGBT sono gli ultimi main series games usciti (oddio che cringe), ma è troppo brutto

[2018-11-09 15:17] CiaobyDany commented on #61
@davla Se questo Pokémon non ha l'abilità xxx, che vale anche per i giochi pre terza gen e gg.

[2018-11-09 17:05] flavio-a commented on #61
@CiaobyDany hahahaha per i giochi vecchi servono dei DebRes apposta perché la tabella dei tipi è diversa (è cambiata in seconda e in sesta)

[2018-11-10 18:31] lucas992x commented on #61
Riguardo al template Pokémon, esattamente cosa c'è da cambiare rispetto alla prima generazione a parte passargli il parametro `gen` e sostituire il nome dello sprite con quella che sarà la sintassi per i modelli di LGPE?

[2018-11-10 20:56] flavio-a commented on #61
@lucas992 Almeno le categorie danno per le mosse

[2018-11-10 21:16] lucas992x commented on #61
@flavio-a Ma ora che ci penso, non era in corso di rifacimento il template Pokémon assieme al Party?
EDIT ci vorrà ancora tempo

[2018-11-15 13:13] davla opened #62 "Moduli a prova di Pokémon incompleti"
## Descrizione
I moduli fanno magie e pescano immani quantità di dati dai moduli dati. Con i Pokémon incompleti, ovverosia con informazioni mancanti perché non ancora ufficialmente rivelate o non disponibili, crashano.

## Risoluzione del problema
Sarebbe bello non dovreci stare a pensare troppo, e rendere i moduli a prova di dati mancanti. Ovvero, mettere un po' di `if` in giro e eventualmente pl

[2018-11-17 11:43] lucas992x opened #63 "Luoghi di Kanto da rendere accettabili (in vista di LGPE)"
Visto che sui social è in programma una sorta di walkthrough, non sarebbe male aggiornare man mano i luoghi di Kanto in modo che i visitatori si trovino delle pagine almeno accettabili.
- [x] https://wiki.pokemoncentral.it/Biancavilla
- [x] https://wiki.pokemoncentral.it/Percorso_1_(Kanto)
- [x] https://wiki.pokemoncentral.it/Smeraldopoli
- [x] https://wiki.pokemoncentral.it/Percorso_22_(Kanto)
-

[2018-11-21 18:40] flavio-a commented on #61
Forse vi interesserà sapere che effettivamente esistono Pokémon che imparano la stessa mossa a tre livelli diversi in SL, USUL e LGPE. Inoltre non mi è chiaro se questa scelta cambi il modo in cui aggiornerò il modulo Movelist. La verità è che quel modulo andrebbe completamente ripensato, ma nessuno ha tempo e voglia di farlo.

[2018-11-23 11:33] flavio-a opened #64 "Aggiornamento modulo HAentry alla settima gen"
## Descrizione
Il modulo è fermo alla sesta generazione e non è responsive manco per sbaglio. Bisogna aggiungere un parametro per la settima gen (`gen7other`, se non ci vogliamo troppo male) e rifarlo graficamente con le solite cose responsive.
In realtà non sarebbe male metterci già un parametro per l'ottava, tanto non credo sia particolarmente impegnativo e se per caso in ottava cambiasse tutto

[2018-11-24 08:56] flavio-a commented on #64
L'ho aggiornato alla settima generazione, ma non ho aggiunto il parametro di ottava perché andrebbe visibile di default e chiaramente questa cosa è un problema. Non l'ho neanche aggiornato graficamente perché ci vuole del tempo e adesso preferisco dedicarmi ad LGPE, quindi lascio questo meraviglioso compito nelle mani di qualcun altro.

[2018-11-25 08:41] flavio-a commented on #61
Se qualcuno vuole rispondere qui resta più tracciato: https://wiki.pokemoncentral.it/Utente:Ff300/sandbox
Prova per il movelist con LGPE, con una terza celletta o su due colonne. Secondo me anche la prima opzione non è male, ed evita infinite `x` in giro.
A quanto pare però @lucas992 preferisce separate, e la sua argomentazione è che la gente percepisce LGPE come separati da SLUSUL, che effettivam

[2018-11-25 21:48] lucas992x commented on #1
Riapro la issue perché @Cruifer mi ha fatto notare che il problema si verifica con [questo template](https://wiki.pokemoncentral.it/Template:ClasseAll/list/h), se no ci dimentichiamo.

[2018-11-25 22:03] Cruifer commented on #1
anche perché a quanto pare è rimasta roba da fare che non era stata fatta, lel

[2018-11-25 22:21] Cruifer opened #65 "Rendere responsive il PrevNext dei Pokémon"
## Descrizione
Quando i nomi dei Pokémon sono troppo lunghi il prevnext si vede maluccio su mobile. È comunque leggibile ma pur sempre migliorabile. Sarebbe anche carino se si riuscisse a risolvere il problema del MS di Melmetal.

## Screenshot
![screenshot_20181124-235355_samsung internet](https://user-images.githubusercontent.com/38588039/48985570-1985d100-f109-11e8-9388-56c90cc2aa9f.jpg)

![imm

[2018-11-25 22:39] Cruifer commented on #55
ma se accorpassimo questa issue con la #61?

[2018-11-26 08:07] flavio-a commented on #55
Secondo me no perché questa cosa è separata dall'aggiornamento per LGPE.

[2018-11-26 08:45] flavio-a commented on #1
Questa non è una cosa da fare, è una condanna a morte. Cioè, controllare tutti i template del sito è infattibile, semplicemente quando uno li incontra sistema (senza bisogno di riaprire qui).

Io non ho capito neanche di che freccine si tratta.

[2018-11-26 09:08] lucas992x commented on #1
@flavio-a Credo le freccine delle tabelle sortable.

[2018-11-26 09:42] flavio-a commented on #65
Secondo me basterebbe mandare sempre a capo il nome e mettere le freccette centrate verticalmente per renderlo carino da mobile, e non dovrebbe neanche essere molto difficile. Tipo a capo su `xs` (o `sm` se esistono Pokémon con nomi così lunghi) e un bel `align-middle` alle freccette potrebbe funzionare.

[2018-11-26 11:50] Cruifer commented on #65
stavo pensando che volendo si potrebbe anche togliere da lì il ndex. Mi sembra abbastanza superfluo, anche perché bisogna considerare che c'è subito sotto nell'infobox

[2018-11-26 12:51] flavio-a commented on #65
@Cruifer In effetti ci sta

[2018-11-26 13:56] Cruifer commented on #65
allora, mi sono reso conto che togliendo l'ndex si risolve anche il problema con Jirachi (e sono piuttosto sicuro che funzioni anche con gli altri che hanno lo stesso problema), quindi io lo lascerei così. Per quanto riguarda lo sprite di Melmetal ho messo uno `style="padding-left: 0.4em;"` nello span della freccia (ovviamente right nell'altra). Così la freccia non si sovrappone con lo sprite, ino

[2018-11-26 20:43] Cruifer commented on #61
@lucas992 quando dici

cosa c'è da aggiornare di preciso? Perché volendo inizio a guardarci visto che ho la versione nuova in sandbox, così magari inizio anche a pensare di caricare la grafica nuova

[2018-11-26 21:31] lucas992x commented on #61
Essenzialmente bisogna fare in modo che mostri gli sprite di LGPE e che nasconda abilità e strumento tenuto, visto che non ci sono.

[2018-11-26 21:46] CiaobyDany commented on #61
@lucas992 *modelli. Occhio a non fare casino che gli sprite di LGPE esistono (i minisprite) e sono tutt'altra cosa.

[2018-11-26 22:01] Cruifer commented on #61
allora, i modelli sono gestiti dal modulo spr, che suppongo sia stato già aggiornato da dedalo(?). Mentre per il resto ok, è easy

[2018-12-01 10:36] flavio-a commented on #1
@davla sistema queste freccine

[2018-12-01 10:37] flavio-a commented on #65
Di base non ci sono problemi se editi il modulo, però poi devi aggiornarlo anche su GitHub o avvisare qualcuno che lo faccia.

[2018-12-01 13:53] lucas992x commented on #65
Fermi tutti. Visto che stiamo cercando di uniformizzare il wiki, ha senso creare un modulo PrevNext e basare poi tutti i template e moduli di questo tipo su di lui?

[2018-12-01 13:57] flavio-a commented on #65
@lucas992 Può avere senso. Se lo ritenete utile si può fare.

PS: uniformizzare? Cosa ti ha fatto l'italiano?

[2018-12-01 14:02] lucas992x commented on #65
Avendo una buona quantità di template PrevNext e almeno un modulo (non so se ce ne siano altri), secondo me può essere utile.

P.S. Non si dice _uniformizzare_?

[2018-12-01 14:05] CiaobyDany commented on #65
@lucas992 Uniformare, porca troia, dimmi che stavi scherzando o sei da ricovero.

[2018-12-01 14:12] Cruifer commented on #65
siamo sicuri che un eventuale modulo sarebbe compatibile con tutti i vari prevnext che abbiamo? Per fare un esempio, il [Template:DungeonPrevNext](https://wiki.pokemoncentral.it/Template:DungeonPrevNext) richiede un `rowspan`, al contrario di altri, così come per esempio il prevnext dei Pokémon ha dei minisprite che gli altri non hanno. Un altro possibile ostacolo che mi viene in mente è che quest

[2018-12-01 14:18] lucas992x commented on #65
Se uno di noi scrive il codice come se fosse un template, penso che poi per loro due sia relativamente rapido "convertirlo" in un modulo, o sbaglio?
Comunque vorrei anche vedere un esempio di caso in cui quel template richiede un `rowspan`, visto che in apparenza non c'è. Per i MiniSprite non penso sia un problema non risolvibile con un `if`.

[2018-12-01 14:19] flavio-a commented on #65
@lucas992 https://wiki.pokemoncentral.it/Isola_Zero_Ovest
Comunque è vero, ci vuole poco a farne un modulo

[2018-12-01 16:28] Cruifer commented on #65
allora, ho incominciato a tirare giù una bozza [qui](https://wiki.pokemoncentral.it/Utente:Cruifer/Sandbox/7), ma ho un piccolo problema col `colorscheme`. Cioè, io ho:

`<div class="roundy-20 flex flex-row flex-main-space-between flex-items-center width-xl-100" style="{{#invoke: css | horizGrad | type = {{{type|sconosciuto}}}| type2 = {{{type2|{{{type|sconosciuto}}}}}}}} padding: 0.2em;">`

che o

[2018-12-01 16:59] flavio-a commented on #65
@Cruifer andrà fatto in un modulo, quindi non si useranno questi strumenti di WikiCode. Tieni semplicemente conto di un parametro per indicare se si vuole usare colore o colorscheme e poi dal modulo si gestisce abbastanza decentemente

[2018-12-01 17:01] lucas992x commented on #65
Proposta: se usassimo [questo layout](https://wiki.pokemoncentral.it/Template:PrevNext)? A me sinceramente piace di più.

[2018-12-01 18:07] Cruifer commented on #65
@flavio-a ok, non avevo realizzato, hai ragione. Quindi un problema in meno.

@lucas992 a me non convince troppo da mobile, nel senso che secondo me mettendo i tre box a capo si perde un po' il senso del prevnext. Però sono democratico, quindi facciamo un sondaggio.

[2018-12-03 11:33] flavio-a commented on #47
Aggiornamento: ho sentito VeeTamer/Lugia149 sui due dubbi che erano rimasti aperti.
- bisognerebbe cambiare il nome delle forme in tutte le forme per chi ne ha una con le eccezioni delle forme di Alola e di Basculin? (es: Castform ha scritto sotto Forma Castform e non tutte le forme)

Specialmente per Pokémon tipo castform/shaymin. Oddio magari potrebbe avere senso per Pokémon come flabébé o unown

[2018-12-03 13:26] lucas992x commented on #47
Io resto dell'idea che la cosa migliore sia dividerli per gioco e se all'interno di quel gruppo di giochi ci sono più strumenti ordinarli per percentuale decrescente.

[2018-12-05 15:13] #46 closed, assigned to davla, lucas992x, CiaobyDany, Cruifer

[2018-12-08 11:18] flavio-a commented on #61
Scrivo anche qui: ho aggiornato i movelist (pagine delle mosse) per livello ed MT ad LGPE. Quelli per accoppiamento non ci sono (mi dicono), quindi rimangono eventi e Insegnamosse. Questi ultimi mi dicono esistere solo per le mosse speciali degli starter.

[2018-12-09 21:36] flavio-a commented on #65
Ma quindi? Com'era rimasto il sondaggio? Siamo ancora in parità?

[2018-12-09 21:46] Cruifer commented on #65
@flavio-a In realtà no, io mi sono arreso e ho lasciato carta bianca a Luca

[2018-12-09 22:18] lucas992x commented on #65
Se ho ben capito, ciò che manca rispetto all'attuale PrevNext è:
- Possibilità di inserire due voci anziché una sia in _prev_ che in _next_.
- Possibilità di aggiungere un'immagine (è sempre un MiniSprite o ci sono altri usi?).

E poi vorremmo abolire il modulo colorscheme, il che si tradurrebbe in uno `switch` probabilmente.

[2018-12-17 12:47] lucas992x commented on #65
https://wiki.pokemoncentral.it/Utente:Lucas992/ProveTemplate

Domanda per @flavio-a e @Cruifer. Nel `DungeonPrevNext`, il fatto che ci possano essere due `prev`/`next` distinti significa che il dungeon precedente/successivo varia a seconda del gioco? In tal caso, va bene metterci un `sup` per indicarlo?

[2018-12-17 21:07] Cruifer commented on #65
Sì varia a seconda del gioco nel senso che quelli in verde sono esclusivi di cielo mentre in blu sono quelli di TOC (vedi ad es [Isola Zero Ovest](https://wiki.pokemoncentral.it/Isola_Zero_Ovest) per capire meglio). Solo che non sono sicuro che un semplice sup sia chiarissimo dato che cielo comparirebbe in entrambi (dunque non sono esclusivi, cioè in cielo si trovano entrambi) o quantomeno terrei

[2018-12-17 21:31] lucas992x commented on #65
@Cruifer Infatti ho messo un semplice a capo per questi casi (v. sandbox), che è anche molto più semplice da gestire come codice. Se secondo voi è il caso di metterci un sup ci metto un attimo ad aggiungerlo, basta aggiungere un parametro opzionale (o meglio, 4 parametri opzionali sostanzialmente identici).

[2018-12-17 21:38] Cruifer commented on #65
sorry, non avevo proprio visto la sandbox. Io non sono sicurissimo al 100%, @flavio-a ?

[2018-12-17 21:47] flavio-a commented on #65
Sarò franco: secondo me non si capisce gran chè. La verità però è che non si capisce molto neanche nell'originale. Se lo combini con il fatto che dubito quei template abbiano una grande utilità, direi che un sup e messi su due righe può bastare.

[2018-12-18 13:05] lucas992x commented on #65
Ok, allora penso che ci siamo. https://wiki.pokemoncentral.it/Utente:Lucas992/ProveTemplate

[2018-12-18 14:26] lucas992x opened #66 "Cosa farne del colorscheme"
## Descrizione
Il [modulo colorscheme](https://wiki.pokemoncentral.it/Modulo:Colorscheme) è decisamente scomodo da usare al momento. Ecco la sintassi per richiamarlo:
`{{#invoke: css | horizGrad | #{{#invoke: colorscheme | kanto | dark}} | #{{#invoke: colorscheme | kanto | light}} }}`
Da notare che in vari casi i colori usati nel _colorscheme_ **non** corrispondono agli omonimi del modulo _colore_

[2018-12-18 15:14] flavio-a commented on #65
No aspetta, come sup però metti solo TO, non TOC. Perché è il successivo solo in TO, in C non sono consecutivi (Perché c'è l'altro in mezzo).

[2018-12-18 15:16] lucas992x commented on #65
@flavio-a Vabbè è un esempio che si corregge in un attimo, guarda il resto :P

[2018-12-18 15:20] davla commented on #66
Perché hai anche proposto le soluzioni ovviamente orrende?

[2018-12-18 15:25] lucas992x commented on #66
Io non ho proposto nulla, ho solo riportato le proposte altrui XD

[2018-12-18 15:30] flavio-a commented on #66
Un po' di considerazioni:
- sono completamente contrario alla soluzione dello switch. Secondo me il colorscheme non va tolto perché è scomodo da usare (cioè, anche, ma non solo), è perché concettualmente mi sembra una cagata enorme avere due mappe nomi -> colori (i due moduli) semplicemente perché a quelli di Bulba pesava il culo scrivere `|color1=red|color2=green` e hanno pensato bene di inventar

[2018-12-18 15:35] flavio-a commented on #65
Ah boh sì, il resto mi va bene. Quando devo farci un modulo voi chiamatemi (e assegnatemi l'issue).

[2018-12-18 15:55] davla commented on #66
In realtà quelli di bulba non hanno fatto il male: se una coppia di colori la usi molto spesso, da' loro un nome. Se scrivi più volte lo stesso pezzo di codice, fa' una funzione.

Sul perché abbiano queste coppie di colori usate così, ho i miei dubbi e le mie riserve. Ma d'altronde, di estetica non ci capisco niente.

Io sarei più favorevole alla prima soluzione. Teniamo il colorscheme isolato, im

[2018-12-21 09:12] flavio-a commented on #66
Mi può andare bene la prima soluzione, però non voglio che ci siano degli hex nel colorscheme. Ricicliamo quelli del modulo colore: per esempio `kanto` del colorscheme diventa un alias per `rosso` e `verde` del modulo colore.

[2018-12-21 12:38] lucas992x commented on #66
Il fatto è che non sono gli stessi colori. Ma a parte questo (basta trovare colori abbastanza simili), dovremmo aggiornare in contemporanea il modulo `css`, il modulo `colorscheme` e tutti i template che usano quest'ultimo. Fattibile ovviamente, ma non così immediato.

[2018-12-21 15:07] flavio-a commented on #47
Non ho idea di quale fosse questo modo facile, il meglio che so fare con poca fatica è non scrivere niente se è l'unica forma (mi sembra un buon compromesso risultato/sbatti).
Sull'ordine sentiamo il parere degli altri @davla @Cruifer @CiaobyDany, io personalmente preferisco per gioco.

[2018-12-21 15:40] CiaobyDany commented on #47
@flavio-a Onestamente mi è indifferente la cosa. Ho dei dubbi sul se l'ordine che volete voi possa essere impostato in automatico o se vada gestito manualmente. Nel secondo caso io vi assicuro che mi rifiuto di toccarlo, se avete voglia di sistemare voi ben venga.

[2018-12-21 18:16] flavio-a commented on #40
E invece a quanto pare è bastato, uomo di poca fede. Siamo più bravi del previsto, abbiamo delegato tutto ai moduli AltForms/data e Poké/data. Tra l'altro la bellissima funziona `hasMega` (che esiste in Wikilib/forms) viene usata soltanto nel RandomPokémon. Faccio qualche altro test poi carico sul Wiki, committo e pusho.

[2018-12-21 19:14] #40 closed, assigned to flavio-a, CiaobyDany

[2018-12-21 20:00] flavio-a commented on #47
In effetti avevo dato per scontato che si riuscisse facilmente, ma per come ho fatto il modulo dati (mannaggia a me) non è così immediato. Per carità, si fa se proprio serve, però in effetti sarebbe meglio non farlo. Quanto è importante questa cosa?

[2018-12-22 09:31] flavio-a commented on #47
https://wiki.pokemoncentral.it/Utente:Ff300/sandbox
ecco, questa dovrebbe essere la versione definitiva (raggruppata per gioco e con nessuna etichetta se c'è una sola forma). Vorrei far notare Gourgeist, in cui le altre forme sono raggruppate invece di avere una entry a testa. Se me lo approvate lo metto online.

[2018-12-22 10:06] flavio-a commented on #5
Sembra che con l'aggiornamento di MediaWiki categorie e puntano qui abbiano ripreso a funzionare normalmente. Non sono troppo interessato a capire cosa fosse successo davvero prima, ma se mai dovesse ricapitare un problema del genere voglio avvisare chiunque ci lavorerà in futuro che secondo me è stato un problema di job queue che non si popolava correttamente, anche se non mi spiego come mai `reb

[2018-12-22 10:06] #5 closed, assigned to mexicat

[2018-12-22 14:57] davla commented on #1
Ti piacerebbe.

Le freccine sono caricate con un `background-image`, come Flavìo ha detto. Ciò significa che per il CSS sono una matrice di pixel non editabile. Il massimo che può fare è stretcharla e/o riposizionarla.

Per cambiare il colore, bisognerebbe avere delle immagini diverse. Ammesso che l'estensione per la sortability ce le faccia customizzare.

In altre parole, faccenda lunga

[2018-12-23 12:47] lucas992x commented on #47
Considerazioni:
- Se un Pokémon (o una forma) non tiene nessuno strumento in nessun gioco lo toglierei proprio dall'elenco (per non allungarlo inutilmente), magari specificando brevemente a inizio pagina che gli assenti mancano per questo.
- Per i giochi in cui lo strumento è assente, metterei prima e dopo il `colorabbrev` un `&nbsp;`, in modo che occupi lo stesso spazio del `blackabbrev`, come gi

[2018-12-23 18:06] davla commented on #66
Il Modulo CSS si può aggiornare per primo. Il colorscheme non credo debba essere aggiornato, ma in tal caso si dovrebbe fare senza cambiare l'interfaccia esterna. L'aggiornamento delle chiamate si fa sul lungo termine tranquillamente.

@flavio-a Non capisco quale sia il problema degli hex nel colorscheme.

[2018-12-23 21:14] flavio-a commented on #47
Questa l'avevi già detta e io l'avevo approvata, però poi me l'ero scordata. Per la prima a me sembra sensato, ma capisco anche perché si vogliano mettere tutti i Pokémon quindi mi è indifferente, sentiamo gli altri. Per l'ultima o mi sganci il codice o non si fa niente (anche perché la grafica è di Dany, io l'ho solo messa in un modulo).

[2018-12-23 23:13] CiaobyDany commented on #47
@flavio-a Uhm... Io ero favorevole a mettere più di un Pokémon per riga quando ci stava, ma me l'avevate bocciato anche perché era tecnicamente un bordello. Quanto al saltare i Pokémon che non hanno uno strumento... Uhm, non saprei. Capisco il senso, ma non è mai stato fatto per davvero.

[2018-12-24 17:11] flavio-a commented on #66
Mi urtano l'esistenza

Tu mi dirai che sono stupido, e probabilmente hai ragione, ma non voglio due posti in cui andare a cercare gli hex. Uno dovrebbe trovarseli tutti in un posto solo. Comunque boh, alla fine mi va bene tutto. Per te è davvero un problema se il colorscheme importa dal modulo colore? Anche perché in molti casi i colori sono già uguali o comunque si usano colori simili a quelli co

[2018-12-26 04:59] davla commented on #66
Se due hex sono uguali potrebbe essere semplicemente per caso, non perché sono meant di essere uguali. Quello che vorresti fare tu è una cosa del genere, che converrai non avere alcun senso:

[code]
Ignora le ridondanze e guarda al concetto.

[2018-12-26 08:11] flavio-a commented on #66
Non ho capito come il tuo esempio si correli al nostro caso, comunque i colori non sono uguali per caso ma perché sono meant to be, ne sono abbastanza sicuro (ma controllerò).

[2018-12-26 11:13] flavio-a commented on #30
Ok, ho finalmente guardato per i glitch e con un po' di lavoro (che non ha ridotto considerevolmente il lavoro, purtroppo) dovrei aver prodotto una cosa funzionante che gestisce anche i glitch (al costo di volere parametri per _tutto_).
L'altra cosa da fare (forse) è aggiungere i dati per il cambio di forma all'Evo-data, devo valutare un attimo il rapporto vantaggi/sbatti (visto che comunque c'è g

[2018-12-28 17:36] flavio-a commented on #58
Ho creato le Aree Amico rimanenti, chiudo.

[2018-12-28 17:36] #58 closed, assigned to flavio-a, Cruifer

[2018-12-30 13:26] lucas992x commented on #55
Se non ci sono particolari motivi per non farlo, comincerei a mettere le mani su questo template.

[2018-12-30 13:56] CiaobyDany commented on #55
@lucas992 Scoprire cosa facciamo con i modelli di LGPE è un motivo abbastanza particolare?

[2018-12-30 14:05] lucas992x commented on #55
Io in questo template li resizerei, e se uno vuole vedersi il modello in tutta la sua interezza se lo apre. È sbagliata sta cosa?

[2019-01-07 11:31] lucas992x commented on #53
https://wiki.pokemoncentral.it/Megaevoluzione
https://wiki.pokemoncentral.it/Archeorisveglio
https://wiki.pokemoncentral.it/Effetto_Sintonia
https://wiki.pokemoncentral.it/Forma_di_Alola

Tutte queste tabelle sono praticamente identiche, quindi potrebbero essere templatizzate (e sarebbe una buona occasione per aggiornarle graficamente e responsivamente). Che ne dite?

[2019-01-07 14:52] Cruifer commented on #53
sembra una buona idea. Avevi intenzione di farlo tu?

[2019-01-07 16:01] lucas992x commented on #53
Se qualcuno ha già un'idea può proporla, altrimenti ci penso un po' su.

[2019-01-08 21:36] lucas992x commented on #53
https://wiki.pokemoncentral.it/Utente:Lucas992/Sandbox#Prova

[2019-01-08 21:45] flavio-a commented on #47
https://wiki.pokemoncentral.it/Utente:Ff300/sandbox ho messo lo spazio intorno ai colorabbrev. Più Pokémon su una riga ce li metto anche subito se mi date l'HTML, a me sembra un bordello farlo ordinato e non lo vedo neanche così necessario, quindi non ci perderò tempo. La cosa di far sparire i Pokémon "vuoti" se mi dite di provare io provo, però come ho già detto mi sembrano ragionevoli entrambe l

[2019-01-08 21:54] CiaobyDany commented on #47
@flavio-a Bug: Magby tiene l'elettritore al posto del magmatore

[2019-01-08 22:07] CiaobyDany commented on #47
@CiaobyDany A parte questo. Dopo averla rivista con calma effettivamente sono favorevole anche io ad eliminare le righe vuote. Con un layout di questo tipo sono oggettivamente superflue. Quella di mettere più Pokémon su una riga era una mia idea da sempre su cui mi ero impuntato, ma concordo sul fatto che sia oggettivamente difficile se non impossibile da realizzare, quindi eviterei (soprattutto c

[2019-01-08 22:11] CiaobyDany commented on #47
@CiaobyDany Ciò detto, aggiungo che è presente un bug sulla spaziatura dei colorabbrev che mette spazi dove non dovrebbe. Premetto che mi pare una questione trascurabile, ma non avendo idea di come sia gestito non so se sia facile/fattibile sistemarlo oppure no (se ci vuole più di un minuto tralascerei). I Pokémon in cui appare sono: Persian, Mightyena, Shroomish, Numel, Dusclops, Glameow, Purugly

[2019-01-08 23:03] lucas992x commented on #47
@flavio-a non odiarmi ma... la spaziatura andrebbe messa ai singoli giochi e non ai gruppi. In altre parole, ciò che intendevo non era `&nbsp;{{#invoke: colorabbrev | RZS }}&nbsp;` ma `&nbsp;{{#invoke: colorabbrev | Ru }}&nbsp;&nbsp;{{#invoke: colorabbrev | Z }}&nbsp;&nbsp;{{#invoke: colorabbrev | S }}&nbsp;`, e analogamente con gli altri gruppi, perché è così che un `colorabbrev` occupa esattamen

[2019-01-08 23:49] Cruifer commented on #53
una cosa, sarebbe carino mettere anche le celle delle statistiche colorate (non solo l'header per intendersi). E poi non ho capito cosa è quel gradiente sopra al nome, del rimasuglio di codice? Ultima cosa, forse è più carino mettere lo strumento sotto al nome anche su mobile, tipo come su desktop (non sotto allo sprite, per intendersi non centrato). Ma comunque sono finezze, mi sembra che per il

[2019-01-09 08:48] lucas992x commented on #53
- Le celle delle statistiche colorate si fanno facilmente, a questo punto le tolgo direttamente dall'header?
- Quella linea gradientata dovrebbe essere un divisorio per separare in modo più evidente i Pokémon da desktop, verrebbe simile al template `Maps` per intenderci.
![capture _2019-01-09-09-45-57](https://user-images.githubusercontent.com/38510975/50887473-87edcc80-13f3-11e9-8be3-164fb12a2cf7

[2019-01-09 12:04] lucas992x commented on #53
Update:
- Ho messo i box colorati alle statistiche, e devo dire che mi piace di più così.
- Dovrei aver fixato la posizione dello strumento, ho verificato che non dia problemi anche su Chrome e Opera oltre a Firefox (ma per sicurezza controllate che anche a voi si veda bene, visto che #CssMerda).
- Per i tipi ho sostituito le etichette precedenti con il modulo `Box` nella seconda riga, e preferisc

[2019-01-09 13:25] flavio-a commented on #47
Era per vedere se eravate attenti '^^ (grazie, fixed).

Per le due cose sul colorabbrev: sono abbastanza sbatti, sicuramente non si fanno cambiando mezza riga, quindi ditemi quanto è davvero importante.

PS: ho tolto le entry "vuote" dalla sandbox.

[2019-01-09 15:20] lucas992x commented on #47
Credo di aver capito cosa intendi: in pratica bisognerebbe fare una modifica di questo tipo in tutte le righe che contengono dei `color`?

`{ item = 'Rapidartigli', perc = 5, games = {'DPPt', 'HG', 'SS'}, abbrTypes = {'color', 'color', 'black'} },`
&darr;
`{ item = 'Rapidartigli', perc = 5, games = {'D', 'P', 'Pt', 'HG', 'SS'}, abbrTypes = {'color', 'color', 'color', 'color', 'black'} },`

[2019-01-09 18:43] flavio-a commented on #47
Sì, ma comunque non risolverebbe il problema sollevato da Dany, che non si può risolvere sempre con l'operazione inversa perché alcune sigle aggregate non esistono (tipo PPtHGSS)

[2019-01-09 18:46] CiaobyDany commented on #47
@flavio-a Ribadisco che se non si può risolvere easy fa niente, sopravviviamo benissimo così, sinceramente non credo che qualcuno se ne accorgerà nemmeno.

[2019-01-09 21:44] flavio-a commented on #47
Allora io terrei così, e secondo me si può caricare. Basta aggiungere la riga sui Pokémon che non ci sono nella pagina dell'elenco.

[2019-01-10 13:21] davla commented on #55
Stessa size proibitivamente grossa di sesta e settima generazione. Come ben capite, più grosso da mobile è un problema.

[2019-01-10 16:54] lucas992x commented on #53
https://wiki.pokemoncentral.it/Utente:Lucas992/ProveTemplate#Confronto_forme
Mi piacerebbe capire perché alcune immagini sono un pochino spostate, ma per il resto mi sembra tutto ok.

[2019-01-10 16:58] CiaobyDany commented on #53
@lucas992 Da quando usiamo gli artwork e non i modelli statici più recenti?

[2019-01-10 17:14] lucas992x commented on #53
@CiaobyDany Preferivo gli artwork perché non hanno tutto quel bordo bianco attorno, ma se lo standard sono gli sprite mi adeguo

[2019-01-10 17:17] Cruifer commented on #53
@lucas992 Allora, per come è ora dopo le modifiche mi piace. Solo due cose
- quando dici immagine un po' spostate ti riferisci a Groudon?
- ha senso tenere il separatore anche nel primo pkmn in cima? Cioè, a rigor di logica non c'è nulla da separare

[2019-01-10 17:19] CiaobyDany commented on #53
@lucas992 In teoria gli standard sono sempre stati gli sprite/modelli statici dell'ultimo gioco uscito. Ma è anche vero che gli standard erano stati decisi nell'era in cui gli sprite erano 50x50px e che la visualizzazione avveniva prevalentemente su desktop e non da mobile. Ti scoccia fare una prova con i modelli statici per confronto?

[2019-01-10 17:24] lucas992x commented on #53
@Cruifer MegaVenusaur, MegaBlastoise e ArcheoGroudon sono leggermente spostati verso destra, non capisco il motivo. Il separatore nel primo in effetti si può togliere, dopo provvedo.

@CiaobyDany L'ho appena fatta, refresha ;)

[2019-01-10 17:45] flavio-a commented on #53
@lucas992 c'ha ragione il browser, gli hai messo flex-items-center al parent e i figli non occupano tutto lo spazio, quindi lui sposta al centro (e i modelli vengono più a sinistra). Ma io non dovrei rispondere a voi, dovrei studiare

[2019-01-10 17:46] CiaobyDany commented on #53
@lucas992 Non riesco a recuperare la versione precedente, ma in compenso da desktop ho visto quell'orrore di div separatore alto tipo un pixel e mezzo con il gradiente dei tipi. O lo fai più alto o lo togli perché così è abbastanza inguardabile

[2019-01-10 18:24] lucas992x commented on #53
@CiaobyDany L'ho un po' ingrandito e ora è spesso come il bordo della tabella, va meglio? L'ho anche rimosso dalla prima entry.

[2019-01-10 18:28] CiaobyDany commented on #53
@lucas992 Scusa, ma esattamente perché lo vuoi fare diverso il separatore da desktop e da mobile? Non va bene fare la riga di background anche su fisso?

[2019-01-10 18:32] lucas992x commented on #53
Per farla dello stesso colore della tabella bisognerebbe mettere il parametro per il colore anche in ogni singola riga. Fattibile sì, ma non c'è una soluzione migliore? Tu cosa proporresti?

[2019-01-10 18:39] CiaobyDany commented on #53
@lucas992 Al momento sto lavorando su Xenopedia, ma il layout cards non è estensibile anche su desktop? Basically vorrei quello

[2019-01-10 20:27] lucas992x commented on #53
Potrei anche applicare il card layout da desktop, ma poi tutti gli elementi di ogni riga andrebbero allineati a mano con quelli delle altre (perché non ci sarebbe più la tabella a sistemarli automaticamente), non mi sembra un gran cosa.

Comunque qualcuno dovrebbe spiegarmi per quale motivo il modulo `Spr` non prende le dimensioni che gli do, eppure la sintassi dovrebbe essere giusta.

[2019-01-10 20:49] flavio-a commented on #53
No, la dimensione è il parametro dopo, devi aggiungere un ` | ` alla chiamata.

Comunque forse si riesce a fare la riga come dice Dany anche da desktop, adesso faccio una prova.

EDIT: non è vero, la tua chiamata era giusta, era colpa del modulo, ho sistemato. Per la cosa che dice Dany ho messo una bozza, lascio a te di sistemare i dettagli che sai come funzionano tutte le parti e (spero) ci perde

[2019-01-10 21:40] lucas992x commented on #53
Bravo Flavio, ho affinato il tutto e mi sembra a posto. Oltre allo sprite che non si allinea da desktop, c'è qualcos'altro su cui discutere?

[2019-01-10 21:50] flavio-a commented on #37
Visto che nessun altro ha votato ho spostato i gruppi su cui eravamo tutti d'accordo. Per gli altri invoco @lucas992 per motivare la sua posizione.

[2019-01-10 21:57] flavio-a commented on #37
@flavio-a fatto anche quello. Ti eri scordato di mettere flex-item-fill ai div delle forme, lo avevi messo solo alla forma base

[2019-01-10 21:58] flavio-a commented on #53
Fatto anche quello. Ti eri scordato di mettere `flex-item-fill` ai div delle forme, lo avevi messo solo alla forma base.

[2019-01-10 22:33] lucas992x commented on #53
@flavio-a Così però il flex-item-fill ha effetto anche da mobile, che non è una cosa voluta

[2019-01-11 13:22] lucas992x commented on #53
Adesso dovrebbe essere tutto a posto.

[2019-01-16 14:33] flavio-a opened #67 "Differenze di genere in UselessForms-data"
A quanto pare ingame le differenze di aspetto tra i generi che cambiano anche il MS (Unfezant, Frillish, Jellicent, Pyroar) non sono considerate forme alternative (e per una volta la cosa ha senso) quindi sono da rimuovere dalla pagina [differenze di forma](https://wiki.pokemoncentral.it/Differenze_di_forma). I più attenti però avranno notato che non è questo l'argomento dell'issue. La mia propost

[2019-01-16 14:59] CiaobyDany commented on #67
@flavio-a Approvo con una eccezione mandatory che è Meowstic, che appare effettivamente come forma alternativa nei dump (e che effettivamente non hai indicato nell'elenco quindi probabilmente siamo d'accordo).

[2019-01-16 15:37] lucas992x commented on #67
Infatti Meowstic non è una forma useless (e per fortuna non va usato nel Catch perché non esiste selvatico).

[2019-01-16 20:49] flavio-a commented on #67
Sì, Meowstick è escluso perché non è Useless. Aspetto il parere di Maze e se non segnala controindicazioni procedo.

[2019-01-19 17:43] davla commented on #67
Ricordo già di un caso di label vuota, e non vi sono stati problemi. Quindi approvo :+1:

[2019-01-19 21:18] #67 closed, assigned to flavio-a

[2019-01-22 12:03] davla opened #68 "Tasks MediaWiki (o roba lato server)"
## Descrizione
Qui una lista dei lavoretti da fare lato server, principalmente con il setup di MediaWiki

- [x] Pare che da mobile wiki.pokemoncentral.it e m.wiki.pokemoncentral.it reindirizzino erroneamente a questa pagina, indagare: https://adstxt.sortable.com/wiki.pokemoncentral.it/ads.txt
- [ ] Modifiche ai permessi utente:
    - [x] Permettere agli amministratori di editare il namespace `Medi

[2019-01-22 20:45] mexicat commented on #68
Per namespace e Variables ok, mi ci metto il prima possibile (tra l'altro è uscito pure un altro update di MW nel frattempo).

Non credo sia possibile abilitare ulteriori funzioni PHP nei widget perché Smarty è pacchettizzato dentro l'estensione e non viene offerta possibilità di configurazione esterna.
Per il verso, non ho capito cosa devi fare.
Per css-url, a cosa serve di preciso? Ci devono ess

[2019-01-22 21:24] lucas992x commented on #68
Sì, ci sono alcune cose per cui fa comodo usare un'immagine di sfondo tramite `border-image`: [qua](https://wiki.pokemoncentral.it/Utente:Lucas992/Sandbox#Prova) un test veloce che stavo facendo, come vedi l'immagine va specificata tramite `{{#widget: css-url | url = /0/0b/Isola_Miraggio_RZS.png }}`, non si può usare solo `Isola_Miraggio_RZS.png`.

[2019-01-22 22:41] lucas992x commented on #68
Dalla regia mi segnalano che esiste anche un'altra interessante estensione chiamata [NewUserMessage](https://www.mediawiki.org/wiki/Extension:NewUserMessage), che dà automaticamente il messaggio di benvenuto. La includiamo nelle estensioni da installare?

[2019-01-22 22:42] davla commented on #68
Sì

[2019-01-23 17:03] #29 closed, assigned to davla

[2019-01-23 18:08] Cruifer commented on #61
c'è da aggiornare anche il [Template:Item](https://wiki.pokemoncentral.it/Template:Item).

[2019-01-23 18:17] lucas992x commented on #61
Quando avrò un attimo di tempo e voglia per capire come funzionano le tasche in LGPE, li aggiorno entrambi.

[2019-01-24 11:08] lucas992x commented on #59
Premessa: so che è una cagata. Ma il mio OCD ne sarebbe felice :D

Alcuni template che nelle pagine vengono usati mettendo un parametro per riga, hanno `|` a fine riga anziché all'inizio. Si può "correggere" sta cosa? Esempio se non fosse chiaro il concetto:
`{{MossaInfobox|`
`n=58 |`
`name=Geloraggio |`
`jname=れいとうビーム |`
`...`
`}}`

[2019-01-24 12:04] lucas992x commented on #31
https://wiki.pokemoncentral.it/Utente:Lucas992/ProveTemplate/AltreProveTemplate6
Approvate l'idea di aggiungere un box del genere a tutti i template di navigazione degli strumenti? Ovviamente templatizzato per non doverlo aggiornare in ogni singolo template. In caso di risposta affermativa, linkiamo gli altri template di navigazione o le pagine con gli elenchi di strumenti?

[2019-01-24 12:34] CiaobyDany commented on #59
@lucas992 Onestamente l'ho sempre pensato ma credo che sia un po' complesso da fare

[2019-01-24 12:35] CiaobyDany commented on #31
@lucas992 Approvatissimo, oggi che stavo facendo un check generale per vedere se avevo saltato qualche giapponese in giro mi è mancato molto un affare di quel tipo

[2019-01-24 14:26] lucas992x commented on #31
Ok, però non hai risposto alla seconda domanda :P

[2019-01-24 14:29] CiaobyDany commented on #31
@lucas992 Non l'avevo cagata. Di solito mettiamo i link ai template (cfr. Serie principale/spin-off) e credo sia meglio quello piuttosto che le pagine. È più immediato per la navigazione e quello è un template di navigazione.

[2019-01-24 18:36] mexicat commented on #68
@lucas992 non si può usare [`filepath`](https://www.mediawiki.org/wiki/Help:Magic_words#URL_data) passandolo al modulo quando viene chiamato? Che è anche una soluzione più elegante nell'eventualità che in futuro cambi la struttura dei file.

Per NewUserMessage, ci ragiono su alla prossima manutenzione del server.

[2019-01-24 22:20] lucas992x commented on #31
Ora che ci faccio caso, tutti i template navigazione strumenti sono praticamente identici come struttura, potremmo templatizzare pure quelli...

[2019-01-24 22:23] CiaobyDany commented on #31
@lucas992 Diciamo che in generale i template navigazione sono moderatamente simili...

[2019-01-27 13:36] flavio-a commented on #47
https://wiki.pokemoncentral.it/Utente:Ff300/sandbox
Approvatemi l'introduzione, in fondo ci aggiungo il template di collegamento e la carico su https://wiki.pokemoncentral.it/Elenco_Pok%C3%A9mon_per_strumento_tenuto. Che voglio chiudere quest'issue.

[2019-01-27 13:46] flavio-a commented on #31
Approvate l'idea di aggiungere un box del genere a tutti i template di navigazione degli strumenti?

Ah, quindi adesso la spacci anche come idea tua?

Tornando serio, link ai template, non alle pagine di elenco.

[2019-01-27 14:19] lucas992x commented on #31
A questo punto aboliremo i template `{{items}}` e `{{held}}`?

[2019-01-27 18:46] lucas992x commented on #47
Io approvo.

[2019-01-28 20:49] flavio-a commented on #47
https://wiki.pokemoncentral.it/Elenco_Pok%C3%A9mon_per_strumento_tenuto_(prima-quarta_generazione) e https://wiki.pokemoncentral.it/Elenco_Pok%C3%A9mon_per_strumento_tenuto_(quinta-sesta_generazione) le cancello? Non dovrebbero esserci link in entrata (nel caso si sostituiscono con quelle all'elenco completo)

[2019-01-28 21:25] CiaobyDany commented on #47
@flavio-a Ci sono sicuramente link in entrata ma sono facilmente sostituibili

[2019-01-29 11:51] lucas992x commented on #47
@flavio-a Ho appena controllato e quelle due pagine sono prive di link entranti. Le cancelliamo brutalmente o le trasformiamo in redirect? Poi direi che possiamo aggiungerlo al LMOPCW e chiudere la issue.

[2019-01-29 11:55] CiaobyDany commented on #47
@lucas992 Actually servirebbero delle introduzioni un po' più dettagliate (vedasi quelle di Bulba) per seconda e quinta generazione almeno, più due righe su Insettocchi. Ho già scritto io un accenno sulle specifiche della prima generazione, ma sarebbe da ampliare.

[2019-01-29 19:22] davla commented on #68
Filepath è la cosa migliorissima. Avevo cercato nell'API di MediaWiki ma non nelle magic words. Mi piace moltissimo di più.

[2019-01-29 19:25] davla commented on #59
Dovrebbe essere fattibile, ma richiede molto più lavoro di quanto sia prioritaria la faccenda.

[2019-01-29 21:00] mexicat commented on #68
@davla per il modulo Verso invece? A cosa servirebbe `explode`? Così cerco un workaround anche per quello.

[2019-01-29 21:20] flavio-a commented on #1
Forse si può fare qualcosa con la proprietà CSS [filter](https://developer.mozilla.org/en-US/docs/Web/CSS/filter)

[2019-01-29 21:24] flavio-a commented on #31
Si possono tenere nelle pagine degli elenchi, o no? Non so davvero cosa sto dicendo, ho un po' perso di vista il progetto strumenti.

[2019-01-29 21:37] flavio-a commented on #47
Ho controllato con la sostituzione automatica e non ci sono link in entrata alle due pagine. Secondo me non ha senso trasformarle in redirect, chi mai andrà a cercare "Elenco Pokémon per strumento tenuto (prima-quarta generazione)"?

L'introduzione andrà riscritta bene, se domani ho tempo lo faccio.

[2019-01-29 21:50] CiaobyDany commented on #47
@flavio-a Non ricordo mai la menata dei redirect. Cosa cambia tra cancellare e trasformare in redirect?

[2019-01-30 11:54] davla commented on #68
Servirebbe a passare una lista di nomi di Pokémon e renderizzare il verso per ognuno. Of course non si può fare da lua perché i moduli non possono chiamare widget. E boh, onestamente non riesco a inventarmi niente in un linguaggio comw WikiCode che non ha i loops. A meno che non si faccia un template ricorsivo.

[2019-01-30 11:56] davla commented on #1
So che dà qualche problema in Chrome. Good luck.

[2019-01-31 20:59] flavio-a commented on #68
Abbiamo concordato un po' di modifiche ai gruppi utenti che riteniamo ragionevoli:
- Eliminare il gruppo dei controllori e spostare i loro permessi direttamente ai burocrati.
- Dare al gruppo bot i permessi per modificare tutti i namespace (in modo che non debbano essere anche amministratori) e altri utili per la loro operatività. Questo è utile sia per evitare che appaiano nell'elenco degli ammin

[2019-01-31 21:08] flavio-a commented on #47
In effetti non so quali vantaggi reali ci siano a cancellarla piuttosto che trasformarla in redirect. Forse si risparmia qualcosa a livello di spazio su disco? Boh, dovremmo sentire Gika a questo proposito, ma piuttosto scegliamo a caso che almeno lo facciamo prima del prossimo secolo.

[2019-01-31 21:29] CiaobyDany commented on #47
@flavio-a Kek. Vai a sentimento tu allora

[2019-01-31 21:46] flavio-a commented on #47
@CiaobyDany [sono andato a sentimento](https://wiki.pokemoncentral.it/index.php?title=Elenco_Pok%C3%A9mon_per_strumento_tenuto_(prima-quarta_generazione)&action=edit&redlink=1).

Comunque ho iniziato la traduzione, se nessun altro lo fa a breve finisco ma intanto qua chiudo (giusto in tempo per il LMoPCW)

[2019-01-31 21:46] #47 closed, assigned to flavio-a

[2019-02-01 18:36] #49 closed, assigned to Cruifer

[2019-02-04 16:34] lucas992x opened #69 "Tabelle strette che vengono stretchate da mobile"
## Descrizione
Quando si usa il sito mobile da schermi piccoli e si trova una tabella abbastanza stretta da non occupare l'intera larghezza, essa viene "stretchata" in modo strano. Il motivo è che MediaWiki mette alle tabelle un `width: 100% !important`, che essendo `!important` non può essere overridato se non con un altro `!important`, il che andrebbe fatto con molta cautela (i credits della spi

[2019-02-04 16:40] Cruifer commented on #69
@lucas992 Più che altro la cosa da problemi quando le tabelle non sono ancora state aggiornate con le class di dedalo. Non converrebbe lasciare così in modo da avere un'idea di quali ancora vadano sistemate?

[2019-02-04 16:42] lucas992x commented on #69
@Cruifer In realtà dà problemi anche con loro. Quella che vedi è una normalissima `{| class="std-table" style="{{#invoke: css | horizGrad | type= veleno}} padding: 0.3em;"`.

[2019-02-04 16:44] Cruifer commented on #69
@lucas992 Mi riferivo alle class flex-xs e similari (quelle che vanno nel |- per intenderci)

[2019-02-04 16:47] lucas992x commented on #69
Ah ho capito cosa intendi. Queste però sono tabelle così strette che personalmente non vedo motivi per responsivizzarle con i `flex-__`.

[2019-02-04 16:48] Cruifer commented on #69
@lucas992 Non hai tutti i torti. Vabbè aspettiamo gika allora (buona fortuna)

[2019-02-04 17:25] flavio-a commented on #69
Piuttosto che far sistemare questa cosa a Gika facciamo prima a cercare una nuova skin mobile che eviti di fare certe schifezze come MinervaNeue ed installarla.

[2019-02-09 13:10] lucas992x commented on #61
Questione tasche di LGPE. Essendo molto diverse dai giochi precedenti abbiamo già deciso che saranno separate, il parametro per SLUSUL resterà `bag7` e per questi due si userà `bagLGPE` (o se avete in mente un nome migliore ditelo). Ci sono comunque un paio di questioni da decidere.
- Non esiste più la tasca degli strumenti generici, quindi bisogna decidere se per gli strumenti sparsi è meglio ind

[2019-02-11 06:34] Cruifer commented on #69
![screenshot_20190210-234720_samsung internet](https://user-images.githubusercontent.com/38588039/52548755-b9c9c880-2dcf-11e9-8c6e-28d61cc2e833.jpg)
Per caso per caso qualcuno ha toccato il PokémonInfo? Perché prima non faceva così

[2019-02-11 08:43] lucas992x commented on #69
Il `PokémonInfo` è una tabella, e quindi ha pure lui lo stesso problema. Forse prima non te ne accorgevi perché il `margin` lo spostava a destra abbastanza da far sembrare il bordo destro uguale al sinistro (https://wiki.pokemoncentral.it/index.php?title=Template:Pok%C3%A9monInfo&diff=712818&oldid=700815).

[2019-02-12 16:17] lucas992x commented on #57
Sto iniziando a fare il modulo dati per esperienza ed EV ceduti, così lo si potrà usare per l'apposito elenco (o elenchi se decideremo di splittare in più pagine come Bulba) e per il PokémonInfo nelle pagine dei singoli Pokémon. Quando i valori cambiano fra le generazioni non c'è problema, ma esistono anche i seguenti casi (che per ora metterò commentati nelle righe corrispondenti):
- [ ] Watchog

[2019-02-12 16:57] flavio-a commented on #57
1) gestire la gente che cambia EV tra i giochi è più seccante del previsto perché il multigen non lo supporta, e non sono sicuro sia così banale sistemare. Ne parlerò con @davla
2) se hai così tanta voglia di scrivere moduli dati c'è sempre l'Evo/data da finire (vedi #30)

[2019-02-12 19:59] lucas992x commented on #57
Hai ragione, ormai me n'ero dimenticato :D allora, il file se non vado errato è [questo](https://github.com/pokemoncentral/wiki-lua-modules/blob/evo-data/Evo-data.lua), se mi confermi che ciò che ho fatto finora è ok allora io continuo.

[2019-02-12 21:26] flavio-a commented on #57
Confermo tutto

[2019-02-13 13:43] flavio-a commented on #31
Un utente a caso ha creato questa pagina: https://wiki.pokemoncentral.it/Gravelroccia. Per chi non lo sapesse è uno strumento dei Mystery Dungeon. Secondo voi ha senso fare una pagina per ogni strumento anche di questi giochi? Tralasciando per un attimo la fattibilità di questo progetto (nulla), ha concettualmente senso? Su Bulba al momento non ci sono, ma non vedo perché questo dovrebbe fermarci.

[2019-02-13 13:48] CiaobyDany commented on #31
@flavio-a Più che altro dipende dalla quantità di informazioni medie che possono esserci su quegli strumenti. Se la cosa si riduce a nome, artwork, effetto e in altre lingue... Meh.

[2019-02-13 13:49] Cruifer commented on #31
@flavio-a why Not? Per me ha senso come cosa

[2019-02-13 13:51] CiaobyDany commented on #31
@Cruifer Mi sembrano tante pagine frammentarie con pochi vantaggi rispetto ad avere un elenco più compatto. Per gli strumenti della serie principale hai sempre qualcosa da scrivere e comunque apparendo in diversi giochi hai l'elenco luoghi che è generalmente lungo. Lì boh. Capisco il tuo ragionamento e non escludo che in un remoto futuro potrebbe essere interessante, ma al momento la vedo una cosa

[2019-02-13 13:54] Cruifer commented on #31
@CiaobyDany Beh però a livello concettuale che differenza c'è tra quella pagina e questa? https://wiki.pokemoncentral.it/Dolcespuma

[2019-02-13 13:57] lucas992x commented on #31
Dolcespuma si espanderà ad ogni nuovo gioco, ottenendo nuovi luoghi e probabilmente nuovi prezzi e/o descrizioni. Quelli di MD invece è probabile che restino sempre così, visto che non c'è traccia di nuovi giochi della serie (ma mai dire mai).

[2019-02-13 13:59] flavio-a commented on #31
@CiaobyDany Potenzialmente l'elenco dei luoghi è lungo, soprattutto per gli strumenti introdotti nei giochi più vecchi. Comunque capisco perché non vogliate crearle

[2019-02-13 14:05] CiaobyDany commented on #31
@flavio-a Parlo da ignorante della serie, se mi dici che ci sono diversi casi (possibilmente non una minoranza circoscritta) in cui c'è una presenza congrua di contenuti allora ha un senso.

[2019-02-13 21:30] flavio-a commented on #31
Secondo me ci sono almeno una trentina di strumenti che compaiono in 3 giochi (diversi, non due versioni gemelle) e che quindi avrebbero pagine abbastanza corpose. Se vuoi sapere in percentuale direi che questi saranno un 15% del totale, con un 60% di strumenti che compare in 2 giochi e il restante 25% di pagine del cazzo.
Come pagina corposa intendo tipo la [Grigiosfera](https://wiki.pokemoncentr

[2019-02-13 21:52] CiaobyDany commented on #31
@flavio-a O tutti o niente, ma mi hai convinto sul porre almeno delle linee guida sul come fare le pagine, dopodiché lasciare la loro creazione solo agli utenti base specificando che non è una cosa prioritaria.

[2019-02-14 07:42] flavio-a commented on #31
Il punto è che non serve fare nuove linee guida, sono uguali alle pagine di tutti gli altri strumenti. L'unica cosa da sistemare è l'infobox perché non esiste un concetto di "tasca" in MD. Al massimo si può usare la categoria dello strumento, ma io semplicemente non metterei nulla.

[2019-02-14 10:06] CiaobyDany commented on #31
@flavio-a Ok, allora andata così.

[2019-02-14 16:41] lucas992x commented on #31
@flavio-a quindi in `ItemInfobox` faccio in modo che quando si ha `mdex=yes` venga nascosta la sezione Tasche?

[2019-02-16 20:23] flavio-a commented on #31
Direi di sì

[2019-02-17 13:43] lucas992x commented on #31
Ok, fatto 👍

[2019-02-23 10:45] flavio-a commented on #66
Continuo a non capire in che modo il tuo esempio si correli al nostro caso. Puoi spiegarmelo meglio @davla? Comunque ho controllato e tutti i colorscheme nuovi sono copie esatte degli hex del modulo colore. Quelli più vecchi sono effettivamente diversi. Resto della mia idea di togliere gli hex dal colorscheme, però se volete tenerli posso sopravvivere lo stesso.

Per il resto si tiene l'interfacci

[2019-02-23 11:42] Snorlite opened #70 "La classe sortable non viene interpretata da mobile"
## Descrizione
Il titolo mi sembra già esaustivo: la classe sortable non sembra essere considerata da mobile.
Ho il netto sospetto che il relativo JavaScript non sia caricato da mobile.

## Screenshot
* Desktop: ![image](https://user-images.githubusercontent.com/42011697/53285926-4f1d7300-3767-11e9-8041-81fa22e71ba8.png)

* Mobile: ![image](https://user-images.githubusercontent.com/42011697/532859

[2019-02-23 16:19] #64 closed, assigned to nobody

[2019-02-25 21:09] lucas992x commented on #65
Direi che il template è [pronto](https://wiki.pokemoncentral.it/Template:PrevNext), @flavio-a. Escludendo `bag` che comunque non serve, non ho nemmeno usato altri template, quindi dovrebbe essere facile modulizzarlo.

[2019-03-02 16:47] flavio-a commented on #65
Ma quindi adesso io creo il modulo PrevNext che fa le stesse cose del template ma è un modulo, voi lo usate nei vari template al posto del template PrevNext e io lo uso nel PokéPrevNext, giusto? O mi ricordo male io?

[2019-03-03 18:11] flavio-a commented on #57
https://wiki.pokemoncentral.it/Pok%C3%A9mon_esclusivi_in_base_alla_versione esplode proprio malissimo. Colpa delle troppe chiamate al color/blackabbrev direi. Credo sia il caso di lavorarci subito.

[2019-03-04 11:22] lucas992x commented on #57
Una cosa: se non lo stai già facendo, quando usi i `colorabbrev` mettici anche un `&nbsp;` prima e dopo, così la tabella viene ordinata.

[2019-03-04 11:26] flavio-a commented on #57
Potevo menzionare questa issue in pokemoncentral/wiki-lua-modules@a1db5e0 ma mi sono scordato. Se tutto va bene stanotte aggiorno quello che c'è da aggiornare e domani abbiamo l'elenco funzionante di nuovo. @lucas992 ho visto che nel template c'è un gradiente radiale commentato intorno al MS, io per ora non l'ho messo ma si può aggiungere, c'è solo la questione dei tipi della generazione giusta. M

[2019-03-04 12:25] lucas992x commented on #57
Quel `radialgrad` l'avevo commentato per alleggerire un po' la pagina, altrimenti esplodeva ancora prima. La generazione non è un problema, visto che ciascuna tabella è riferita a giochi ben precisi e quindi la si ricava.

[2019-03-06 14:48] flavio-a opened #71 "Modulo per gli strumenti tenuti nelle pagine dei Pokémon"
## Descrizione
Come da titolo, creare un modulo per generare in automatico la tabella degli strumenti tenuti nelle pagine dei Pokémon e sostituire l'Helditems.

Quest'issue di fatto è solo un memo per me.

[2019-03-06 14:52] lucas992x commented on #71
Mi è appena venuto in mente un dettaglio non da poco: nelle pagine dei singoli Pokémon sono indicati anche gli strumenti tenuti nelle distribuzioni evento, che invece non sono presenti nel modulo dati.

[2019-03-06 18:21] CiaobyDany commented on #71
@lucas992 Mentre non sono segnati gli strumenti che possono tenere in giochi in cui non possono apparire allo stato selvatico. Ci sono un po' di differenze in merito, se vuoi l'elenco completo chiedo a Lugietto che le sa sicuramente

[2019-03-07 13:48] flavio-a commented on #71
Gli strumenti evento si dovrebbero aggiungere facile. Gli strumenti tenuti nei giochi in cui un Pokémon non si può incontrare selvatico sono già segnati nel modulo per usare il Colorabbrev invece del Blackabbrev (o il contrario, ma ci siamo capiti).

L'elenco degli strumenti evento esiste o c'è da smazzarsi a mano tutte le pagine?

[2019-03-07 14:03] flavio-a commented on #57
Allora, io ho sistemato, è tutto pronto e non mi costa niente salvarlo, però secondo me non è bellissimo il cerchio intorno al MS.
![screenshot_07-03_15 02](https://user-images.githubusercontent.com/11007745/53961912-10ce6f00-40ea-11e9-81cb-cbde268c8738.png)

[2019-03-07 16:23] lucas992x commented on #57
Per me si può anche togliere, non lo ritengo indispensabile.

[2019-03-07 16:24] lucas992x commented on #71
Credo che l'elenco degli strumenti tenuti negli eventi non esista, ma non dovrebbe essere troppo difficile prendere quei dati tramite bot, o lo è?

[2019-03-08 20:36] Cruifer commented on #57
più che altro direi che sarebbe meglio discuterne in #41; a me personalmente non dispiace.

[2019-03-09 15:34] flavio-a commented on #41
Come ha osservato Crusca decidiamo se vogliamo o meno i cerchietti intorno ai MiniSprite.
![screenshot_07-03_15 02](https://user-images.githubusercontent.com/11007745/53961912-10ce6f00-40ea-11e9-81cb-cbde268c8738.png)
Secondo me sono un po' _abbondanti_ (specie in elenchi molto più colorati di questo tipo il movelist ([esempio](https://wiki.pokemoncentral.it/Baldeali#Apprendimento)) quindi se devo

[2019-03-09 16:50] lucas992x commented on #41
Come detto, per me va bene toglierlo da questo elenco. Comunque in quell'esempio che hai fatto i tipi sono già indicati, quindi è proprio inutile il `radialgrad` lì.

[2019-03-10 18:24] davla commented on #66
Non sto seguendo più la questione, perché non comprendo i problemi da schizzoide OCD di @flavio-a.
Smazzatela da solo, mi va bene qualsiasi cosa tu faccia.

[2019-03-10 21:47] Cruifer commented on #41
a parte il caso specifico di questi due elenchi, il vero problema è che non abbiamo delle linee guida per stabilire quando usarlo oppure non usarlo. Visto che tutte le indicazioni all'inizio le aveva date @CiaobyDany, lo invoco per illuminarci sulla situazione. Anche con calma, penso che nessuno abbia furia.

[2019-03-10 21:48] CiaobyDany commented on #41
@Cruifer È un periodo in cui sono un po' tanto preso. Quindi fatemi capire subito che priorità ha la cosa, o probabilmente ci guardo tra un mese.

[2019-03-10 21:50] Cruifer commented on #41
@CiaobyDany Direi molto bassa; come ho detto, nessuno ha fretta spero

[2019-03-11 22:02] Cruifer commented on #65
riapro l'issue perché il [GlitchPrecSucc](https://wiki.pokemoncentral.it/Modulo:GlitchPrecSucc) è rimasto tale e quale a prima (immagino perché è un modulo)

[2019-03-12 21:34] #65 closed, assigned to flavio-a, lucas992x

[2019-03-15 22:14] Cruifer commented on #53
promemoria per me (o chiunque altro abbia voglia). C'è da aggiornare e standardizzare questi template:

- [x] https://wiki.pokemoncentral.it/Template:Cripto
- [x] https://wiki.pokemoncentral.it/Template:Fondazione_Aether
- [x] https://wiki.pokemoncentral.it/Template:Team_Flare
- [x] https://wiki.pokemoncentral.it/Template:Team_Galassia
- [x] https://wiki.pokemoncentral.it/Template:Team_Idro
- [x]

[2019-03-16 21:45] davla opened #72 "Responsivizzare Pokévip"
## Descrizione
I template per le robe del PokéVip sono non responsive, Vanno responsivizzati

- [x] https://wiki.pokemoncentral.it/Template:Pokevip/h
- [x] https://wiki.pokemoncentral.it/Template:Pokevip/entry
- [x] https://wiki.pokemoncentral.it/Template:Pokevip/f

[2019-03-18 22:20] Cruifer commented on #30
non è per essere insistente, ma riapro di nuovo perché mancano ancora i glitch

[2019-03-19 09:59] flavio-a commented on #30
Eh che palle, solo ai glitch sai pensare. Devo metterlo nelle pagine, ma sembra che sarà più difficile del previsto, non sembra si riesca a fare in automatico.

[2019-03-19 13:59] Cruifer commented on #30
boh se mi dici cosa c'è da fare in particolare posso farlo io di metterlo nelle pagine

[2019-03-21 10:17] flavio-a commented on #30
In realtà (a parte Missigno. che non funziona perché fa cose che non mi aspettavo) posso finire di farlo io, sono già oltre metà e se prendo il ritmo ci metto relativamente poco a fare una pagina.

EDIT: mancano solo i seguenti Pokémon, che per ora non si possono fare per limitazioni del modulo:
- [ ] https://wiki.pokemoncentral.it/Missingno.#Evoluzione
- [ ] https://wiki.pokemoncentral.it/PkMn_%3

[2019-03-21 10:55] lucas992x commented on #30
Bisogna aggiungere la nebbia a Sliggoo (lo scrivo come promemoria, sempre se qualcuno non mi precede).

[2019-03-21 11:22] CiaobyDany commented on #30
@lucas992 L'ho già aggiunta io ieri. L'ho messa nelle pagine di Goomy, Sliggoo e Goodra e nella pagina delle evoluzioni particolari. Va segnato anche altrove?

[2019-03-21 11:30] lucas992x commented on #30
@CiaobyDany Nel modulo dati, ossia Evo-data.

[2019-03-21 11:30] CiaobyDany commented on #30
@lucas992 Oh. Mi ero perso il fatto che sia diventato un modulo. Ottimo.

[2019-03-21 11:32] flavio-a commented on #30
@CiaobyDany fatto

[2019-03-31 15:55] #30 closed, assigned to flavio-a, lucas992x

[2019-03-31 17:22] #72 closed, assigned to Cruifer

[2019-05-18 15:53] flavio-a opened #73 "Modulo per learnlist e movelist"
Segue discussione tecnica, se non siete interessati ignorate. @davla tu non puoi ignorare.

## Descrizione
Dall'ottava generazione come dice vorremmo spostare i learnlist/movelist in modulo dati. Maze, avevi proposto qualcosa?
Voglio usare quest'issue prima per tracciare le specifiche, poi come memo per implementarle, e vorrei fare il tutto prima dell'uscita di SpSc (anche rimanderei l'implementaz

[2019-05-19 11:51] flavio-a commented on #37
Mi sono scordato di scriverlo qui. Pagina finita e messa online. Ho tenuto la versione in sandbox perché ci sono ancora i gruppi controversi (per la versione online ho usato il voto della maggioranza, ma nulla ci vieta di cambiarla in seguito) per cui continuo ad invocare @lucas992 (con calma, quando ritorni attivo).

Contestualmente mancano da aggiornare tutti i template VariantiMossa. Devo veder

[2019-05-19 11:53] davla commented on #73
Lo vorremmo fare davvero? Lo sai che poi l'utenza non è in grado di aggiornare autonomamente, vero?

Nel caso la risposta sia sì, mi piace l'idea del code generator. Un po' meno pratica sul lungo termine, ma se scriviamo il generator in lua (e sì, lo scriviamo in lua), ci vuole poco ad adattarlo a modulo.

[2019-05-19 12:03] flavio-a commented on #73
1) USUM e LGPE li ho fatti io a partire dai dati presi dalle ROM. Questo semplificherebbe notevolmente quel lavoro
2) l'utenza può comunque segnalarlo nella pagina di discussione, per esempio (ci mettiamo un bel commento "se hai notato un errore non puoi correggerlo tu, ma puoi segnalarlo nella pagina di discussione"). Dubito che uno che ha avuto lo sbatti di provare a correggere si faccia fermare

[2019-05-19 12:08] davla commented on #11
Nessuno se la caga più. E le issues vanno chiuse, altrimenti non hanno senso.

[2019-05-19 12:08] #11 closed, assigned to davla

[2019-05-19 12:09] davla commented on #36
Se si è deciso per post-game, chiudo @CiaobyDany @flavio-a

[2019-05-19 12:27] flavio-a commented on #66
Non so se avrò davvero voglia di aggiornare il colorscheme per usare il modulo colore o meno, ma in ogni caso il colorscheme resta vivo (eventualmente solo come interfaccia per raggruppare chiamate al modulo colore) quindi questa issue si può chiudere (i refactor interni non si discutono).

[2019-05-19 12:27] #66 closed, assigned to flavio-a, davla, lucas992x

[2019-05-19 12:52] Cruifer commented on #73
ma tanto nella maggior parte dei casi chi vede un errore non si mette a correggerlo anche se potesse e lo segnala sul forum/da altre parti, quindi secondo me non è un problema così grosso

[2019-05-20 18:38] #36 closed, assigned to nobody

[2019-05-20 18:39] davla commented on #63
Come siamo messi qui?

[2019-05-21 08:06] flavio-a commented on #73
Gli altri si sono espressi (su Telegram) e direi che il modulo si fa. Possiamo riprendere con le robe tecniche.

Ora spiegami cosa intendi per "adattarlo a modulo". Se facciamo calcolare la relazione inversa ad un modulo dinamicamente perdiamo l'utilità di generarlo staticamente (tanto sarebbe comunque eseguito una sola volta a pagina perché mw.loaddata)

[2019-05-21 10:06] flavio-a commented on #38
Abbiamo deciso di lasciarle in sezione a parte. Chiudo

[2019-05-21 10:06] #38 closed, assigned to nobody

[2019-05-21 10:15] flavio-a commented on #59
Sparerò una boiata, ma non basta `\s*\|\s*\n` -> `\n|` ? Questo sposta i `|` a fine riga all'inizio della riga successiva. Uh, forse c'è un problema con le tabelle con celle vuote in effetti.

[2019-05-21 17:59] davla commented on #59
Più che altro, vuoi rischiare di imputtanare il wiki per soddisfare il di Luppolo OCD? (Di Bany non frega niente a nessuno e lo sappiamo)

[2019-05-21 18:05] davla commented on #73
Allora. Il code generator in lua è una roba tipo
[code]

Togliendo l'ultimo for hai il modulo dimanico

[2019-05-22 20:28] flavio-a commented on #73
Quindi il code generator ti è piaciuto. Secondo me non possiamo metterlo come modulo per ragioni di efficienza ma possiamo provare. Alla peggio se esplode qualcosa lo cambiamo con la versione statica.

[2019-05-23 12:18] davla commented on #73
Non hai capito una mazza.

Il code generator lo usiamo per generare il modulo staticamente. Il code generator gira sulle nostre macchine. Se è troppo una palla generare il modulo staticamente, togliamo il for e hai il modulo generato dinamicamente.

[2019-05-23 13:17] flavio-a commented on #73
@davla Avevo capito (era la mia proposta farlo statico), solo che quando hai proposto di farlo dinamico la mia obiezione è stata che rischia di essere troppo pesante. Quindi proponevo di provarlo (quello dinamico) per vedere le prestazioni perché se sorprendentemente fossero buone potremmo tenerlo. Tanto come hai osservato cambiare da uno all'altro è questione di commentare due righe.

[2019-05-24 04:31] davla commented on #73
Sono molto scettico sulle prestazioni, ma se la prova la smazzi tu a me va bene

[2019-06-06 07:39] flavio-a commented on #62
Con gli annunci dei nuovi Pokémon direi che abbiamo un ottimo test sul campo per moduli con Pokémon incompleti. Direi che come deadline per quest'issue possiamo mettere SpSc, usciti quelli saremo ragionevolmente sicuri che funzioni tutto.

Dagli annunci di ieri è saltato fuori che l'Evo-data (e moduli che lo usano, quindi Evobox e Wikilib-evos) non funziona senza ndex, quindi è da fixare (mi metto

[2019-06-09 07:49] flavio-a commented on #37
Ho aggiornato i template VariantiMossa. Chiudo. Direi che anche se Luca avrà qualcosa da dire sui gruppi potrà farlo direttamente su Telegram/discussioni della pagina "varianti mossa"; alla fine cambiare un gruppo non è particolarmente difficile.

[2019-07-22 12:52] Cruifer commented on #59
Suggerisco come sostituzione `sopratutto` -> `soprattutto`. Non è diffusissimo nel wiki in realtà (saranno tipo una ventina di pagine), però è un errore abbastanza difficile da notare e quindi non viene corretto

[2019-07-22 14:00] davla commented on #59
Ne avevo altre ma me ne continuo a scordare

[2019-07-24 12:54] Cruifer opened #74 "Errore 403 su alcuni Pokémon glitch"
## Descrizione
Come da titolo, quando cerco di aprire queste pagine restituisce un errore 403. Unico dettaglio in più è che sembra comportarsi così solo da mobile

## Pagine affette
* https://m.wiki.pokemoncentral.it/._p%E3%82%A5

* https://m.wiki.pokemoncentral.it/.8

* https://m.wiki.pokemoncentral.it/.PkMn

* https://m.wiki.pokemoncentral.it/._%E3%82%A5_(_.I%27_.

* https://m.wiki.pokemoncentra

[2019-07-24 13:01] lucas992x commented on #74
Confermo, anche a me apre normalmente la pagina desktop ma dà errore 403 se provo ad aprire la versione mobile, pure da PC (ho provato sia con Firefox che con Opera).

[2019-07-24 13:16] flavio-a commented on #74
10 a 1 che è colpa del punto all'inizio del nome. @mexicat è l'unico che può farci qualcosa, credo

[2019-07-24 13:20] lucas992x commented on #74
@flavio-a Mi sa che hai ragione, anche se provo ad aprire altre pagine inesistenti che iniziano con il punto mi dà questo errore

[2019-07-24 13:23] Cruifer commented on #74
@flavio-a È quello a cui ho pensato anch'io in realtà, però ad esempio https://m.wiki.pokemoncentral.it/…… funziona

[2019-07-24 14:07] mexicat commented on #74
Ora funziona. Era colpa di questa riga della conf di nginx:

[code]

Che era fatta principalmente per evitare di mostrare file nascosti (tipo le directory `.git`.). L'ho resa più specifica, sperando che in futuro non ci siano Pokémon glitch che iniziano con ".git".

[2019-07-24 14:07] #74 closed, assigned to mexicat

[2019-07-24 14:27] lucas992x commented on #68
@mexicat per Variables e NewUserMessage come siamo messi?

[2019-07-27 16:37] Cruifer commented on #70
Ho fatto un [test](https://umbrawiki.netsons.org/index.php?title=Utente:Cruifer/Sandbox&oldid=1920&mobileaction=toggle_view_mobile) su UmbraWiki: mettere la Timeless risolverebbe anche questo problema

[2019-07-28 12:10] Cruifer commented on #53
Shout-out a Orion e Irene che hanno sistemato quei template. Chiudo.

[2019-07-28 12:10] #53 closed, assigned to nobody

[2019-07-28 20:46] lucas992x commented on #63
Questa ormai non serve più, chiudo

[2019-07-28 20:46] #63 closed, assigned to nobody

[2019-07-29 13:51] lucas992x commented on #61
Qua rimane solo la questione del template Zone con il nome di LGP che va a capo essendo troppo lungo, tutto il resto è stato fatto, vogliamo tenere ancora aperta questa issue o la chiudiamo e amen?

[2019-07-29 15:22] Cruifer commented on #61
@lucas992 Io metterei il colorabbrev

[2019-08-13 13:34] flavio-a commented on #71
In realtà a quanto pare è un casino perché ci sono un sacco di informazioni non nel modulo, tra cui strumenti tenuti in vari giochi non della serie principale (Colo, XD, PokéWalker), tenuti tramite evento e tenuti solo in caso di scambio.
Non so se e quando avrò mai voglia di rimettermi a lavorarci, perché si tratta di cambiare anche il modulo dati.

[2019-08-15 13:36] lucas992x commented on #71
Se con molta pazienza aggiornassimo il modulo dati per includere gli strumenti evento e quelli di Colo/XD/PW, quanto sarebbe complicato per te fare il modulo? È una questione di informazioni mancanti o andrebbe proprio rimaneggiato pesantemente?

[2019-08-15 13:51] lucas992x opened #75 "Nuovo template shop/mart"
## Descrizione
Si stava discutendo della possibilità di rifare completamente il template [shop](https://wiki.pokemoncentral.it/Template:Shop).
- Irene suggerisce di usare un layout simile al template [mart](https://wiki.pokemoncentral.it/Template:Mart).
- Io valuterei qualcosa che si sviluppi orizzontalmente da desktop, in modo da "accorciare" le pagine (ovviamente responsive in modo che da mobile

[2019-08-15 13:55] flavio-a commented on #71
La seconda, bisogna cambiare un po' l'helditemslist (il modulo che genera l'elenco Pokémon per strumento tenuto) perché deve sapere quali giochi considerare e quali no e anche che deve ignorare gli strumenti tenuti solo durante gli scambi ingame, c'è un po' di lavoro da fare.
E al momento sono abbastanza occupato con #73 per occuparmi di questo, quindi sicuramente verrà messo in pausa a tempo inde

[2019-08-15 14:03] StygianStar commented on #75
Io manterrei anche la suddivisione per tipologia di strumento (con annesso titolo in cima a tutti gli strumenti che riporta all'elenco o alla pagina dedicata). È possibile, magari, fare in modo che si sistemino da soli limitandosi così ad inserirli e basta?

[2019-08-15 14:11] lucas992x commented on #75
Fare in modo che si sistemino da soli credo sia impossibile. L'idea di raggrupparli è interessante, però domanda: esistono casi in cui si hanno pochissimi strumenti che sono di categorie diverse? In quel caso non so quanto abbia senso e dovremmo valutare anche questo aspetto.

[2019-08-15 14:17] Cruifer commented on #75
Perché dici che è impossibile che si sistemino in ordine da soli? Per come è utilizzato il template ora? Perché se togli quello e i raggruppamenti a quel punto perdi la peculiarità (e l'utilità) del template Mart imo

[2019-08-15 14:17] StygianStar commented on #75
Sì, dovrebbero esistere e credo siano presenti nei Market delle prime due/tre generazioni e casi come la Farmacia di Fiorlisopoli, il negozio di Secondisola, ecc.

[2019-08-15 14:20] lucas992x commented on #75
@Cruifer per far sì che si sistemino da soli come faresti? A me non sembra che sia possibile, a meno di non piazzarci un'infinità di `#if` per ciascuno strumento esistente, che direi è improponibile.

[2019-08-15 14:40] Cruifer commented on #75
Farlo con una macro è altrettanto infattibile @flavio-a ? immagino di sì in realtà, ma tanto vale chiedere. Però a quel punto valuterei di fare un semplice restyling da mobile che al momento è un po' inguardabile (allego screen che mandai mesi fa a @lucas992 )

![IMG_20190815_163811_219](https://user-images.githubusercontent.com/38588039/63102395-56d20d80-bf7b-11e9-9aff-e5e5c7acc702.jpg)

[2019-08-15 14:47] lucas992x commented on #75
Questo però era quando avevamo il problema delle tabelle che non prendevano il `padding` e il `border-spacing`

[2019-08-15 14:49] StygianStar commented on #75
Io credo che il "modello Bulba" sia proprio brutto sia esteticamente che a livello pratico, sia da mobile che da desktop. Sarà più compatto, ma più complesso da leggere e brutto da vedersi, anche perché stona abbastanza con il resto dei nostri template nel wiki

[2019-08-15 14:51] Cruifer commented on #75
@lucas992 Ah, nel frattempo è stato risolto quello? This is beyond science.

[2019-08-15 14:54] flavio-a commented on #75
Ma 'sta fantomatica divisione come va fatta? Per tasche? Perché se è una divisione "buona" non è troppo sbatti metterla nella macro.
Non per magia, intendiamoci, è solo che gli strumenti ci sono già per le traduzioni e sono già divisi in gruppi, a partire da quelli non è un problema generare un pezzo di codice per riordinarli.

[2019-08-15 15:05] lucas992x commented on #75
È stato risolto da un bel po' :P

@flavio-a io farei la divisione per tasche, a meno che qualcuno non abbia idee migliori.

[2019-08-15 15:08] StygianStar commented on #75
@lucas992 non è meglio per tipologia di strumento? Perché con le tasche cambia di generazione in generazione (se non di gioco in gioco, in alcuni casi)

Edit: ok, no, forse sarebbe troppo specifico e ci sarebbero troppi casi diversi

[2019-08-15 15:15] flavio-a commented on #68
Come avevamo discusso un mesetto fa, ci sarebbe da installare la skin https://www.mediawiki.org/wiki/Skin:Timeless senza metterla di default sul sito così che possiamo iniziare a fare delle prove con quella.

[2019-08-15 15:17] lucas992x commented on #75
Comunque, direi che sono da fare 4 sottotemplate: `mart/head`, `mart/div`, `mart/entry`, `mart/footer`, o avevate in mente qualcos'altro?

[2019-08-15 15:23] StygianStar commented on #75
No, per il momento

[2019-08-15 15:23] flavio-a commented on #61
il black/colorabbrev sembra una buona idea, vale la pena almeno provarlo. Chi ha voglia di fare un esperimento in sandbox?

[2019-08-15 15:26] flavio-a commented on #32
Up. E già che lo aggiorniamo sembra ragionevole farne un modulo, così non dobbiamo più sbatterci ad aggiornarlo a mano ogni volta che annunciano un nuovo Pokémon.

[2019-08-15 15:40] flavio-a commented on #75
Ma una divisione tipo https://wiki.pokemoncentral.it/Template:NavStrumenti ? Magari raggruppando alcuni dei cosi che lì sono divisi.
Comunque fyi i gruppi che ci sono già sono "pietre evolutive", "strumenti da vendere", "rimedi", "balls", "messaggi", "strumenti lotta", "strumenti base" per generazione, "ghicocche", "altri strumenti", "strumenti tenuti" per generazione, "bacche", "megapietre" e "cr

[2019-08-15 15:42] lucas992x commented on #32
Approvo l'idea di modulizzarlo. In tal caso la divisione in sottosezioni come verrebbe fatta? Per generazioni? Ogni ~100 entry? Altro ancora?

[2019-08-15 15:44] lucas992x commented on #75
Cioè intendi dividere in base a come gli strumenti sono raggruppati nei nostri template di navigazione?

[2019-08-15 15:45] flavio-a commented on #75
@lucas992 sì

[2019-08-15 16:30] flavio-a commented on #32
Io farei per generazioni, sembra una divisione ragionevole.
Quindi vogliamo farlo card layout? Cosa importante: cerchiamo di tenerlo compatto anche da mobile (se possibile 1 card -> 1 riga) perché sono davvero tanti Pokémon, se iniziamo ad usare un sacco di spazio per ogni Pokémon viene veramente enorme (e quindi scomodo da usare).
Un'idea di come me lo immagino: https://wiki.pokemoncentral.it/Ute

[2019-08-19 10:19] lucas992x commented on #75
https://wiki.pokemoncentral.it/Utente:Lucas992/ProveTemplate
Come vi sembra?

[2019-08-19 10:32] StygianStar commented on #75
Per quanto mi riguarda, mi piace, sì

[2019-08-19 10:43] CiaobyDany commented on #75
@lucas992 Mi piace abbastanza (ho visto solo su mobile per ovvie ragioni), farei sicuramente gli header nei div separatori in grassetto, non so se usare un solid color light per gli stessi al posto del normal che dovrebbe esserci ora

[2019-08-19 11:04] lucas992x commented on #75
E allora facciamo tutte e 3 le prove: colore `normale`, colore `light` e gradiente :D (grassetto aggiunto 👍)

[2019-08-19 11:08] CiaobyDany commented on #75
@lucas992 Mi piacciono tutti e tre ora 🙃

[2019-08-19 11:08] flavio-a commented on #75
Per me solid color light

[2019-08-19 11:10] StygianStar commented on #75
Gradiente è carino, light direi di no- Troppo "debole", imho

[2019-08-19 11:15] lucas992x commented on #75
A me piace di più il gradiente fra questi 3

[2019-08-19 11:36] Cruifer commented on #75
Anche a me piace più il gradiente. Domanda: è voluto il fatto che non sia `width-xs-100`?

[2019-08-19 11:53] lucas992x commented on #75
È una tabella non responsivizzata essendo abbastanza stretta da vedersi bene pure sui 320px, quindi sì, è normale. Meglio metterci un `width-xs-100`?

[2019-08-19 12:02] Cruifer commented on #75
@lucas992 Beh, tutti i template sono così

[2019-08-21 14:31] StygianStar commented on #75
Dunque? Che facciamo con quel colore?

[2019-08-21 14:49] lucas992x commented on #75
Dato che il gradiente ha ricevuto la maggioranza dei voti direi che si va con quello, per la gioia di Flavio :D fra poco lo rendo definitivo

[2019-08-21 15:37] StygianStar commented on #75
E se ci mettissimo anche la possibilità di cambiare colore al posto di mantenere il pcwiki? 🤗🌈 (non solo i "zona_")

[2019-08-21 16:15] lucas992x commented on #75
Ok, così risolviamo anche la questione del testo bianco una volta per tutte :D
Allora, Orion vota per `text=white`, Flavio per `whitetext=yes` / `lighttext=yes`, Bany per `whitetext=yes`, io sarei per `text=white`, altri?

[2019-08-21 16:17] StygianStar commented on #75
whitetext=yes

[2019-08-21 16:22] lucas992x commented on #75
E allora `whitetext` sia.
Mi è venuta un'idea malsana, usare per il colore il parametro `zcolor` per i colori delle zone e `color` per i colori generici, in modo che per il primo venga già preso in automatico il giusto colore del testo. È troppo?

[2019-08-21 16:37] StygianStar commented on #75
Per quanto mi riguarda, sì

[2019-08-21 17:08] lucas992x commented on #32
L'idea mi piace, solo bisognerebbe allineare per bene le voci.
![Capture+_2019-08-21-19-04-20](https://user-images.githubusercontent.com/38510975/63452483-ae262100-c446-11e9-9340-3ebc15905665.png)

[2019-08-21 17:11] lucas992x commented on #75
Ok, ho messo solo `color` e `whitetext`.

Ora che il template è definitivo rimane da implementarlo nelle pagine. Irene sta lavorando sui luoghi di Johto, quindi immagino che si occuperà lei di Johto. Se non avete nulla in contrario, io inizierei a fare i luoghi di Alola.

[2019-08-21 19:51] StygianStar commented on #75
Sì, mi arrangio io con i luoghi di Johto! Quando ho finito vediamo per gli altri.

Sto facendo Fiorpescopoli e mi rendo conto che mancherebbe un parametro `note`. So che c'è il `sup`, ma è scomodo se c'è un testo lungo... Dunque si potrebbe aggiungere questo parametro `note` che fa comparire il solito asterisco con `tt` (senza che lo scriviamo noi, dovrebbe servire solo in casi del genere)?

[2019-08-21 20:06] lucas992x commented on #75
Si tratta di note che possono essere inserite prima della tabella o in un footer, oppure è proprio una cosa specifica di quello strumento? Perché `{{tt|*|...}}` cercherei di evitarlo il più possibile.

[2019-08-21 20:18] StygianStar commented on #75
Avevo già pensato di inserire la nota sotto il `div` -perché effettivamente c'era solo uno strumento- ma m'è capitato un altro caso con diversi strumenti, impossibili da gestire come avevo fatto con l'altro.

Comunque ora salvo l'edit su Fiorpescopoli. Il template in sé a me piace tantissimo, ma mi rendo conto che forse potrebbe diventare troppo lungo verticalmente (non dovrebbe comunque essere pi

[2019-08-21 22:40] lucas992x commented on #75
Ho aggiunto il parametro `notes` e ho messo un `tt` che prende il prezzo. Se poi cambieremo idea ci basterà modificare il template, le pagine resteranno come sono.
Per quanto riguarda la seconda questione, per i casi come Kanto non basta affiancare le tabelle come hai fatto tu in Fiorpescopoli? Così da PC stanno tutte e 4 affiancate mentre su schermi stretti vanno a capo di conseguenza.

[2019-08-21 22:56] StygianStar commented on #75
Grazie, così come hai fatto tu va benissimo!

Io, a Plumbeopoli e a Smeraldopoli, ho sei tabelle. Ok, quelle di RBG e RFVF si potrebbero anche unire e mettere le eccezioni (due nei casi citati poco fa), se è per questo... Però bisogna controllare che sia così per tutte

[2019-08-21 22:58] lucas992x commented on #75
Se cambiano giusto 1/2 strumenti, per me si fa meglio a mettere una tabella unica e segnalare quei due casi con `only`. Se invece cambiano diverse cose, allora penso sia meglio dividerle.

[2019-08-21 23:12] StygianStar commented on #75
Sì, per quello sì

[2019-08-22 00:03] lucas992x commented on #75
Per quanto riguarda la faccenda delle Medaglie necessarie, per ora inserite `medaglie=yes` (o `prove=yes` per Alola) nell'header, poi quando troveremo un modo elegante per implementare la cosa le pagine saranno già pronte.

[2019-08-22 17:21] lucas992x commented on #75
Credo di aver trovato un compromesso accettabile per mostrare la nota sulle Medaglie/prove necessarie: https://wiki.pokemoncentral.it/Utente:Lucas992/ProveTemplate#Mart. Provate a guardare il tutto sia da PC che da mobile e ditemi come vi sembra.

[2019-08-22 17:29] StygianStar commented on #75
Da mobile mi sembra ok (anche l'idea delle sigle dei giochi)

Bisogna stabilire un ordine degli strumenti btw

[2019-08-22 17:46] lucas992x commented on #75
Lo standard non è l'ordine in cui sono elencati nei giochi? Credo che Bulba segua quello.

[2019-08-22 18:29] StygianStar commented on #75
Intendo, vanno prima i rimedi, le ball, ecc.? Sono divisi anche per categoria in game?

[2019-08-22 19:28] lucas992x commented on #75
In-game sono già ordinati per categoria

[2019-08-23 08:27] lucas992x commented on #75
C'è un'ultima cosa di cui vorrei discutere, l'uso delle categorie in questi due casi:
- Se c'è una singola tabella con una sola categoria di strumenti, oppure più tabelle affiancate dove però la categoria è sempre la stessa ([esempio](https://wiki.pokemoncentral.it/Hau'oli#Cimeli_e_rarit.C3.A0)), lascerei senza `div`.
- Se c'è una tabella con una sola categoria ma affiancata da un'altra tabella co

[2019-08-24 21:10] StygianStar commented on #75
Va bene.

Comunque, il mio dubbio sull'ordine delle categorie degli strumenti si è concretizzato in OAC, dato che passano da Poké Ball, Pozione, Fune di fuga, Antiparalisi, ecc. Sono mescolati.

[2019-08-24 21:14] lucas992x commented on #75
[Inserire lo sticker che sappiamo]

[2019-08-24 21:22] StygianStar commented on #75
Quindi credo capiti anche con RBG

[2019-08-24 21:25] CiaobyDany commented on #75
@StygianIrene Imo si mantiene comunque l'ordine dei giochi ma non si fanno divisioni. C'erano tanti strumenti anche in quei giochi tali da aver effettivamente bisogno dei separatori?

[2019-08-24 21:33] StygianStar commented on #75
(Ovviamente capita anche con RBG, ma già da RZS cominciano a categorizzare... Anche se al Centro Commerciale di Alghepoli c'è qualche caso strano)

Comunque le liste in quei giochi di solito sono corte, ma è un peccato non poterle categorizzare come negli altri casi

Edit: se capita anche per RBG è un problema mergearle con i Market di RFVF che invece sono categorizzati

[2019-08-25 08:38] lucas992x commented on #75
Fammi capire, di solito RBG e RFVF hanno gli stessi strumenti (o quasi) ma in RFVF hanno cambiato l'ordine per categorizzarli?

[2019-08-25 09:59] StygianStar commented on #75
In realtà non ho controllato se è realmente così, ma ho visto che in RFVF gli strumenti dei Market più avanzati sono categorizzati, mentre in RBG no

[2019-08-26 17:21] lucas992x opened #76 "Template navigazione meccaniche di gioco"
Apro questa issue se no va a finire che me ne dimentico.

## Descrizione
Tecnicamente abbiamo un [template navigazione](https://wiki.pokemoncentral.it/Template:Meccaniche_di_gioco) per le meccaniche di gioco, ma ci sono solo 5 voci delle 180+ esistenti. Ce ne vorrebbe uno completo.

## Pagine affette
https://wiki.pokemoncentral.it/Categoria:Meccaniche_di_gioco

## Cose da fare/discutere
https://wi

[2019-08-28 07:53] flavio-a commented on #73
Lavorando a questa issue ho riscontrato il seguente problema:
ci sono alcune mosse apprese tramite accoppiamento che cambiano i genitori tra giochi della stessa generazione. Il motivo è che vengono introdotti nuovi tutor, ma il punto è che i genitori cambiano completamente. Esempio: [Bodyguard per Geodude in sesta gen](https://wiki.pokemoncentral.it/Bodyguard#Tramite_accoppiamento).
Al momento que

[2019-08-28 08:03] flavio-a commented on #76
A me piacerebbe dividere in base a dove intervengono, ma bisogna poi vedere quanto vengono grossi i gruppi, perché se dividi in 3 gruppi enormi è come non dividere.
Come proposte di categorie vi sparo "in lotta", "in gara", "esplorazione", "allevamento" (accoppiamento, allenamento pro, ... tutte quelle cose che riguardano appunto l'allevamento di un Pokémon), "stato" (robe tipo abilità, IV, EV, st

[2019-08-28 08:05] flavio-a commented on #41
Up

[2019-08-28 08:15] CiaobyDany commented on #73
@flavio-a Perché? Non è così?

[2019-08-28 08:24] flavio-a commented on #73
Ecco, fantastico.
No, l'elenco di genitori è un aiuto a chi vuole fare breeding perché indica quei Pokémon a cui è "facile" far imparare la mossa che vuoi passare al nascituro. In realtà ogni Pokémon che conosce la mossa ad ha un gruppo uova in comune è un possibile genitore per trasmettere la mossa, come poi viene detto nella pagina delle mosse uovo (esempio scemo: i Pokémon della stessa specie,

[2019-08-28 08:26] lucas992x commented on #76
Ora che ci penso, bisogna anche considerare che alcune voci andranno in più categorie: per esempio le abilità andranno sia nella categoria __Lotta__ che in __Esplorazione__, e forse pure altrove. C'è da sperare che non siano troppe voci a fare così, altrimenti il template si allungherebbe parecchio.

Comunque, se non avete altre idee/proposte nei prossimi giorni provo a realizzare entrambe le poss

[2019-08-29 20:29] lucas992x commented on #76
Meanwhile, creiamo anche la sottocategoria __Meccaniche di gioco spin-off__?

[2019-08-30 12:26] flavio-a commented on #76
Se proprio hai voglia di sistemare le pagine sì

[2019-08-30 13:20] lucas992x commented on #76
Se con "sistemare le pagine" intendi "aggiungere la categoria alle pagine e metterle in coda nella lista di cose che sarebbero da fare ma nessuno ne ha voglia" allora sì :D

[2019-09-01 08:04] flavio-a commented on #32
https://wiki.pokemoncentral.it/Utente:Ff300/sandbox
Guardate Charmander quando ce ne sono almeno due affiancati e ditemi se vi va bene così. Altrimenti si sistema in poco, solo che bisogna aggiungere un flex che se va bene già così mi risparmio (sempre per tenere più leggera la pagina, anche se non so davvero quando influenzi le prestazioni. Si potrebbe provare, in effetti. Ma vabbe, tanto se dite

[2019-09-01 09:18] lucas992x commented on #32
Ma non credo serva un flex in più, dovrebbe bastare un `height-100` al posto giusto (guarda per esempio la [mia sandbox](https://wiki.pokemoncentral.it/Utente:Lucas992/Sandbox#anti-flex)).

[2019-09-01 12:33] lucas992x commented on #76
Ho messo [qua](https://wiki.pokemoncentral.it/Utente:Lucas992/ProveTemplate/AltreProveTemplate5) le due proposte e aggiornato il post iniziale per scrivere tutte le cose da fare, in particolare invoco @flavio-a @Cruifer @StygianIrene per MD, Ranger e quant'altro. Ora le mie considerazioni sui vari punti da discutere.
- La divisione per generazioni ha il vantaggio che non ci sono ambiguità né doppi

[2019-09-01 15:46] flavio-a commented on #32
https://wiki.pokemoncentral.it/Utente:Ff300/sandbox
Versione definitiva, prendere o lasciare. Ok, magari non così drastici, però a me sembra buona. Come su Faccialibro o Tuotubo, pollice in su o commento qua sotto se vi piace.

[2019-09-01 16:15] lucas992x commented on #32
Il mio OCD mi dice che bisognerebbe uniformare lo spazio fra le caselle ed il bordo, ma comunque approved 👍

[2019-09-01 16:25] flavio-a commented on #76
Per Ranger: bisogna aggiungere [Poké Tattica](https://wiki.pokemoncentral.it/Pok%C3%A9_Tattica), [Mossa (Ranger)](https://wiki.pokemoncentral.it/Mossa_(Ranger)) e direi anche [Styler di Cattura](https://wiki.pokemoncentral.it/Styler_di_cattura), a cui provvederò ad aggiungere la sezione sulla cattura (che c'è già su Bulba, basta tradurre quella).
Per MD: mi pare ci sia tutto (in sostanza la pagina

[2019-09-02 09:44] lucas992x commented on #76
Comunque direi che siamo d'accordo sulla divisione in categorie, a meno che qualcun altro non usi argomentazioni abbastanza convincenti da farci cambiare idea, quindi ho tolto la divisione per generazioni.
Per le sottovoci, ne ho tolte un po' (secondo box) e penso che quelle rimaste si possano lasciare.

[2019-09-02 09:56] Cruifer commented on #61
ho fatto una prova in [sandbox](https://wiki.pokemoncentral.it/index.php?title=Utente:Cruifer/Sandbox&oldid=746633), al contrario di quel che pensavo inizialmente la soluzione migliore è il blackabbrev (ho fatto solo RB e LGPE per comodità, tanto più o meno l'effetto è quello)

[2019-09-02 10:12] flavio-a commented on #76
@lucas992 A me piace il secondo

[2019-09-02 12:38] lucas992x commented on #61
Però così non lo trovo comodo. Non è meglio mettere i box bianchi e dentro un `blackabbrev`/`colorabbrev` a seconda della disponibilità?

[2019-09-02 13:34] Cruifer commented on #61
secondo me così diventa difficile da interpretare, in base a cosa il black significa disponibile e color no? risulta un po' confusionario imo

[2019-09-02 13:56] flavio-a commented on #61
@Cruifer in base al fatto che è così in tutto il sito

[2019-09-02 14:03] lucas992x commented on #61
Esatto, e comunque negli esclusivi di versione c'è scritto *solo NomeVersione*, quindi non penso che qualcuno possa non capire la disponibilità guardando questo template.

[2019-09-02 14:06] Cruifer commented on #61
ok, vedo di implementare

[2019-09-03 23:26] Cruifer commented on #61
update: ho quasi fatto, l'unica cosa è che c'è da modificare un paio di moduli per aggiungere le sigle del Parco Amici e di Blu jappo da solo. In realtà le modifiche le ho già fatte in locale, ma ho paura di aver sbagliato qualcosa quindi se domani qualcuno tipo @davla o @flavio-a ha voglia di darci un'occhiata mi farebbe un favore

[2019-09-04 08:48] lucas992x commented on #61
@Cruifer ma non puoi semplicemente fare qualche test in locale per controllare di non aver rotto nulla?

[2019-09-04 09:19] lucas992x commented on #76
Domanda prima di renderlo definitivo: come colore lasciamo sempre `pcwiki` o ne mettiamo uno appropriato per ogni pagina?

[2019-09-04 10:12] flavio-a commented on #76
@lucas992 pcwiki ignorante

[2019-09-04 10:14] flavio-a commented on #61
@Cruifer definisci "in locale" e in che modo posso controllarle (perché se sono sul tuo pc faccio fatica)

[2019-09-04 10:46] lucas992x commented on #76
Ok, con comodo lo inserirò nelle pagine e poi chiuderò la issue.

[2019-09-04 16:08] Cruifer opened #77 "Proposte github/pcw"
Mi erano venute in mente due idee e ho pensato di condividerle con voi, magari ne caviamo fuori qualcosa di utile. Pensavo in primis di aggiungere tre label per dare un'idea di quanto è prioritaria un issue (ad es priorità bassa/media/alta con colori diversi e facilmente riconoscibili); fra l'altro è anche abbastanza complementare ai milestones (anche se non hanno un grosso seguito da noi lol). L'

[2019-09-04 16:17] lucas992x commented on #77
Mi piacciono entrambe le proposte. Per la prima però io farei solo una label "Alta priorità", o al massimo due, lasciando senza questa label le issue a bassa priorità. Ci vedrei bene come colore il rosso, eventualmente si può cambiare la label "Bug" in arancione o giallo per non far confusione.

[2019-09-04 17:29] Cruifer commented on #77
@lucas992 Avevo proposto di mettere anche la label per priorità bassa per una questione di raggruppamento, così uno che ha un po' di tempo libero può mettersi lì e vederle tutte e decidere quale risolvere, però sono aperto anche alla tua proposta

[2019-09-05 12:17] Cruifer commented on #61
fixato, thx @flavio-a per l'aiuto. chiudo.

[2019-09-05 12:17] #61 closed, assigned to lucas992x

[2019-09-05 19:00] Cruifer commented on #77
nessun'altro ha nulla da dire in merito a questa issue?

[2019-09-05 19:55] CiaobyDany commented on #77
Ci ho messo 3 minuti per entrare qui dentro quindi sì, mettiamo il cazzo di link in sidebar. Va bene anche per le priorità.

[2019-09-05 20:19] Cruifer commented on #77
ok, a questo punto c'è bisogno dell'iconcina svg da mettere a sinistra del link. Qualcuno sa/si ricorda come era stato fatto per i social? Ah e serve anche un burocrate per editare il css e la sidebar

[2019-09-05 20:20] lucas992x commented on #77
Oppure un Gika che si decida a modificare i permessi :D

[2019-10-16 20:21] lucas992x commented on #55
Ecco l'[idea generale](https://wiki.pokemoncentral.it/Utente:Lucas992/ProveTemplate). I box bianchi contenenti gli sprite non hanno larghezze fissate, sono semplicemente infilati dentro un `flex flex-row flex-wrap flex-items-stretch flex-main-stretch`. Vorrei impostare le larghezze, in modo da evitare che con certe dimensioni si abbia una riga con 5+ sprite e sotto una riga con un singolo sprite,

[2019-10-16 20:34] CiaobyDany commented on #55
@lucas992 Tralasciando il fatto che apparentemente l'artwork di Deoxys è buggato e non saprei come interpretare la cosa, come idea di base mi piace, non vedo grossi problemi a fare roba strana con 5 sopra e uno sotto (soprattutto se parliamo letteralmente di tre casi), ma vorrei vedere un esempio di uno con due forme e con differenze di sesso per farmi un'idea di come vengano.

[2019-10-16 20:37] CiaobyDany commented on #55
@CiaobyDany Ah, e ovviamente sti gran cazzi di mettere i retro per ogni gioco direi, anzi, visto che il nuovo layout è più "flessibile" (did you get the joke? *occhiolino*), se si riuscissero a raggruppare ulteriormente i fronte considerando che abbiamo esattamente gli stessi modelli da XY a UsUl imo è un gran passo avanti.

[2019-10-16 20:38] lucas992x commented on #55
@CiaobyDany l'artwork di Deoxys è buggato probabilmente per i problemi di cache, aprendolo risulta ok.

Comunque, ogni generazione può essere gestita come vogliamo, quindi potremmo anche decidere di fare una cosa per questi sprite jappi e un'altra per le differenze di forma.
Da valutare seriamente anche l'accorpamento di sesta e settima generazione quando possibile!

[2019-10-17 06:35] flavio-a commented on #55
@lucas992 Possibile è possibile sempre, i file sono dei redirect.
Approvo anche le cose anarchiche di 5 sprelli sopra e uno sotto, ma occhio con i modelli che sono più grossi e non vorrei che ne finisse mezzo per riga

[2019-10-17 10:20] lucas992x commented on #55
Io invece preferirei evitare sbilanciamenti del genere, cercherei piuttosto di distribuirli in modo più uniforme.
Per la questione modelli, quelli di XY se non erro hanno dimensione di 150px e quindi anche su uno schermo 320px dovrebbero stare comodamente in 2 per riga.

[2019-10-17 12:04] flavio-a commented on #55
@lucas992 Falso, 20px sono pochissimi considerando che c'è il margine del template, lo spazio in mezzo e il margine della pagina.
E comunque molti modelli sono più grandi

[2019-10-17 12:12] lucas992x commented on #55
@flavio-a ci infilo un img-fluid? Così sui display veramente stretti si rimpicciolisce appena. (A parte che prima di arrivare alla sesta generazione ne passerà di tempo...)

[2019-10-18 17:52] lucas992x opened #78 "Articolo sulle differenze di forma"
## Descrizione
Questa pagina è piuttosto lunga, e peggiorerà sempre di più. Vediamo cosa si può togliere o spostare.

## Pagine affette
https://wiki.pokemoncentral.it/Differenze_di_forma

## Risoluzione del problema
Ecco le prime cose di cui vorrei discutere, poi ovviamente se ce ne sono altre dite pure (adesso ho guardato la pagina di fretta perché fra non molto devo staccare).
- Pikachu: avendo

[2019-10-18 18:03] lucas992x commented on #55
Ho aggiunto la terza generazione, dove Deoxys viene gestito a parte essendo un caso unico, discuteremo poi anche di lui (intanto cerco di finire il resto con un po' di pazienza).

Domanda non troppo related: sembra che fra gli sprite di Smeraldo cromatici frontali solo quello di Deoxys sia animato, ha senso rimediare creando automaticamente i redirect ai rispettivi file .gif o non verranno mai car

[2019-10-19 15:35] flavio-a commented on #55
Mi sembra l'idea migliore, anche perché `img-fluid` è una cosa che vuoi mettere più o meno sempre alle immagini.

[2019-10-19 16:37] CiaobyDany opened #79 "Template di navigazione mosse Z/dynamax-gigamax"
## Descrizione
Ho pensato che potrebbe essere carino avere un template di navigazione delle mosse Z (solo di quelle offensive ovviamente, le 8000 mosse Z di stato non interessano a nessuno e non hanno nemmeno un articolo dedicato) e delle mosse Dynamax/Gigamax (unico direi, non avrebbe molto senso spezzarlo visto che il principio è lo stesso). Scrivo qui perché ora non ho tempo di farlo e non ho i

[2019-10-19 16:53] lucas992x commented on #79
Come layout prenderei lo stesso del template navigazione dei Cristalli Z; possiamo poi valutare se togliere la cella bianca in fondo o tenerla per metterci i link ai template navigazione contenenti gli elenchi delle mosse dei vari tipi.
Also, se invece di colorare i nomi delle mosse Z affiancassimo a queste gli sprite dei Cristalli Z corrispondenti?

[2019-10-19 16:55] CiaobyDany commented on #79
@lucas992 Approvatissimo per le mosse Z mettere i cristalli, mi ero focalizzato sulle dynamax/gigamax (da qui in avanti dygamax perché mi sono rotto i maroni) e non ci avevo pensato, bell'idea

[2019-10-20 13:44] lucas992x commented on #79
Come vi sembra? https://wiki.pokemoncentral.it/Template:Mosse_Z

[2019-10-20 15:09] lucas992x commented on #55
@CiaobyDany dovrei aver finito la parte della quarta generazione, che mostra un po' di casi con differenze di forma e di sesso. Sulla fila di MS che dà errore con Pichu indagherò poi.

[2019-10-22 23:49] StygianStar commented on #78
Mi addosso io l'onore di sistemare l'articolo delle varianti di Pikachu.

[2019-10-23 12:15] lucas992x commented on #55
Mi è appena venuto in mente un possibile cambiamento: quale delle due preferite?
Attuale:
![attuale](https://user-images.githubusercontent.com/38510975/67391607-53708900-f59f-11e9-8e51-3b23cca4fc32.png)
Proposta:
![proposta](https://user-images.githubusercontent.com/38510975/67391608-53708900-f59f-11e9-9647-9bb473f49253.png)

[2019-10-23 12:44] flavio-a commented on #55
Attuale

[2019-10-23 17:03] StygianStar commented on #24
Rispolvero questa discussione perché ho una domanda.
Visto che i termini italiani probabilmente non li conosce nessuno eccetto noi, perché noi non spostiamo tutto negli articoli giusti? Ovviamente precisando, nei rispettivi articoli, che in inglese o su Bulba vengono chiamati così e colà?

[2019-10-23 17:07] CiaobyDany commented on #24
@StygianIrene Non ho capito la domanda. Cosa intendi con "termini giusti"? Noi al momento stiamo cercando di avere tutti gli articoli con il nome ufficiale italiano come titolo, ma mantenendo i redirect dai termini comunemente usati.

[2019-10-23 17:19] StygianStar commented on #24
Scusate, ho avuto un attimo di delirio per il casotto che ha fatto Bulba e per cui sto bestemmiando da ieri sera, ora dovrei essere tornata in carreggiata.
Ho una richiesta, però. Qualcuno controlli nella mia [sandbox](https://wiki.pokemoncentral.it/Utente:Stygian/Sandbox#Speciali) che i termini che ho scritto siano giusti (e che quindi confermi che ho capito tutto il casotto tra "punti individual

[2019-10-23 17:44] lucas992x commented on #24
Una cosa sulla megaevoluzione nel turno in cui viene attivata: in sesta generazione l'ordine del turno è stabilito in base alla Velocità della forma base, mentre in settima si guarda subito alla forma megaevoluta. Va chiarito secondo me.

Comunque ti ho annotato le corrispondenze direttamente nella sandbox!

[2019-10-23 18:23] StygianStar commented on #24
Grazie mille, poi lo preciso.

Comunque non so se sia il posto dove segnalarlo, ma quello che nel Wiki è "K.O." ("fainting" in inglese) in realtà è "KO" senza puntini nei dump più recenti. L'inglese "fainted" corrisponderebbe ad "esausto".
Devo ancora controllare se in prima o in terza generazione viene chiamato differentemente.

C'è anche "Pokémon-Market" col trattino che ho segnato per non dimen

[2019-10-23 18:51] lucas992x commented on #24
Guarda, quasi quasi potremmo creare una pagina "ufficiale" per elencare i termini comuni ed il loro nome nelle varie generazioni, maiuscole comprese. Dopotutto è una cosa che fa comodo in generale.

[2019-10-23 18:53] StygianStar commented on #24
Sì, si potrebbe fare.

[2019-10-23 22:11] CiaobyDany commented on #24
@StygianIrene APPROVATISSIMO FARE UNA PAGINA DI REFERENCES. Meta:Glossario termini ufficiali o una roba del genere

[2019-10-24 09:18] lucas992x commented on #24
https://wiki.pokemoncentral.it/Utente:Lucas992/ProveTemplate/AltreProveTemplate5
La strutturiamo in questo modo? O suggerite qualcosa di diverso?

[2019-10-24 10:51] StygianStar commented on #24
Anch'io sono per un articolo Meta:Glossario termini ufficiali.
Luca, per me va bene, ma io sarei più precisa.
Ora non sono al PC, ma farei le colonne divise in questo modo:

Nome | L'ultimo gioco dove viene menzionato così | Note in tt? (se viene scritto così o colà da qualche altre parte, eccezioni varie, ecc.)

[2019-10-24 11:07] lucas992x commented on #24
Le note le metterei come testo sempre visibile, non in  `tt`. Ma è da valutare anche quante note ci saranno, se sono poche forse non conviene.

[2019-10-24 11:12] StygianStar commented on #24
Va bene. Teoricamente comunque non serve assolutamente a niente il tt perché la colonna delle menzioni non dovrebbe essere così lunga (o addirittura si potrebbero mettere solo le sigle del gioco)

[2019-10-24 11:19] lucas992x commented on #24
@StygianIrene io davo per scontato che avremmo messo semplicemente le sigle :D

[2019-10-24 11:23] StygianStar commented on #24
Allora per me va bene

[2019-10-24 13:40] lucas992x commented on #24
Così va meglio? https://wiki.pokemoncentral.it/Utente:Lucas992/ProveTemplate/AltreProveTemplate5

[2019-10-24 13:43] StygianStar commented on #24
Direi che così per me è perfetto

[2019-10-24 15:25] StygianStar commented on #24
(si potrebbe pure templatizzare dato che mi sa che ci sarà una grossa mole di contenuti)

[2019-10-28 19:17] CiaobyDany commented on #76
Proposta: e se mettessimo il link a Lotta Pokémon nel div di intestazione come per le Gare e lo togliessimo dall'elenco? In alternativa anche le Gare avranno il link in elenco e non nell'intestazione, questa asimmetria triggera molti OCD, lo so.

[2019-10-28 19:28] lucas992x commented on #76
La casella arancione con l'etichetta _Lotte_ è già un link. In effetti da lì si può togliere la voce _Lotta Pokémon_.

[2019-10-28 20:34] CiaobyDany commented on #76
@lucas992 Ah, che pirla, avevo fatto il check dalla pagina stessa di Lotta Pokémon ed ovviamente lì non mi apriva nulla 😂😂😂😂

[2019-11-02 19:34] StygianStar commented on #24
Avviso che ho creato l'articolo del Meta:Glossario termini ufficiali

[2019-11-02 19:48] CiaobyDany commented on #24
@StygianIrene Brava!

[2019-11-04 16:17] lucas992x opened #80 "Aggiornamento SpSc: parte tecnica"
Come al solito metteremo sul forum la parte sui contenuti e qui le questioni tecniche (che aggiungeremo man mano che ci vengono in mente).
- [x] https://wiki.pokemoncentral.it/Template:Zone
- [x] https://wiki.pokemoncentral.it/Template:Dex:
    - [x] Aggiungere le entry per SpSc (fatto, appaiono solo se presenti)
    - [x] Decidere se vogliamo nascondere le voci non presenti o mostrare l'avviso di

[2019-11-05 15:48] CiaobyDany opened #81 "Modifiche da effettuare nei template spindata"
## Descrizione
Nicola ha deciso di aggiornare gli spindata e quindi si sta rendendo conto di alcune cose da sistemare. Apro la issue o sicuramente me ne dimentico in 10 minuti.
Cose da sistemare:

- [x] [/Ranger](https://wiki.pokemoncentral.it/Template:Spindata/Ranger): manca numero navigatore
- [x] [/RangerOsA](https://wiki.pokemoncentral.it/Template:Spindata/RangerOsA): manca numero navigatore
-

[2019-11-05 21:09] CiaobyDany commented on #81
@CiaobyDany In Ranger TL bisogna anche controllare le tattiche perché usano le icone sbagliate (ranger base al posto di TL, ma dovremmo avere i file caricati)

[2019-11-05 21:32] CiaobyDany commented on #81
@CiaobyDany E controllare gli sprite di Shuffle caricati che sembra manchino diverse forme alternative.

[2019-11-05 22:37] CiaobyDany commented on #81
@CiaobyDany E controllare anche alcuni casi in cui non ci sono width-xl-50 e i box vengono scentrati triggerando fortissimo l'OCD di chi li guarda

[2019-11-06 09:15] flavio-a commented on #80
In realtà ci sono da aggiornare anche movelist e learnlist (non solo con i dati ma proprio per supportare l'ottava gen), ma diventa inutile se riesco a chiudere #73 in tempo (e penso di farcela, alla peggio uso un workaround brutto finché non riesco a sistemare davvero).

Per quanto riguarda i Pokémon che non ci sono in SpSc: io farei come nel [template zone](https://wiki.pokemoncentral.it/Templat

[2019-11-06 09:21] CiaobyDany commented on #80
@flavio-a Ok Flavio tu cortesemente lavora solo alla #73 e nessuno fa nulla su quel fronte finché tu non hai finito (niente workaround brutti, non voglio perdite di tempo)

Proposta per i giochi in cui non sono codificati i Pokémon: è tanto impossibile fare varianti alternative delle sigle in b/n per evidenziare maggiormente l'assenza in senso assoluto, incluso tramite scambi? Ha senso farlo? Disc

[2019-11-06 09:26] flavio-a commented on #81
Quali di queste cose gli impediscono di lavorare/lo costringono a fare un secondo giro sulle pagine? Perché se sono poche e veloci posso pensare di sistemarle subito, altrimenti aspettano SpSc.

Le immagini di GO e Shuffle sono da caricare, devo trovarle e rinominarle quindi aspettano.
Le icone di TL idem.
La width si possono aggiustare nella singola chiamata perché lo spindata è "composto", nel s

[2019-11-06 09:27] flavio-a commented on #73
Memo: prima di chiudere questa issue c'è da aggiornare https://wiki.pokemoncentral.it/Meta:Progetto_mosse_e_abilit%C3%A0/Mosse

[2019-11-06 09:30] CiaobyDany commented on #81
@flavio-a Nessuna gli impedisce di lavorare, al momento va troppo a rilento per poter creare un serio disagio a fargli fare due giri.

Le icone di TL in realtà ha detto che sono presenti in pagine specifiche, bisogna solo sistemare la nomenclatura.

Ottimo sulle width! Non avevo ancora avuto tempo di controllare bene il codice, glielo riferirò per sistemare

[2019-11-06 11:17] CiaobyDany commented on #81
Aggiornato OP con le altre problematiche emerse.

[2019-11-06 11:56] CiaobyDany commented on #81
Allora, sulle icone delle tattiche deve guardarci qualcuno che ci capisca qualcosa del gioco che io tra tattiche, mosse tipi ecc. mi sono perso. Mi pare di capire che ci sia inconsistenza rispetto a Bulba. Check:
[Fiore Bulba](https://bulbapedia.bulbagarden.net/wiki/List_of_Pok%C3%A9mon_by_Fiore_Browser_number), [Fiore PCW](https://wiki.pokemoncentral.it/Elenco_dei_Pok%C3%A9mon_secondo_il_Navigato

[2019-11-06 12:32] lucas992x commented on #80
Per il template Dex io manterrei la soluzione usata per la settima generazione, che mi sembra piuttosto efficace, ecco un esempio:
![scr](https://user-images.githubusercontent.com/38510975/68297340-fa245180-0096-11ea-869e-f5d1cdc89998.png)

Per Zone, non sarebbe male rifarlo completamente in modo che sia simile a Dex (in modo da avere un layout più consistente possibile per i vari template nelle p

[2019-11-06 13:24] flavio-a commented on #80
I tempi non dipendono (troppo) da me, devo fare prove sul sito quindi sono limitato ad un tentativo al giorno la mattina presto (il bot carica, vedo cosa non va e o fixo sul momento o reverto), e anche andare di sandbox ha i suoi limiti perché provare sulle pagine vere mi fa trovare più bug. Quindi ho tempo per fare altro dopo che ho preparato la prova del giorno successivo.

Il primo problema che

[2019-11-06 13:42] CiaobyDany commented on #80
@flavio-a Ah, claro, allora organizzati come meglio credi

NB non mi paiono un vero problema perché fino alla sesta tutti i Pokémon sono presenti nel codice di gioco, quindi quelli non presenti sono solo quelli introdotti successivamente ma in quel caso si mette il solito avviso "questo Pokémon è stato introdotto in n-esima generazione" togliendo i box delle generazioni precedenti. Posto che la so

[2019-11-06 13:57] flavio-a commented on #81
Ho sistemato io adesso, ho anche messo a posto il layout

[2019-11-11 17:33] lucas992x commented on #55
L'ho reso definitivo, quindi chiudo. Se dovremo nuovamente discuterne per i prossimi modelli riapriremo questa issue.

[2019-11-11 17:33] #55 closed, assigned to lucas992x

[2019-11-12 16:58] CiaobyDany commented on #81
@flavio-a To do:
Aggiungere 4 icone PP2 weak/strong
Fare redirect/linkare icone PP in sezione PP2

[2019-11-12 16:58] CiaobyDany commented on #81
@CiaobyDany Sorry Flavio non volevo taggarti. Check: capire cosa fare con i costumi di GO

[2019-11-16 09:13] flavio-a commented on #62
Sono usciti SpSc, chiudo come da commento.

[2019-11-16 09:13] #62 closed, assigned to flavio-a, davla

[2019-11-16 11:21] flavio-a commented on #73
Punto della sitauzione.
Al momento i learnlist (pagine dei Pokémon) sono completamente automatici salvo per gli eventi e per LGPE, e mi sembra un risultato più che sufficiente.
I movelist (pagine delle mosse) invece sono una nota più dolente. Dato che non ci sono i dati di LGPE non sono completamente automatici ma hanno bisogno di sapere appunto le cose di LGPE. Al momento la chiamata (si fa con i

[2019-11-19 13:55] flavio-a commented on #80
Nota a caso per chiunque aggiorni il `MossaInfobox`: prova a guardare https://wiki.pokemoncentral.it/Modulo:MovesData

[2019-11-20 15:45] CiaobyDany opened #82 "GOlist crea TLE su GOdex"
## Descrizione
Come da titolo la versione vecchia del GOlist creava TLE nella pagina GOdex, pertanto ne ho modificato le funzioni in modo che richiami il modulo per le forme alternative solo se chiamato > rimosse 800 chiamate al modulo. Tuttavia ci sono altre pagine che usavano quella funzionalità (male, peraltro) e bisognerebbe controllarle e sistemarle.

## Pagine affette
https://wiki.pokemoncen

[2019-11-21 20:21] lucas992x commented on #80
Sto iniziando a dare un'occhiata al template `MossaInfobox`, e c'è una cosa di cui vorrei discutere. Giustamente Flavio ci fa notare che alcune info le potremmo prendere dal modulo apposito per non dovercene più preoccupare; vorrei però far notare due controindicazioni.
- Gli utenti non potranno più aggiornare queste info, dovrà farlo uno di noi (sperando che non sia uno di quei moduli da editare

[2019-11-25 17:17] #76 closed, assigned to lucas992x

[2019-11-30 18:55] lucas992x opened #83 "Standardizzazione infobox"
Su PCW abbiamo numerosi [infobox](https://wiki.pokemoncentral.it/Categoria:Template_Infobox), ma nonostante siano molto simili ci sono vari aspetti per cui non viene seguito un vero e proprio standard. I passi principali di questa issue sono:
- [x] Stabilire uno standard per gli elementi che presentano discrepanze, ed individuare i casi speciali per cui vale la pena di usare qualcosa di diverso.

[2019-12-01 11:18] Cruifer commented on #77
Chiudo perché ho visto che il buon @Snorlite ha aggiunto il link

[2019-12-01 11:18] #77 closed, assigned to Cruifer

[2019-12-01 11:47] Cruifer commented on #83
Per l'header si era già deciso uno standard, vedi #34 in fondo

[2019-12-02 07:58] lucas992x commented on #83
Thanks, chi se lo ricordava più. Il primo pezzo quindi è già fatto :D

[2019-12-04 12:47] #82 closed, assigned to CiaobyDany

[2019-12-18 13:29] lucas992x commented on #83
https://wiki.pokemoncentral.it/Utente:Lucas992/ProveTemplate#Infobox commenti? Suggerimenti? Altro?

[2019-12-21 13:55] StygianIrene commented on #83
A me piace

[2019-12-21 14:38] StygianStar commented on #83
Per l'header direi che quello utilizzato nell'Infobox degli strumenti lo trovo davvero comodo e pulito, specie per nomi che potrebbero essere molto lunghi (e anche le bandierine mi piacciono). Per i casi degli slogan direi di abolirli direttamente dalle pagine dei luoghi perché ci siamo fatti il mazzo per il template `sign`; quindi questi vanno nella loro sezione apposita (vedi luoghi e città di J

[2019-12-21 16:05] lucas992x commented on #83
Confermo che numerosi infobox hanno uno slogan, PNG ma non solo:
![20191221_165340](https://user-images.githubusercontent.com/38510975/71310301-e482a580-2412-11ea-9771-c13157431216.png)
![20191221_165733](https://user-images.githubusercontent.com/38510975/71310315-00864700-2413-11ea-8788-c7cd9810948e.png)
Per le città ok, approvo la rimozione in favore del `sign` (mi pare che l'avessimo già concor

[2019-12-21 18:06] StygianStar commented on #83
A questo punto possiamo trattera la categoria dei Pokémon come se fosse uno slogan degli altri infobox.

[2019-12-22 14:41] lucas992x commented on #83
E mettiamo invece il numero di Dex di fianco al nome? Come idea mi piace.

[2019-12-22 19:33] StygianStar commented on #83
Sì, esattamente. Bisogna vedere se inserire a destra o a sinistra il numero (anche a sinistra non penso sia male come idea).

[2019-12-22 19:59] StygianStar opened #84 "Rivisitazione della struttura degli articoli dei Pokémon"
## Descrizione
L'issue è nata da una mia proposta riguardo la sezione "Biologia" degli articoli dei Pokémon.
La sezione è veramente una piaga: l'utenza attiva è quella che è e stare dietro a tutte queste sottosezioni è pressocché impossibile, infatti non ci riusciamo (e molto probabilmente mai ci riusciremo).
Da qualche anno Bulba ha deciso di tagliare tutte le sottosezioni (che noi abbiamo manten

[2019-12-23 21:48] lucas992x commented on #84
Considerazioni:
- La sezione fisionomia e quella sull'origine potrebbero essere accorpate, però una sta all'inizio della pagina e l'altra alla fine, quindi non è così immediato.
- Secondo me potrebbe star bene accorpare tutto nelle due sezioni fisionomia e comportamento, ed in quest'ultima infilarci anche quelle info che ora stanno nelle abilità speciali, togliendo invece del tutto habitat e dieta

[2019-12-24 11:32] flavio-a commented on #84
Approvo molto l'idea di unire Abilità speciali, Comportamento, Habitat e Dieta nell'unica sezione Comportamento. Poi approvo sfoltire le differenze di sesso, e per le forme alternative farei
[code]
Perché mi immagino che una persona cerchi le tutte le informazioni su una certa forma di Vulpix più che le informazioni sulla fisionomia di tutte le forme. A tal proposito mi assumo la colpa di aver fat

[2019-12-24 20:30] StygianStar commented on #84
Direi che per il momento mi trovo in linea con la proposta appena fatta da Flavio.

[2019-12-28 10:28] lucas992x commented on #84
Direi che ci sta. Altre cose:
- Abbiamo casi estremi come Pikachu o Vivillon. Il primo nella maggior parte dei casi è letteralmente lo stesso Pokémon con indosso un cappello o dei vestiti, mentre il secondo è sempre lo stesso Pokémon solo di colore diverso: magari possiamo valutare qualche accorpamento per non avere millemila sezioni.
- Habitat e dieta le togliamo completamente? Il primo a volte n

[2019-12-28 10:48] CiaobyDany commented on #84
@lucas992 Le differenze di sesso io le metterei come sezione solo quando presente ed abolirei la sottosezione nel 90% dei Pokémon rimanenti. Anche perché dalla quinta in avanti le differenze di sesso interessano un numero molto esiguo di Pokémon ma in cui sono estremamente significative (Jellicent, Pyroar, Meowstic, ecc.)

[2019-12-28 12:31] StygianStar commented on #84
Per quelle forme si potrebbe pensare ad un reinderizzamento agli articoli dedicati? Tipo quella delle varie varianti di Pikachu?

Sì e se esistono le accorperei alla sezione Comportamento.

Io sarei per accorpare a Fisionomia, ma se la sottosezione compare solo quando è presente effettivamente una differenza come dice Dany, va bene... Però uhm.

Nope.

[2019-12-28 13:34] lucas992x commented on #84
@CiaobyDany in realtà non è vero, ci sono moltissimi Pokémon con differenze di sesso più o meno apprezzabili, non solo quei 4/5 con differenze radicali: il taglio nella pinna di Garchomp, i "capelli" di Milotic, il rossetto di Wobbuffet, e tanti altri.

@StygianIrene con Pikachu approvissimo linkare gli articoli dedicati, così della sua sezione possiamo dimenticarci o quasi. Per il resto potremmo

[2019-12-28 13:35] CiaobyDany commented on #84
@lucas992 Ti sei perso un "dalla quinta in avanti"

[2019-12-28 16:51] lucas992x commented on #83
Ho applicato tutto ciò ad `ItemInfobox`, aprite una qualsiasi pagina di uno strumento per vedere i risultati

[2019-12-28 19:26] StygianStar commented on #83
Per me è ok!

[2019-12-30 15:53] mexicat commented on #68
Ho chiuso un po' di cose; per quanto riguarda questa:

è meglio di no perché il gruppo controllori permette l'accesso a dati sensibili degli utenti (email, IP) che per motivi di GDPR dovrebbero essere visibili al minor numero possibile di persone e non di default a tutti i sysop.

[2019-12-30 16:11] CiaobyDany commented on #68
Infatti si parlava di passare ai burocrati, non ai sysop in toto. Faccio presente che attualmente tutti i burocrati si sono autopromossi a controllori ad eccezione mia e di Flavio e che come argomentazione sinceramente mi pare un po' fallace nel momento in cui comunque appunto i burocrati possono autopromuoversi a controllori come è successo per tutti i casi negli ultimi 5 anni. Also, se mi parli

[2019-12-30 16:14] StygianStar commented on #83
Io sto provando a standardizzare l'`InfoCittà` [qui](https://wiki.pokemoncentral.it/Utente:Stygian/ProveTemplate). Dopo continuo.

[2019-12-30 16:22] lucas992x commented on #83
Noto comunque che alcuni infobox hanno ancora un utilizzo "antiquato" del modulo `css`, dato che inseriscono i colori a mano (tramite hex o invocando due volte il modulo colore). Sarebbe bello se riuscissimo ad aggiornare le varie pagine in modo da non dover implementare anche questa cosa nel template standardizzato, dopotutto si tratta di aprire le pagine e modificare rapidamente due righe in cim

[2019-12-30 16:27] StygianStar commented on #83
... Io ho capito e non ho capito (no, non ho sbagliato a scrivere) a cosa ti riferisci- L'`InfoCittà` ha questo tipo di problema da te descritto?

[2019-12-30 16:32] mexicat commented on #68
@CiaobyDany Scusa, per qualche motivo stavo pensando agli amministratori e ho basato il mio ragionamento su quelli. In questo caso allora la questione non si pone dato che appunto i burocrati si possono autopromuovere alla prima necessità. Meglio tenere i permessi più granulari possibile.

[2019-12-30 16:43] lucas992x commented on #83
Sì, perché alcune città per il colore usano semplicemente il parametro `type` (ed eventualmente `type2`), ma altre usano ancora `colorlight`, `colormed`, `colordark`. Nello specifico, ho fatto controlli rapidi a campione e:
- Kanto, Settipelago, Hoenn, Unima e Kalos temo abbiano ancora i vecchi praticamente tutte o quasi.
- Johto so che stavi aggiornando i vari luoghi, quindi immagino che la maggi

[2019-12-30 17:17] StygianStar commented on #83
Ah, ok! Sìsì, avevo visto, infatti pensavo a quanti parametri antiquati verranno finalmente eliminati con questa standardizzazione... Ma non credo ci sia molto in giro: darò comunque una controllata!

[2019-12-30 23:08] StygianStar commented on #83
Aggiornamento della situazione, dato che ho fatto la parte riguardante le palestre: [click](https://wiki.pokemoncentral.it/Utente:Stygian/ProveTemplate2).

Edit: Io e Luca discutevamo sullo spazio che c'è tra i titoli nei div (a me sembrava essercene troppo, ora è stato tolto ed è un po' più stretto) e lo spazio nel titolo dell'header (a me sembrava essercene poco, ora è stato aggiunto ed è pi lar

[2019-12-31 00:14] lucas992x commented on #83
Riassunto: abbiamo ingrandito leggermente il titolo e tolto il padding superiore ed inferiore ai divisori, così dovrebbe essere ok. Altra cosa di cui dovremmo discutere è la parte sulle Palestre: preferite la prima soluzione, che è praticamente presa pari pari dall'attuale (e ripetuta due volte), o quella standardizzata messa più sotto?

[2019-12-31 11:56] Cruifer commented on #83
Io terrei quella attuale, così almeno c'è un po' meno scrolling su mobile e si tengono un po' diversificati e "più originali" gli infobox tra loro (mi sono spiegato malissimo ma spero di aver reso l'idea)

[2019-12-31 12:40] StygianStar commented on #83
Anche io. Magari cambiarei giusto un paio di cose per rimanere in linea con gli altri Infobox: innanzitutto usarei il colore del tipo della palestra sul nome del Capopalestra e su quello del nome della medaglia.
Poi proverei a cercare una soluzione alternativa e più simpatica a "Specializzata nel tipo *tipo*", se possibile...

[2019-12-31 13:03] lucas992x commented on #83
Ok, ci sta. Magari possiamo accorpare le prime due scrivendo sotto al Capopalestra "Esperto di tipo Fuoco". Come colori direi che va bene lasciare la variante `light` del tipo per lo sfondo e quella `dark` per il testo. Per i casi come Blu lasciamo colore `Sconosciuto` o ci mettiamo proprio il suo?

[2020-01-06 10:59] flavio-a commented on #32
Adesso che Luca, che era uno dei miei oppositori sulla grafica, è in pausa vediamo di chiudere quest'issue così lo facciamo come piace a me 😈.
Boiate a parte: le due proposte le vedete [qui](https://wiki.pokemoncentral.it/Utente:Lucas992/ProveTemplate/AltreProveTemplate3), bisogna solo scegliere se lo vogliamo largo 80 o 100 da desktop. Io sono per width 80, se ben ricordo anche Dany è per 80 ment

[2020-01-07 18:03] CiaobyDany commented on #41
Riuppo la questione.
Innanzitutto per il normale>light>normale sui monotype su cui continuo ad essere favorevole. (per quanto riguarda i boxtipo sinceramente inizierei a considerare di cambiarli con le immagini dei tipi di SpSc che mi paiono sufficientemente grandi da non risultare pixelate e che non credo pesino troppo più di un box in gradiente, ma forse è meglio una issue a parte su questo)
In

[2020-01-07 18:05] CiaobyDany commented on #51
Uppo per ricordare dell'esistenza di questa issue visto che nessuno ci aveva mai guardato.

[2020-01-07 18:14] CiaobyDany commented on #75
Scusate, ma l'issue è ancora aperta per quale motivo? Dobbiamo decidere definitivamente il layout o è da implementare il template?

[2020-01-07 18:15] CiaobyDany commented on #78
Una divisione per generazioni è troppo drastica? Posto che comunque non avere dei riferimenti precisi negli articoli dei singoli Pokémon secondo me è molto confusionario per chi non sa che esiste quell'articolo.

[2020-01-07 18:17] CiaobyDany commented on #79
Va bene, ma eviterei il mosse per tipo sotto, perché nelle pagine ci sono già i template delle mosse per tipo.

[2020-01-07 18:18] CiaobyDany commented on #80
Considerando la mole di errori che ho trovato persistenti da anni e che sicuramente qualcosa mi sarà sfuggito sono totalmente favorevole ad inserire il riferimento dal modulo, ma direi che la cosa può avere priorità bassa ora che ho già sistemato tutto a mano.

[2020-01-07 18:23] CiaobyDany commented on #81
Allora, uppo facendo presente che Nicola sta mettendo sezioni separate per le forme di Alola/Galar in GO per fare box che abbiano gli head matchati al tipo del Pokémon. Questo perché nel box di GO non è segnato il tipo. Solo che il tipo è sempre corrispondente a quello della serie principale. Imo:
- il tipo si specifica solo per i giochi in cui esiste (you don't say?) e può essere diverso da quell

[2020-01-10 10:40] flavio-a commented on #81
La parte di specificare il tipo solo nei giochi in cui c'è e può essere diverso mi piace molto, ma mi pare sia più o meno quello che succede.
La parte di fare un box unico del colore del tipo principale del Pokémon mi sembra più complessa perché a volte non hai niente di simile. Specialmente nel caso delle forme di Alola/Galar, i due Pokémon hanno tipi completamente diversi (es: Vulpix) quindi non

[2020-01-10 10:47] flavio-a commented on #80
Le annotazioni sui cambiamenti comunque si possono tirare fuori dai moduli, solo che a quel punto si fa un bel modulo tipo PokémonInfo/BoxTipo per potenza/precisione/PP della mossa che crea tutti i boxettini di quella riga. Se volete si può fare (con priorità bassa), però nel caso apro una issue apposta.

[2020-01-10 10:55] flavio-a commented on #78
La divisione per generazioni ha il problema che le prime due restano vuote (se spostiamo Pikachu nella pagina apposta la prima gen è solo un "Vedi la pagina per Pikachu" e la seconda gen è proprio vuota), e forse è troppo frammentaria soprattutto considerato che non tutti sanno a memoria in che gen è stato introdotto ogni Pokémon. Un'alternativa che mi è venuta in mente adesso è di spostare tutti

[2020-01-10 11:12] flavio-a commented on #41
Se volete il normale -> light -> normale io posso modificare il modulo css, però andrebbe ad impattare tutte le pagine in cui si usa la sintassi con il `type`. Che di base è un vantaggio perché con una sola modifica si aggiornano tantissime pagine, però meglio sapere cosa stiamo facendo.
Le immagini dei tipi probabilmente pesano meno di un box in gradiente una volta caricate, e tanto sono solo 18

[2020-01-10 11:26] CiaobyDany commented on #81
Ovviamente mi ero perso quel messaggio. Ho aggiornato l'OP, poi chiederò a Nicola in cosa consista effettivamente ma credo sia sistemabile in tempo breve. Il resto dell'OP l'avevo controllato.

Sì, esattamente, volevo solo che fosse segnato ad imperitura memoria che così è e così rimane

Fai il box del colore della forma base. Anche perché se vuoi fare seriamente un box per forma ti ritrovi gente

[2020-01-10 11:28] CiaobyDany commented on #80
Approvo anche se con sto fatto che adesso passiamo dal post-uscita al pre-uscita in due mesi è veramente pesante stare dietro a tutto. Non potevano fare l'annuncio per l'anniversario come fanno sempre?

[2020-01-10 11:30] CiaobyDany commented on #78
Ma sai che la trovo veramente geniale come soluzione? Richiederà tanto tempo, ma mi pare una soluzione definitiva, coerente, usufruibile e ordinata. Voto per le sottopagine singole in cui metterei anche roba tipo modelli ecc. (a sto punto anche per Pikachu e simili)

[2020-01-10 11:33] CiaobyDany commented on #41
Sinceramente direi di aspettare periodi più calmi (che non so quando saranno) perché sì, è un cambiamento importante quindi va pesato bene.
Le immagini dei tipi le abbiamo circa di SpSc, non ho ancora avuto tempo di sistemarle (erano in uno zip di abcboy ma erano solo le maschere con i colori da applicare a parte non so bene perché, forse ha a che vedere con il fatto che durante il Dygamax cambian

[2020-01-10 11:42] CiaobyDany commented on #83
Arrivo un po' in ritardo anche perché non ho molto da aggiungere. Approvo le scelte fatte finora anche se temo che sarà un processo che richiederà diversi anni per essere ultimato. Non so se sia il caso anche delle città, ma come per i personaggi, onde evitare obrobri prenderei in considerazione l'idea di usare il più possibile un colore singolo, magari togliendo brutalmente il parametro per il se

[2020-01-10 20:24] StygianStar commented on #75
Implementare il template nei vari articoli.

[2020-01-10 20:40] StygianStar commented on #78
Anche a me piace molto come soluzione, ottima idea!

Pikachu potrebbe essere il primo a subire questa sorte

[2020-01-10 21:41] CiaobyDany commented on #81
Ho fatto quello che serviva per PokéPark 2 nel mentre.

[2020-01-13 18:24] Cruifer commented on #41
Girovagavo per la wiki in cerca di distrazioni, e ho notato che in [questa pagina](https://wiki.pokemoncentral.it/Landa_Corona) il gradiente non si nota per nulla, quindi i colori per `zona_neve` sono troppo simili. Vale la pena di vedere se ci sono altri casi simili?

[2020-01-13 18:36] CiaobyDany commented on #41
@Cruifer Possibilmente sì, grazie, così ci lavoro insieme agli altri.

[2020-01-19 11:48] CiaobyDany opened #85 "Modelli di Pokémon Spada e Pokémon Scudo"
## Descrizione
Sono usciti i modelli di Spada e Scudo powered by pkparaiso.
https://www.pkparaiso.com/espada_escudo/sprites_pokemon.php
Ovviamente sono tra le cose più richieste dal nostro pubblico, anche perché credo che continuiamo a non avere alcuni artwork e quindi mancano immagini più grandi dei MS 40*40 per diversi Pokémon che non è il massimo della vita.

## Proposte di inserimento
Io prope

[2020-01-19 15:20] davla commented on #85
I file "compressi" si chiamano thumbnail.

Tuttavia, se ben ti ricordi, rimpicciolire le cose le sgrana. Era il motivo per cui hai voluto i modelli XY a 192px (e poi tornasti strisciando che li volevi a 150px), perché se no poi ne sgranavano troppi. Indi, preparati a vedere le cose sgranate.

Detto ciò, la tua proposta è ragionevole. Se non ricordo male/sono spuntati impedimenti vari è tutto fatti

[2020-01-19 15:29] CiaobyDany commented on #85
@davla Le sgrana sì, ma non in modo così brutto se si dimezzano o più le dimensioni. Il problema è se parti da un affare da 210×210 e lo trasformi in 192×192. Qui partiamo da 400+ mi pare di aver capito, quindi è molto meno evidente. Also: grazie per aver infierito sul mio cambio di idea, ricordo quando dicevi che me l'avresti rinfacciato per il resto della mia vita, ma non pensavo fossi così seri

[2020-01-19 16:09] flavio-a commented on #85
Non mi intrometto nella questione delle immagini sgranate, litigate voi.
Come osservato su Telegram, MediaWiki crea delle thumbnail (cfr: [immagine a risoluzione intera](https://media.pokemoncentral.it/wiki/3/31/OPJ03.png), [thumbnail](https://media.pokemoncentral.it/wiki/thumb/3/31/OPJ03.png/200px-OPJ03.png)), quindi la cosa di caricare immagini grosse ed avere comunque pagine non pesantissime è

[2020-01-19 16:13] CiaobyDany commented on #85
@flavio-a Mi stai chiedendo di avere una conferma da gika sul limite dimensione immagini? Spero di no.

[2020-01-19 16:19] CiaobyDany commented on #85
Mi stai chiedendo di avere una conferma da gika sul limite dimensione immagini? Spero di no.

A parte quello. Comprendo il tuo punto di vista logico sul resize perché le immagini non appaiono mai a dimensione intera nelle pagine, ma posso replicare dicendo che è vero per il 90% delle immagini del wiki più grandi degli sprite, quindi dovete convincermi meglio.

Per la sottopagina direi unica. I mov

[2020-01-19 17:13] flavio-a commented on #85
Che le altre sono poche.
Da https://wiki.pokemoncentral.it/Speciale:MediaStatistics

image/gif | .gif | 9 766 (11,6%) | 1 596 982 982 byte (1,49 GB; 8,81%)
image/png | .png, .apng | 68 817 (81,9%) | 15 328 394 329 byte (14,28 GB; 84,6%)

Totale 16,85 GB. Ti ho convinto che caricare altri 2GB ogni generazione (in realtà di più, perché ho considerato solo 400 sprelli quando in realtà sono front/back

[2020-01-19 17:16] CiaobyDany commented on #85
@flavio-a In realtà sono 1800 quindi più che 2GB parliamo di 9 GB che sono meno di due terzi del totale!!1! Pertanto non comprendo l'insistere su tali argoment...
Ok, hai vinto tu. Resize sia.

[2020-01-19 17:17] davla commented on #85
Ah, se dici tu che non sgrana mi fido. Se poi ritorni strisciando, affar tuo :smiling_imp:

Per la pagina, sì, una per Pokémon.

E sono stato ninjato, ma io il resize lo davo per scontato. Il "da qualche parte" era Dropbox, o roba del genere

[2020-01-21 17:20] flavio-a commented on #85
Quindi che dimensioni? La domanda giusta in realtà è "a che dimensione vogliamo usarli?", perché poi da lì si prende qualcosa tra il doppio e il triplo per non averle sgranate.

[2020-01-21 17:23] CiaobyDany commented on #85
@flavio-a Non vanno bene le dimensioni di quelli di sesta? Che il Signor Br ha gentilmente ricordato essere stati ridotti a 150.

[2020-01-23 08:00] flavio-a commented on #85
In che senso? Intendi le dimensioni originali? Perché i file pkparaiso (che credo siano quelli che abbiamo preso noi) sono 192x192 (salvo eccezioni), che mi sembra poco.

[2020-01-23 09:25] CiaobyDany commented on #85
@flavio-a No, le dimensioni d'uso "da lì poi si prende qualcosa tra il doppio e il triplo per non averle sgranate".
Also: ci son da fare gli statici pure e quelli direi che vanno a 1280/dimensioni massime.

[2020-01-23 21:08] StygianStar commented on #85
(Non so cosa potrei fare in tutto ciò, probabilmente nulla, ma durante i fine settimana posso essere disponibile)

[2020-01-26 16:19] #3 closed, assigned to mexicat

[2020-01-27 16:42] flavio-a commented on #85
Al momento se non sbaglio li usiamo a 192px, da cui delle dimensioni sensate possono essere 450px o 500px. Vi faccio poi sapere quanto spazio occupano nelle due versioni quando finisco il resize (senza FileOptimizer, dato che ci metterà tantissimo e non voglio farlo andare a vuoto).
Nota: 500px ha ovviamente il vantaggio di essere più "future proof", nel senso che se vorremo aumentare le dimension

[2020-01-27 16:59] CiaobyDany commented on #85
@flavio-a Al momento li usiamo a 150, perché "sono tornato strisciando" da Maze a chiedergli di cambiarli. Sul 450/500 vorrei prima capire quanto cambia a livello di dimensioni.

Per l'upload nel caso si può usare il drive di pokemoncentral00@gmail.com

[2020-01-28 19:17] flavio-a commented on #85
Dopo una comodissima giornata passata a resizare modelli (non è vero, ho solo dovuto avviare tre script a distanza di 3 ore e mezza, ma credo che il mio pc mi stia comunque odiando) posso finalmente portarvi le statistiche!
In totale ci sono 1116 modelli, che in originale pesano 4,6GB. Riducendo quelli più grandi ad una certa dimensione otteniamo:
- 500px -> 3,2GB
- 450px -> 2,9GB
- 400px -> 2,5GB

[2020-01-29 16:11] mexicat commented on #3
Su https://cfbust.herokuapp.com trovate una mini-webapp che assolve a questo compito. Si può usare con il form o con una chiamata in POST a `/api` con del JSON formattato tipo `{urls: ["url1", "url2", ...]}`. In futuro metterò online il repo e aggiungerò una qualche forma di autenticazione.

[2020-01-29 18:12] CiaobyDany commented on #3
@mexicat Molto figo, ma essendo questa pagina pubblica non credo che sia il caso di lasciare qui il link 😅

[2020-01-31 20:34] StygianStar commented on #85
Abbiamo chiesto a Gika quanto spazio c'è?

[2020-01-31 20:52] CiaobyDany commented on #85
@StygianIrene Ovviamente mi sono dimenticato, ma è un'ottima motivazione per rompergli il cazzo

[2020-02-03 11:50] StygianStar commented on #85
Visto che è stato scritto solo nel gruppo Telegram, riporto anche qui che ci sono 70gb liberi, quindi non ci sono problemi

[2020-02-08 10:32] CiaobyDany opened #86 "Rivisitazione Home"
## Descrizione
Irene ha suggerito un paio di volte di aggiungere cose alla Home ed in effetti credo sia una buona cosa rifletterci su. Data la fluidità dei tanti eventi minori in corso credo sia un ottimo modo per attirare utenza a visitarci regolarmente per non perdersi le novità.

## Pagine affette
* https://wiki.pokemoncentral.it/Home
(fa ridere perché è il default, ma è giusto nonostante sia s

[2020-02-08 17:05] StygianStar commented on #86
Io sono d'accordo per tutto quello che riguarda la serie principale. Ricordiamoci che ci sarà anche HOME. Well, per me si può partire anche subito.
Per gli spin-off sono un po' diffidente perché è difficile starci dietro, specie con i giochi mobile che si aggiornano molto frequentemente. Si potrebbe comunque fare una prova per vedere come va.

[2020-02-08 17:09] CiaobyDany commented on #86
@StygianIrene L'idea di GO mi è nata perché Nicola sta tenendo aggiornata la pagina dei boss raid e dei community day e delle altre robe di GO in-wiki, ma nessuno lo sa, e quindi non mi dispiacerebbe avere un riferimento in home che rimandi lì. Sugli altri spin-off sono ignorantissimo, quindi ho fatto solo la proposta per capire meglio la situazione. Se credete che sia troppo difficile starci diet

[2020-02-08 19:17] StygianStar commented on #86
Se c'è la certezza che qualcuno stia dietro a GO, allora va bene!

[2020-02-13 13:54] flavio-a commented on #32
Ho risolto il problema di MS e ho messo il modulo nella pagina. Per ora è a `width-xl-80` perché sì, ovviamente si può cambiare ma intanto l'ho caricato perché è possiamo deciderlo facilmente in seguito e intanto abbiamo una pagina fruibile da mobile (e sperabilmente più leggera da caricare).
Per gli aggiornamenti con nuovi Pokémon c'è una versione manuale del modulo (che per esempio adesso viene

[2020-02-13 13:54] #32 closed, assigned to mexicat, flavio-a, davla

[2020-02-13 14:15] flavio-a commented on #85
Abbiamo i modelli animati. Credo tutti alla dimensione giusta. Adesso devo lavorare sugli statici (che abbiamo detto metto a dimensione originale, tanto se sono un singolo frame invece di 3 miliardi dovrebbero occupare una quantità di spazio ragionevole).

[2020-02-16 14:26] Cruifer opened #87 "Aggiornamento GCCNote e Infobox per Pokémon V e VMAX"
## Descrizione
Promemoria per me di cosa fare quando avrò tempo (mai)

## Pagine affette
* https://wiki.pokemoncentral.it/Lapras_VMAX_(Spada_e_Scudo_50)
* https://wiki.pokemoncentral.it/Morpeko_V_(Spada_e_Scudo_79)
* https://wiki.pokemoncentral.it/Snorlax_VMAX_(Spada_e_Scudo_142)
* https://wiki.pokemoncentral.it/Morpeko_VMAX_(Spada_e_Scudo_80)

## Risoluzione del problema
C'è anche da aggiungere l

[2020-02-16 15:19] StygianStar commented on #86
[Prova preliminare per i Raid Dynamax in home](https://wiki.pokemoncentral.it/Utente:Stygian/ProveTemplate3)

[2020-02-25 23:08] CiaobyDany commented on #86
Sempre dal link di Irene, ho pasticciato un po' e fatto questa cosa qui:
![immagine](https://user-images.githubusercontent.com/38566659/75295610-5d471900-582b-11ea-8da4-ba43fa00264e.png)
Che mi pare la soluzione più sensata. Ci sono troppe informazioni da dare sui singoli Pokémon che risulterebbero eccessivamente cluttered se esplicate, quindi imo si va di elenco ignorantissimo sulle tre righe (Sp

[2020-02-26 09:27] flavio-a commented on #86
Ma non basta mettere il MS gigamax per indicare che quel Pokémon si trova Gigamax?
Comunque a parte quello approvo

[2020-02-26 09:49] CiaobyDany commented on #86
@flavio-a Parlo di casi tipo Milcery con fattore Gigamax che non diventa Gigamax, ma se lo si fa evolvere in Alcremie, quello sarà Gigamax.

[2020-02-26 22:15] Cruifer opened #88 "Bug nei learnlist dei Pokémon Glitch"
## Descrizione
I learnlist di vari Pokémon Glitch hanno un paio di problemi:
1. I link in cima non funzionano, e questo è il problema minore
2. Alcune mosse non hanno il box del tipo, suppongo siano quelle con tipo Glitch o simili

## Pagine affette
Ne elenco solo alcune perché non le ho controllate tutte (ovviamente)
* https://wiki.pokemoncentral.it/%E3%82%A17g
* https://wiki.pokemoncentral.it/%E

[2020-02-29 10:46] flavio-a commented on #88
Assegnatemi le issue pls. Comunque ho capito il bug, dovrebbe essere easy ma devo trovare tempo e voglia.
Per me: non esiste la classe `box-glitch` e simili, bisogna cambiare in `box-sconosciuto` per tutti gli alias.

[2020-02-29 10:47] flavio-a commented on #86
Ma quindi questa issue è risolta e si può chiudere?

[2020-02-29 10:52] CiaobyDany commented on #86
@flavio-a No, perché abbiamo fatto solo la parte dei raid, rimane aperta la discussione sugli spin-off, su cui non hai commentato manco tu...

[2020-02-29 12:27] Cruifer commented on #88
@flavio-a Scusa, volevo assegnartela ma non ero sicuro tu avessi il tempo di guardarci (e mi è anche passato di mente). Se dici che è easy meglio, calcola comunque che ho messo la priorità bassa perché almeno Missingno è risparmiato da questi bug, quindi guardaci pure con calma. Poi pensavo per i link, che in effetti non hanno molto senso di esistere quindi io direi di toglierli direttamente.

[2020-03-04 06:26] flavio-a commented on #85
Abbiamo anche i modelli statici. Adesso mancano solo un po' di redirect e poi ho finito

[2020-03-05 11:07] Cruifer commented on #87
Il mio lavoro qui è finito, ma solo per il momento. C'è da modificare di nuovo il modulo per aggiungere il template per lo stadio dei Pokémon VMAX nell'infobox (`EvoVMAX` e `EvoVMAXG`) I template li creo io, ma non so come funziona per il modulo. Inoltre manca la categorizzazione da aggiungere, anche per i Pokémon GX (`GX` insieme a `RedGX`, `TTGX` insieme a `RedTTGX`) oltre che per V e VMAX (con

[2020-03-06 09:51] flavio-a commented on #85
Ho fatto i redirect ma ci sono ancora due cose di cui vorrei discutere.
1. La nostra dimensione d'uso dei modelli è 150px. Ci sono alcuni modelli che sono sotto quella dimensione e altri che sono sopra ma sotto i 300px, e che quindi mostrano degli artefatti quando riscalati per essere alla dimensione giusta ([esempio con Tympole](https://wiki.pokemoncentral.it/Tympole#Evoluzioni)). Che facciamo? U

[2020-03-06 10:12] flavio-a commented on #87
Che modulo/i?

PS: quando ho letto

ho pensato troppo al [meme di sailor moon](https://knowyourmeme.com/memes/my-job-here-is-done)

[2020-03-06 10:47] Cruifer commented on #87
[questo qui](https://wiki.pokemoncentral.it/Modulo:Pok%C3%A9moncardInfobox).
L'intento era un po' quello, ma non è proprio vero perché ci ho messo un'ora per editare il GCCNote lol

[2020-03-07 11:46] Cruifer commented on #88
segnalo anche una cosa strana [qui](https://wiki.pokemoncentral.it/Ibrido_di_quarta_generazione#Aumentando_di_livello), alcune mosse hanno solo un `[[ ]]` senza il nome

[2020-03-07 15:57] flavio-a commented on #88
Questo è perché la mossa si chiama " " (uno spazio vuoto) e il modulo evidentemente sostituisce il "&nbsp;" in modo che non piaccia a MediaWiki per il link.

[2020-03-07 17:42] Cruifer commented on #88
Interessante, ma è risolvibile?

[2020-03-12 12:02] Cruifer opened #89 "Aggiornamento PMDDX: parte tecnica"
Alcune proposte/cose da fare, aggiungete pure se vi viene in mente qualcosa:
- ~~[Template:InfoboxDungeon](https://wiki.pokemoncentral.it/Template:InfoboxDungeon): Aggiungere in fondo all'infobox la posizione dei dungeon, come abbiamo nei luoghi della serie principale, sulla base del [modello tedesco](https://www.pokewiki.de/Fantasiepass) (o [francese](https://www.pokepedia.fr/Canal_Fantaisie), ma

[2020-03-15 12:22] flavio-a commented on #89
Osservazioni generiche:
- per fare le mappe come i tedeschi c'è da copiare un loro template che mette tutti i link alle varie pagine sopra l'immagine. Non è un problema ma è da fare
- gli sprelli dei giochi appropriati non so se ce li abbiamo anche per i Pokémon nuovi, ma probabilmente sì
- il modulo colore a quanto pare non è aggiornato solo il cielo sa perché, visto che io avevo programmato l'up

[2020-03-15 12:48] Cruifer commented on #89
allora, in ordine:
- per fare quella cosa c'è bisogno dell'estensione ImageMap, e già qui la cosa si fa lunga. Secondo me non è veramente necessario anche perché non lo abbiamo fatto neanche per le zone della serie principale
- per gli sprelli ricordo di averti fatto caricare quelli di cielo, ma gli altri ci sono? se no, comunque non dovrebbe essere un problema upparli, posso farlo anch'io
- LOL

[2020-03-15 12:57] flavio-a commented on #89
non sono sicurissimo che serva, forse si può fare con un widget. Potrei mettermi a guardarci, però direi che ha priorità -1000.
E per gli sprelli bisogna vedere se ce li ha Bulba

[2020-03-15 13:12] Cruifer commented on #89
ah ok, io lo avevo escluso sulla base del fatto che serviva l'estensione. Come cosa sarebbe carina da avere, anche se non è prioritaria. Vedi tu se avrai mai tempo/voglia.
Gli sprelli non si possono prendere dagli spagnoli o dai francesi?

[2020-03-16 07:32] StygianStar commented on #89
Più che altro, gli sprelli che ci sono su DX sono quelli di Squadra Rossa e Blu?

[2020-04-05 16:40] flavio-a commented on #87
Ok, rispiegami per bene cosa devo fare @Cruifer

[2020-04-05 16:43] flavio-a commented on #73
Scrivo anche qui: purtroppo il progetto è stato dichiarato fallito, almeno per ora.
Tengo questa issue per ricordarmi che devo annullare tutto (che detto così sembra facile, ma prima devo sistemare le pagine dei Pokémon visto che stanno usando tutta 'sta roba)

[2020-04-05 16:47] Cruifer commented on #87
@flavio-a Allora, una cosa da fare è facile ed è categorizzare le pagine come ho scritto sopra. Per l'altra invece, hai notato che nell'infobox sotto la foto della carta c'è lo stadio del Pokémon? Bene, quella parte è gestita dal modulo, che mette il template giusto a seconda dei casi. Template che mancano al momento per i V e VMAX, che posso creare io, però non so come farli gestire al modulo. Se

[2020-05-05 08:13] flavio-a commented on #87
Va, commento oggi così ho commentato esattamente ogni 30 giorni. Premessa: quel modulo è mediamente inutile perché di fatto fa il lavoro di uno `switch` (che forse è anche più efficiente in questo caso), quindi forse vorremmo toglierlo. Il che renderebbe inutile il mio aggiornarlo, ma facciamo finta di niente.
Per V e VMAX, se ho capito bene cosa devo fare mi serve sapere quali valori del parametr

[2020-05-05 08:46] CiaobyDany commented on #87
@flavio-a Era stato Maze a dire che uno switch lì non andava bene, quindi confrontatevi per decidere se è un'altra br-like situation.

[2020-05-06 18:10] StygianStar commented on #84
Ci sono altre idee? Io continuo a rimanere per la linea proposta da Flavio.

[2020-05-06 19:00] StygianStar opened #90 "Restyling degli articoli sulle bacche"
## Descrizione
Le bacche sono probabilmente gli articoli che attualmente sono rimasti più indietro con il restyling.
Orion ha proposto a qualcuno di restaurare tutti gli articoli a riguardo, ma mi rendo conto che c'è abbastanza lavoro da fare, dunque ho deciso di aprire una issue a riguardo.

## Pagine affette
* [Tutti gli articoli sulle singole bacche.](https://wiki.pokemoncentral.it/Categoria:Ba

[2020-05-07 18:04] flavio-a commented on #87
Prima o poi lo scriverà anche @davla, comunque ne abbiamo parlato e ha dato il suo benestare a togliere il modulo e sostituirlo con un switch. Da cui:
1. in un certo momento non troppo lontano (forse stasera) toglierò alcune chiamate a quel modulo dal template e le sostituirò con i corrispondenti switch
2. a quel punto Crusca potrà aggiungere la cosa dei VMAX e VMAXEVO da solo (riduzione delle int

[2020-05-09 10:37] CiaobyDany commented on #86
Due cose.
Mi ero dimenticato la storia degli strumenti e dei PL in SpSc. Posto che continuo a non avere il gioco, ha senso metterli? Se sì, come? Possiamo anche mettere le competizioni internazionali o whatever in corso?

Poi, questione spin-off. Direi che Rumble Rush va a ramengo, non sto a sbattermi per un gioco che è in fine vita con eutanasia prevista tra due mesi. Su Masters no idea, ma per G

[2020-05-09 22:20] CiaobyDany commented on #86
@CiaobyDany Mi sono spostato sulla pagina definitiva del template [(GOHome)](https://wiki.pokemoncentral.it/Template:GOHome) perché non aveva molto senso lavorare in sandbox. Ho risistemato a livello di codice i Raid che ora credo funzionino esattamente come dovranno andare in home. Sul Community Day non vedo necessità di fare un template specifico, le ricerche sul campo mi paiono già abbastanza i

[2020-05-10 13:56] StygianStar commented on #86
1. Strumenti (quelli scaricabili tramite codice/internet, right?): si possono mettere. L'articolo di Bulba a riguardo è [qui](https://bulbapedia.bulbagarden.net/wiki/List_of_other_event_distributions_in_Generation_VIII). Si può fare una cosa tranquilla del tipo:
 `Sprite zaino + nome strumento + codice + eventuale data`
2. Per le competizioni online si può fare qualcosa, ma non sono riuscita a tro

[2020-05-10 14:30] CiaobyDany commented on #86
@StygianIrene 1) boh, avevo visto periodicamente distribuzioni, non so se stiano continuando a farle
2) ok
3) ok
4) in realtà vorrei evitare di avere un muro tutto color PCW e se queste sezioni iniziano a diventare un po' più lunghe prenderei in considerazione di customizzarle con colori tipo dei giochi di riferimento anche per aiutare visivamente a trovare quello che si cerca. Do note che su mobi

[2020-05-10 14:47] StygianStar commented on #86
Se hai idea di cambiare il colore anche gli altri template in base ai giochi allora va bene

[2020-05-11 17:28] Cruifer commented on #87
ho guardato ora per la parte delle categorie. Effettivamente c'è una sorta di switch nel modulo PokémoncardInfobox in fondo, ma in realtà quella funzione (è corretto parlare di funzione?) non è mai invocata nel template.

[2020-05-12 14:33] StygianStar commented on #84
Non abbiamo mai preso in considerazione l'eliminazione di _tutte_ le sottosezioni della sezione biologia, vero? (anche se ho vaghi ricordi che già fu discusso quando Bulba accorpò il tutto)

[2020-05-13 11:28] StygianStar commented on #86
Altra idea per la home: aggiungere le serie o i film disponibili su TV Pokémon (mi pare lo facciano pure i tedeschi).

[2020-05-13 12:12] CiaobyDany commented on #86
@StygianIrene Ottima idea! Se dovessimo riuscire a completare un po' di episodi si potrebbe anche provare a gestire gli episodi in onda su K2 e simili

[2020-05-14 21:57] StygianStar commented on #86
Fatto divertente: attualmente non esistono strumenti riscattabili tramite codice.
Provo comunque ad abbozzare un template.
[Qui](https://wiki.pokemoncentral.it/Template:EventItemHome)

[2020-05-16 07:30] flavio-a commented on #88
Update: ho fatto un po' di cose.
- I link in cima sono da sistemare nelle pagine, ma adesso il modulo supporta 0 come ultimo parametro dell'header per far sparire per sempre il box "In altre generazioni" ([esempio](https://wiki.pokemoncentral.it/index.php?title=Ibrido_di_quarta_generazione&action=historysubmit&type=revision&diff=822560&oldid=749095))
- Il box del tipo adesso dovrebbe esserci per t

[2020-05-16 13:23] #88 closed, assigned to flavio-a

[2020-05-18 16:31] davla commented on #87
Ah, ricordo quel modulo. Mi era stato chiesto di mettere mano a quel template, e siccome mi si incrociavano gli occhi ci ho fatto un modulo.

Se Flavìo vuole incrociarsi gli occhi, ben venga. Fatto sta che quel modulo non è molto utile così com'è ora. Non esegue abbastanza codice lua da far sì che valca la pena il context switch da PHP a lua

[2020-05-18 16:34] flavio-a commented on #87
@davla Ed è qui il trucco: se non c'è il modulo non devo lavorarci io, quindi non mi si incrociano gli occhi.

[2020-05-22 13:57] StygianStar commented on #86
Ora ci sono strumenti disponibili tramite evento e credo di aver finalmente completato il template `EventItemHome`.
[Qui](https://wiki.pokemoncentral.it/Template:EventItemHome)

[2020-05-26 17:14] flavio-a commented on #85
La maggioranza (Dany) ha votato di tenere come sono i modelli grossi ma non abbastanza grossi. Tenete presente il punto 2 del messaggio precedente, ma direi che si può chiudere.

[2020-05-26 17:14] #85 closed, assigned to flavio-a, davla

[2020-06-02 17:44] flavio-a commented on #84
So che sono un po' in ritardo, ma fa niente.
Anch'io ricordo una discussione in tal senso, ma non mi ricordo il risultato, quindi direi di ripartire da capo.

Riprendendo i messaggi di sopra secondo me ridursi a due sottosezioni (Fisionomia e comportamento) non è così male, non vedo la necessità di accorparle ulteriormente. La sezione fisionomia è un po' una rottura da scrivere, ma pace. Poi io sa

[2020-06-03 18:29] StygianStar commented on #84
Premessa dovuta.
Ammetto che è da una settimana buona che entro in questa issue per dire: "ok, vedo che nessuno mi calcola, prenderò questa decisione da me".

Attualmente la suddivisione utilizzata è quella vecchia, non abbiamo deciso nulla.
Io ho cambiato totalmente visione e punterò alla versione Bulbapedia, a meno che qualcuno non si proponga di stare dietro a questa sezione.
Dunque, ora espong

[2020-06-04 07:42] flavio-a commented on #84
No tranquilla, ci sta, anche perché effettivamente la questione ha una certa importanza, e io sicuramente non me la sono presa. Consiglio per il futuro in situazioni come questa: ogni tanto spamma su Telegram il link a questa issue, di solito aiuta.

Tornando IT: approvo tutto. Il punto 2, a cui non avevo pensato, è in realtà fondamentale. Mi hai convinto che sia il caso di unire tutto in un'unica

[2020-06-04 11:13] flavio-a commented on #78
Dopo aver scritto ieri su Tg che mancano le sezioni di Eternatus, Urshifu e forse altri alla pagina "differenze di forma" mi è venuta in mente questa issue e ho voluto fare una prova per Eternatus:
https://wiki.pokemoncentral.it/index.php?title=Utente:Ff300/sandbox2&oldid=825887 (questa cosa dei link permanenti è molto comoda, così resta la cosa giusta nella discussione anche se poi modifico la pa

[2020-06-04 11:20] CiaobyDany commented on #84
@flavio-a Due righe al volo perché effettivamente vorrei dare un parere. Intanto scusate se non ho risposto prima, ma in sto periodo come ben sapete sto seguendo un po' di cose e non volevo dare opinioni a caso senza prendermi la responsabilità delle conseguenze. Sono d'accordissimo con Irene sulla questione dell'indice inutilmente lungo e sono d'accordo anche sulla rivisitazione dell'ordine delle

[2020-06-04 18:14] StygianStar commented on #84
Credo che, a questo punto, aggiornerò l'issue rendendola più generica visto che stiamo proponendo di toccare l'intera struttura degli articoli dei Pokémon (sono assolutamente d'accordo sul fatto che urge farlo, a questo punto). Questa sera o domani lo faccio.

Per la struttura degli articoli pensavo ad [una cosa del genere](https://wiki.pokemoncentral.it/index.php?title=Utente:Stygian/Nuova_strutt

[2020-06-04 18:20] CiaobyDany commented on #84
@StygianIrene Forse a sto punto conviene effettivamente fare un sondaggio pubblico per vedere che cosa vuole principalmente il pubblico?
Perché ad esempio, visto che stiamo spostando tutto credo che le statistiche vadano prima delle zone? Non sono il giocatore medio, quindi non è così indicativa la mia opinione, ma appunto credo che per una volta il visitatore medio sia il nostro target di riferim

[2020-06-04 18:29] StygianStar commented on #84
Sì, si può assolutamente fare, anzi, meglio se si fa.
Allora, io rimarrei comunque nella struttura in macrosezioni che ho messo nella mia sottopagina, ma tutte le sottosezioni sotto la sezione "dati di gioco" può assolutamente essere soggetto di sondaggio ai nostri utenti.

[2020-06-04 18:31] CiaobyDany commented on #84
@StygianIrene Considerando che tanto avremo un riscontro tra il minimo e il nullo, vediamo un po' cosa ne pensano in generale imo. Perché anche le macrosezioni dipendono da come le vogliono loro in fondo, per quanto credo che sarà condivisa la tua proposta

[2020-06-04 19:03] StygianStar commented on #84
Ok, allora ci ficchiamo dentro tutto e vediamo cosa ne esce fuori.

Intanto si può cominciare a raccogliere le domande da porre all'utente. I topic per il momento sono:

1. Navigazione negli articoli dei Pokémon
2. Sezione biologia degli articoli dei Pokémon
3. Sezione dati di gioco degli articoli dei Pokémon

[2020-06-04 20:43] StygianStar commented on #78
1. Per quanto riguarda la suddivisione, per me va bene quello che hai proposto.
2. Ecco, per questa parte sono meno convinta. Non sono sicura sia un bene metterla anche lì, però capisco che così diventerebbe corte.
3. Lycanroc potrebbe essere un buon esempio

[2020-06-05 09:19] flavio-a commented on #84
Nota generica: quando chiediamo quali sezioni interessano di più penso sia meglio una cosa in cui chiediamo agli utenti le prime x preferenze in ordine ([qui](https://xfanatical.com/blog/how-to-create-ranked-choices-in-google-forms/) spiega come fare).

* Navigazione negli articoli dei Pokémon:
  * quando visiti l'articolo di un Pokémon, a quale sezione sei più interessato di solito? (Biologia, Da

[2020-06-05 09:24] flavio-a commented on #78
Non ho capito una cosa: nel punto 1 intendi quello che ho scritto nel commento o quello che ho fatto nella pagina?

E per il 2 allora direi di non mettere le sezioni duplicate e lasciare solo le cose nell'articolo del Pokémon, piuttosto lasciamo le pagine corte. In generale non sono un grande fan delle cose duplicate (deformazione professionale) perché vuol dire dover aggiornare da due parti, e se

[2020-06-05 19:52] StygianStar commented on #78
Nel punto 1 intendevo dire che, secondo me, la suddivisione che hai messo nella tua sandobox va bene.

Sono d'accordo anche io su questo. Quindi eviterei sezioni anime e manga in più.

Ok, direi che con questo Pokémon si ha un'idea migliore di quello che devo uscire... Anche se diverse forme saranno molto differenti da loro.

Per il resto non ho nient'altro da dire e non mi viene in mente nulla. A

[2020-06-06 19:03] StygianStar commented on #84
Sto lavorando al sondaggio, entro questa sera ci saranno update.

[2020-06-06 20:01] StygianStar commented on #84
https://forms.gle/dLyzuVkmrVBoDqQg6

Ditemi se riuscite ad aprirlo.
- Ho seguito l'articolo che ha linkato Flavio e l'ho trovato molto utile, non sapevo si potessero fare domande in quel format (molto interessante, _qualcuno_ potrebbero prendere ispirazione da ciò). L'unica cosa diversa da quall'articolo è che io ho swappato i nomi delle sezioni/sottosezioni con il numero delle scelte. Credo sia c

[2020-06-06 20:50] CiaobyDany commented on #84
@StygianIrene Mi pare impostato bene, farei una domanda facoltativa finale per dei feedback/richieste aggiuntive con testo libero, sia mai che qualcuno ne approfitti per dirci cose che vorrebbe dirci da secoli ma non l'ha mai fatto perché si vergogna/whatever.

[2020-06-06 21:28] StygianStar commented on #84
https://forms.gle/Wha91J4r3JzB1dub6

Ho aggiunto la domanda facoltativa a fine sondaggio.

[2020-06-07 08:01] flavio-a commented on #84
Io non so se metterei domande obbligatorie: magari uno ha voglia di rispondere solo a qualcosa, o magari vuole fare una risposta parziale (es: indicare solo le prime 2/3 preferenze). Per il resto mi piace il sondaggio com'è ora.

Come descrizione qualcosa tipo: "Sappiamo che le pagine dei Pokémon sono tra le più visitate del sito, ma ci è venuto il dubbio che non siano organizzate al meglio. Perci

[2020-06-07 08:50] CiaobyDany commented on #84
@flavio-a Ottime osservazioni, sottoscrivo

[2020-06-07 18:50] CiaobyDany opened #91 "Categorizzazione serie principale/spin-off"
## Descrizione
In chat fanno presente che negli infobox dei giochi la categoria a cui appartengono è a volte messa a caso (Colo, XD, Stadium, Stadium 2, PBR sono tutti serie principale), mentre in altri articoli dell'enciclopedia li segnamo in altro modo (tipo, nel template serie principale).

## Risoluzione del problema
Dobbiamo trovare una distinzione univoca e che sia il più ufficiale possibile

[2020-06-07 19:00] StygianStar commented on #84
Se non rendo "obbligatorie" le prime due domande, non è possibile creare una classifica delle sezioni/sottosezioni. In pratica un utente potrebbe mettere tutte le sezioni al primo posto, all'ultimo, al secondo, ecc.

[2020-06-07 20:27] CiaobyDany commented on #84
@StygianIrene A sto punto le metterei obbligatorie, magari specificando che ci interessa prevalentemente le prime e che le ultime si possono mettere un po' a caso?

[2020-06-07 21:58] StygianStar commented on #84
https://forms.gle/XzYynjw5unSWXZai7

Modulo aggiornato.
Ho aggiunto la descrizione e sto pensando a come scrivere la cosa che ha detto @CiaobyDany. Non vorrei che si venga a pensare che non calcoliamo i feedback (l'ultima domanda).

[2020-06-07 22:18] StygianStar commented on #91
Allora, per me è ok la suddivisione del sito giapponese.
Dunque la serie principale è composta da:
- Pokémon Rosso, Blu e Giallo (+ Virtual Console)
- Pokémon Oro, Argento e Cristallo (+ Virtual Console)
- Pokémon Rubino, Zaffiro e Smeraldo
- Pokémon Rosso Fuoco e Verde Foglia
- Pokémon Diamante, Perla e Platino
- Pokémon Oro Heart Gold e Argento Soul Silver
- Pokémon Nero, Bianco, Nero 2 e Bianco

[2020-06-08 06:07] flavio-a commented on #84
@StygianIrene Io metterei nella descrizione della domanda qualcosa tipo "La 1ª scelta indica la sottosezione che ti interessa maggiormente, mentre la 7ª quella ti interessa di meno. Per le scelte che ti interessano meno non è così importante l'ordine preciso"
In alternativa si possono mettere solo 3/4 scelte, anche perché se molta gente mette le ultime in ordine a caso anche chi le pensa si perde

[2020-06-08 08:47] CiaobyDany commented on #84
@flavio-a Il problema del mettere un numero di scelte inferiore al numero di sezioni credo che sia nella possibilità di rendere obbligatoria la risposta

[2020-06-08 10:44] StygianStar commented on #84
@flavio-a Io non specificherei che le ultime scelte possono essere messe a caso. Vorrei avere un sondaggio pulito e alla fine si tratta di fare due classifiche, non ci sono 50 domande obbligatorie a cui rispondere.
Comunque, anche mettendo 3/4 scelte, la domanda dovrà sempre essere obbligatoria.

[2020-06-08 11:17] flavio-a commented on #84
Boh ok, allora per me il sondaggio è a posto così.

[2020-06-08 20:06] StygianStar commented on #84
News importanti.
Ho scoperto come limitare una risposta per colonna senza dover rendere obbligatoria la domanda! Quindi ora chiunque può scegliere a quale domanda rispondere.

Modulo aggiornato:
https://forms.gle/YB343gQJ53FU3obf9

[2020-06-09 20:16] StygianStar commented on #78
Direi che stasera provo a creare la sotto pagina di qualche forma.

Inoltre vi aggiorno che Bulba ha deciso di accorpare tutte le voci del Pokédex delle forme dei Pokémon. Non so come spiegarlo, per capire andate a vedere una qualsiasi voce del dex di un Pokémon con le forme (Alcremie, Toxtricity, Cramorant, Venusaur, Charizard, ecc.).

[2020-06-09 20:19] CiaobyDany commented on #78
@StygianIrene Quello che voleva dire è che ora c'è un solo box dedicato alle entry del dex suddiviso per forme. Esempio: https://bulbapedia.bulbagarden.net/wiki/Charizard_(Pok%C3%A9mon)

[2020-06-09 20:35] StygianStar commented on #78
Ok, per casi di Pokémon come Alcremie (sì, mi voglio veramente male) che hanno delle forme puramente estetiche che sezione mettiamo per i modelli? Qualcosa come "Aspetto"?

[2020-06-09 21:53] StygianStar commented on #78
Ho provato con Alcremie: [qui](https://wiki.pokemoncentral.it/index.php?title=Alcremie/Forme&oldid=826770).
Che ne dite?
C'è sempre la questione del nome delle sezione e, inoltre, ho deciso di dividere in sottosezioni per evitare un [muro del genere](https://wiki.pokemoncentral.it/index.php?title=Utente:Stygian/Sandbox4&oldid=826769).

[2020-06-09 22:11] CiaobyDany commented on #78
@StygianIrene Me gusta

[2020-06-09 22:25] StygianStar commented on #78
_Non so se volete saperlo, ma mancherebbero i modelli di HOME di Alcremie cromatico..._
Ah, giusto, non saprei nemmeno che categorie mettere. Dobbiamo creare qualcoda ad-hoc?

[2020-06-10 09:00] flavio-a commented on #78
La pagina di Alcremie mi piace.

Poi due cose:
- i modelli statici shiny di HOME non dovrei averne caricato nessuno perché non abbiamo mai avuto gli statici shiny, se però mi dite che li vogliamo ci posso lavorare
- se vi piacciono anche le pagine di Eternatus e Lycanroc sposto anche quelle nel mainspace

[2020-06-10 11:20] StygianStar commented on #78
@flavio-a - Boh, in realtà non so quanto e quando potranno tornare ancora utili i modelli statici shiny di HOME... Però anche averli non sarebbe male...
Se carichiamo solo quelli di Alcremie facciamo una cosa molto puzzolente?
- Per la sottopagina di Lycanroc cambierei solo il langtable come ho fatto in Alcremie, solo perché da mobile si legge incasinato (almeno finché non avremo una versione mobi

[2020-06-10 11:48] CiaobyDany commented on #84
@StygianIrene Appena posso controllo il modulo, giuro. Visto che però stiamo discutendo di rifare tutto quanto, what about spostare la sezione sprite/modelli in una sottopagina a prescindere dalle forme? E in quella sottopagina mettere tutte le immagini ufficiali, artwork inclusi in un modo simile a quello che fa Poképédia? L'esempio più emblematico di quanto sia comodo credo che sia Pikachu: http

[2020-06-10 12:24] flavio-a commented on #78
Lycanroc: l'introduzione è aggiornata a quello che dice Bulba, e ho sistemato il langtable. Ad un certo punto sposterà nella pagina adeguata.
Eternatus: quando sposterò Lycanroc lo farò anche con Eternatus.
Modelli shiny: si possono anche caricare tutti, il problema sono le forme alternative che sono da rinominare come per i modelli base. Caricare quelli di Alcremie da soli si può anche fare, il p

[2020-06-10 15:19] StygianStar commented on #84
@CiaobyDany Quando chiesi a Luca se poteva/voleva aggiornare il template sprite mi propose più o meno la stessa cosa per quanto riguarda la sezione sprite e modelli.
Voleva lasciare in pagina quelli nuovi e spostare quelli vecchi in una sottopagina. Per me va bene, bisogna solo capire come fare.

Per quanto riguarda artwork e cose del genere... Sarebbe tipo una figata assurda. Ci sarebbe un macell

[2020-06-10 15:24] StygianStar commented on #78
@flavio-a Ottimo!
Stasera vedo di fare qualche altra forma (teoricamente abbiamo fatto quella più sbatti).

Allora carichiamo anche tutti i modelli cromatici, a questo punto. Se vuoi spartirli come l'altra volta, scrivimi pure in privato.
E comunque le forme shiny di Alcremie sono solo 7, per fortuna.

[2020-06-10 22:13] StygianStar commented on #78
Update: ho creato le sottopagine di [Cramorant](https://wiki.pokemoncentral.it/Cramorant/Forme), [Toxtricity](https://wiki.pokemoncentral.it/Toxtricity/Forme), [Eiscue](https://wiki.pokemoncentral.it/Eiscue/Forme) e [Morpeko](https://wiki.pokemoncentral.it/Morpeko/Forme).
Ho aggiornato anche il [template Boxforme](https://wiki.pokemoncentral.it/Template:Boxforme), ne aveva bisogno, ora da mobile s

[2020-06-10 22:17] CiaobyDany commented on #78
@StygianIrene Dato come le stiamo organizzando direi di sì. Bene anche le altre sottopagine, mi piace come stanno venendo