[2020-06-11 08:45] flavio-a commented on #78
Dobbiamo per forza metterci una categoria? Comunque nel caso qualcosa tipo `[[Categoria:Sottopagine forme]]` sulla falsa riga delle [Sottopagine Sprite e modelli](https://wiki.pokemoncentral.it/Categoria:Sottopagine_Sprite_e_modelli)
Anch'io direi di fare due pagine separate per i Pokémon trattati insieme (es: Zacian e Zamazenta).

Anche a me piacciono molto come stanno venendo le sottopagine, ma

[2020-06-11 08:59] CiaobyDany commented on #78
@flavio-a Sì alla categoria, nelle differenze di forma io farei un paragrafo leggermente discorsivo introduttivo che rimanda alla categoria, avevo già pensato a mettere un link alle forme alternative in ingresso dalla pagina principale del Pokémon ma lo farei tipo in primissima frase. Coso possiede [[/forme|ventordici forme]].

[2020-06-11 09:13] flavio-a commented on #84
Io chiederei un paio di cose nel sondaggio:
- "Quanto spesso visiti una pagina di un Pokémon apposta per guardarne gli spirte/modelli?"
- "Quanto spesso ti capita di fermarti a guardare gli sprite e i modelli se visiti la pagina di un Pokémon per altri motivi?"
(risposte: sempre, spesso, qualche volta, raramente, mai)

La prima domanda serve per sapere a quanta gente "peggioriamo" l'esperienza (pe

[2020-06-11 19:16] StygianStar commented on #78
@flavio-a
- Per la categoria, sì, io la metterei (l'ho già messa) assolutamente perché è comoda sia per l'utente che per noi.
- Nelle varie sottosezioni in Differenze di forma metterei al massimo "Tizio possiede tot forme". Non mi dilungherei di più perché ci sono casi estremi come Alcremie o Vivillion.
- Dagli articoli dei Pokémon è sicuro che ci va un link in entrata a queste sottopagine. Ok per

[2020-06-11 19:26] StygianStar commented on #84
Per me si può fare, magari unendole insieme?

[2020-06-13 10:45] flavio-a commented on #78
Ha senso non volersi dilungare, e a questo punto direi anch'io di non mettere niente, tanto anche solo il numero delle forme è abbastanza inutile da solo. Se uno vuole i dettagli va nella principale.

Se c'è già nell'intestazione forse non serve l'"articolo principale" in giro. Basta ricordarsi di mettere il link se e quando si parla di una forma alternativa nell'articolo.

[2020-06-19 11:07] Cruifer opened #92 "Migliorie da implementare su github"
## Descrizione
Ho visto che ci sarebbero un paio di cose da fare. Non molto prioritarie, ma sarebbe carino averle.

- Aggiungere il logo giallo anziché quello vecchio grigio. Non va quello blu perché non c'è solo roba per la wiki (anche se è la maggior parte)
- Aggiungere il link a twitter accanto al link al wiki e alla mail. Ho visto prima che si può fare, magari può essere utile per aumentare il

[2020-06-19 11:43] flavio-a commented on #92
@Cruifer Gika e forse Maze

[2020-06-19 16:30] #92 closed, assigned to mexicat, davla

[2020-06-22 13:13] StygianStar commented on #78
@flavio-a Ho cominciato a linkare alcune sottopagine negli articoli principali, vedi Urshifu e Lycanroc (ho messo i link anche su Rockruff e Kubfu).

Sorge spontanea un'altra domanda.
Visto che abbiamo redirect del tipo MegaVenusaur/Venusaur Gigamax > Venusaur, per i nomi delle forme sarebbe da fare una cosa analoga? Se sì, il redirect va all'articolo principale o a quello delle sottopagine delle

[2020-06-22 18:12] flavio-a commented on #78
Non saprei quanto gli utenti li cerchino. C'è da dire che dei redirect non possono fare danni, ma secondo me non vale la pena di crearli in massa. Si fanno quando capita.
Io li farei alle pagine principali, perché mi immagino che uno cerchi la forma per sapere i dati di gioco (che sono nella pagina principale).

[2020-06-22 18:16] CiaobyDany commented on #78
@flavio-a Concordo con Flavio, i redirect vanno fatti alla principale perché comunque la maggior parte delle informazioni rimangono lì. Però potremmo optare per qualcosa di più invasivo tipo una sorta di disambigua in top (a livello di grafica, ovviamente rivedendo contenuti con un template ad hoc), anche se forse è troppo invasivo. D'altro canto Bulba mette in disclaimer i redirect alle sezioni d

[2020-06-24 19:13] #87 closed, assigned to Cruifer

[2020-06-24 22:55] StygianStar commented on #78
Diciamo che per la cosa dei redirect dei nomi delle forme posso pensarci più avanti... Ora che le ho provate tutte a sulla mia pelle ci ho ripensato. Comunque ormai diciamo che manca poco a finire tutte le sottopagine.

Per quel disclaimer che parla Dany, potrebbe essere un'idea interessante? Magari da incorporare nel prevnext come fa bulba? La prima è quello che fa Bulba (con GO)  e la seconda è

[2020-06-25 07:47] CiaobyDany commented on #78
@StygianIrene Interessante l'idea di metterlo nel prevnext perché lo rende meno invasivo. E la tua idea lo rende ancora meno invasivo, ma forse fin troppo? Il rischio è che non venga notato perché nessuno è mai stato abituato a cercare cose lì. Gli altri che ne dicono?

[2020-06-27 23:40] StygianStar commented on #84
Aggiornato il modulo con la domanda sugli sprite e i modelli: https://forms.gle/BmbkUcE3wdm3syyb9

[2020-06-28 21:43] StygianStar commented on #78
Le sottopagine sono state create, l'articolo delle differenze di forma aggiornato.

[2020-07-01 09:52] flavio-a commented on #84
Per me va bene. Se a nessuno viene in mente altro, io lo pubblicherei.

[2020-07-02 09:22] flavio-a commented on #78
Come potete vedere da qua sopra ho aggiornato i moduli per linkare le sottopagine delle forme. Questo vuol dire che adesso tutte le cose che usano i moduli per i link alle forme alternative (per esempio gli elenchi automatici o semi-automatici, come l'[ndex](https://wiki.pokemoncentral.it/Elenco_Pok%C3%A9mon_secondo_il_Pok%C3%A9dex_Nazionale)) puntano alle sottopagine, eccezion fatta per le forme

[2020-07-02 14:17] StygianStar commented on #78
@flavio-a Grazie mille. Avrei dovuto scrivere qui per la cosa dei moduli, ma non ci ho più pensato.
Avevo sistemato anche un paio di template con le differenze di forma, poi mi sono trovata di fronte al problema di Pikachu e non ho continuato. Quello che hai trovato tu è un compromesso accettabile comunque (anche se nelle varianti di Pikachu non ci sono solo le forme -che di fatto sarebbero solo i

[2020-07-06 09:14] #78 closed, assigned to nobody

[2020-07-10 18:15] StygianStar commented on #84
Uppo e taggo @CiaobyDany

[2020-07-16 21:36] Cruifer commented on #68
domanda stupida per cui mi pentirò di averla fatta: non so se serve ancora, ma per questo ci dovrebbe già essere [`{{#explode:`](https://www.mediawiki.org/wiki/Help:Extension:ParserFunctions##explode), senza dover abilitare nulla, no? Ho fatto una prova in sandbox e funziona. Oppure non va bene perché va usato dentro il widget?

[2020-07-17 14:13] Cruifer commented on #31
uppo questa issue perché è rimasta ferma da un po', anche perché io non ho più tempo e voglia di starci dietro.
A parte questo, volevo fare notare che le immagini delle gen nell'infobox sono diverse da bulba, cfr:
![immagine](https://user-images.githubusercontent.com/38588039/87795465-5e173080-c848-11ea-86f6-ab18074bfb35.png)
![immagine](https://user-images.githubusercontent.com/38588039/87795482-

[2020-07-17 20:14] davla commented on #68
Esatto, serve nel widget come funzione PHP

[2020-07-19 19:41] StygianStar commented on #31
Dovrebbe essere una cosa voluta, ma il template lo ha sistemato Luca, non so nulla a riguardo.

[2020-07-21 11:00] Cruifer commented on #31
Però secondo me non ha tanto senso. Così come teniamo gli sprelli della giusta generazione nelle pagine dei giochi dovremmo tenere anche questi con le icone vecchie, no?

[2020-07-21 11:04] StygianStar commented on #31
@Cruifer Sì, anche secondo me dovrebbe essere così.

[2020-07-22 17:44] CiaobyDany commented on #84
Titolo:
Struttura degli articoli dei Pokémon su Pokémon Central Wiki

Intro:
Gli articoli dei Pokémon sono tra i più visitati di Pokémon Central Wiki, ma la loro struttura di base è stata importata 12 anni fa, agli albori del sito, da Bulbapedia senza pensarci troppo, quando le cose da fare erano tante e il tempo a disposizione molto poco. Oggi però la situazione è ben diversa, ed essendo un'encic

[2020-07-22 20:44] StygianStar commented on #84
Ho apportato tutte le modifiche, ecco il modulo:
https://forms.gle/UXJv7v7U8XGpVyWq6

I ringraziamenti compaiono come messaggio dopo aver compilato e inviato il sondaggio, non è possibile inserirlo a fine sondaggio. Penso che vada bene comunque. Se volete posso aggiungervi come collaboratori al sondaggio (penso che così possiate vedere anche voi le risposte).

[2020-08-08 09:08] flavio-a commented on #89
Ok, ho controllato e non abbiamo gli sprelli dopo Cielo, e in realtà anche di Cielo non abbiamo un po' di forme alternative (tipo Giratina Originale e Shaymin Cielo, ma non ho controllato tutto). La nomenclatura attuale è `MDP<ndex>` (che credo sia "Mystery Dungeon Potrait") e sono ragionevolmente convinto che siano presi da Cielo.

Da un rapido controllo su Bulba e Wikidex sembra che esistano sol

[2020-08-08 11:36] Cruifer commented on #89
@flavio-a Se abbiamo le pagine categorizzate per bene dovrebbe essere relativamente fattibile metterli col bot, no? Un altro utilizzo di quegli sprelli che mi viene in mente è di metterli negli spindata, dove al momento usiamo credo gli sprelli sbagliati (o comunque gli stessi per tutti i md). Poi potrebbero tornare utili in futuro se vogliamo delle pagine con tutti gli sprelli di un certo pkmn in

[2020-09-06 12:59] Cruifer commented on #89
update: guardavo i francesi e loro hanno anche degli sprite dei Pokémon, mi riferisco a
![immagine](https://user-images.githubusercontent.com/38588039/92326296-5ce8cf80-f051-11ea-85d8-4cf4a1448a63.png)
che si trova [qui](https://www.pokepedia.fr/Bulbizarre/Imagerie#Pok.C3.A9mon_Donjon_Myst.C3.A8re). Solo che non esistono (temo) per tutti i PMD, è anche vero però che nei dungeon si vedono gli sprit

[2020-09-15 09:08] flavio-a commented on #89
In teoria da Super in poi ci sono i modelli, e secondo me ne abbiamo già abbastanza con i modelli della serie principale (che non si trovano mai perché nessuno li rippa). Io resterei sui potrait (iniziamo ad usare questo nome che se li chiamiamo tutti sprelli non si capisce niente), che tanto sono comunque rappresentativi e sappiamo già esserci in giro.

[2020-09-15 21:01] Cruifer commented on #89
@flavio-a Mi sembra ragionevole

[2020-09-17 16:44] lucas992x opened #93 "Sottopagine per le immagini dei Pokémon"
Abbiamo deciso di spostare sprite e modelli dei Pokémon in sottopagine, ora vediamo come strutturarle.
- [x] ~~Cosa mettere nella sottopagina~~: artwork + sprelli serie principale + sprelli spin-off, tutto ciò che abbiamo
- [x] ~~Decidere se lasciare nella pagina i modelli di HOME~~: si mettono quello normale e cromatico della sola forma base
- [x] ~~Come strutturare la sottopagina (sezioni o box

[2020-09-17 17:09] Cruifer commented on #93
questa issue mi piace, potrebbe potenzialmente diventare un campo di battaglia per svariate civil war. A parte gli scherzi, il mio modello di riferimento in questo sono i [francesi.](https://www.pokepedia.fr/Tortipouss/Imagerie) Quindi per me dovremmo tenere artwork e sprelli, magari in sezioni separate why not, anche perché ma quanto sono belli gli sprite animati di HGSS??? Io farei anche una sez

[2020-09-17 17:19] lucas992x commented on #93
La struttura che avevo pensato io è più o meno:
[code]

[2020-09-17 17:27] Cruifer commented on #93
mi piace. una cosa che farei diversa dai francesi è la gestione delle forme alternative. Loro fanno pagine separate, ma a me piacerebbe vedere tutto nella stessa pagina. Opinioni?

[2020-09-17 17:41] lucas992x commented on #93
Direi anche io tutto in una pagina, la stiamo creando apposta per quello...

[2020-09-17 17:42] CiaobyDany commented on #93
@lucas992x Tassativamente tutto in una pagina, al più dividiamo in sezioni per le forme, ma non voglio roba eccessivamente cluttered.

Poi rispondo anche sul resto con più calma

[2020-09-17 21:16] Cruifer commented on #89
update: alla luce di #93 credo che valga la pena caricare anche gli sprite oltre ai potrait, fermo restando che nelle pagine dei dungeon usiamo i secondi

[2020-09-17 22:13] CiaobyDany commented on #93
Cosa mettere nella sottopagina: tutto. Artwork di qualsivoglia tipo, sprelli da qualsiasi gioco e di qualsiasi tipo su cui riusciamo a mettere mano (also on topic: ma gli animati di quinta?), inclusi i venticinque retro di quarta generazione, le animazioni di sesta/settima e gli sprite dei credits degli starter di prima da RFVF.

Cosa lasciare nella pagina: modelli di HOME normale e cromatico? I m

[2020-09-18 08:21] flavio-a commented on #93
Approvo togliere il modulo sprite perché così non me lo devo smazzare io :D
Boiate a parte, il modulo sprite imo ha ancora un utilizzo sensato che è quello di creare il boxettino dei MS ([esempio](https://wiki.pokemoncentral.it/Steelix/Sprite_e_modelli#Mini_Sprite)), che  in generale preferirei come idea ad aggiungere il MS in mezzo agli sprelli enormi delle varie generazioni.

Poi vado con ordine

[2020-09-18 08:22] flavio-a commented on #89
Vabbe, diciamo che li caricheremo, tanto non li troveremo mai quindi dirlo o meno non cambia nulla.

[2020-09-18 09:58] lucas992x commented on #93
Ho editato il post iniziale per le cose su cui siamo già d'accordo (tanto la cronologia è sempre disponibile). Alcune considerazioni:
- L'idea di lasciare i modelli di HOME in pagina per la questione dei cromatici ha senso, ma soltanto se ci si mette la sola forma base, altrimenti nei casi estremi come Unown, Vivillon o Alcremie avremmo decine di modelli; lì però in un certo senso non esiste *una*

[2020-09-18 13:04] lucas992x commented on #93
Ho messo una prima bozza per gli artwork [qua](https://wiki.pokemoncentral.it/Utente:Lucas992X/ProveTemplate). Intanto ditemi se vi piace il layout, o almeno l'idea generale, così lo templatizzo. Poi, ho messo fra gli esempi Kyurem perché fa già emergere alcune cose da discutere:
- Se verrà approvato un layout così (o comunque simile), per i box usiamo sempre i colori dei tipi attuali? Usare i tip

[2020-09-18 13:27] Cruifer commented on #93
@lucas992x A me non convince molto avere box separati per artwork, mi piaceva di più l'idea di un contenitore unico che raccoglie i vari box. O almeno, se si vogliono davvero i singoli box almeno metti il flex col baseline che le scritte ad altezze diverse mi triggerano alquanto. Per i colori non saprei. Approvo mettere le mascotte. Per l'ordine andrei in ordine cronologico separando serie princip

[2020-09-18 18:48] StygianStar commented on #93
Arrivo in ritardo, scusatemi... Quello che è stato deciso mi va bene, anche il resto che ne sta uscendo.

**Decidere se lasciare nella pagina i modelli di HOME:** Non lo lascerei e non li metterei assolutamente nel pokémoninfobox come ha detto Dany; la gente va lì solo per vedere l'artwork di Sugimori (al limite si può decidere di metterci accanto solo il modello di HOME cromatico).

Per la nomenc

[2020-09-18 19:02] Cruifer commented on #93
@StygianIrene quello che dici sulla tabella non è corretto. Sono riuscito a fare questo
![immagine](https://user-images.githubusercontent.com/38588039/93635018-d5f10b00-f9f1-11ea-8d15-ba7e66545c91.png)
lasciando il 99% del codice di Luca. Se poi lo preferisci per una questione di gusti allora ok, ma per quanto riguarda la praticità è una motivazione un po' molto fragile

[2020-09-18 19:07] StygianStar commented on #93
Continuo a preferire lo stile di Luca. Come esce la tabella se un artwork va a capo/sono dispari/non ci stanno?

[2020-09-18 19:17] Cruifer commented on #93
Dipende da cosa vogliamo noi. Possiamo decidere se e come mandarli a capo, allargarli, restringerli a nostro piacimento. Che poi è fondamentalmente la potenza del card layout (e la stessa cosa vale per lo stile di Luca ovviamente). Ad esempio potresti volere questo
![immagine](https://user-images.githubusercontent.com/38588039/93636348-0df94d80-f9f4-11ea-835f-9a1c3a813f1f.png)
oppure questo
![imma

[2020-09-18 19:23] lucas992x commented on #93
Le altezze delle scritte le ho lasciate momentaneamente così brutte perché volevo prima capire se questo tipo di layout andasse bene, una volta approvato le sistemerò ;)
Per le boxart, io in realtà preferirei mettere proprio quelle e non gli artwork ritagliati, sentiamo un po' gli altri. Anzi, prima verifichiamo di averli :D
Ho reso le cose collassabili e provato ad aggiungere il layout proposto d

[2020-09-18 19:33] Cruifer commented on #93
Se c'è una sola immagine puoi semplicemente metterne tre per riga e nell'ultima due, nessuno ci obbliga a tenerne 4 per riga, quindi mi pare un'obiezione un po' debole. Esempio:
![immagine](https://user-images.githubusercontent.com/38588039/93637777-75180180-f9f6-11ea-9b05-9725d78dc90c.png)
Sinceramente non vedo l'utilità di mettere il box collassabile, la sezione è già collassabile di suo (e non

[2020-09-18 19:37] lucas992x commented on #93
In teoria sì, ma in pratica quando costruisci il template non sai quante ce ne sono, praticamente ogni Pokémon è un caso a sé. Vogliamo davvero gestire a mano ogni singolo caso? (Spoiler: lolno.)

[2020-09-18 19:38] lucas992x commented on #93
Ah poi, da quando le sezioni sono collassabili? o.O

[2020-09-18 19:56] Cruifer commented on #93
non c'è veramente bisogno di gestire a mano. Si possono fare cose interessanti con le class `flex-main-stretch` e `min-width-xl-`. Esempio
![immagine](https://user-images.githubusercontent.com/38588039/93639604-90d0d700-f9f9-11ea-9bee-5de06a15b418.png)
Si può fare sicuramente meglio ma ho sonno e domani devo alzarmi presto, quindi non ho voglia di sbattere ulteriormente la testa per questa questio

[2020-09-18 22:28] lucas992x commented on #93
Credo che il tuo giudizio sia biased perché sai già quante immagini sono, ma se mi sorprendi trovando un buon modo per gestire il tutto in maniera indipendente dal numero di artwork tanto meglio :D

[2020-09-20 10:47] Cruifer commented on #89
Come sei pessimista. Ad ogni modo, ho iniziato a creare la [categoria per i potrait di PMDDX](https://wiki.pokemoncentral.it/Categoria:Ritratti_Pok%C3%A9mon_Mystery_Dungeon_SSDX), dato che Franky ne aveva già caricati alcuni. Io direi di mantenere la nomenclatura che hanno questi per semplificarci un po' la vita. La domanda è: come gestiamo [i cromatici](https://www.pokepedia.fr/Cat%C3%A9gorie:Min

[2020-09-20 13:01] flavio-a commented on #89
@Cruifer Per la nomenclatura io toglierei gli spazi anche solo per uniformarsi agli altri sprelli degli spin-off (quindi `MDPDX***-alt.png`, dove `***` sta per l'ndex con le solite convenzioni per le forme alternative, e alt per la variante (tipo sorpresa, sorriso etc). E categorizziamoli bene che, se faranno un altro MD su Switch, ti quoto il riciclo dei potrait al 100% e così li possiamo spostar

[2020-09-20 16:54] Cruifer commented on #89
Tengo i redirect o li tolgo?

[2020-09-20 17:06] flavio-a commented on #89
@Cruifer si possono anche tenere

[2020-09-23 10:52] Cruifer commented on #89
allora, ho rinominato quelli di toc e dx, caricati quelli che non avevamo di dx (inclusi i cromatici). RImangono quelli per 3ds. Ora, i francesi hanno due categoria, una per [psi](https://www.pokepedia.fr/Cat%C3%A9gorie:Miniature_Pok%C3%A9mon_(Donjon_Myst%C3%A8re_:_les_portes_de_l%27infini)) e una per [psmd](https://www.pokepedia.fr/Cat%C3%A9gorie:Miniature_Pok%C3%A9mon_(M%C3%A9ga_Donjon_Myst%C3%A

[2020-09-23 13:55] flavio-a commented on #89
@Cruifer Premesso che neanch'io ho giocato a Portali (esistono persone che l'hanno fatto?) ho controllato e sono leggermente diversi, nel senso che sono le stesse immagini ma un po' più scure (Portali)/chiare (Super)
Quindi fai un po' te, per me si possono comunque caricare solo quelle di Super ma se volete averli entrambi ok. Nomenclatura quella di sopra con PSI come sigla del gioco, direi

[2020-09-24 08:25] flavio-a commented on #89
@flavio-a nota per me: devo prendere le maledette gif nella [categoria di Esploratori](https://wiki.pokemoncentral.it/Categoria:Ritratti_Pok%C3%A9mon_Mystery_Dungeon:_Esploratori_del_Tempo,_dell%27Oscurit%C3%A0_e_del_Cielo), separare i frame e caricarli come file singoli delle varie forme

[2020-09-24 09:33] Cruifer commented on #89
@flavio-a occhio che non ci sono solo gif ma anche apng, tipo [questa](https://wiki.pokemoncentral.it/File:MDPTOC483.png).

[2020-09-24 12:19] Cruifer commented on #89
Update: ho messo un parametro `pot` (abbreviazione di potrait) al template `mdloc` e messo nelle pagine col bot, quindi ora nei dungeon usiamo ufficialmente i potrait anzichè gli sprite della serie principale. Visto che mi andava, li ho messi anche nel template dell'elenco di pkmn delle aree amico. L'unica cosa che non mi fa impazzire è che non si adattano bene al roundy in fondo
![image](https://

[2020-09-24 13:43] flavio-a commented on #89
Bisogna anche metterli nel template spindata.

Il padding intorno si può mettere dal template no? Tipo alla cella con l'immagine, o wrappando l'immagine in un `div`.

Nomenclatura: io ho due proposte: `Sprmd<sigla gioco><ndex>.png` e `MDSpr<sigla gioco><ndex>.png`.
Il primo è allineato alla nomenclatura degli sprelli della serie principale, ma c'è l'md che li distingue. Ovviamente se poi escono Po

[2020-09-24 13:51] Cruifer commented on #89
nel template spindata non ci sono già?
Ottima idea per il div, non ci avevo pensato, provo subito.
Per gli sprelli tutto bellissimo ma mi sono scordato di dire che ci sono due sprite, uno per [rb](https://www.pokepedia.fr/Cat%C3%A9gorie:Sprite_Pok%C3%A9mon_(Donjon_Myst%C3%A8re_:_%C3%89quipe_de_Secours_Rouge_et_Bleue)) e uno per [TO(C)](https://www.pokepedia.fr/Cat%C3%A9gorie:Sprite_Pok%C3%A9mon_(D

[2020-09-24 13:57] flavio-a commented on #89
@Cruifer Spindata: sì ma c'è il link con il redirect, bisogna correggerli

Sprelli: eh appunto a quello serve la sigla del gioco: rb o toc a seconda del gioco di provenienza

[2020-09-24 13:58] Cruifer commented on #89
per lo spindata correggo subito.
Probabilmente ho letto troppo di fretta e non mi ero accorto della sigla. Scelgo la seconda opzione btw

[2020-09-24 21:56] lucas992x commented on #93
Cose da fare per gli artwork:
- [x] Pokémon Card GB: esistono tipo 4 Artwork del 2 di personaggi, e altri 4 sempre di personaggi ma che sembrano presi da materiale pubblicitario. Il resto sono tutti sprite, quindi si può fare con calma.
- [x] Conquest: una 50ina di pic, noi ne abbiamo tipo 7 di quelle che dovrebbero essere. Miste tra solo pokémon, solo chara e doppie (https://archives.bulbagarden.

[2020-09-25 09:19] Cruifer commented on #93
@lucas992x ho salvato il mio layout [qui](https://wiki.pokemoncentral.it/Utente:Lucas992X/ProveTemplate#box_grosso_con_sottobox_2) se vuoi studiarne il codice. La cosa che mi piace di più è che mettendo le min-width il template gestisce bene il fatto che alcune immagini siano più grandi di altre. Un altra cosa bella è che si adatta alla lunghezza delle scritte, senza dover cambiare le width:
![ima

[2020-09-26 08:44] flavio-a commented on #89
Quindi possiamo segnare la questione potrait/sprelli come conclusa?
Allora io passerei a discutere l'ultimo punto rimasto della issue, e poi ad aprire un altro, quello delle Aree Amico/Campi Base (che ne abbiamo parlato un po' su Tg ma poi si è perso tutto).

**Posizione del dungeon in fondo all'infobox**: io sono per il nì, nel senso che è carina l'idea (ma non la trovo fondamentale visto che a d

[2020-09-26 09:00] Cruifer commented on #89
Se hai sistemato la questione delle gif dei portrait di TOC allora sì, è conclusa.

Per la storia dei Dungeon io la trovavo una cosa carina da avere, ma in effetti è troppo lavoro non giustificato da un utilità pratica. Facciamo che magari per il momento si lascia perdere.

Per le aree amico, io ho già caricato un po’ di tempo fa gli artwork delle aa in dx (scusa se le chiamo così anche quelle di

[2020-09-26 15:10] Cruifer commented on #89
per i portrait: ho visto solo ora che sono rimasti alcuni di TOC/Super caricati da Ale che non ho spostato e categorizzato. Alcuni hanno anche la descrizione della variante con due parole (e quindi uno spazio nel mezzo)

[2020-09-26 17:26] flavio-a commented on #89
@Cruifer Ho caricato le versioni "statiche" delle gif, però non ho cancellato i vecchi file perché non mi sembra ci sia la necessità, ma se pensate sia meglio mi sembra ragionevole.

Per le aree amico mi posso prendere io l'impegno, però con un po' di calma.

La cosa dei potrait caricati da Ale non l'ho capita, stai chiedendo consiglio o è un memo per te?

[2020-09-26 21:59] Cruifer commented on #89
Boh io forse le cancellerei per evitare confusione ma in fondo chissenefrega.

Tranquillo, nessuna fretta per le aa (anche se gli artwork di DX sono veramente belli da avere in pagina)

E sì, quello è un promemoria per me. Solo che non so come gestire il fatto dello spazio nella descrizione, perché mi sembra che tu avessi detto di non volere spazi nei nomi dei file, quindi sto anche chiedendo cons

[2020-09-27 09:37] flavio-a commented on #89
@Cruifer Ok dai, allora li cancello.

Per gli spazi nei nomi delle immagini: potrei aver detto di evitarli, ma (1) non è un vincolo forte, è più una preferenza e (2) non conta davvero se le immagini non vanno inserite automaticamente in un template/modulo (tipo le immagini delle aa che vengono scelte dal template in automatico usando il nome). Quello che invece va assolutamente evitato nel nome de

[2020-10-06 09:03] lucas992x opened #94 "Elenco problemi skin Timeless"
Usiamo questa issue per raccogliere tutti i bug/problemi riscontrati con la nuova skin Timeless. Per comodità mettiamo qua l'elenco e spieghiamo ciascuna in un commento separato, con screenshot/link/etc.
- [x] [Tabelle responsive collassate](https://github.com/pokemoncentral/wiki-project/issues/94#issuecomment-704142578) [mobile]
- [x] ~~[Elementi larghi che strabordano](https://github.com/pokemon

[2020-10-06 09:10] lucas992x commented on #94
## Larghezza non interpretata correttamente [desktop]
Timeless ha una sidebar anche a destra, a differenza di Vector che ha solo quella di sinistra. Sfortunatamente le nostre classi responsive (`*-xl-*`, `*-lg-*` e così via) lavorano come se quella sidebar non ci fosse, quindi da desktop pensano di avere uno schermo `xl` quando in realtà la larghezza effettivamente disponibile è `md`/`lg`, quindi

[2020-10-06 09:18] lucas992x commented on #94
## Tabelle responsive collassate [mobile]
Abbiamo in giro per il wiki tabelle collassate, tabelle responsive, tabelle sia collassate che responsive. Sembra che le due cose non possano coesistere: se lo schermo è abbastanza stretto da farla diventare responsive la tabella collassa comunque e non risulta espandibile. Ecco un [esempio](https://wiki.pokemoncentral.it/MT#Elenco_delle_MT):
![scr2 1](htt

[2020-10-06 09:29] flavio-a commented on #94
@lucas992x idea stupida: mettere le tabelle responsive dentro ad un div collassabile invece di rendere le tabelle direttamente collassabili?

[2020-10-06 09:53] lucas992x commented on #94
Come rimedio temporaneo ci sta, ma sarebbe auspicabile una soluzione, non sapendo quante tabelle del genere ci sono in giro per il wiki

[2020-10-06 15:36] Cruifer commented on #94
succede che quando le tabelle sono troppo larghe queste strabordano e occupano il menu laterale a destra.
![wiki pokemoncentral it-Mosseerratedeigiochi-PokémonCentralWiki](https://user-images.githubusercontent.com/38588039/95223751-38237b80-07fa-11eb-957d-fef3a35c786f.png)

probabilmente succede con poche tabelle non aggiornate, ma comunque c'è

[2020-10-06 21:05] CiaobyDany commented on #94
Aggiungo anche che su schermi grandi ma non troppo, possono esserci problemi nella visualizzazione delle notifiche che necessitano di scrolling orizzontale. Non è un vero problema, ovviamente, ma è sintomatico del fatto che qualcosa non funzioni.
![immagine](https://user-images.githubusercontent.com/38566659/95260040-5b651f80-0828-11eb-9f03-f5c44f6ddffb.png)

È già stato fatto presente che il test

[2020-10-06 21:06] Cruifer commented on #94
cosa buffa che ho notato:
![image](https://user-images.githubusercontent.com/38588039/95259881-26f16380-0828-11eb-96d4-304ee68fb3bc.png)
in sostanza il div con `position: fixed` straborda la colonna di contenuto. La causa di fondo credo sia la stessa che non fa funzionare i breakpoint correttamente, è come se i breakpoint venissero calcolati con la larghezza di tutte e tre le colonne insieme ma po

[2020-10-06 21:22] CiaobyDany commented on #94
Ragazzi, mi ero dimenticato di farlo presente fino adesso, ma... I breakpoint e i position fixed considerano sempre la dimensione finestra/schermo e non quella del contenuto. È il motivo per cui non si possono fare delle anteprime sensate su Vector di simulazione schermi piccoli perché c'è di mezzo la sidebar. E, ovviamente, se si mette su Vector un position fixed left le cose vanno sulla sidebar.

[2020-10-06 22:43] lucas992x commented on #94
E questo è un grossissimo problema, perché con Vector il contenuto è 1.5 volte più largo di quello di Timeless, quindi 1) dovremmo rifare mezzo sito per sistemare tutti questi problemi, e 2) sarebbe comunque un casino immane: in `xl` e `lg` una cosa che va bene con Vector probabilmente risulterà troppo stretta in Timeless mentre una buona in Timeless sarà enorme in Vector. Abbiamo già appurato che

[2020-10-07 14:17] mexicat commented on #94
Il problema della dimensione del testo è dovuto al `font-size: 17px` che c'è sul body nei CSS; andrebbe messo solo su Vector (anche su Minerva si può evitare)

[2020-10-07 17:21] lucas992x commented on #94
@mexicat cambiare questa impostazione è fattibile in modo indolore (o quasi) oppure ci sono delle controindicazioni?

[2020-10-08 15:32] mexicat commented on #94
Secondo me si può fare tranquillamente, verificando appunto che alla fine `font-size: 17px` compaia solo su Vector

[2020-10-09 10:42] flavio-a commented on #94
Allora: non ho idea del perché esista quella impostazione (qualcuno ci vedeva male e voleva aumentare lo zoom del sito?), comunque Vector e Minerva di default hanno `font-size: 16px`, mentre Timeless `font-size:15.2`. Questa potrebbe essere la causa di un po' di problemi.
Sistemare si può sistemare, nel senso che si può mettere la proprietà solo su una certa skin (mettono una `class` sul `body`, q

[2020-10-09 12:43] mexicat commented on #94
L'impostazione esiste perché su Vector con le impostazioni di default il font è troppo piccolo nonostante i 16px. Su Minerva non avrebbe mai dovuto esserci ma nessuno se ne è ricordato quando abbiamo attivato la versione mobile, si può togliere anche da lì.

[2020-10-09 12:47] flavio-a commented on #94
@mexicat sicuro non rompa dei layout? Perché ormai sono stati tutti adattati al font 17px, quindi forse rimpicciolendolo ci sono dei problemi. È anche vero che di solito la cosa problematica è ingrandire il font, ma comunque ormai possiamo lasciarlo anche a Minerva

[2020-10-09 13:21] lucas992x commented on #94
Ho appena provato Timeless con questa modifica e va decisamente molto meglio. Forse si può rimpicciolire il testo ancora un pochino, ma veramente di poco, già così mi sembra più o meno allo stesso livello di Vector.

[2020-10-09 13:57] mexicat commented on #94
Non vedo controindicazioni nel rimpicciolire il font su Minerva (al contrario dell'ingrandirlo che sarebbe problematico), mentre vedo il grosso vantaggio che ci sta più roba nello schermo... Per quanto può valere ho fatto una breve prova coi dev tools togliendo la definizione sul simulatore mobile e non mi sembrava si fosse rotto niente.

[2020-10-09 17:37] flavio-a commented on #94
Ok, allora provo a toglierla e vediamo. La lascio solo su Vector.

Posso provare a calare ancora, ma di base preferirei non toccare i default. E poi il testo deve rimanere leggibile comodamente

[2020-10-09 19:12] Cruifer commented on #94
Posto che sono da tablet e su safari, questa cosa è un po’ brutta
![6F6DFDC6-64D7-45E0-9B1F-DE4235B8E1AF](https://user-images.githubusercontent.com/38588039/95622576-12091000-0a74-11eb-9548-99ee7d22387d.jpeg)

[2020-10-10 13:12] lucas992x commented on #94
Ho sistemato facendolo diventare un semplice elenco, che mi sembra anche più bello e intuitivo, e ne ho approfittato per aggiornare alcune cose qua e là con le nuove classi (`white-bg` e `white-text`).

[2020-10-10 15:31] SDoc94 commented on #93
Questione concept art: alcuni appartengono a dei Pokémon (ma in teoria anche quelle di allenatori/di gruppo dovrebbero essere spostate in una categoria apposita), quindi direi di creare una categoria generica "Concept Art", divisa poi esattamente come gli art ufficiali normali (pokémon/strumenti/personaggi/gruppi).

Inizio elencando le varie concept art di cui sono a conoscenza siano caricate su P

[2020-10-13 12:35] flavio-a commented on #89
Reminder per me: devo spostare Aree Amico -> campi base (non so le maiuscole) e cambiare i nomi di alcune Aree Amico

[2020-10-13 14:21] lucas992x commented on #94
Ho notato ora che quando si edita con Timeless e si visualizza l'anteprima non vengono mostrate le categorie e le altre lingue, cosa che invece avviene usando Vector. Non è un grosso problema, ma se si trovasse una soluzione sarebbe buona cosa.
EDIT ho appena notato che quando lo schermo è inferiore a `xl` si vedono le categorie.

[2020-10-13 14:29] Cruifer commented on #94
sicuro che non sia un problema tuo? io vedo tutto correttamente anche da `xl`
![image](https://user-images.githubusercontent.com/38588039/95874376-1fbede00-0d71-11eb-98f9-bb1968fbd739.png)

[2020-10-13 14:36] lucas992x commented on #94
Credo tu abbia attivato "Ricarica la pagina per mostrare l'anteprima" o qualcosa del genere, giusto?

[2020-10-13 15:04] Cruifer commented on #94
boh, ho "Mostra anteprime senza ricaricare la pagina" non spuntato, ma non ricordo di averlo mai toccato

[2020-10-13 15:19] lucas992x commented on #94
Ecco, io ce l'ho abilitato e con Timeless non vedo categorie e lingue, mentre con Vector sì

[2020-10-14 16:37] lucas992x commented on #93
Comincio a creare la categoria `Concept Art` e aggiungerci tutte queste immagini tranne l'ultima? Così intanto le abbiamo tutte raggruppate, poi penseremo a rinominarle e categorizzarle in base al tipo.

[2020-10-15 20:10] StygianStar commented on #93
Sì

[2020-10-17 17:49] Cruifer commented on #93
la cosa sul modulo sprite si può spuntare? Tanto mi pare abbastanza chiaro che quel modulo non lo useremo più

[2020-10-18 00:07] lucas992x commented on #93
Yes, ho aggiornato il post iniziale

[2020-10-20 17:27] Cruifer commented on #93
A me sembra che manchino anche Pikachu, Chansey, Mewtwo, Corphish, Chimeco, Chimchar e Croagunk. Mancano davvero o mi sono perso qualcosa?

Erano tre e non due da spostare ma fin qui tutto ok. Oltre a quei due però manca anche Spinda. Come prima

pingo @SDoc94 e @lucas992x

[2020-10-21 10:40] SDoc94 commented on #93
Sai che non ne ho idea? Io le avevo ricontrollate due volte e mi sono sfuggite, ma se mancano allora sono da caricare

[2020-10-21 12:51] Cruifer commented on #93
ok, con gli artwork di pmd siamo a posto

[2020-10-22 12:56] lucas992x commented on #93
**SPRELLI SPIN-OFF**: https://wiki.pokemoncentral.it/Categoria:Sprite_e_modelli_spin-off

[2020-10-22 13:03] Cruifer commented on #93
sempre spin-off
* ~~Ranger: abbiamo lo spindata, ma non vengono usati sprite. C'è da capire se li abbiamo o meno. In caso si trovano [qui](https://www.pokepedia.fr/Cat%C3%A9gorie:Sprite_Pok%C3%A9mon_(Ranger)), [qui](https://www.pokepedia.fr/Cat%C3%A9gorie:Sprite_Pok%C3%A9mon_(Ranger_:_Nuit_sur_Almia)) e [qui](https://www.pokepedia.fr/Cat%C3%A9gorie:Sprite_Pok%C3%A9mon_(Ranger_:_Sillages_de_Lumi%C3

[2020-10-25 09:20] #73 closed, assigned to flavio-a, davla

[2020-10-27 07:34] StygianStar commented on #93
Per quanto riguarda gli sprite di Ranger, la mia intenzione era di caricarli tutti con la stessa grandezza e utilizzarli nei template. Non so quanto sia fattibile come cosa dato che hanno diverse grandezze. Ditemi che ne pensate.
E sì, confermo che alcuni sprite sono uguali tra un gioco e l'altro, no idea di chi però.

Aggiungo altri sprite spin-off da caricare:
* [Sprite di Magikarp Jump](https:/

[2020-10-27 09:08] lucas992x commented on #93
C'è il problema che alcuni sprite sono giganteschi rispetto agli altri, vedi per esempio [Rayquaza in Ranger](https://wiki.pokemoncentral.it/index.php?title=Categoria:Sprite_Pok%C3%A9mon_Ranger&filefrom=Sprranger371.png) o [Dialga in OsA](https://wiki.pokemoncentral.it/index.php?title=Categoria:Sprite_Pok%C3%A9mon_Ranger:_Ombre_su_Almia&filefrom=Sprrangerosa470.png).

Ho la lista, la metterò da qu

[2020-10-27 09:21] StygianStar commented on #93
Immaginavo per gli sprite di Ranger, fa niente.

[2020-10-30 08:54] flavio-a commented on #89
Stavo iniziando a guardare un po' per aggiornare i Campi Base/Aree Amico, e mi è venuto un dubbio: se nell'infobox mettiamo l'artwork di DX, dove mettiamo l'immagine di MDRB? Bulba fa una sezione "Appearance" in cui mette solo un box con quella, l'alternativa sarebbe metterla come immagine tipo sotto l'infobox. Oppure direttamente nell'infobox mettiamo due immagini. Oppure boh, proponete e comment

[2020-10-30 09:05] Cruifer commented on #89
Boh. Posto che a me non convince tantissimo, perché non provare le tabs? Nell'infobox intendo

[2020-10-30 09:09] lucas992x commented on #89
Mi intrometto perché leggo _tabs_ e _infobox_ nello stesso commento: dato che `Infobox/image` gestisce una sola immagine e non vorrei stravolgerlo, è il caso di creare un template del tipo `Infobox/images` in cui usare i tab? È una cosa che poi si potrebbe usare anche in altri contesti, per esempio il `PokémonInfo`.

[2020-10-30 12:54] flavio-a commented on #89
Allora, se vuoi crearlo è plausibile che verrà usato prima o poi, ma mi sembra più una cosa da discutere in #83, anche considerato che né a me né a Crusca convince troppo l'idea.
Io personalmente preferirei due immagini una sotto l'altra se le vogliamo entrambe nell'infobox (tanto non sono così grandi), oppure adottare un'altra soluzione.

[2020-10-30 14:27] flavio-a commented on #89
@Cruifer https://wiki.pokemoncentral.it/Utente:Ff300/sandbox come ti sembra così l'infobox? Ho provato a mettere entrambe le immagini, e vorrei anche portare la tua attenzione sulla parte bassa con metodo per ottenere e prezzi separati (ho copiato l'idea dei tedeschi).
Personalmente la doppia immagine mi convince meno di quanto pensassi, e unirei i prezzi in un unico box, ma mi piace molto l'idea

[2020-10-30 14:30] Cruifer commented on #89
@flavio-a Sai che a me non dispiace affatto avere le due immagini così? Io lo approvo

Btw, i prezzi magari uniamoli mettendo sup / sup. per il resto ok

[2020-10-30 14:49] lucas992x commented on #83
A tempo debito bisognerà creare un nuovo pezzo: `Infobox/tabs`, che come suggerisce il nome utilizzerà le nuove `Tabs`. Si può utilizzare per i Pokémon con forme alternative, ma non solo™: esempi che mi vengono in mente solo [le coppie di giochi](https://wiki.pokemoncentral.it/Pok%C3%A9mon_Nero_e_Bianco) (che mostrano le due immagini una sotto l'altra in maniera secondo me brutta) e [le generazion

[2020-10-31 14:52] flavio-a commented on #89
Ok, allora io vado così. Inizio ad aggiornare proprio le pagine.

[2020-10-31 15:47] lucas992x commented on #93
Dato che nessuno si oppone io caricherei questi modelli completi, con nomenclatura `MastersEX000.png` e `MastersEXsh000.png`, o qualcuno ha idee migliori?

[2020-11-01 06:14] StygianStar commented on #93
@lucas992x Le icone e gli sprite sono due cose diverse, tra l'altro le icone sono utilizzate nei template di Masters

[2020-11-02 13:21] lucas992x commented on #93
Sì ho notato, stavo quotando il messaggio di Cruifer :D fra poco li scarico e poi li carico su PCW con quella nomenclatura, se nessuno ha nulla in contrario

[2020-11-02 13:39] StygianStar commented on #93
@lucas992x io no

[2020-11-06 16:10] lucas992x commented on #93
Pokémon Puzzle Challenge: i francesi hanno gli sprite mezzi png e mezzi gif ([link](https://www.pokepedia.fr/Cat%C3%A9gorie:Sprite_Pok%C3%A9mon_(Puzzle_Challenge))), che si fa? Bulba apparentemente non li ha proprio.

[2020-11-06 20:47] StygianStar commented on #93
Se vuoi posso recuperarle io tutte in png.

[2020-11-06 21:00] lucas992x commented on #93
Se riesci è un'ottima cosa, così ci togliamo anche questi

[2020-11-06 21:05] StygianStar commented on #93
Aggiornamento: i png francesi vanno bene e sono rippati direttamente dal gioco, quindi recupero solamente i file che sono in gif (e in realtà gli sprite non sono nemmeno tutti perché ogni Pokémon ha altre 4 quattro animazioni differenti).

Nomenclatura modelli HOME "posteriori": Home*sesso*000_r ("r" di "retro"), Homem854/855_f ("f" di "fondo" per Sinistea e Polteageist).

[2020-11-08 18:46] CiaobyDany commented on #94
Allora, numeri rilevanti:

- Da 850 pixel in giù tutti i menù sono rappresentati da icone e viene rimosso il margine laterale dal content
- Da 1100 pixel in su appare la sidebar di sinistra
- Da 1340 pixel in su appare la sidebar di destra

Una soluzione magari poco elegante ma efficace per la larghezza non interpretata correttamente e per gli elementi larghi che strabordano potrebbe essere aument

[2020-11-09 09:57] flavio-a commented on #93
Non so se c'entri qualcosa, ma Torchic ha già i modelli di HOME retro per le differenze di sesso. Forse era quello che voleva dire Irene con il messaggio di sopra, ma nel dubbio ripeto.

[2020-11-09 11:29] lucas992x commented on #94
Io invece stavo pensando che si potrebbe provare a restringere un pochino le due sidebar, se qualcuno riuscisse a fare delle prove e inviare screen potremmo ragionarci su.

[2020-11-09 20:34] lucas992x commented on #93
https://archives.bulbagarden.net/wiki/Category:Colosseum_box_sprites
https://archives.bulbagarden.net/wiki/Category:Colosseum_Shiny_box_sprites
https://archives.bulbagarden.net/wiki/Category:Colosseum_menu_sprites
https://archives.bulbagarden.net/wiki/Category:Colosseum_Shiny_menu_sprites
https://archives.bulbagarden.net/wiki/Category:XD_box_sprites
https://archives.bulbagarden.net/wiki/Category:X

[2020-11-12 17:54] Cruifer commented on #93
https://www.pokewiki.de/Kategorie:Sprite

potrebbe esserci qualcosa anche qui di sprite

[2020-11-15 10:55] flavio-a commented on #89
A quanto pare esistono Campi Base con Pokémon diversi da quelli che avevano in Squadra Rossa:
https://bulbapedia.bulbagarden.net/wiki/Evolution_Forest
Secondo me se ne aggiungono e basta, ma bisogna capire come gestire questa cosa. Un'alternativa che mi è venuta in mente alla soluzione di Bulba è di mettere un bel separatore con scritto "Solo in MDDX" e poi mettere le entry normali (senza sup) sot

[2020-11-15 11:26] Cruifer commented on #89
@flavio-a Approvo, va benissimo così

[2020-11-15 11:42] flavio-a commented on #94
Non riesci a tagliare più di tanto senza che il testo non vada su due righe, e dopo fa schifo:
![2020-11-15-123420_1920x1028_scrot](https://user-images.githubusercontent.com/11007745/99183819-fd88f900-273e-11eb-903a-385ff0afc76a.png)
Senza andare su due righe si rubano circa 2em a sinistra e 3 a destra: 5em in totale mi sembrano abbastanza pochi da non valere davvero la pena, ma ditemi voi.

Un'al

[2020-11-15 12:08] CiaobyDany commented on #94
@flavio-a Io ero rimasto che questa fosse la soluzione definitiva tbh, ma che fosse complessa da implementare. Per quanto riguarda la retrocompatibilità non credo sia un grosso problema, basta controllare agli attuali breakpoint quanto valga il contenitore su Vector (lg e xl, visto che da md in giù partiamo dal presupposto che non si debba usare Vector ma Minerva/Timeless ed entrambe non dovrebber

[2020-11-15 12:53] flavio-a commented on #94
La mia idea appunto sarebbe di non fare i breakpoint direttamente sul contenitore (perché non si può) ma "fare finta" che sia così usando dei breakpoint sullo schermo ma a valori diversi per ogni skin, dato che per ogni skin una certa dimensione dello schermo corrisponde ad una certa dimensione del contenitore. Per fare questo però bisogna vedere se MediaWiki ha dei CSS diversi per ogni skin (quel

[2020-11-15 12:57] Cruifer commented on #94
@flavio-a Dagli esperimenti che ho fatto per umbrawiki ti posso dire che Mediawiki:Vector.css e Mediawiki:Timeless.css esistono e vengono caricati su desktop. Non su mobile però come avevamo visto, se ti ricordi. C'è da capire se la cosa funziona su pcw o meno, quindi aspettiamo i pareri più autorevoli di gika e dedalo

[2020-11-15 12:59] flavio-a commented on #94
@Cruifer c'è da dire che mobile mi preoccupa meno perché mi immagino venga caricata solo da telefoni/tablet, dove sia Minerva che Timeless sono a schermo intero e quindi hanno gli stessi breakpoint

[2020-11-15 18:51] flavio-a commented on #94
## tl;dr
Tutto sto papiro perché ho fatto un po' di prove e preferisco scrivere da qualche parte i risultati, ma basta leggere questa prima sezione.
Da `md` in giù non ci sono problemi perché Timeless non ha sidebar, quindi è come Minerva.
La tabella mostra la dimensione minima che il contenuto raggiunge a quel breakpoint per le varie skin. Timeless- è la Timeless con le sidebar ristrette come con

[2020-11-15 21:34] CiaobyDany commented on #94
@flavio-a Giusto per precisare, io dicevo di mettere la sidebar di destra collassata (quindi come avviene ora sotto i 1100) in dropdown. Ovviamente se si potesse spostare a sinistra sarebbe ancora meglio, ma immagino che sia tecnicamente più complesso da realizzare. Alla fine tutto dipende da cosa sia fattibile nella pratica, quindi deciderai tu lel.

[2020-11-15 22:08] Cruifer commented on #94
@flavio-a Nella tabella in cella Timeless-lg non dovrebbe essere 956? Perché non torna col calcolo sotto. In ogni caso, non ci ho capito molto, quindi buona fortuna

[2020-11-16 10:32] flavio-a commented on #94
In realtà la sidebar di destra finisce sotto a quella di sinistra tra `1340px` e `1100px` di default per Timeless, quindi è molto più facile fare così che non collassarla mentre quella di sinistra è ancora visibile (perché appunto basta cambiare il breakpoint a cui Timeless la sposta invece di dover cambiare tutto per far collassare le cose) LOL

No, i numeri sono giusti così. Comunque il tl;dr è

[2020-11-16 11:37] CiaobyDany commented on #94
@flavio-a Scusate, ho sempre visto i contenuti della sidebar di destra collassati a destra quando spariscono le sidebar e ho dato per scontato che facesse così anche quando di sidebar ce n'era una. E invece no, sono solo scemo. Molto bene.

[2020-11-16 15:32] mexicat commented on #94
@CiaobyDany mi devo leggere tutto per bene, comunque nel frattempo date un’occhiata a questo snippet ufficiale per tenere una sola barra laterale: https://www.mediawiki.org/wiki/Skin:Timeless#One-sided_navigation_menu

[2020-11-16 18:29] flavio-a commented on #94
Questo snippet è molto interessante, è essenzialmente la cosa che ci serve. Ho fatto qualche prova e parzialmente funziona (le pagine Grigiosfera e Mosse errate dei giochi si vedono bene, e Grigiosfera anche con abbastanza margine), anche se ci sono ancora problemi ([pagina dell' ndex](https://wiki.pokemoncentral.it/Elenco_Pok%C3%A9mon_secondo_il_Pok%C3%A9dex_Nazionale), ma forse questa ha senso s

[2020-11-18 16:03] lucas992x commented on #93
Ho aggiornato il mio [commento](#issuecomment-714475125), ora dovrebbero esserci tutti gli sprelli degli spin-off ordinati per data di uscita; se non manca nulla direi che si può finire di sistemare gli artwork, decidere le ultime cose e poi finalmente iniziare a creare le sottopagine.

[2020-11-18 17:51] lucas992x opened #95 "Standardizzazione pagine di disambiguazione"
Apro questa issue altrimenti me ne dimentico, poi si farà senza alcuna fretta.

## Descrizione
Le pagine di disambiguazione non seguono uno stile unico, come si può vedere da questi esempi:
![scr1](https://user-images.githubusercontent.com/38510975/99566332-0abb1780-29cd-11eb-8988-9bfed4cea3fd.png)
![scr2](https://user-images.githubusercontent.com/38510975/99566335-0b53ae00-29cd-11eb-9818-3bd60455

[2020-11-18 21:01] lucas992x commented on #94
Confermo che quella pagina è da sistemare, forse hai anche tu questo stesso problema che ho io:
![scr](https://user-images.githubusercontent.com/38510975/99587241-19172c80-29e9-11eb-8062-dfc8d33c1ec2.png)

Per il resto non mi dispiace Timeless con sidebar singola, dovrebbe risolvere buona parte dei problemi che abbiamo con questa skin. Sarà solo un pochino più scomoda per noi che usiamo i vari com

[2020-11-20 17:40] flavio-a commented on #94
@lucas992x sì, stesso problema ma lì più che colpa di Timeless credo sia colpa mia che ho preso le larghezze al millimetro quando ho fatto il template. Però avevo un motivo sensato, volevo tenere 3 Pokémon per riga su xl. Bisognerà lavorarci, ma non credo abbia senso discuterne ulteriormente qui, è un problema di quell'elenco.

Come ho scritto su Telegram si può recuperare la seconda sidebar per s

[2020-11-22 10:26] lucas992x commented on #93
Mancano [gli artwork dell'anime](https://archives.bulbagarden.net/wiki/Category:Official_anime_artwork) (o almeno non credo di averli visti da nessuna parte), metto qua il link come promemoria e per averlo già pronto quando mi ci metterò.

[2020-11-23 14:57] lucas992x commented on #94
Segnalo che su schermi 15.6" (nel mio caso 1366×768 ma non so se faccia così anche con altre risoluzioni) le categorie elencano le pagine su 3 colonne in Vector ma solo 2 in Timeless, si riesce a sistemare questa cosa?
Inoltre la sidebar di sinistra è parecchio lunga, si riesce ad accorciarla almeno un pochino?

![scr1](https://user-images.githubusercontent.com/38510975/99976867-41fe3f80-2da4-11eb

[2020-11-23 15:35] flavio-a commented on #94
Come vorresti farlo?

È veramente un problema? Cioè, probabilmente si può sistemare, ma se dobbiamo rifare mezza Timeless per essere uguale a Vector anche no. In generale non state a fare paragoni di tutto con Vector. Sulla larghezza dello schermo è una necessità perché abbiamo tutte le cose responsive tarate su quelle, ma per il resto Timeless non è Vector.

Piuttosto devo ricordarmi di sistemare

[2020-11-25 20:27] lucas992x commented on #94
1) Vedo che c'è un discreto spazio fra i 3 pezzi in cui è divisa la sidebar, tra le cose che si potrebbero provare mi viene in mente quella di mettere tutto in un pezzo unico e di diminuire un pochino lo spazio fra una sezione e l'altra.
2) Non è un problema, è più un fastidio, quindi se si riesce a sistemare con poco sforzo bene altrimenti fa nulla.

[2020-11-26 14:06] flavio-a commented on #94
In generale qualsiasi modifica fatta alla skin base è potenzialmente uno sforzo non trascurabile perché potrebbe rompersi in futuri aggiornamenti, quindi l'idea è di tenerle al minimo indispensabile. Se ritenete questa cosa importante ci posso lavorare, ma mi sembra di capire che non sia così.

Idem per la sidebar: quanto è importante ridurla? Posto che unire davvero tutti i pezzi non si riesce, q

[2020-11-28 13:53] lucas992x commented on #93
Vedendo quante immagini ha Unown (più di 1400), non sono più così sicuro di voler fare una sola sottopagina per tutte le forme. [Questa](https://wiki.pokemoncentral.it/Utente:Lucas992X/ProveTemplate) è la pagina di Unown con solo la serie principale, oltre ad essere chilometrica arriva già a `Dimensione inclusioni post-espansione 3 247 565/4 194 304 byte`...

[2020-11-28 14:29] Cruifer commented on #93
@lucas992x Ho provato ora ad aprire la pagina da mobile e non mi crea grossi problemi, a parte un caricamento un po' meno veloce del solito, ma direi che è abbastanza normale. Finché non ci sono problemi grossi io sinceramente eviterei di dividere le pagine, anche perché dividere tutti quelli con forme varie quando il problema è Unown non so quanto abbia effettivamente senso

[2020-12-13 19:21] Cruifer commented on #93
https://wiki.pokemoncentral.it/Categoria:Sprite_e_modelli_spin-off

[2021-02-04 15:21] Cruifer commented on #89
@flavio-a Leggo dal LMOPCW che l’aggiornamento a campi base è terminato, si può chiudere?

[2021-02-04 15:49] flavio-a commented on #89
Sì è vero, ho finito. Chiudo

[2021-02-04 15:49] #89 closed, assigned to flavio-a

[2021-03-05 09:42] #80 closed, assigned to flavio-a

[2021-03-15 16:55] Zizork commented on #24
Poiché nei giochi quinta generazione il termine ufficiale è "Eliminamosse", in un articolo correlato a questi giochi (ad esempio Libecciopoli) bisogna scrivere "Eliminamosse" o si deve comunque usare il termine più recente, ovvero "Cancellamosse" (che però non viene adoperato in quei giochi)?

[2021-03-15 16:56] CiaobyDany commented on #24
@Zizork In linea del tutto teorica fai [[nomepagina|eliminamosse]] e la pagina ovviamente mantiene il nome più recente. Però come per tante altre cose non stare a modificare 8000 pagine solo per questa roba. Se capita si sistema, altrimenti amen

[2021-03-15 16:59] Zizork commented on #24
Benissimo, quindi in questo caso si scriverebbe [[Cancellamosse|Eliminamosse]], che è ciò che ho sempre scritto, per cui tutto apposto.

[2021-03-18 19:20] Zizork commented on #56
Avete già considerato di mettere accanto ai versi aggiornati quelli originari? Secondo me sarebbe una cosa opportuna che vale la pena fare...

[2021-04-01 18:47] flavio-a opened #96 "Movelist con Pokémon/forme non presenti in certi giochi"
## Descrizione
Attualmente i movelist (elenchi di apprendimento nelle pagine delle mosse) non hanno una notazione coerente ed efficace in caso di Pokémon e/o forme alternative non presenti in certi giochi. I problemi in realtà sono due, ma abbastanza correlati:
1. Esistono un certo numero di forme alternative non esclusive della lotta che però hanno consistentemente lo stesso learnset (o comunque

[2021-04-01 20:09] CiaobyDany commented on #96
@flavio-a Non suddividere in sottocolonne le generazioni, mi sembra abbastanza disomogeneo. Sul problema 1 concordo per la proposta (anche perché l'avevo formulata io per primo). Sottolineo che così facendo si finisce per riunire anche alcune forme regionali in un'unica entry, andando a perdere la specificazione del tipo della forma (che segnerebbe solo quella base, come in realtà credo già avveng

[2021-04-05 11:31] flavio-a commented on #96
boh, la sigla è  USUL e io avevo scritto così 😅 (o forse è stato Maze? Nel dubbio diciamo di sì, così non è colpa mia). Vedo di correggere.

Confermo, le forme regionali (Alola e Galar) non cambiano mai gruppo uova (Gruppo Uova?) rispetto alla forma base.

Farò delle prove

[2021-04-05 17:14] CiaobyDany commented on #96
@flavio-a Immagino che rientri tra le categorie già prese in considerazione, ma segnalo lo sdoppiamento di Zacian e Zamazenta Eroe di Mille Lotte e Re delle Spade/degli Scudi in Morso (e immagino altre pagine)

[2021-04-10 14:48] flavio-a commented on #96
Se ho ben capito quindi adesso la proposta sarebbe di unire le entry delle forme, giusto? A questo proposito, forse vogliamo escludere le forme regionali perché immagino che l'utente medio si aspetti di avere due righe per quelle, mentre non si sorprenda se Thundurus incarnazione e totem hanno la stessa entry con "tutte le forme".

Oltre a questo bisogna solo sistemare gli header delle MT/MN/DT qu

[2021-04-10 17:47] CiaobyDany commented on #96
@flavio-a Se specifichi tutte le forme vuol dire tutte le forme. Qualsiasi esse siano.

[2021-06-03 19:22] Cruifer commented on #93
ha senso che questa issue sia ancora aperta oppure si può chiudere?

[2021-06-04 12:20] lucas992x commented on #93
Direi che si può chiudere, ormai abbiamo definito tutto

[2021-06-04 12:20] #93 closed, assigned to lucas992x

[2021-07-30 18:52] Cruifer commented on #94
Non è un vero problema e se non si può risolvere pazienza, ma solo a me triggera tantissimo che cliccando sul logo in alto a sx non si venga reindirizzati alla home? tocca per forza cliccare il link piccolo sotto, mentre il logo sarebbe molto più comodo

[2021-07-30 19:34] CiaobyDany commented on #94
@Cruifer No, non triggera solo te

[2021-08-01 17:01] flavio-a commented on #94
Ehm... a me in realtà lo fa 😅

[2021-08-03 19:23] lucas992x commented on #94
Anche a me reindirizza correttamente alla Home

[2021-08-03 20:21] CiaobyDany commented on #94
@lucas992x Allora, ho fatto un po' di tentativi. Da Firefox Nightly, Firefox, Edge e Chrome NON funziona, mentre su Vivaldi sì (????). In compenso, ho avuto l'illuminazione e ho notato che se diminuisco lo zoom per far apparire anche la sidebar di destra, fa il link correttamente. Quindi mi viene da pensare che Flavio e Luca abbiano schermi da pro gamer mentre io e Crusca abbiamo le Poveraccy Vers

[2021-08-03 20:34] lucas992x commented on #94
Effettivamente provando con lo strumento responsive noto che fino a 1500 px di larghezza l'immagine è priva di link, mentre da 1501 px in poi linka alla Home (io ho uno schermo FHD quindi non me n'ero mai accorto).

[2021-09-18 22:28] Cruifer commented on #50
Riapro perché [qui](https://wiki.pokemoncentral.it/Granradice#Descrizione_2) serve la sigla per Quest. Ho lasciato bianco perché non ho idea della sigla che vogliamo e neanche dei colori.

[2021-09-19 13:43] lucas992x commented on #50
Io farei una cosa analoga agli Smash: scriviamo `Quest` per intero e ci mettiamo il colore `orange`.

[2021-09-19 13:49] Cruifer commented on #50
@lucas992x Non ricordavo esistesse sta cosa, quando è stato deciso?

[2021-09-19 14:03] lucas992x commented on #50
Le sigle di Smash le abbiamo aggiunte a ottobre 2019

[2021-09-19 16:31] CiaobyDany commented on #50
@lucas992x Se mi date qualche giorno e siete sufficientemente molesti posso farle io

[2021-09-19 17:31] lucas992x commented on #50
@CiaobyDany se è una sola sigla ci vuole un attimo ad aggiungerla al modulo, ce ne sono altre oltre a Quest?

[2021-09-19 18:46] CiaobyDany commented on #50
@lucas992x Intendevo per fare i colori, non tanto per la sigla in sé

[2021-10-30 09:50] lucas992x commented on #95
Il buon Zizork ha completato la standardizzazione, chiudo

[2021-10-30 09:50] #95 closed, assigned to nobody

[2021-11-18 16:56] Cruifer opened #97 "Aggiornamento a DLPS: parte tecnica"
## Descrizione
Solita issue di riepilogo di cose da fare/aggiornare. Nota che ho preso i template/moduli della scorsa issue #80  ma non ho guardato se ce ne sono altri. In caso editate pure

## Pagine affette
- [x] [Template:Zone](https://wiki.pokemoncentral.it/Template:Zone)
- [x]  [Template:Dex](https://wiki.pokemoncentral.it/Template:Dex)
  - [x] Aggiungere le entry
- [x] [Template:pokemonimage

[2021-11-18 17:01] lucas992x commented on #97
Stasera se ho tempo faccio `Dex`, `MTInfo` e `Maps`, intanto segnalo che non va aggiornato `Catch/entry8` ma creato un nuovo template, che immagino sarà `Catch/entrydlps` (se riesco faccio anche quello)

[2021-11-20 09:53] lucas992x commented on #97
Ho aggiornato Zone (copincollando da altre entry quindi spero sia giusto), disclaimer: al momento la casella di DLPS appare solo quando si inserisce il parametro `dlpsarea`, quando avremo finito di inserire le entry si modificherà il template in modo che si veda sempre la casella, con la scritta _Non presente in questi giochi_ per chi è assente.

[2022-02-13 15:14] Cruifer commented on #31
Annuncio qui che finalmente abbiamo tutte le pagine elencate in questa issue (ringrazio @lucas992x, @Orion919303, @flavio-a e Franky per il prezioso aiuto, altrimenti a quest'ora ero ancora in alto mare). Comunque a parte questa issue, la categoria degli strumenti conta già 700 pagine. Chiaramente sono un po' di meno, dato che ci sono anche elenchi vari e cose, inoltre ne abbiamo comunque meno ris

[2022-02-13 20:18] lucas992x commented on #31
Per me va bene creare il template per i messaggi e prima o poi fare le loro pagine singole

[2022-03-19 22:36] Cruifer commented on #31
update: ho il template dei messaggi (quasi) pronto in sandbox, mancano solo le categorie da mettere in fondo.

Nel mentre ricordo, visto che nessuno ha risposto, che c'è da decidere cosa fare per gli altri (Decorazioni, Accessori, Sfondi, Gadget, vedi in cima). Io sarei per non creare le singole pagine, dato che non sono propriamente strumenti, al contrario dei messaggi.

Prima di chiudere poi c'è

[2022-03-19 22:40] Cruifer opened #98 "Creare il template infobox"

[2022-03-19 22:41] #98 closed, assigned to nobody

[2022-03-20 08:48] lucas992x commented on #31
Concordo nel non creare pagine per quelle categorie.

Gli sprite vecchi delle tasche possono essere recuperati dalle vecchie versioni dei file che abbiamo sul wiki, o no?

[2022-09-14 09:47] #94 closed, assigned to mexicat