[2018-04-19 09:11] mexicat opened #1 "Il link "espandi" è nascosto in alcuni template con lo sfondo scuro"
## Descrizione

Quando alcuni template hanno lo sfondo scuro tendente al blu, il link "Espandi" risulta poco visibile.
Pure le freccine delle tables `sortable` hanno questo problema.

## Screenshot

![screenshot 2018-04-19 11 08 17](https://user-images.githubusercontent.com/699380/38982493-472e541e-43c2-11e8-8421-ecc59c8a67ab.png)

## Pagine affette

* https://wiki.pokemoncentral.it/Agatha#Pok.C3.

[2018-04-19 12:47] mexicat opened #2 "Nuova home"
## Descrizione

Nuova home che rispecchi gli sviluppi grafici recenti del sito e sia più funzionale specialmente su schermi mobile.

## Obiettivi
- Definire il comportamento mobile della timeline Twitter: nascosta?
- To be continued

## Link correlati

* https://codepen.io/mexicat/full/rdZVBd/ (mockup)
* https://wiki.pokemoncentral.it/Utente:CiaobyDany/Newhome (WIP di Dany)

[2018-04-19 13:09] mexicat commented on #2
commento test

[2018-04-19 13:16] mexicat opened #3 "Possibilità di svuotare la cache CloudFlare lato admin"
## Descrizione

Se vengono caricati file sostitutivi di immagini già presenti, la cache CloudFlare continua a mostrarne la versione precedente. Servirebbe un comando (lato Telegram? lato MediaWiki?) che permetta di vuotare la cache di singoli URL senza accedere al resto della configurazione CloudFlare, oppure un hook post-salvataggio che faccia questa cosa in automatico.

## Risoluzione del proble

[2018-04-20 16:39] flavio-a opened #4 "Rimozione dei suffissi di disambiguazione"
## Descrizione
Bisogna togliere dai titoli delle pagine i suffissi di disambiguazione superflui (es: "Azione (mossa)" -> "Azione").

## Risoluzione del problema

- [x] Fare un elenco dei suffissi da rimuovere
- [x] Fare un elenco delle pagine che avrebbero lo stesso nome
- [x] Spostare in massa tutte le altre
- [x] Modificare i template di collegamento principali

### Opzionale
- [x] Creare delle

[2018-04-20 17:16] lucas992x commented on #4
Mosse da non spostare:
Bullo
Confusione
Purificazione
Sub

Abilità da non spostare: nessuna.

Tipi da non spostare:
Lotta
Volante
Coleottero
Acqua
Erba
Drago

Tipi del GCC da non spostare:
Erba
Fuoco
Acqua
Combattimento?
Psiche
Drago
Folletto

Gruppi uova da non spostare:
Erba
Coleottero
Volante
Campo
Drago
Ditto
Sconosciuto
Genere sconosciuto?

Classi allenatore da non spostare:
Bellezza
Bullo
Ci

[2018-04-20 17:21] mexicat commented on #4
@flavio-a ricordate di tenere tutti i redirect (se ci sono redirect multipli non è un un problema, posso sistemarlo io coi CLI tools di mediawiki)

[2018-04-20 17:54] lucas992x commented on #4
Suffissi da rimuovere:
mossa
abilità
tipo (compresi quelli del GCC?)
classe allenatore
gruppo uova

[2018-04-21 13:14] flavio-a commented on #4
Io aggiungerei anche:
* superquattro
* gruppo uova
* virtù

Inoltre non farei una pagina di disambiguazione se un tipo ha lo stesso nome di qualcos'altro (esempio Volante tipo e gruppo uova) ma metterei il [template:Stesso nome](https://wiki.pokemoncentral.it/Template:Stesso_nome) come avviso ad inizio pagina (perché il 90% della gente che cerca Volante vuole vedere il tipo, non un altro omonimo).

[2018-04-21 13:43] lucas992x commented on #4
@flavio-a Situazione Superquattro:
- Drake ha un omonimo e ha già la pagina di disambiguazione, quindi va lasciato così.
- Frida ha un'omonima che però è molto meno importante (è il personaggio del giorno di un episodio di BW), e già adesso non ha la dicitura (Superquattro) che non trovo motivi per aggiungere.
- Aaron ha uno pseudo-omonimo, Sir Aaron; attualmente Aaron reindirizza alla pagina Aaro

[2018-04-21 14:13] davla commented on #4
Questa è mia, giù le zampe Flavìo!
@mexicat Ma il fixing dei redirect non è la stessa cosa che fa il bot?

[2018-04-21 14:15] davla commented on #1
Avevo già aggiunto un po' di padding perché era appiccicatissimo al resto, quindi il selettore c'è già. Propongo una cosa semplice tipo `.mw-collapsible.light` che cambia a un grigio quasi bianco il colore della scritta, dovrebbe bastare per tutti i colori di sfondo scuri.

EDIT: Fatto. La classe si chiama `.light-text` e va messa allo stesso elemento con `.mw-collapsible`

[2018-04-21 14:27] flavio-a opened #5 "Categorie e "puntano qui" si aggiornano lentamente"
## Descrizione
Quando una pagina viene modificata aggiungendo una categoria questa appare correttamente in fondo alla stessa, ma nella pagina della categoria non viene aggiunta la nuova pagina. Anche le pagine che vengono create hanno lo stesso problema. `action=purge` o un `null edit` sia sulla pagina che sulla categoria non risolvono il problema.

Allo stesso modo delle categorie, anche i "punta

[2018-04-21 15:56] lucas992x opened #6 "Immagini di strumenti con nome "sbagliato""
## Descrizione
Parecchi file vecchi hanno nomi "sbagliati", cioè che non seguono la nomenclatura standard applicata successivamente. Nello specifico mi riferisco alle decorazioni di quarta generazione, che hanno un nome del tipo _DP_NomeDecorazione.png_ anziché _DP_NomeDecorazione_Sprite.png_. Ciò fa sì che usando i template le immagini non vengano visualizzate correttamente.

## Pagine affette
ht

[2018-04-21 16:10] davla commented on #6
@lucas992 Il phrasing corretto è "non senguono la nomenclatura". Lo trovi in tutti i miei commenti :P

[2018-04-21 18:50] davla commented on #6
Quando siete sicuri che non ci siano files da spostare tickate la prima spunta che diamo il via alle danze con il bot.

[2018-04-21 20:42] lucas992x commented on #6
[files.txt](https://github.com/pokemoncentral/wiki-project/files/1934981/files.txt)
Elenco completo dei file, non so se sia rilevante il fatto che gli ultimi 4 hanno nome _DPPt_NomeStrumento.gif_ quindi leggermente diverso.

[2018-04-21 22:37] davla opened #7 "DebRes in Poipole ha il div delle debolezze non a larghezza 100%"
## Descrizione
Il DebRes nella pagina di [Poipole](https://wiki.pokemoncentral.it/Poipole) ha un problema di rendering. Per assurdi motivi il `div` delle debolezze non prende la larghezza al 100%. Con un `with : 100%` la situazione si risolve, ma non dovrebbe essere necessario.

## Screenshot
![marcondirondirondello](https://user-images.githubusercontent.com/12073088/39089339-2a2c2ca6-45c5-11e8-85

[2018-04-21 22:39] CiaobyDany commented on #7
@davla Da me da mobile in versione desktop è 100%. Non sto ad abilitare la versione mobile perché lì immagino lo sia di default. Domattina controllo il fisso

[2018-04-22 00:05] mexicat commented on #5
Cercando un po' in giro, sembra sia un problema del sistema di job queue che non si popola correttamente dopo le modifiche alle categorie. Intanto provo con lo script di manutenzione per ricostruire tutto; al massimo posso pensare di aggiungere un cron job settimanale o giù di lì per fare questa operazione in automatico (tenendo conto che dura comunque qualche ora). Intanto vediamo se dopo questo

[2018-04-22 00:07] mexicat commented on #4
@davla volendo si può fare anche con https://www.mediawiki.org/wiki/Manual:FixDoubleRedirects.php - non credo cambi niente però.

[2018-04-22 10:14] Cruifer commented on #7
@davla sinceramente questo problema lo vedo anche io. In più aggiungo che non è soltanto relativo al div delle debolezze ma potenzialmente anche agli altri (vedi [Litten](https://wiki.pokemoncentral.it/Litten)). Altra cosa che ho notato è che questo problema nasce quando sopra al template c'è un'immagine, ho fatto un test e questo è il risultato:

Questa è una pagina senza alcuna immagine

![scher

[2018-04-22 10:53] flavio-a commented on #7
Il problema dovrebbe essere che il div.pull-center container ignora la presenza di oggetti in float ai lati (per esempio le immagini, ma anche il PokémonInfo) mentre i div interni no, quindi la loro larghezza viene ridotta per non sovrapporsi a tali elementi. Due immagini che ritengo parecchio esplicative:

![screenshot_22-04_12 47](https://user-images.githubusercontent.com/11007745/39094179-d2608

[2018-04-22 14:14] davla commented on #7
Non so perché, ma un `overflow: auto` risolve il problema. Vedete che non era malaccio l'idea di metterlo ovunque?

EDIT: E invece sì. Però sarebbe bene che Tutti fossero a conoscenza della sua esistenza e lo provassero a casaccio per risolvere problemi.

[2018-04-22 15:47] mexicat commented on #7
`clear: both` sul div contenitore del box risolve il problema e non dovrebbe avere controindicazioni, se non eventualmente l'aggiunta di un po' di spazio bianco (che è comunque preferibile alla sovrapposizione di div). Potrebbe avere senso aggiungerlo a tutti i template che vengono mostrati centrati? Così ci evitiamo sempre le sovrapposizioni.

[2018-04-23 10:29] mexicat opened #8 "Rimuovere i ":" superflui nelle label di tutti i template informativi"
## Descrizione
In alcuni template informativi è presente un `:` dopo le label, in altri no. Questi `:` sono superflui perché il fatto che si tratti di una label è già deducibile dalla struttura grafica; propongo quindi di risolvere questa inconsistency globale rimuovendoli ovunque.

## Screenshot

**❌ NO:**

![screen shot 2018-04-23 at 12 24 01](https://user-images.githubusercontent.com/699380/391

[2018-04-23 10:34] mexicat commented on #5
Non sembra che l'operazione abbia funzionato; probabilmente a database i collegamenti sono corretti ma per qualche motivo la cache di render delle pagine categoria non viene svuotata come dovrebbe. Devo investigare ulteriormente.

[2018-04-23 10:41] lucas992x commented on #5
@mexicat Il template Mart era usato solo in una pagina, Casinò di Rupepoli; ho editato la pagina in questione sabato 21/4 alle 17:36, all'inizio risultava ancora nell'elenco Puntano Qui, oggi lunedì 23/4 alle 12 non c'è più. C'è di mezzo uno svuotamento della cache o ha fatto tutto da solo?

[2018-04-23 10:45] mexicat commented on #5
@lucas992 non so, ma la cache dei “puntano qui”, in quanto pagina speciale, non viene gestita allo stesso delle pagine dei namespace di contenuti, quindi non credo sia un evento correlato.

[2018-04-23 12:40] flavio-a commented on #5
Non si può interrogare direttamente il database per vedere se è aggiornato? Le tabelle dovrebbero essere
https://www.mediawiki.org/wiki/Manual:Categorylinks_table
https://www.mediawiki.org/wiki/Manual:Pagelinks_table
(non ho conferme sul funzionamento, ho solo immaginato che utilizzino queste due tabelle per popolare le pagine)

Comunque nelle due pagine d'esempio i "puntano qui" si sono aggiornat

[2018-04-23 12:42] lucas992x commented on #8
Template:Console infobox
Template:DeckInfobox
Template:InfoboxDungeon
Template:InfoboxDW
Template:InfoboxGioco
Template:LibroInfobox
Template:PokéWalkerInfobox
Template:RegioneInfobox

Tra gli infobox, questa dovrebbe essere la lista completa.

[2018-04-23 12:46] Cruifer commented on #8
In realtà lo stesso tipo di problema lo hanno anche i template di navigazione ad esempio [questo](https://wiki.pokemoncentral.it/Template:AllenatoriRinger). In più sono abbastanza sicuro che ci sono molti template non categorizzati (o categorizzati male) che andrebbero controllati.

[2018-04-23 13:00] flavio-a commented on #8
Non è strettamente legato al tema di questa issue ma vorrei proporre anche di uniformare il colore delle label: come si può vedere dall'immagine ok di Gika la scritta "Provenienza" è in grigio mentre le altre sono in nero. Questo è dovuto al fatto che ai link il colore viene inserito tramite il template:Colore2 ed è 000, nel caso del testo normale il default (che arriva da .mw-body) è #252525.
Io

[2018-04-23 13:17] flavio-a commented on #7
In realtà io preferisco l'``overflow: auto``, l'effetto mi sembra più naturale dello spazio bianco (perché con ``overflow: auto`` considera come larghezza massima quella escludendo gli elementi di lato e ne occupa quindi l'80%).
@davla come dovremmo provarlo? Cioè, in che modo riesco ad aggiungerlo a tutte le pagine ma solo per me?

[2018-04-23 13:29] lucas992x commented on #8
@flavio-a Metterei il testo di default nero con un parametro opzionale per renderlo bianco (|text=fff), come abbiamo fatto nel template InfoCittà, per evitare che infobox come questo diventassero illeggibili: https://wiki.pokemoncentral.it/Ultramegalopoli

[2018-04-24 13:19] Cruifer opened #9 "Manca il margine destro nei thumb delle immagini"
## Descrizione
Come da titolo, non c'è il margine sulla destra nelle miniature delle immagini, mentre è presente nelle altre 3 parti. Il problema non c'è nelle gallery.

## Screenshot
![schermata 2018-04-24 alle 15 04 21](https://user-images.githubusercontent.com/38588039/39188990-6bb6d758-47d1-11e8-9fb3-5780cb406332.png)

## Pagine affette
Tutte quelle in cui è presente almeno un'immagine. Lo scr

[2018-04-24 17:07] davla commented on #9
È un `box-sizing: border-box` che ho messo everywhere. L'ho fatto secoli fa, e causa solo problemi marginali come questo, quindi siamo a cavallo. Sistemo appena possibile.

[2018-04-24 22:00] Cruifer commented on #8
Ho fatto un elenco dei vari template di navigazione da sistemare, che hanno lo stesso identico problema, e sono questi:
[Senza titolo.txt](https://github.com/pokemoncentral/wiki-project/files/1944742/Senza.titolo.txt)
Sono tanti, quindi non penso che riuscirò a sistemarli io perché non ho tempo, comunque a questo punto dovremmo avere tutti i template problematici

[2018-04-25 11:43] davla commented on #7
Non lo aggiungi a tutte le pagine, perché fa troppo casino. Faccio una classe scema che aggiunga solo quello (`.overflow-auto`) e la aggiungi a mano dove serve. Bisognerebbe propagare la conoscenza dell'`overflow: auto` agli altri, @pokemoncentral/wiki. Io stesso ancora non ho capito bene come funzioni, ma risolve tanti problemi.

Fatto in [6b9b76a](https://github.com/pokemoncentral/wiki-styles/co

[2018-04-25 12:03] #9 closed, assigned to davla

[2018-04-25 17:30] Cruifer opened #10 "Div non chiusi in Episodio RR"
## Descrizione
Nella pagina dell'[Episodio RR](https://wiki.pokemoncentral.it/Episodio_RR) non sono stati chiusi alcuni div nella sezione "Lotte principali", infatti il box in fondo con le categorie ha dei problemi.

## Risoluzione del problema
C'è da capire dove manca la chiusura dei div. Voglio sperare che non sia il modulo a dare problemi ma non credo perché nelle altre pagine sembra andare tut

[2018-04-25 18:57] lucas992x commented on #10
@Cruifer Questa pagina contiene 12 `</div>` ma non viene aperto nessun `<div>`. Ho provato a toglierli, ma l'anteprima mi mostra ancora il box categorie sminchiato esattamente come adesso.

[2018-04-25 19:26] Cruifer commented on #10
penso che i div vengano aperti nel modulo Party quando viene chiamato così: `{{#invoke: Party | Div|color=bianco light}}` ma non posso investigare molto perché sono da cell

[2018-04-26 08:13] flavio-a commented on #10
In realtà tipo tutte le chiamate del modulo party lasciano dei div non chiusi, la chiamata ``{{#invoke: Party | Tag | ... }}`` ne lascia addirittura due, ma questi sono dettagli. Ho sistemato.

[2018-04-26 08:13] #10 closed, assigned to nobody

[2018-04-26 10:03] CiaobyDany opened #11 "Problemi overflow-auto"
## Descrizione
L'overflow-auto a quanto ho capito è una cosa che è potenzialmente molto utile ma che con MediaWiki fa più danni che altro. Credo che sia doveroso avere un punto di riferimento in cui segnalare tutti gli errori in proposito e/o spiegare come risolverli autonomamente.

## Screenshot
![immagine](https://user-images.githubusercontent.com/38566659/39299805-ecca8ed8-4949-11e8-91a9-597b9e

[2018-04-26 10:26] davla commented on #11
Hai assegnato a me, nel senso che devo spiegare?
Mica so come funziano le cose, ma ho fatto una classe dal nome difficile da ricordare (`.overflow-auto`). Provate a metterla un po' in giro sui contenitori delle cose e vedere se risolve i problemi.
Non è che non ho voglia di spiegarvi o la cosa è troppo tecnica, è esattamente quello che farei io.

[2018-04-26 19:28] Cruifer opened #12 "Aggiungere una class text-center-xs"
## Descrizione
In alcuni template servirebbe una class text-center-xs che allinei il testo al centro solo su mobile. Questo perché le scritte sono allineate a destra per via della verione desktop, quindi una classe del genere servirebbe per migliorare l'estetica e rendere coerente l'allineamento delle scritte.

## Screenshot
![screenshot_20180426-212103](https://user-images.githubusercontent.com/3

[2018-04-26 19:30] davla commented on #12
Sono tutti d'accordo? @pokemoncentral/wiki (Ma 'sta cosa funzia davvero?)

[2018-04-26 19:33] Cruifer commented on #12
Che possa funzionare o meno io non ne ho idea (ma non vedo perché non dovrebbe). Comunque mi sembra l'avessi proposto tu sul gruppo (o era qualcun altro? boh)

[2018-04-26 19:46] davla commented on #12
'sta cosa è il @pokemoncentral/wiki. Il CSS funzia tranquillamente.

[2018-04-26 20:20] flavio-a commented on #12
Credo avessimo deciso che le etichette a destra andavano bene, considerando anche la possibilità del ``text-center-xs``. Poi ovviamente possiamo cambiare idea, però sono quasi sicuro fosse stata una scelta consapevole all'epoca.

[2018-04-26 20:37] Cruifer commented on #12
In realtà no. Giuro, ho controllato nella chat, è che non avevamo sbatti di implementare una soluzione (vai all'1 settembre se non ti fidi). E poi dai, a meno che uno non sia strabico non vedo come possa leggerlo bene, è scomodo.

[2018-04-27 06:53] lucas992x opened #13 "Spostamento pagine su IV e EV"
## Descrizione
Valori Individuali e Punti Allenamento hanno un nome ufficiale, rispettivamente punti individuali e punti base, come si può leggere per esempio qui: https://www.pokemon.com/it/strategie/prepara-i-tuoi-pokemon-alla-lotta/. Ditemi se c'è qualche motivo per lasciarle come sono, altrimenti io le sposterei.

## Pagine affette
* https://wiki.pokemoncentral.it/Valori_Individuali
* https://

[2018-04-27 19:44] flavio-a commented on #12
Allora a me va benissimo aggiungerla. Lo faccio anche subito, se va bene.

[2018-04-27 20:00] flavio-a commented on #6
Se ho capito bene bisogna prendere tutti e soli i file di quell'elenco e aggiungere `_Sprite` in fondo al nome (in realtà prima dell'estensione), giusto? Se confermi avvio il bot e sistemo tutto.

[2018-04-27 20:11] davla commented on #12
Non fare il pidocchioso e metti tutti gli allineamenti. Sono ben 15 classi di una riga ciascuna in più, il peso del CSS non ne risentirà.

[2018-04-27 20:23] lucas992x commented on #6
Esattamente.

[2018-04-27 21:08] flavio-a commented on #6
Ho spostato, lasciato i redirect e corretto i link nelle pagine https://wiki.pokemoncentral.it/Decorazioni e https://wiki.pokemoncentral.it/Bambole_Pok%C3%A9mon, che mi pare ne contenessero la maggior parte. Se ne trovate altri in giro potete correggerli o anche fregarvene, in realtà non è davvero importante. Chiudo.

[2018-04-27 21:08] #6 closed, assigned to lucas992x

[2018-04-27 21:33] #12 closed, assigned to davla

[2018-04-28 16:15] davla opened #14 "Embed della Twitter TimeLine glitchatissimo"
## Descrizione
il box twitter è glitchatissimo, almeno su desktop, a ogni hover/scroll si scazza il layout

## Pagine affette
* https://wiki.pokemoncentral.it/Utente:CiaobyDany/Newhome
* https://wiki.pokemoncentral.it/Home

## Risoluzione del problema
Sembrerebbe qualcosa di risolvibile con un `z-index` negativo, o all'`iframe` del'embed o al suo wrapper immediato (quello con `position: relative`)

[2018-04-28 20:48] Cruifer commented on #8
Per ora ho sistemato gli infobox, nei prossimi giorni vedo se ho tempo di fare anche i template di navigazione

EDIT: ho finito di sistemare tutti i template. Ho risolto anche il problema segnalato da Flavio, quindi chiudo.

[2018-04-29 08:54] mexicat commented on #14
Dato che non riesco a riprodurre il problema (ogni tanto va, ogni tanto no), e dato che sembra essere  specifico di Chrome su Mac, direi che possiamo ignorarlo per il momento e almeno finché non capita anche a qualcun altro oltre a me.

[2018-04-29 08:54] #14 closed, assigned to mexicat

[2018-04-29 13:07] flavio-a opened #15 "Abilità evento"
## Descrizione
Maze (ed io, se me ne occuperò) sa già tutto, creo questa issue come promemoria.

[2018-04-29 13:38] #8 closed, assigned to nobody

[2018-04-29 19:58] mexicat opened #16 "Migliorare gli strumenti di feedback per i visitatori"
## Descrizione
è ormai chiaro che difficilmente uno si iscrive al Wiki per correggere un errore, anche perché spesso (se coinvolgono chiamate a template o moduli) le modifiche non sono alla portata dei principianti. Ma, come dimostrato dal topic "[segnalazione errori](https://forum.pokemoncentral.it/threads/9552/)", che ormai ha raggiunto 3500 risposte nonostante necessiti di un'iscrizione separat

[2018-04-29 20:09] mexicat commented on #1
Però nella pagina di esempio è ancora invisibile... Vanno fatte delle modifiche ai template?

[2018-04-29 20:16] lucas992x commented on #16
@mexicat Come idea non mi sembra male. Non entro nel merito dell'implementazione non sapendone nulla, comunque si potrebbe modificare l'attuale pulsante Segnala Un Errore in modo che possa essere usato per segnalare l'errore senza lasciare la pagina ma contenga un link del tipo "Aiuto" che rimandi all'attuale pagina Aiuto:Segnala un errore (che attualmente è quella linkata da quel pulsante).

[2018-04-29 20:57] Cruifer commented on #16
anche secondo me è una buona idea. Se può essere utile, su wikisource hanno uno strumento simile a quello che servirebbe a noi (vedi [in una qualunque pagina](https://it.wikisource.org/wiki/Speciale:PaginaCasuale/Pagina)). In buona sostanza in alto a destra c'è una voce "Segnala un errore" che apre una piccola finestra che contiene dei form da riempire e che quando inviati vanno a editare una cert

[2018-04-29 22:28] flavio-a commented on #16
Rispondo con ordine:
## Descrizione
Secondo me ha senso semplificare la segnalazione degli errori. Mi piace l'idea di un pulsante sempre presente, lo lascerei solo da desktop perché (1) limita il numero di segnalazioni (vedi sotto) e (2) in media penso che da telefono uno faccia le cose più senza pensare e quindi immagino manderebbe più segnalazioni a caso. Sul dove farle arrivare io userei un top

[2018-04-29 22:35] lucas992x commented on #16
@flavio-a Per la possibilità di chiuderle, forse un'idea ce l'ho. Si fa inviare automaticamente la segnalazione in un topic sul forum che stia nella sezione Supporto Wiki, in modo che noi admin abbiamo la possibilità di editare i messaggi: quando qualcuno sistema qualcosa modifica il messaggio mettendo [RISOLTO] e sposta il testo dentro uno spoiler.

[2018-04-30 22:05] Cruifer opened #17 "Width resettabili"
## Descrizione
In realtà non ho davvero capito cosa siano ma mi fido di dedalo.

## Pagine affette
* https://wiki.pokemoncentral.it/Utente:Cruifer/Sandbox/3

[2018-05-02 14:26] #17 closed, assigned to davla

[2018-05-02 14:27] #2 closed, assigned to CiaobyDany

[2018-05-04 13:48] Cruifer opened #18 "Gradiente errato nei DebRes dei Pokémon glitch"
## Descrizione
Facendo alcune prove per l'infobox che sto sistemando, ho notato che nei Pokémon Gitch di tipo Coleottero il gradiente del DebRes usa erroneamente il colore glitch.

## Pagine affette
* [c (minuscolo)](https://wiki.pokemoncentral.it/C_(minuscolo))
* [OPkMn4X](https://wiki.pokemoncentral.it/OPkMn4X)
* [Glitch (E4)](https://wiki.pokemoncentral.it/Glitch_(E4))
* [.g](https://wiki.pokem

[2018-05-05 10:33] Cruifer commented on #18
@Cruifer ^questa dedalo

[2018-05-05 22:03] Cruifer opened #19 "Scritte non leggibili nel GCCPokémonPrevNext"
## Descrizione
A volte quando il tipo del Pokémon è Oscurità non si leggono le scritte, che dovrebbero diventare bianche anziché restare nere.

## Pagine affette
* [Deino (GCC)](https://wiki.pokemoncentral.it/Deino_(GCC))
* sicuramente altre ma non ho voglia di cercare

## Risoluzione del problema
C'è da ricontrollare l'if che gestisce il testo bianco, devo solo ricordarmene prima o poi.

[2018-05-06 19:53] #19 closed, assigned to Cruifer

[2018-05-07 10:07] #18 closed, assigned to flavio-a

[2018-05-07 15:17] flavio-a opened #20 "Versione mobile del tt"
## Descrizione
Il template tt non funziona da mobile, quindi tutte le informazioni che veicola sono irraggiungibili per gli utenti mobili.

## Pagine affette
* https://wiki.pokemoncentral.it/Template:tt e tutte quelle che lo includono

## Risoluzione del problema
Si accettano altre proposte, tra quelle già uscite la più accreditata è quella di usare un popup che si apre premendo sul testo del tt.

[2018-05-10 18:00] mexicat commented on #20
Un javascript che mostra un tooltip al tocco?

[2018-05-10 22:51] flavio-a commented on #20
Sembra una buona idea, molto simile a quella su desktop. Il tooltip resterebbe fino ad un successivo tocco o per un tempo fissato? (mi sembra più ragionevole la prima, se possibile)

[2018-05-11 14:33] mexicat commented on #20
Direi la prima: se si clicca su un `tt` appare il tooltip, se si clicca su qualsiasi punto della pagina scompare.

[2018-05-12 15:37] davla commented on #1
E certo, che ti aspetti che la classe si metta da sola o che mi metta a modificarli tutti io?

[2018-05-12 15:43] davla commented on #20
A me piaceva questa: https://www.mediawiki.org/wiki/Extension:SimpleTooltip.
È basata su Tooltipster, che è un plugin Javascript che so funzionare molto bene.
L'unica è che attualmente viene solo mantenuta, non aggiungono nuove features da tipo tre anni.

[2018-05-12 16:57] mexicat commented on #20
Propongo https://github.com/chrisdavies/tlite - pesa poco, possiamo metterlo direttamente nel `Common.js` (sono 130 righe di js, più un po' di css). Poi bisognerà un attimo capire come invocarlo manualmente (su mobile) o in hover (su desktop).

[2018-05-12 17:10] flavio-a commented on #20
Maze faceva notare che con un tooltip che supporta contenuto html potremmo risolvere il problema del Movelist/breed: per esempio [in questa pagina](https://m.wiki.pokemoncentral.it/Baldeali_(mossa)#Tramite_Accoppiamento) si può notare come le colonne dei genitori occupino molto spazio da mobile (e non è una delle più grosse). Si può invece pensare una soluzione à la Bulba ([esempio](https://bulbap

[2018-05-12 20:09] mexicat commented on #20
Più che altro un elenco di sprite secondo me non è molto utilizzabile, anche dentro un tooltip. Forse sarebbe meglio un elenco di nomi. E se vogliamo html arbitrario, serve qualcosa di più complesso che includa anche del codice di posizionamento smart (vedi [Popper](https://popper.js.org/) - SFW) perché sennò c'è il rischio che il popup esca fuori dallo schermo o deformi il viewport della pagina.

[2018-05-13 12:16] flavio-a commented on #20
Mi sembra difficile riuscire ad usare l'estensione Popups  perché ho guardato un po' ma il codice crea il popup a partire praticamente solo dal titolo della pagina chiedendo al server i dati, non c'è una funzione più interna che lo genera partendo dal contenuto. Poi forse riusciamo a riciclare un po' del css, ma se dobbiamo riscrivere il js tanto vale usare una libreria esterna imo.

[2018-05-17 10:35] flavio-a opened #21 "Modulo:Statiist-unique usa valori sbagliati come somma delle statistiche"
## Descrizione
Il modulo:Statlist-unique utilizza un valore sbagliato della somma delle statistiche, sicuramente per la stampa e probabilmente anche per calcolare quali sono i valori unici.

## Pagine affette
* https://wiki.pokemoncentral.it/Elenco_Pok%C3%A9mon_con_somma_delle_statistiche_base_unica

## Risoluzione del problema
Ad un primo esame sembra che nella somma delle statistiche venga aggiu

[2018-05-20 08:55] #21 closed, assigned to flavio-a

[2018-05-24 08:30] flavio-a commented on #20
Ho provato a guardare un po' l'estensione linkata da Gika (https://github.com/chrisdavies/tlite) e penso che possa andare per noi. Solo non mi pare aver visto un modo integrato di far sparire il popup apparso con il tocco semplicemente toccando da un'altra parte delle schermo, ma credo che questo problema si possa risolvere.

[2018-05-24 10:56] davla commented on #20
Bisogna decidere sul mettere o meno HTML nei tooltip. Con [questa](https://github.com/chrisdavies/tlite) non si può fare.

[2018-05-24 15:39] lucas992x commented on #20
@davla [Commento da semplice utente, non ho idea di come effettivamente sia la cosa a livello tecnico]

Secondo me un popup contenente i soli sprite non sarebbe male; in alternativa vedrei bene una lista sprite + nome; in ogni caso gli sprite li trovo utilissimi in una lista del genere.
Altra domanda. Nel caso di mosse con tanti possibili genitori, verrebbe un popup con le dimensioni della pagina

[2018-05-24 19:46] flavio-a commented on #20
@lucas992 Nomi più sprite temo possa diventare troppo lunga. Inoltre considerando l'altezza del peggiore dei casi (ovvero metà dell'altezza dello schermo) temo che il tooltip andrebbe a sforare spesso fuori dallo schermo, con conseguente difficoltà di lettura (scorrere con il tooltip aperto lo fa sparire, no? E in ogni caso mi sembra poco naturale). Io per quello preferirei una cosa più invasiva,

[2018-05-26 11:16] davla commented on #1
Flavìo non se l'è sentita di chiudere l'issue qui: https://github.com/pokemoncentral/wiki-lua-modules/commit/32330f4. Probabilmente perché in fondo sa che *expandible* non esiste in inglese :stuck_out_tongue_closed_eyes:
In ogni caso, credo che con una lista dei tipi che hanno il colore troppo scuro si potrebbe automatizzare molto, at least nei moduli.

[2018-05-26 16:04] flavio-a commented on #1
@davla L'ho sempre saputo che non esiste, solo che mi piaceva come risposta a collapsible :p
Comunque avevo pensato di automatizzare la cosa in quel modulo ma non si può fare per come è strutturato adesso. Bisognerebbe riscriverlo tutto per bene (non solo per quello) ma non avevo tempo nè voglia di farlo (considerato che ci sono cose più utili al momento)

[2018-05-27 21:40] flavio-a commented on #20
@lucas992 per rispondere alla tua domanda (scusa se non l'ho fatto con il precedente messaggio ma ero un po' impegnato e ho risposto di fretta): un tooltip più grande dello schermo non credo sia utilizzabile (come ho già scritto prima), quindi dovremmo in ogni caso cercare di farlo "scorribile" (tipo le tabelle di Mediawiki su mobile, per intenderci), ammesso che ci si riesca (penso di sì).
PS: tu

[2018-05-27 22:17] lucas992x commented on #20
@flavio-a Sì, mi riferisco a un tooltip, non sapevo il nome

[2018-05-29 13:20] davla opened #22 "Genitori movelist/breed"
## Descrizione
Nella issue #20 sono emersi problemi per il nuovo `tt` mobile-friendly, riguardo il genitori nel movelist/breed, che possono essere molti, facendo esplodere le dimensioni del popup. Credo che questo problema meriti una issue a sé stante.

## Screenshot
![breed](https://user-images.githubusercontent.com/12073088/40661297-a0b3557e-6353-11e8-8d57-a39e4dbde9a2.png)
E sono su un 4K 27''.

[2018-05-29 17:02] lucas992x commented on #22
Non potendo comprimere automaticamente le cose da mobile, secondo me la scelta migliore è un tooltip grosso quasi come lo schermo e scorribile che contenga i soli MiniSprite, senza nomi.

[2018-05-29 17:03] lucas992x commented on #20
A me piacerebbe una cosa che da desktop funzioni sia come hover che come tooltip manuale. Nel senso, che mostri il contenuto nascosto passandoci il mouse ma che in caso di click lo lasci lì anche spostando il puntatore o cliccando altrove, finché non lo si nasconde di nuovo a mano cliccandoci su. Mi farebbe comodo ad esempio per confrontare due cose diverse lasciandole entrambe sempre visibili, co

[2018-05-29 22:08] lucas992x opened #23 "Testo "abbassato" in molte pagine contenenti EpisodeInfobox"
## Descrizione
In alcune pagine che contengono EpisodeInfobox, il testo ad inizio pagina viene abbassato invece di stare in cima. Pensavo che dipendesse semplicemente dal fatto di andare a capo una volta in più, ma due cose mi fanno pensare che il problema sia dovuto ad altro: il fatto che questo problema capiti solo con EpisodeInfobox, e il fatto che non tutte le pagine che lo contengono abbiano

[2018-05-30 13:05] Cruifer commented on #23
[Fixed](https://wiki.pokemoncentral.it/index.php?title=Template:EpisodeInfobox&curid=38295&diff=587679&oldid=586352). Buon divertimento nel vedere l'edit.

[2018-05-30 13:05] #23 closed, assigned to nobody

[2018-05-31 19:57] flavio-a commented on #5
Dopo aver corretto alcune pagine a mano, oggi ho utilizzato una sostituzione automatica per togliere il template sup. La cosa strana è che le pagine aggiornate a mano sono ancora tra i puntano qui del template (nonostante non lo includano più, sono sicuro), mentre quelle aggiornate con la sostituzione automatica sono sparite. Non so quanto possa essere rilevante, ma nel dubbio lo scrivo.

EDIT: al

[2018-05-31 20:00] flavio-a commented on #22
@lucas992 Ma supponendo di poter comprimere le cose da mobile, preferiresti questa opzione al tooltip? (Non sto dicendo che sia fattibile, voglio solo capire se è una possibile alternativa)

[2018-06-01 11:56] lucas992x commented on #22
Ci ho pensato un po' e penso che comunque resti meglio il tooltip. Con le cose compresse, questi box decompressati da mobile sarebbero esageratamente lunghi dovendo stare su una colonna sola, mentre nel tooltip potrebbero essere disposti su una griglia che sforerebbe sì per varie mosse, ma comunque ottimizzerebbe meglio gli spazi.

[2018-06-01 12:22] flavio-a commented on #22
@lucas992 Questo è un punto molto interessante. Inizio a ricredermi, anche se la possibilità di un popup invasivo continua ad inteigarmi. Potrei fare qualche prova per vedere cosa succede nei vari casi con i due metodi. E poi bisogna sentire @mejicat se gli vanno bene estensioni un po' pesanti

[2018-06-03 15:42] #15 closed, assigned to davla

[2018-06-03 15:44] davla commented on #20
Sì, dovrebbe essere fattibile, a meno che @mexicat non voglia un'estensione super mega lightweight.

[2018-06-04 17:39] flavio-a commented on #22
Ho creato un paio di esempi con le due alternative: tooltip e popup invasivo. Non so quale mi convinca di più al momento, anche se devo ammettere che se i possibili genitori sono 2 forse il popup non è il massimo.
https://uz.sns.it/~Flavio_a/

PS: è sorprendente come passare da bordo nero squadrato a sfondo solid color + roundy (due righe di css) faccia saltare dagli anni 90 agli anni 10.

[2018-06-04 18:30] lucas992x commented on #22
@flavio-a Per me molto meglio la seconda (cioè il tooltip).

[2018-06-04 18:31] davla commented on #22
Su schermi piccoli il popup invasivo e il tooltip non cambiano molto. Più di uno alla volta non si apre.

[2018-06-06 16:13] #13 closed, assigned to lucas992x

[2018-06-07 12:42] lucas992x opened #24 "Nomi da cambiare per rispecchiare quelli ufficiali"
## Descrizione
Come si può vedere in [questa pagina](https://www.pokemon.com/it/play-pokemon/info/glossario-dei-videogiochi-pokemon/), molte cose hanno un nome ufficiale, che andrebbe corretto nel wiki.

## Termini ufficiali da cambiare
Tra parentesi il nome attualmente presente sul wiki, se esiste.
- [x] Abilità speciale (ex Abilità nascosta)
- [x] Affetto (ex Felicità)
- [x] Bonus di tipo (ex ST

[2018-06-07 12:47] flavio-a commented on #24
@lucas992 Nell'elenco delle cose da correggere metti i quadratini vuoti prima così quando uno ha corretto tutte (o quasi) le pagine con quel particolare errore può segnarlo mettendo la x nel quadratino (credo lo possa fare chiunque semplicemente clickando, non solo il proprietario del messaggio)

[2018-06-08 16:55] flavio-a commented on #1
Per il modulo Party ho sistemato, adesso abbiamo il default bianco in (penso) tutti i casi in cui lo sfondo è scuro. Se qualcuno trova altri moduli/template con lo stesso errore può scrivere qui.

[2018-06-08 18:36] Cruifer commented on #7
Scusate se riapro l'issue, ma ho notato lo stesso bug in [? (EC)](https://wiki.pokemoncentral.it/%3F_(EC)) e in [p ID](https://wiki.pokemoncentral.it/P_ID) (ma probabilmente c'è anche in altri pkmn glitch).

[2018-06-08 20:37] flavio-a commented on #7
A quanto pare non avevo modificato il DebRes su Github (mi sembra strano, ma non trovo il commit in cui l'ho aggiunto), quindi con il recente aggiornamento di Maze l'overflow-auto si è perso. Adesso sistemo.

[2018-06-08 20:39] #7 closed, assigned to nobody

[2018-06-08 21:46] flavio-a commented on #22
Dai commenti precedenti sembra che il pubblico preferisca il tooltip. Io l'ho realizzato con Popper.js (perché era quello linkato da Gika e non avevo sbatta di cercane un altro). Se nessuno ha altri pareri e @mexicat ci autorizza a caricarlo sul Wiki poss(iam)o iniziare a lavorare più nel dettaglio.

[2018-06-09 18:21] flavio-a opened #25 "Implementare il Modulo:Stats"
## Descrizione
Finire il modulo:Stats e sostituirlo al template:Stats.

## Risoluzione del problema
Dato che dovrebbe essere quasi pronto, credo si tratti solo di fare un po' di debug sul modulo e poi caricarlo.

- [x] Debuggare il modulo
- [x] Sostituirlo nelle pagine al template:Stats

[2018-06-11 10:05] davla commented on #4
Io approvo li'idea di @flavio-a Di mettere "Stesso nome". Quindi farò così. La gerarchia è:

1. Tipo
2. Abilità
3. Mossa
4. Tipo GCC
5. Gruppo upva
6. Classe allenatore
7. Virtù
8. Superquattro

So che ci sono casi che non capiteranno mai (un tipo con lo stesso nome di un'abilità, fx) ma è tanto per essere completi.

[2018-06-11 15:14] lucas992x commented on #4
@davla Promemoria: aggiornare la pagina di aiuto sui template di collegamento

[2018-06-11 15:54] davla commented on #4
E dove sarebbe?

[2018-06-11 16:02] flavio-a commented on #4
@davla https://wiki.pokemoncentral.it/Aiuto:Template/Collegamento
https://wiki.pokemoncentral.it/Aiuto:Template/Collegamento/Elenco

[2018-06-11 16:54] Cruifer opened #26 "Nuovo layout per il template mosse improvvisate"
## Descrizione
Il Template:Mosse improvvisate è decisamente da rifare. Il layout attuale è poco pratico e si vede male da mobile. Per cominciare bisognerebbe spezzare il template in almeno due sottotemplate (header ed entry) per poterci mettere quante mosse si vuole (non so perché non ci avessi pensato quando avevo fatto il template, ma vabbé). Poi andrebbe ripensato il layout, appunto: da desktop

[2018-06-11 17:02] Cruifer opened #27 "Template Pokémon degli allenatori da spezzare in sottotemplate"
## Descrizione
Mi è stato suggerito di spezzare quei template in vari sottotemplate. La proposta mi sembra abbastanza buona teoricamente, ma vorrei un po' più di dettagli. In quanti sottotemplate andrebbe spezzato? I template alla fine rimarebbero così come sono, o si modificherebbe il layout? È fattibile da realizzare? Ha senso farlo adesso che abbiamo appena iniziato a sistemarli, o è meglio fin

[2018-06-11 18:05] flavio-a commented on #27
Io penso farei così:
* Header, che contenga l'intestazione ("Pokémon di tizio")
* Group, che corrisponda ad un gruppo di Pokémon, non ad una riga. Intendo dire tutti quelli che stanno di fianco ad una stessa "etichetta" (tipo "In mano", "liberati", etc...). Un'etichetta può essere più lunga di una riga (per esempio i Pokémon di Ash temporanei)
* Entry, che corrisponda al singolo Pokémon (in pratic

[2018-06-11 18:51] flavio-a commented on #25
Il bot ha fatto buona parte del lavoro di sostituzione, ma visto che faccio sempre le cose molto safe sono rimaste un po' di pagine su cui, nel dubbio, il bot non ha agito. Naturalmente sono una persona saggia, quindi ho loggato (in modo un po' di merda, ma comunque l'ho fatto) le pagine non corrette.
La domanda è: c'è un volontario per prendersi l'elenco e sostituire a mano il template con il mod

[2018-06-11 19:06] flavio-a opened #28 "Spostare Minior meteora e un nucleo da UselessForms/data ad AltForms/data"
## Descrizione
Adesso tutte le forme di Minior sono useless, però cambiano le statistiche da nucleo a meteora. La mia proposta è di spostare la forma meteora e uno dei nuclei (scelto arbitrariamente) nel modulo AltForms/data e vedere se il merge delle due tabelle quando serve (tipo per la sottopagina dei modelli) viene sensato.

## Pagine affette
* https://wiki.pokemoncentral.it/Modulo:Stats nella

[2018-06-11 19:14] davla commented on #28
Ho paura

[2018-06-11 19:54] Cruifer commented on #25
A questo punto ho paura a chiedertelo... ma vabbè volendo posso dare una mano

[2018-06-11 20:01] Cruifer commented on #27
**Proposta di Luca:**
https://wiki.pokemoncentral.it/Utente:Lucas992/ProveTemplate
https://wiki.pokemoncentral.it/Utente:Lucas992/ProveTemplate/AltreProveTemplate
https://wiki.pokemoncentral.it/Utente:Lucas992/ProveTemplate/AltreProveTemplate2

Mi sembra di capire che tutti e due proponete una cosa del tipo header - riga - pkmn - riga ...  - footer, giusto?
Come idea mi sembra buona, ora cerco di

[2018-06-11 20:13] flavio-a commented on #25
Le stime dicevano sui 115, in realtà si sono rivelati essere 85. Però ero stato troppo pessimista, in un'oretta di lavoro li ho sistemati tutti io. Chiudo.

[2018-06-11 20:22] lucas992x commented on #27
@Cruifer L'ho fatto così perché userei in linea di massima questo layout, discutendo poi le cose secondarie (per esempio se mettere i Pokémon al centro o a sinistra, oppure un eventuale contorno ai loro box).

[2018-06-11 20:25] flavio-a commented on #28
Vuoi la verità? Anch'io. Ma di fatto meteora e nucleo sono due forme alternative non useless. Il problema è che poi ci sono un sacco di nuclei useless. Hai altre idee per gestire questa cosa (oltre che a mano in tutti moduli in cui serve -> no)?
Alla fine con Pikachu sembra funzionare abbastanza bene...

[2018-06-12 09:53] mexicat commented on #22
Mi sembra meglio il popup perché così non siamo costretti dal layout del punto in cui andrebbe visualizzato il tooltip: se ci sono dei link con tooltip grossi ai margini della pagina, c'è da fare un sacco di calcoli per evitare che il contenuto esca fuori. La soluzione popup (tecnicamente è un modale) è molto più libera anche dal punto di vista di ciò che ci può essere inserito dentro e funziona m

[2018-06-12 10:32] lucas992x commented on #27
Alcune cose da dire.

Allineamento verticale delle voci "In mano", "Liberati", etc. Con una riga o al massimo due va benissimo al centro, ma se i Pokémon in quel gruppo sono tanti (per esempio Ash ne ha decine al laboratorio del prof. Oak) è molto più comprensibile metterlo in alto, come è già ora. Ecco l'esempio di Ash:
![template pokemon di ash - pokemon central wiki-2018-06-12-12-19-53](https:/

[2018-06-12 11:10] Cruifer commented on #27
Non ho capito la prima parte del tuo discorso. Nel senso, non vorresti vedere le scritte allineate verticalmente, giusto? Ma ti riferisci al template nella tua sandbox? Perché attualmente anche nei template "nuovi" dovrebbe essere comunque così.

Per la seconda parte invece credo che l'idea migliore sia la seconda. Metto qualche screen che mi sembrano molto esplicativi:

**Proposta 1 desktop:**
![

[2018-06-12 11:36] flavio-a commented on #22
@mexicat Il posizionamento del tooltip viene gestito completamente dalla libreria qundi non ci sono problemi neanche se il link e laterale con un tooltip grosso. Di contro il tooltip usa Popper, che sono 20k minifizato. C'è anche da considerare che ci serve comunque un plugin per i tooltip per fare il tt, è vero che avrebbe contenuto solo testuale ma bisogna comunque che faccia un minimo di posizi

[2018-06-12 12:08] flavio-a commented on #27
L'osservazione di Luca sull'allineamento verticale delle etichette ("In mano", etc.) mi sembra molto sensata, non avevo pensato assolutamente a questo problema ma concordo con lui (l'ideale sarebbe allinearlo al centro della prima riga, non so quanto sia fattibile ma forse ho una mezza idea).

[2018-06-12 12:24] lucas992x commented on #27
@Cruifer In realtà io vorrei le scritte allineate in alto verticalmente, proprio come succede negli attuali template. Lo dico perché Flavio le aveva centrate, probabilmente non sapendo che ci sarebbero stati anche casi "enormi" dove starebbero male, come appunto Ash.

[2018-06-12 12:35] Cruifer commented on #27
Anche a me sembra meglio come dici tu Luca, anche perché è già così anche nei template nuovi. L'unica cosa è che per farlo serve probabilmente un div cuscinetto che occupi lo spazio vuoto. Ma non dovrebbe essere troppo problematico, credo.
Ditemi la vostra sulla questione del background bianco, che mi sembra la soluzione migliore (bravo Luca).
Ah, a proposito, posso occuparti le sandbox temporanea

[2018-06-12 13:31] lucas992x commented on #27
Ma certo che potete usare quelle, ho messo apposta il work in progress lì per poterci lavorare tutti assieme comodamente. Non preoccupatevi che faccio prezzi modici per il noleggio :P
Scherzi a parte, ho appena sistemato in modo da seguire il suggerimento di Flavio per l'inserimento dei Pokémon di uno stesso gruppo: basta metterli uno dopo l'altro come parametro {{{1}}} visto che sono contenuti in

[2018-06-12 14:27] Cruifer commented on #27
Allora, ho provato a mettere il codice attuale e al contrario di quel che pensassi funziona tutto. Come prima cosa ho usato l'ultima sandbox di Luca per fare da header (se ti serve la sandbox annulla pure senza pietà), non c'è bisogno del footer perché il contenuto è gestito da un parametro, quindi alla chiusura del template si chiude tutto il div grande. Per quanto riguarda la riga ho messo il co

[2018-06-12 17:06] lucas992x commented on #27
Riguardandolo lascerei un massimo di 5 Pokémon per riga, così anche i nomi lunghi con shiny ci stanno senza andare a capo. La stellina degli shiny l'ho messa di fianco al MiniSprite e nascosta in sm.

Ho però forti dubbi sul fatto di dover dividere in questo modo, cioè mettendo a mano un gruppo per ogni riga. Sempre in riferimento al template dei Pokémon di Ash, lì quelli da nascondere sono a deci

[2018-06-12 17:21] Cruifer commented on #27
Non mi convince molto la scelta di 5 pkmn per riga, ci sono comunque problemi con le larghezze:

![schermata 2018-06-12 alle 19 10 54](https://user-images.githubusercontent.com/38588039/41306086-4bf34b48-6e75-11e8-9b80-10ebaab8bb82.png)

A questo punto quindi ne metterei 4 per riga, anche perché ci sono nomi particolarmente lunghi (vedi [qui](https://wiki.pokemoncentral.it/Template:Pok%C3%A9mon_di

[2018-06-12 17:49] lucas992x commented on #27
Ho sistemato quasi tutto (il problema sopra derivava dal fatto che non c'erano i wrap e quindi lui metteva a forza tutto in un'unica riga stringendo dove necessario), manca una sola cosa: per i gruppi nascosti penso abbia più senso mostrare l'etichetta a sinistra e nascondere solo i Pokémon, ma mi sta dando problemi. Vedo se riesco a sistemare anche questa cosa prima di cena.

[2018-06-12 18:04] lucas992x commented on #27
UPDATE: ce l'ho fatta, ora mancherebbe da piazzare l'etichetta in cima al gruppo anziché in mezzo, magari non proprio in cima cima ma appena più sotto in modo che sembri all'altezza della prima riga. Per il resto dovrebbe essere tutto ok.

[2018-06-12 18:07] flavio-a commented on #27
@lucas992 Basta togliere la classe vert-middle e aggiungere un po' di padding-top

[2018-06-12 18:35] Cruifer commented on #27
Sicuro che non sia troppo sbatti aprire tutti gli espandi per cercare un dato Pokémon così?
Aggiungo che c'è un po' troppo spazio tra una riga e l'altra, dovrebbe bastarne tipo la metà. Ah e non ho capito come mai hai spostato la stellina degli shiny, a me piaceva più prima ma vabbè questo non importa molto.

[2018-06-12 18:55] lucas992x commented on #27
@Cruifer Lo spazio da mobile effettivamente è grosso, meglio ridurlo.
La stellina mi sembrava stesse meglio dopo lo sprite, ma forse va meglio dopo il nome, boh. Qui diventa una cosa soggettiva, mi sa che andremo a votazione XD
Il primo punto non l'ho capito: intendi dire che bisognerebbe comprimere tutti i gruppi in un unico Espandi anziché ognuno nel suo espandi?

[2018-06-12 19:12] Cruifer commented on #27
Anche lo spazio tra la scritta e i pkmn è decisamente troppa da mobile (ma questo soltanto in quelli nascosti, quindi mi sa che è colpa del `<div>&nbsp;</div>`, forse andrebbe aggiunta la class `hidden-md`).
Sì, mi riferivo a quello riguardo all'espandi. Cioè, personalmente non cambia nulla perché non li uso, però magari uno potrebbe trovarcisi male e mi sembra un po' scomodo com'è ora. Però boh,

[2018-06-13 09:33] lucas992x commented on #27
Quello specifico div l'ho nascosto da mobile, ma continua ad esserci un po' troppo spazio anche tra una riga di Pokémon e l'altra:
![utente lucas992 provetemplate - pokemon central wiki-2018-06-13-11-28-42](https://user-images.githubusercontent.com/38510975/41342617-f82b2c64-6efc-11e8-9079-1c86b07b6200.png)
Il problema è che il div contenente il box bianco è inspiegabilmente alto, anche se ho mess

[2018-06-13 10:31] Cruifer commented on #27
Dovrei aver risolto il problema dello spazio (vedi [qui](https://wiki.pokemoncentral.it/index.php?title=Utente%3ALucas992%2FProveTemplate%2FAltreProveTemplate2&type=revision&diff=593477&oldid=593468)), credo dipendesse dal fatto che si stava usando uno `span` e non un `div.` A quanto pare risolve sia il problema dello spazio fra righe che quello dello spazio fra gruppi nascosti, anche se non ho ca

[2018-06-13 10:35] flavio-a commented on #27
@Cruifer non ci metto la mano sul fuoco, ma probabilmente il parser di Mediawiki interpretava la riga di soli span come riga di testo e quindi aggiungeva un p a caso, causando tutti i problemi perché i p hanno un sacco di margin top e bottom. Mettendoci un div invece lo interpreta come una riga di HTML e quindi non aggiunge più il p. Avete provato a guardare con l'inspector se appariva questo p mi

[2018-06-13 10:46] lucas992x commented on #27
Con l'inspector appariva questo p apparentemente inspiegabile, non pensavo fosse dovuto all'uso di span (che in teoria uno dovrebbe usare proprio per evitare i p). Comunque la versione attuale mi convince, penso restino da definire solo i dettagli, ossia:
- Stellina dei cromatici prima o dopo il nome.
- Abbassare leggermente le scritte del nome del gruppo.

Personalmente, a me entrambe le cose pia

[2018-06-13 11:27] Cruifer commented on #27
Allora, ripensandoci la stellina dello shiny andrebbe tolta. Dato che, giustamente, la stellina scompare da mobile, andrebbe rimesso lo sprite shiny (che è stato tolto non so quando in mezzo alle decine di edit). Così la stellina è ridondante quindi per me si potrebbe direttamente togliere.
Per le scritte invece non mi convincono come sono adesso: non sono uniformi, nel senso che alcuni fluttuano

[2018-06-13 13:23] lucas992x commented on #4
https://wiki.pokemoncentral.it/Template:Mosse_di_tipo_Normale
https://wiki.pokemoncentral.it/Template:Mosse_di_tipo_Lotta
https://wiki.pokemoncentral.it/Template:Mosse_di_tipo_Volante
https://wiki.pokemoncentral.it/Template:Mosse_di_tipo_Veleno
https://wiki.pokemoncentral.it/Template:Mosse_di_tipo_Terra
https://wiki.pokemoncentral.it/Template:Mosse_di_tipo_Roccia
https://wiki.pokemoncentral.it/Tem

[2018-06-13 17:03] lucas992x commented on #27
@Cruifer ma sei sicuro che esistano i MiniSprite cromatici? Perché io non li trovo proprio.

[2018-06-13 17:14] CiaobyDany commented on #27
@lucas992 I mini sprite cromatici non esistono, lel. Ne esistono solo alcuni su Bulba ma sono fan made.

[2018-06-13 17:17] lucas992x commented on #27
@CiaobyDany Ecco, allora l'idea di Crusca di metterli è irrealizzabile, come immaginavo. Bisognerà tornare alla stellina.

[2018-06-13 17:22] Cruifer commented on #27
"irrealizzabile" non è, perché di fatto è già così. Avevo dato per scontato che ci fossero perché ho visto [questo](https://media.pokemoncentral.it/wiki/1/12/384sMS.png) e [quest'altro](https://media.pokemoncentral.it/wiki/f/f3/164SMS.png), ma non ricordavo fossero fanmade. Ad ogni modo occhio a toglierli del tutto, perché poi su mobile si rischia di avere perdita di informazione. La stellina se p

[2018-06-13 17:28] lucas992x commented on #27
Per ora ho messo la stellina subito dopo il nome. Poi se avete idee migliori ne discutiamo e vediamo che fare.

[2018-06-13 17:45] Cruifer commented on #27
Un paio di idee mi sono venute, ma hanno tutte dei grossi contro. All'inizio avevo pensato a mettere la scritta del nome colorata per i cromatici, ma anche così si avrebbe perdita di informazione da mobile e comunque potrebbe non risultare molto chiaro. Altrimenti si potrebbe mettere lo sfondo colorato anziché bianco, solo che potrebbe confondersi con il background dello sprite o anche con quello

[2018-06-13 19:54] lucas992x commented on #27
@Cruifer Da mobile si ha già perdita di informazione, visto che vengono nascosti i nomi. Non penso sia grave perdere pure l'info della cromaticità. Anche perché ce l'hanno in pochissimi.

[2018-06-13 20:58] Cruifer commented on #27
ok per gli shiny.
Ora dovremmo sistemare pensare alle scritte. Nel senso, come sono adesso non vanno molto bene, come ho già spiegato prima. A questo punto forse conviene non affiancare scritta e pkmn ma mettere la scritta sopra e i pkmn sotto, anche perché per com'è adesso ruba soltanto spazio a sinistra.

[2018-06-13 21:15] lucas992x commented on #27
@Cruifer Con scritta intendi il nome dei vari gruppi giusto? Mettere direttamente la scritta sopra al suo gruppo a pelle non mi convince molto, però ci penso un po' su, magari poi cambio idea.

[2018-06-14 09:04] flavio-a commented on #4
Ho sistemato i template, inoltre @davla non hai spostato la mossa Pugni Plasma.

[2018-06-14 09:17] flavio-a commented on #27
Scusate se non ho seguito tutta la discussione e quindi mi intrometto adesso che avete quasi finito, però preferivo un solo "espandi" per tutto invece di uno per ogni etichetta. Inoltre credo che prima ci fossero sei Pokémon per riga per rispecchiare il fatto che un allenatore di può portare quelli dietro, ma questo non è fondamentale a mio avviso.

[2018-06-14 09:41] CiaobyDany commented on #22
Quantomeno da mobile il popup è molto più comodo perché può essere chiuso toccando qualsiasi parte dello schermo che non abbia il popup, mentre il tooltip deve essere chiuso toccando di nuovo la targhetta in modo preciso. Considerando che le nostre pagine sono piene di link la probabilità di aprire qualcos'altro anziché chiudere il tooltip non è esattamente nulla. Poi, certo, se il popup ha proble

[2018-06-14 09:46] lucas992x commented on #27
@flavio-a Io in generale preferisco che ci sia un Espandi per ogni gruppo, perché la maggior parte degli Allenatori ne ha pochi e così sono visibili a colpo d'occhio, però mi rendo conto che con Ash probabilmente sarebbe meglio un Espandi unico o almeno 2-3 Espandi, visto che ha 9 gruppi da nascondere.

[2018-06-14 09:47] CiaobyDany commented on #3
Dopo il problema causato da LGPE faccio un up su questa issue perché servirebbe poterlo fare in tempi umani.

[2018-06-14 12:58] Cruifer commented on #27
idem, sto cercando di capire se la cosa sia fattibile o meno (ma credo di sì).

EDIT: sì, funziona bene, basta inserire un altro parametro.

effettivamente questa cosa ha senso, visto che il limite di sei Pokémon vale anche per l'anime. Che si fa?

[2018-06-14 17:20] lucas992x commented on #27
Bravissimo per il nascondino, l'ho scritto anche nella documentazione.
Mettere 6 Pokémon per riga concettualmente ha senso per il motivo che dici, però all'atto pratico mi sa che funzionerebbe solo su schermi grandi e impostando width-xl-100, altrimenti certi nomi lunghi poi vanno a capo. Volendo possiamo pensare di metterne 3 per riga lasciando uno o più box vuoti in caso di squadra "incompleta",

[2018-06-14 20:31] flavio-a commented on #22
@CiaobyDany il fatto che il tooltip non si chiuda toccando fuori è un "bug" della prova, in teoria si dovrebbe poter sistemare (sento Maze) per farlo sparire toccando ovunque fuori dal tooltip. Per il fatto di far sparire il popup toccando fuori dallo stesso il problema è che per popup grossi non esiste davvero un fuori, c'è solo un bordino ridicolo. Che è un problema che in realtà si pone anche c

[2018-06-14 20:36] CiaobyDany commented on #22
@flavio-a Allora, ok per il bug del tooltip, mentre per entrambi quanto sarebbe infattibile fare in modo che la dimensione massima del box sia più piccola della dimensione dello schermo?

[2018-06-14 21:26] Cruifer commented on #27
Non sono sicuro di aver capito bene, in pratica una cosa simile al trainerlist?

Comunque intanto ho inserito i parametri per le width, xl e lg, facilmente intuibili. Ho preferito lasciare 100 su schermi md visto com'è fatto il template, ma volendo si può aggiungere anche quello.

[2018-06-15 08:55] lucas992x commented on #27
Sì, intendevo una cosa simile al Trainerlist, ma come detto non mi convince. Però mi è venuta un'altra idea: mettere subito sotto all'etichetta "In mano" le 6 Poké Ball piene/vuote che si trovano nel template delle squadre, ecco un esempio:
![utente lucas992 sandbox - pokemon central wiki-2018-06-15-10-51-36](https://user-images.githubusercontent.com/38510975/41459667-768ab7b2-708a-11e8-9b4e-4b151

[2018-06-15 10:13] Cruifer commented on #27
@lucas992 Intanto fai una prova in Sandbox poi vediamo se sta bene o meno, così su due piedi non saprei risponderti.

[2018-06-15 13:17] flavio-a commented on #27
Medio perché c'è gente che invece di avere "in mano" ha "in rotazione" e l'elenco contiene più di 6 Pokémon. E comunque a me non entusiasma l'idea perché sarebbe solo sotto "in mano", non lo so, dovrei provare a vederlo.
@lucas992 Per realizzarlo ti consiglio di guardare come veniva fatto nel template:Squadra e copiare da lì il codice (almeno per le prove, poi vediamo se si può migliorare).

[2018-06-15 13:27] Cruifer commented on #27
Allora, ho fatto un paio di fix a quello che aveva messo Luca (erano giusto un paio di allineamenti del testo), ma in effetti se ce ne sono alcuni con più di sei non ha senso tenerlo.

[2018-06-15 13:32] lucas992x commented on #27
@Cruifer Infatti l'ho messo nascosto di default così si decide di volta in volta se e dove dove metterlo, senza includerlo automaticamente nel gruppo "In mano".

[2018-06-15 13:51] Cruifer commented on #27
Ah, ok, sì non ci avevo fatto troppo caso allora per me può anche andare.

Nel frattempo ho notato un problema che non so come risolvere, c'è decisamente troppo spazio vuoto a destra
![screenshot_20180615-154646](https://user-images.githubusercontent.com/38588039/41471384-c99e62c2-70b3-11e8-9e1f-87ec9b3fa539.png)

[2018-06-15 14:07] lucas992x commented on #27
@Cruifer Forse basta aggiungere un flex-main-center al posto giusto, adesso sono da telefono e non riesco a guardarci bene (tralasciamo il fatto che sto aspettando di fare un esame lol)

[2018-06-17 08:25] flavio-a commented on #22
Aggiungere dello spazio lateralmente è facile, sopra è molto più impegnativo ma penso che basti quello di fianco.

[2018-06-17 09:13] CiaobyDany commented on #22
@flavio-a Ah, be', sì, forse è anche più comodo. L'importante è avere una safe zone con cui chiuderlo

[2018-06-17 10:34] flavio-a commented on #27
`flex-main-center` però sposta al centro anche quando ci sono meno di 6 Pokémon. Non puoi dire al flex "ehi, fai sempre finta che ci siano sei cerchietti e allineameli al centro tutti e sei, poi però mettimi a destra di questo allineamento al centro i cerchietti che ci sono davvero". In generale qualsiasi layout che centri i sei cerchi centrerà anche quando ce ne sono pochi (tipo nella foto centre

[2018-06-17 11:11] Cruifer commented on #27
@flavio-a A pensarci bene basterebbe un po' di `margin` fra un pkmn e l'altro. Solo che poi potrebbe dare problemi da desktop, quindi servirebbe un modo per far vedere il margin solo da mobile, ma non credo sia possibile o sbaglio?

[2018-06-17 11:13] CiaobyDany commented on #27
@Cruifer Considerando che il margin collassa in caso di mancanza di spazio non si riesce a giostrare la cosa con width apposite?

[2018-06-17 15:04] lucas992x commented on #27
Ho provato a risolvere così:

`<div style="padding: 0 0.1em; margin: 0.2em 0;" class="width-xl-25 width-md-33 width-sm-15">`
`<div style="background: #fff; border-radius: 3.2rem;" class="width-sm-auto text-left pull-center">`
`[...]`
`</div></div>`

In pratica l'idea era impostare alla casella del Pokémon (primo `div`) width-sm-15 anziché l'attuale width-sm-auto, e poi fare in modo che la parte bi

[2018-06-17 16:04] flavio-a commented on #27
Prova `inline-block width-xl-100 width-sm-15`. Un `inline-block` ti serve, altrimenti non c'è speranza che il div sia largo come il contenuto e non il contenitore. Però tu vuoi che su schermi grossi, nonostante l'`inline-block`, il div sia largo, quindi gli schiaffi `width-xl-100`.
Questa soluzione (ammesso che funzioni, non l'ho provata) potrebbe avere dei problemi dato che il parent ha del paddi

[2018-06-17 17:07] lucas992x commented on #27
`roundy-full` non va bene perchè mette l'intera casella bianca a forma di ellisse su schermi più grandi, quindi `border-radius: 3.2rem` va lasciato. Ho provato a togliere il padding, "spostandolo" nel secondo `div` come margin, e ad aggiungere ciò che dici, ma continua a non funzionare: `inline-block` restringe la casella bianca a prescindere, anche con un `width-xl-100` (e sembra anche che elimin

[2018-06-18 16:34] Cruifer commented on #27
Avevo pensato ad una [soluzione del genere](https://wiki.pokemoncentral.it/index.php?title=Utente:Lucas992/ProveTemplate/AltreProveTemplate&diff=595059&oldid=594858), ma ovviamente è poco pratica e non funziona benissimo. Qualcuno ha altre idee?

Ah, ho risolto il problema dell'allineamento delle scritte [così](https://wiki.pokemoncentral.it/index.php?title=Utente%3ALucas992%2FProveTemplate%2FAltr

[2018-06-18 16:47] lucas992x commented on #27
Senza contare che dà problemi in `md`:
![scr](https://user-images.githubusercontent.com/38510975/41549621-bc0b2da0-7326-11e8-809e-14f368d7c2c0.png)

[2018-06-18 17:04] Cruifer commented on #27
Ho sistemato, comunque era "colpa" anche dell'espandi perché se vedi quelli nel gruppo boh funzionano bene.
A questo punto se riusciamo a sistemare l'altro bug direi che abbiamo concluso.

[2018-06-19 09:48] CiaobyDany opened #29 "Redesign della gallery"
## Descrizione
Avendo notato che c'è un leggero overflow da mobile è comunque emerso che la gallery necessita di un deciso restyling

## Pagine affette
Tutte quelle che usano le gallery, un esempio: https://wiki.pokemoncentral.it/Pok%C3%A9mon:_Let%27s_Go,_Pikachu!_e_Let%27s_Go,_Eevee!

## Risoluzione del problema
Direi che non è qualcosa di urgente, e che potremmo lasciare un layout simile a quell

[2018-06-19 09:59] flavio-a opened #30 "Versione mobile dell'Evobox"
## Descrizione
L'Evobox (o come accidenti si chiama) da mobile è inguardabile.

## Risoluzione del problema
Ottima domanda. La proposta più ovvia (che mi sembra ragionevole) è un layout verticale, con ramificazioni affiancate, per quasi tutti i Pokémon. Fanno eccezione quelli con almeno 3 rami (ovvero Eevee, Tyrogue e Rockruff), che necessitano di un layout custom.
Visto che tutti e tre hanno una

[2018-06-19 10:00] CiaobyDany commented on #30
@flavio-a Se mi mettete i MS solo da mobile e da fisso rimangono i modelli statici posso approvare (tanto so che non potrei evitarlo comunque)

[2018-06-19 10:03] davla commented on #4
Sì, so che ne mancavano alcune, ma ho preso la Categoria:Mosse e le pagine che finivano in **(mossa)**, ma ovviamente mi sono scordato che le categorie puzzano.

@lucas992 Sei fortunato che ho avuto una reminescenza del problema relativo ai link. La prossima volta, basta anche linkare uno solo di quei template, ma devi anche spiegare cosa ci devo fare, LOL

[2018-06-19 10:04] davla commented on #29
@CiaobyDany Please, linka una gallery di Wikidex

[2018-06-19 10:06] davla commented on #30
Sì, ovvio. Le modifiche di cui si parla qui affliggono solo la versione Mobile

EDIT:
![tyrogue](https://user-images.githubusercontent.com/12073088/41591508-3c0bf7ee-73ba-11e8-91c2-3fca3175bfd9.png)

Non c'è bisogno di fare niente, siamo già a posto :stuck_out_tongue_closed_eyes:

[2018-06-19 10:11] CiaobyDany commented on #29
@davla https://www.wikidex.net/wiki/Ruta_1_(Alola)
NB: NON voglio copiare tutto il layout (implementare le ombreggiature, per quanto fighe, richiederebbe una nuova revisione di tutta la grafica del sito e non mi sembra il caso al momento), solo l'altezza variabile in base al contenuto. Sostanzialmente mi paiono più simili a dei thumb nostri che a delle gallery vere e proprie.

[2018-06-19 11:58] Cruifer commented on #27
Stavo pensando che si potrebbe mettere il gradiente radiale nel box dello sprite. Ho provato e a me il risultato piace molto, soprattutto su mobile. Ditemi un po' che vi sembra.

[2018-06-19 12:18] lucas992x commented on #27
@Cruifer A me invece piace di più com'era prima, sentiamo gli altri

[2018-06-19 16:35] Cruifer commented on #27
Dopo l'ennesima prova sono riuscito a sistemare il bug. Io sono soddisfatto, secondo me si potrebbe cominciare a caricare i template.

[2018-06-19 16:50] lucas992x commented on #27
Però vedo ancora un po' troppo spazio vuoto a destra:
![scr](https://user-images.githubusercontent.com/38510975/41611824-5395767e-73f1-11e8-93c9-50253cd43f90.png)

Va bene che sia così?
Poi sentirei da tutti un parere sulla questione horizGrad vs Radial (o comunque si chiami), per il resto mi sembra tutto ok.

[2018-06-19 17:01] Cruifer commented on #27
Dipende, lo screen viene da un cellulare o un desktop ristretto? Perché va a capo quando non ce ne stanno più di 5 su una riga ma questo succedeva comunque restringendo lo schermo. Cioè, per intendersi, io da cell ora vedo questo:

![screenshot_20180619-185119](https://user-images.githubusercontent.com/38588039/41612370-fe163984-73f2-11e8-8b8d-417a3de99758.png)
che ok, un po' di spazio resta comun

[2018-06-19 17:05] lucas992x commented on #27
Quello screen arriva dal simulatore di iPhone 7 integrato in Firefox. Dal mio telefono lo vedo così:
![scr](https://user-images.githubusercontent.com/38510975/41612586-a428fa64-73f3-11e8-8298-52e0aabdad34.png)

[2018-06-19 17:20] CiaobyDany commented on #27
Ma mettere un text-center-sm o roba simile (non ricordo le class) non è fattibile? Salvi capra e cavoli. Tanto da mobile ci sta fare le cose centrate anche se ne hai solo due su sei.
BTW: pro gradienti radiali per i MS con margin bianco o quello che è, mi piace molto come soluzione e la potremmo implementare anche altrove (qualcuno ha detto evobox?)

[2018-06-19 17:29] Cruifer commented on #27
@lucas992 evidentemente lo schermo del tuo cell è più piccolo. Prima della modifica tu lo vedevi bene lo spazio a destra? Ah, potresti controllare da firefox con gli altri cellulari come stiamo messi più o meno?

@CiaobyDany no, il text-center-sm non funziona. E sì, anche secondo me nell'evobox ci starebbe bene, ma è meglio scrivere di là per quello.

[2018-06-19 17:35] CiaobyDany commented on #27
@Cruifer Flex-sm-main-center/space-around? Sono sicuro classi di quel tipo esistano perché le avevo messe nella vecchia home mf per la sezione di EP

[2018-06-19 17:42] lucas992x commented on #27
Firefox mi dice che sono problematici iPhone SE e Google Nexus 4, entrambi mostrano uno spazio vuoto a sinistra che è largo circa quanto un cerchietto. Esempio:
![scrse](https://user-images.githubusercontent.com/38510975/41614445-cde642d0-73f8-11e8-8df5-32dd0c4ffbf6.PNG)

Se fosse possibile centrarli solo da mobile, secondo me non sarebbe male.

[2018-06-19 17:59] Cruifer commented on #27
@CiaobyDany sei sicuro? nel senso, quelle classi cercandole sul css non esistono. Forse ti sei confuso con `flex-sm-wrap` ?

@lucas992 grazie. Ho ridotto di poco il margin, potresti controllare se ora si vede bene?

Comunque mi sa che a sto punto forse va bene pure il compromesso di centrarli su mobile. Ma ho paura che servano delle class apposite.

[2018-06-19 18:01] CiaobyDany commented on #27
@Cruifer Fuck, era quello. E se centrassimo tutto anche su desktop? Viene tanto orribile?

[2018-06-19 18:03] lucas992x commented on #27
Centrare su desktop andrebbe bene solo mettendo le etichette centrate anziché a lato, altrimenti farebbe schifo in qualsiasi caso dove i Pokémon non sono un multiplo di 3/4.

[2018-06-19 18:06] lucas992x commented on #27
Ecco due esempi al volo:
![scr1](https://user-images.githubusercontent.com/38510975/41615680-3107293a-73fc-11e8-81cf-6611041540b3.png)

![scr2](https://user-images.githubusercontent.com/38510975/41615684-3394a7cc-73fc-11e8-9fb9-e71ec002983b.png)

Comunque la versione attuale la vedo esattamente uguale a prima da iPhone SE, ossia spazio eccessivo.

[2018-06-19 18:11] Cruifer commented on #27
@CiaobyDany sì, secondo me non è proprio il massimo esteticamente. Ma i compromessi sono sempre ben accetti, se proprio non si riesce a fare altrimenti.

@lucas992 hai controllato dall'anteprima? Perché mi son scordato di fare un null edit, di solito lo faccio per controllare subito che si veda bene

[2018-06-19 18:14] CiaobyDany commented on #27
@Cruifer Consideriamo pur sempre che abbiamo un... 25%? Desktop circa, quindi piuttosto che un compromesso mobile è *sempre* preferibile un compromesso desktop

[2018-06-19 19:49] Cruifer commented on #27
Sì, è vero anche questo.

Comunque secondo me sarebbe meglio evitare il `flex-main-center ` perché su mobile avremmo di nuovo lo stesso problema ma da entrambe le parti, no?

![schermata 2018-06-19 alle 21 37 56](https://user-images.githubusercontent.com/38588039/41620159-2527c16c-7409-11e8-9ecb-90464ed8ccda.png)

Proporrei invece un `flex-main-space-around`, che da desktop si vedrebbe così:

![sc

[2018-06-19 19:55] CiaobyDany commented on #27
@Cruifer Space around ftw

[2018-06-19 20:34] flavio-a commented on #27
Appena ho letto questo commento su Telegram pensavo venisse da #30 quindi direi che si adatta molto.
Per tornare IT: ok gradienti radiali; per me vai di space-around.

[2018-06-19 20:54] lucas992x commented on #27
Andata per lo space-around. Per quanto riguarda i gradienti radiali, vi ucciderò a uno a uno, sapevatelo.

[2018-06-19 20:59] CiaobyDany commented on #27
@lucas992 Pfft... Sono sopravvissuto a 20 anni dei miei cavandomela solo con un paio di psicologi, figuriamoci se mi faccio intimorire da te

[2018-06-19 21:00] lucas992x commented on #27
@CiaobyDany Evidentemente non mi conosci, sottovalutami a tuo rischio e pericolo ❤️

[2018-06-19 21:10] Cruifer commented on #27
Bene, visto che siamo arrivati ad un compromesso io inizio a caricare i tre template. Lascio aperta l'issue fino a quando non saranno aggiornati tutti i template (ma penso che ci si metterà veramente poco) da me e Ale, a cui ho già notificato la versione finale. Se qualcuno volesse dare una mano per sistemare i 60 e passa template è ben accetto comunque.

[2018-06-19 21:11] CiaobyDany commented on #27
@Cruifer Ho improvvisamente ricordato che dovevo fare il censimento dei peli sotto le ascelle che altrimenti Salvini si arrabbia, sorry ma non ho tempo 😘

[2018-06-19 21:12] lucas992x commented on #27
@Cruifer Il nuovo schiavo da sfruttare senza ritegno è Orion, giusto?

[2018-06-19 21:44] davla commented on #27
E non mi dite di `space-evenly`? Ce l'avete nel css ora, obv `flex-main-space-evenly`, dettagli in https://github.com/pokemoncentral/wiki-styles/commit/fe82d1686820c509a49a50c61fe4b0c84d915048

[2018-06-19 21:52] davla commented on #27
No, aspettate, ma perché quell'anello bianco intorno ai mini sprite? Lo trovo orrendo.

[2018-06-19 21:53] lucas992x commented on #27
@davla È voluto. Altrimenti alcuni sprite si confonderebbero con lo sfondo, soprattutto con gli Allenatori specializzati in un determinato tipo.

[2018-06-19 21:55] davla commented on #27
Ok, ma a me continua a fare schifo

[2018-06-19 21:57] lucas992x commented on #27
@davla ¯\_(ツ)_/¯

[2018-06-19 22:29] Cruifer commented on #27
Ty, mi sembrava strano che mancasse in effetti

Da quando il tuo gusto estetico conta qualcosa?

Comunque, ho cominciato alcuni template (solo quelli che erano già stati aggiornati, per problemi di compatibilità con l'`NPartyPoké`). E bravo Orion che si fa volontario per aggiornare gli altri.

[2018-06-20 14:06] CiaobyDany commented on #27
@Cruifer Nota per il futuro: il parametro text dei sottotemplate deve essere richiamabile nel template stesso.
Es: Pokémon di X https://wiki.pokemoncentral.it/Template:Pok%C3%A9mon_di_X
Ho messo il text=yes perché altrimenti soprattutto l'espandi non si leggeva per un cazzo, ma poi nelle pagine che lo richiamano, come https://wiki.pokemoncentral.it/Kanga_e_Li%27l_Kanga dove cambia il background ri

[2018-06-20 14:11] Cruifer commented on #27
sì, è che avevo zero sbatti di implementarlo ieri visto che nella pagina non serviva.

[2018-06-20 14:26] CiaobyDany commented on #27
@Cruifer SEMPRE SCUSE STEVE. SEMPRE SCUSE!

[2018-06-21 18:47] davla commented on #4
Cosa si fa per Pokémon Ranger?
Immagino che il gioco prenda precedenza sulla classe allenatore, giusto?

EDIT:
E per [questa](https://wiki.pokemoncentral.it/Team_Flare_(classe_allenatore)) (Team Flare (classe allenatore))? Ovviamente Team Flare esiste già.

EDIT 2:
Stesso per Team Plasma

EDIT 3:
Guess what? Ultrapattuglia

[2018-06-21 19:08] lucas992x commented on #26
Ora che l'altro template è finito e caricato, sto provando a pensare qualcosa per questo qui. Innanzitutto, vedo che al momento è una tabella che ripete 20 volte lo stesso "pezzo", quindi mi chiedo se valga la pena di spezzare in due parti, un header e un entry. Cioè, tecnicamente è fattibilissimo, il problema sarebbe poi aggiornare tutte le pagine già esistenti.
Se decidessimo di seguire questa s

[2018-06-21 19:15] flavio-a commented on #4
Nel caso del Team Flare direi decisamente di lasciare il suffisso alla ca e lo mettere lo stesso nome nel Team Flare.
Nel caso di Ranger la questione è più delicata, intanto perché non è così ovvio che lo spin-off di 10 anni fa sia più importante della ca della serie principale che compare ancora oggi (anche se io direi di sì). Inoltre c'è il problema che le pagine sono tre: [gioco](https://wiki.p

[2018-06-21 19:15] flavio-a commented on #26
Di quante pagine stiamo parlando?

[2018-06-21 19:26] lucas992x commented on #26
@flavio-a Per le mosse Z una decina, le improvvisate una trentina

[2018-06-21 19:40] CiaobyDany commented on #4
@davla Direi di sì

[2018-06-21 19:41] CiaobyDany commented on #4
@flavio-a In effetti questa soluzione è più intelligente. Never mind.

[2018-06-21 21:19] lucas992x commented on #26
Ho creato al volo una proposta, sempre nelle stesse pagine e sottopagine di prima:
https://wiki.pokemoncentral.it/Utente:Lucas992/ProveTemplate
https://wiki.pokemoncentral.it/Utente:Lucas992/ProveTemplate/AltreProveTemplate
https://wiki.pokemoncentral.it/Utente:Lucas992/ProveTemplate/AltreProveTemplate2

[2018-06-21 21:32] CiaobyDany commented on #26
@lucas992 Non so, l'immagine sotto non mi convince molto, di solito sta sopra/sinistra, no? Cioè, che stia a destra non mi crea problemi, ovviamente, solo che lasciarla sopra stando a destra è un puttanaio

[2018-06-21 21:36] lucas992x commented on #26
Ho provato a spostare a sinistra e sopra, e devo dire che non mi dispiace.

[2018-06-21 21:37] CiaobyDany commented on #26
@lucas992 #Danittatura wins again

[2018-06-21 23:33] lucas992x commented on #26
Breve riassunto di ciò che si è detto in chat per quanto riguarda il template delle mosse Z.
- Va bene l'etichetta "Debutto" o è meglio "Primo utilizzo"? Io preferisco la seconda.
- L'immagine sta meglio a sinistra e sopra o a destra e sotto? Io preferisco la seconda ma non mi dispiace neanche la prima.

[2018-06-22 09:16] davla commented on #4
Quindi, per Ranger si lascia come è. Le altre le ho sistemate.
Va da sé che il template `tc` serva comunque, quindi non lo sostituisco. A meno che non vogliare fare i precisini e farmi dannare a sostituire solo le chiamate alle classi allenatore a cui è stato tolto il suffisso.

EDIT:
Potrei anche argomentare con: "Vai a sapere se in un gioco nuovo dovessero mettere l'abilità "Podista", poi vanno

[2018-06-22 09:31] davla commented on #4
Gruppi uova: 7 su 16 richiedono il suffisso. Quasi la metà. Io sarei per lasciarlo a tutti.
Uno dei 7 è "Campo", che attualmente rimanda alla meccanica di gioco (https://wiki.pokemoncentral.it/Campo). Se anche dovessimo aggiungere un suffisso *(meccanica)* a quest'ultima, resterebbero comunque 6 su 16 pagine a necessitare il suffisso *(gruppo uova)*, che per me giustifica il lasciarlo a tutte.

[2018-06-22 09:35] lucas992x commented on #4
@davla Concordo, con i gruppi uova lo lascerei.

[2018-06-22 09:51] davla commented on #4
Same for Tipi GCC: 5 su 11 richiedono suffisso.
@lucas992 Non è che la tua opinione non conti, ma voglio un altro consenso prima di decidere.

[2018-06-22 10:09] davla commented on #4
La questione di Drake dei superquattro credo sia stata già risolta. Si lascia il disambigua, no? Non mi pare che uno dei superquattro in cinque giochi della serie principale sia più importante del personaggio dell'anime, o vice-versa.

[2018-06-22 16:47] flavio-a commented on #4
Gruppi uova e Tipi GCC non li sposterei neanch'io con così tanti conflitti.

[2018-06-23 15:10] CiaobyDany commented on #27
Faccio notare la presenza del template OBPcolore (che sì, è un mix di OBP e colore2) che sarebbe utile inserire nell'NPartyBox se mai si dovesse andare a toccare in futuro (modificarlo solo per quello è inutile).

[2018-06-24 16:58] davla commented on #4
Una delle più grandi soddisfazioni della mia vita

[2018-06-24 16:58] #4 closed, assigned to davla

[2018-06-24 21:07] Cruifer commented on #27
Ho spulciato un po' la categoria dei template, e ho visto che ci sono un paio di template che non matchano, ovvero [Template:Pokémon dell'anime](https://wiki.pokemoncentral.it/Template:Pok%C3%A9mon_dell%27anime) e [Template:Pokémon del Team Rocket](https://wiki.pokemoncentral.it/Template:Pok%C3%A9mon_del_Team_Rocket). Che si fa? Forse il primo si riesce a gestire facilmente coi flex, mentre il sec

[2018-06-24 21:10] CiaobyDany commented on #27
@Cruifer Il secondo sarebbe meglio evitare perché sono personaggi che appaiono sistematicamente insieme e di cui dovresti ripetere i Pokémon due volte perché credo se li siano scambiati tutti almeno una volta, quindi ti ritroveresti template doppi con doppie entry nelle pagine.

[2018-06-24 21:22] Cruifer commented on #27
Ok, ok, ma ora come ora è infattibile quel layout, quindi mi sa che o si fa a mano o si cambia un po' i template (preferibile la prima secondo me). Quindi invoco @lucas992 per farlo, visto che io non ho voglia. Ma siamo sicuri che quel layout regge da mobile?

[2018-06-24 21:25] CiaobyDany commented on #27
@Cruifer Ah, sicuramente dicevo di farlo a mano, è palesemente un'eccezione. Ma anche quello dei ricorrenti

[2018-06-24 22:04] lucas992x commented on #27
D'accordo con Dany, visto che sono due casi unici si fanno due template separati. Nei prossimi giorni provo a riciclare il layout adattandolo un po' e vedo cosa ci salta fuori.

[2018-06-24 22:08] lucas992x commented on #26
Sempre qui https://wiki.pokemoncentral.it/Utente:Lucas992/ProveTemplate ho messo una possibilità per le mosse improvvisate, ovviamente non ho ripreso pari pari quello precedente cambiando giusto 2-3 parametri.

[2018-06-25 19:31] flavio-a commented on #22
@CiaobyDany per chiarire, la tua preferenza è tooltip modulo risolvere quei due problemi? O sei del #teamPopup?

[2018-06-27 11:43] lucas992x commented on #27
https://wiki.pokemoncentral.it/Utente:Lucas992/ProveTemplate/AltreProveTemplate3
A parte l'`Espandi` che finisce fuori e va sistemato, che ne dite?

[2018-06-27 20:20] lucas992x commented on #24
https://wiki.pokemoncentral.it/Alterazioni_di_stato_in_Mystery_Dungeon
Questa la lascio a qualche MD fag, come @flavio-a o @Cruifer, visto che non ho mai giocato un MD.

[2018-06-28 07:56] flavio-a commented on #24
Male, dovresti colmare questa tua lacuna.
Comunque se ben ricordo avevo preso i nomi direttamente sul gioco, quindi sono corretti (con la distinzione specificata). Ricontrollerò, ma non credo ci sia da cambiare niente.

EDIT: in PMDC e SMD usano ripetutamente il termine `problema di stato`, quindi quello è a posto. Il problema è che non ho trovato nessuna traccia di `alterazioni di stato`, le desc

[2018-07-08 15:21] flavio-a commented on #22
Dopo aver raccolto un po' di preferenze, direi che serve un sondaggio.

**#teamPopup** (o **#teamModale**)
- Dany
- Gika
- Flavio
- Maze
- Orion
- Crusca

**#teamTooltip**
- Luca (ma gli va bene anche l'altro)

Poi aggiungo un commento per far cambiare idea a Luca, così siamo tutti felici: non sono per niente sicuro che si riesca ad evitare che due tooltip aperti insieme si sovrappongano.

Persona

[2018-07-08 20:10] davla commented on #22
#IoStoConFlavìo

Il Tooltip da mobile proprio non funziona. Per il desktop possiamo parlarne, ma la sovrapposizione ci sarà sempre. Se è necessaria la visione di contenuti conteporaneamente, allora si possono anche lasciare i collapsible. E a tal punto, il modal è la versione mobile del collapsible, che non sarebbe malissimo.

[2018-07-08 20:13] lucas992x commented on #22
Il popup da mobile non riesco proprio a chiuderlo se non dopo diversi tentativi, quindi continuo a preferire il tooltip se non si trova un'altra soluzione (tipo rimpicciolirlo).

[2018-07-08 20:21] flavio-a commented on #22
A me non sembrava difficile premere di fianco, comunque ci metto 2 secondi a restringerlo (cambio nel css da 90% a 85 o 80 o quello che vi piace di più). Se quello è l'unico problema si risolve in 1 secondo. Anzi, si potrebbe anche pensare di spostarlo da un lato (con un po' di margine dal bordo dello schermo) e lasciare tutto lo spazio dall'altra parte per rendere più facile la chiusura senza rim

[2018-07-08 20:24] lucas992x commented on #22
@flavio-a Se è così va bene, perché è l'unico difetto rilevante che riscontro

[2018-07-08 20:42] CiaobyDany commented on #22
@flavio-a Ah, sicuramente, io davo per scontato che nella versione definitiva ci sarebbe stato spazio a sufficienza per schiaffare con sicurezza il mio pollicione sullo schermo e chiudere il cazzillo, non deludetemi.

[2018-07-09 18:18] flavio-a commented on #22
Essendo scaduta la deadline per votare, direi che il modale vince. A questo punto si sblocca anche #20 visto che possiamo andare con la libreria lightweight di Gika (o equivalenti).

[2018-07-16 20:02] lucas992x opened #31 "Strumenti in pagine singole"
## Priorità
Pagina più visitate:
* https://wiki.pokemoncentral.it/Pietre_evolutive
* https://wiki.pokemoncentral.it/Strumenti_con_effetti_in_lotta
* https://wiki.pokemoncentral.it/Strumenti_evolutivi_tenuti

## Risoluzione del problema
- [x] #98
- [x] Templatizzare le tabelle
- [x] Stilare un elenco delle pagine corrispondenti di Bulba
- [x] Scaricare le pagine en-masse

## Template navigazione
ht

[2018-07-17 19:43] davla commented on #31
Items on Dropbox: https://www.dropbox.com/s/qyr82vb8qb47t4p/items.rar

[2018-07-22 09:07] #20 closed, assigned to flavio-a

[2018-07-22 12:24] flavio-a commented on #31
Se non sbaglio eravamo abbastanza d'accordo nel creare dei template di navigazione degli strumenti con le singole pagine. Io farei uno di questi template per ogni pagina di elenco che abbiamo, e in più terrei alcuni "super raggruppamenti" con un sistema stile `Mosse di tipo x`, ovvero aggiungendo in fondo al template i link agli altri template di navigazione.

[2018-07-22 12:44] Cruifer commented on #31
Mi sembra una buona idea, ma giusto per sapere, su bulba cosa mettono?

[2018-07-22 12:46] flavio-a commented on #31
Niente. Ma personalmente preferisco di molto un template di navigazione in fondo. Tanto non dà fastidio a nessuno.

[2018-07-22 12:52] lucas992x commented on #31
@flavio-a Concordo, mi piace come idea

[2018-07-22 12:53] Cruifer commented on #31
Ah no, no lasciare vuoto no, come dici tu va bene

[2018-07-22 13:13] CiaobyDany commented on #31
@flavio-a Bulba ha un sacco di problemi con i template di navigazione. In quasi tutte le pagine del GCC non hanno i precsucc Dio solo sa perché e spesso non mettono template di navigazione basilari a fondo pagina.

Mi piace l'idea btw

[2018-07-24 22:41] lucas992x commented on #31
Template di navigazione per gli strumenti evolutivi: io ne farei uno unico che includa Pietre evolutive e strumenti evolutivi tenuti anziché separarli. Siete d'accordo o preferite splittarli?

[2018-07-24 22:49] Cruifer commented on #31
Considerato che sommati gli strumenti di entrambe le categorie non sono poi tantissimi e visto che riguardano entrambe l'evoluzione direi che si può fare un template unico

[2018-07-25 08:06] CiaobyDany commented on #31
@lucas992 Comprendo la similitudine delle cose, ma visto che ci si riferisce a due pagine differenti del sito non sono del tutto sicuro. Voto neutro

[2018-07-25 09:25] lucas992x commented on #31
Stavo pensando che si potrebbero anche unire le due pagine, visto che si parla comunque di strumenti evolutivi. Anche se sono tra le pagine più visitate immagino che gli utenti ci arrivino cercando lo strumento specifico e venendo poi reindirizzati, quindi non dovrebbe far differenza.

[2018-07-25 09:43] CiaobyDany commented on #31
@lucas992 Sempre perché sono tra le pagine più visitate preferisco sentire il parere di gika in merito prima di fare cambiamenti drastici (sono d'accordo con la proposta in linea di massima)

[2018-07-26 15:53] CiaobyDany opened #32 "Update ndex"
## Descrizione
La pagina dell'elenco Pokémon per Pokédex nazionale è evidentemente lenta a caricare e destinata a diventare sempre più ingestibile ad ogni generazione. Poiché si tratta della terza pagina più visitata del sito, qualsiasi cambiamento drastico è da considerare attentamente prima di rischiare di non andare più incontro alle esigenze dei nostri visitatori (anche se tali esigenze sono i

[2018-07-26 16:07] CiaobyDany commented on #22
Non voglio assolutamente pressare nessuno perché a livello di priorità credo sia successivo alla questione ndex, ma ora siamo fermi per mancanza di tempo o perché c'è da fare/decidere qualcosa prima di modificare? Cioè, in teoria è da fare un tt contenente i MS che adesso sono nascosti con testo "espandi" o una parola simile, giusto?

[2018-07-26 16:16] CiaobyDany opened #33 "Merge pagine "pietre evolutive" e "strumenti evolutivi tenuti" in "strumenti per evolvere i Pokémon" (tentative title)"
## Descrizione
Poiché le due pagine trattano argomenti decisamente simili sotto molti aspetti, potrebbe essere utile una loro unione in un'unica pagina che raccolga tutto, considerando che ci ritroveremo ad avere una pagina per singolo strumento (issue #31), pertanto dovrebbe diventare un banale elenco non particolarmente lungo.

## Pagine affette
* https://wiki.pokemoncentral.it/Pietre_evolutive

[2018-07-26 17:06] CiaobyDany opened #34 "Gestione lingue straniere con caratteri non latini in tabelle/infobox"
## Descrizione
Credo che sia il caso di decidere una regola uniforme da seguire in tutto il sito così da evitare di rifare le stesse modifiche 10 volte annullandosele a vicenda. Da sempre i nomi in lingue non latine (prevalentemente giapponese, cinese e coreano) hanno avuto trascrizioni di qualche tipo in caratteri latini per consentire ai visitatori di capire meglio di cosa si trattasse. Tuttavia

[2018-07-26 17:15] CiaobyDany opened #35 "Rimozione gen in gensup e genblackabbrev"
## Descrizione
Ho realizzato che in realtà il "gen" più che essere brutto, occupare spazio, metterci in disaccordo su maiuscola/minuscola e fare casino con i layout non fa molto. Inoltre se togliamo il gen imo risultano molto meno awkward i mallopponi di sigle in parte con i giochi e in parte con le generazioni. (tra l'altro faccio notare che gli elenchi abilità già non hanno il termine gen per in

[2018-07-26 18:23] lucas992x commented on #34
Per gli infobox, io sono d'accordo a mettere `{{tt|kanji|romaji}} (traduzione)`, mi sembra la cosa migliore (ovviamente la traduzione solo dove ha senso).

Per il langtable:
- Sono favorevole a metterci tutte le lingue anche se presenti altrove (che sia un infobox o altro).
- Anche se comprendo la questione uniformità, preferirei lasciare il significato dove disponibile invece di toglierlo a presc

[2018-07-26 20:28] CiaobyDany commented on #34
Preferiresti lasciare il significato dove disponibile con che modalità?

Se ti viene in mente un layout decente con cui indicarlo sono favorevolissimo a farlo. Su Bulba non si fanno problemi perché essendo il nome in inglese mettono l'originale inglese al posto della traduzione e la traslitterazione dall'altra parte (cosa che comunque non fa capire che il nome giapponese _è_ il nome inglese). Da n

[2018-07-26 21:33] mexicat commented on #32
Credo che il problema di lentezza ed eventualmente di crash in vecchi browser sia dovuto al fatto che ci sono tabelle estremamente lunghe ma la larghezza delle colonne è automatica (come da default). Questo significa che il browser deve fare un sacco di passaggi per adattare la larghezza delle colonne al contenuto man mano che questo viene caricato, riga per riga.

Usare `table-layout: fixed` ([do

[2018-07-26 21:40] CiaobyDany commented on #32
@davla te l'avevo detto che ci sarebbe stato sicuramente l'edgy boy di turno contrario allo split perché con i suoi device di ultima generazione non coglie il problema. Non avevo considerato che sarebbe stato proprio il nostro admin.
@mexicat la gente adora le forme alternative. Togliere le useless prevedo farà arrivare diversi rompicazzo, toglierle tutte scatena una guerra civile di portate bibli

[2018-07-26 22:03] mexicat commented on #32
Beh ma è un problema in generale dei telefoni di fascia bassa, su qualsiasi desktop (immagino) si vede correttamente e sarebbe stupido castrare la versione desktop per questo motivo, imho.

Per il resto la versione con due colonne in meno chiaramente carica più velocemente perché appunto ci sono due colonne in meno su cui fare i calcoli (la larghezza viene ricalcolata per _ogni_ colonna di _ogni_

[2018-07-26 22:09] CiaobyDany commented on #32
Desktop che sono il 30% del totale e ho i miei dubbi anche su quelli.

Sulla questione dei background non ho capito, lascerò che ci guardi qualcun altro

Per le forme alternative actually esiste il parametro nel template per indicare la forma (che fa esattamente quello che dici tu), ma non so onestamente perché non sia usato nella pagina.

[2018-07-27 06:44] flavio-a commented on #22
@CiaobyDany Si era scelto il modale, mi pare. Comunque no, è fermo solo perché nessuno ha tempo al momento

[2018-07-27 06:50] flavio-a commented on #34
@lucas992 Sono contrario a questo uso dell'italiano come riempitivo. Per l'italiano dovrebbe esserci _solo_ se c'è l'origine del nome/nomi diversi, altrimenti uno lo può leggere dal titolo della pagina.

I nomi giapponesi trascritti dall'inglese non mi sembra così necessario indicarli, però se si trova un modo ragionevole non sono contrario (non un'altra scritta, però, troppo affollamento a mio pa

[2018-07-27 09:15] mexicat commented on #32
Se i desktop sono il 30% del totale sono comunque più della percentuale di telefoni su cui succede questa cosa. Che non vuol dire che dobbiamo sbattercene dei telefoni scrausi, ma che dobbiamo trovare un compromesso che sia accettabile su tutte le piattaforme. Spezzare l'elenco *non* è accettabile considerando che il vantaggio principale della pagina è l'avere un elenco unico e continuo di tutti i

[2018-07-27 09:16] CiaobyDany commented on #22
@flavio-a Ah, vero, che scemo, avevo confuso le due cose. Perfetto, era giusto per capire meglio la situazione.

[2018-07-27 09:17] mexicat commented on #32
BTW @CiaobyDany, non ho un 3DS a portata di mano al momento, ma nel Pokédex nazionale in-game degli ultimi giochi come appaiono (se appaiono) le forme alternative? Io per quanto possibile farei fede a quello che è la fonte canonica, ma magari dico una stronzata.

[2018-07-27 09:17] CiaobyDany commented on #34
@flavio-a Sono abbastanza d'accordo con te per l'italiano.

Intendi le trascrizioni letterali (majikumiraa)? Sono d'accordo anche su quello

[2018-07-27 09:19] lucas992x commented on #32
@mexicat In SLUSUL non c'è il Pokédex Nazionale ma solo quello regionale, il Dex Nazionale è nella Banca, dopo vi posso mandare qualche foto

[2018-07-27 09:21] CiaobyDany commented on #32
@mexicat Negli ultimi giochi il dex nazionale è stato rimosso, rimane solo in banca l'elenco completo. Le forme alternative nei regionali in SL non appaiono. O meglio, appare l'ultima forma visualizzata nel dex. Es: Oricorio. Vedo in-game la forma Cheerdance come prima forma e nell'elenco mi appare quella senza specificazioni. Se apro la voce mi fa selezionare però anche le altre varianti (differe

[2018-07-27 12:24] flavio-a commented on #34
@CiaobyDany Non so il nome, intendo roba tipo <un po' di caratteri giappi> che si leggono _faasto eido_ con traduzione "first aid"

[2018-07-27 17:21] CiaobyDany opened #36 "Traduzione post-game in italiano"
## Descrizione
Su Bulba viene spesso utilizzato il termine post-game e tendenzialmente non abbiamo una linea guida da seguire unica per la sua traduzione.

## Risoluzione del problema
Possibili soluzioni: lasciare post-game, oppure tradurlo con dopo aver terminato la trama principale e/o aver compiuto l'effettiva azione che fa sbloccare tale azione (tendenzialmente diventare campioni).

[2018-07-27 17:25] lucas992x commented on #36
Per quanto riguarda il nome da usare, io proporrei post-Lega, breve ed efficace. In ogni caso comunque ci creerei una pagina, qualcosa da dire c'è.

[2018-07-28 09:54] lucas992x opened #37 "Varianti mossa"
Come volevasi dimostrare la discussione si è persa nel dimenticatoio. Si diceva di stabilire criteri oggettivi per stabilire quando due o più mosse possono essere considerate varianti.

## Pagine affette
* https://wiki.pokemoncentral.it/Varianti_mossa
* Tutti i template delle varianti mossa (per esempio https://wiki.pokemoncentral.it/Template:VariantiMossa/Abbagliante)

## Proposte
Dany aveva dett

[2018-07-28 13:46] davla commented on #32
Per la questione delle classi CSS, bisogna andarci cauti. Il fatto è che non solo ci sono molti colori sul Wiki, ma stiamo mettendo i gradienti in mezzo.

La cosa più fattibile sarebbe mettere solo i gradienti utilizzati nei boxtipo nel CSS, ovvero i 18 colori dei tipi principali (niente sconosciuto né ombra), da dark a normale. Se siamo diligenti e creiamo i boxtipo solo con il modulo `Box`, poss

[2018-07-28 13:54] davla commented on #37
*avere almeno 2-3 caratteristiche in comune tra Potenza, Precisione, PP*, per la sacra triade potenza-precisione-pp si può ridurre a ciò che ho detto io, ovverosia tutti e tre ma con uno scarto massimo.

Non so quanto sia fattibile elencare gli effetti aggiuntivi a mano, ma se tu sei fiducioso lo sono anche io.

[2018-07-28 19:07] lucas992x commented on #37
Quelli che ho elencato dovrebbero essere tutti i possibili effetti secondari usati da un buon numero di mosse, quelli talmente particolari da essere usati solo in una mossa o due ovviamente li ho tralasciati. Volendo potremmo dire che se 2-3 mosse hanno un effetto aggiuntivo unico possono essere considerate varianti mossa, se non ci sono troppi casi. A me viene in mente solo la coppia Centripugno

[2018-07-28 20:24] CiaobyDany commented on #37
@lucas992 Ed invece le ultime sono proprio le varianti mossa per definizione. Cose identiche che cambiano solo di tipo.

[2018-07-28 21:56] lucas992x commented on #35
Come mai non ti soddisferebbe il trattino su sfondo grigio?

[2018-07-28 22:01] lucas992x commented on #34
Si potrebbe fare in modo che il parametro __qualcosameaning__ non vada a creare una nuova colonna ma scriva nella stessa casella, in modo da non ritrovarsi delle caselle vuote.

[2018-07-28 22:29] CiaobyDany commented on #34
@lucas992 Il che è inutile, se lo metti nella stessa casella tanto vale aggiungerlo di fianco al nome.

[2018-07-31 14:48] flavio-a commented on #37
È un po' OT, ma siete sicuri che Cannonbecco venga interrotto se si subisce un attacco? Perché non c'è scritto né da noi né su Bulba.
Tornando IT, io sarei per avere una tra potenza e precisione uguale e l'altra con uno scarto di massimo 5, PP con uno scarto massimo di 5 o 10 e se c'è un effetto secondario deve essere circa lo stesso, ovvero rientrare nella stessa categoria tra quelle che aveva sc

[2018-07-31 22:09] lucas992x opened #38 "Citazioni: da rimuovere?"
Franky e Naty propongono di rimuovere del tutto le citazioni dal wiki, perché ce ne sono poche e perché non le va a leggere nessuno. Anche se non hanno tutti i torti, io non sono molto convinto.

[2018-07-31 22:11] mexicat commented on #33
👍

[2018-08-01 07:49] flavio-a commented on #38
In teoria le citazioni si potrebbero ottenere dai dump, rendendo più facile reperire quelle dei nuovi giochi. Si potrebbe addirittura provare ad automatizzare la cosa partendo dal sorgente di Bulba (non garantisco niente).
A parte questo sono abbastanza neutrale, mi va bene sia con che senza. Sono lì per completezza, ma non credo le guardi qualcuno.

[2018-08-01 08:22] lucas992x commented on #37
Su Cannonbecco hai ragione, ricordavo male io, quindi il problema nemmeno si pone.
Allora, un caso particolare che mi viene in mente è Divinazione e Obbliderio: potenza 120 e 140, PP 5 e 10, però hanno un effetto unico che non ha nessun'altra mossa. In casi come questo, diciamo che l'effetto "esclusivo" le fa considerare varianti mossa o no? A me non vengono in mente altri esempi, ma comunque se c

[2018-08-01 08:28] lucas992x commented on #38
Io l'ho già automatizzata in parte, ho scritto un programmino che se in un dump trova una riga identica al testo inserito dall'utente va a leggere la riga corrispondente dal secondo dump e la riporta lì. L'avevo creato per i nomi ma poi l'ho anche modificato per funzionare meglio con le citazioni (ora c'è una spunta per sostituire automaticamente i `\n` con spazi), volendo se si può fare qualcos'a

[2018-08-01 09:21] flavio-a commented on #38
L'idea era quella, volevo aggiungere qualche altra sostituzione per mettere cose tipo `<giocatore>` che abbiamo noi e poco altro. Il problema sono le azioni tra le frasi (tipo "da al giocatore la MT38") e le scelte del giocatore, che si possono tradurre solo quando sono esattamente identiche. Comunque dovrebbe rimanere abbastanza poco da correggere a mano, che è già un bel vantaggio.

[2018-08-01 10:29] flavio-a commented on #37
Possiamo aggiungere l'eccezione dell'effetto unico, ma io farei anche senza. Proprio per il fatto che hanno 20 di differenza di BP non le vedo troppo vome varianti della stessa mossa. Per me va bene quello che avevamo già detto.

[2018-08-01 10:36] flavio-a commented on #36
post-Lega mi piace, anche se non sono sicuro che sia sempre preciso. Ci sono giochi in cui il "post-game" non è dopo la Lega? E poi ci sono gli spin-off: anche quelli hanno il post-game, ma sicuramente non è un post-Lega.
Io direi questo: se siamo sicuri che nella serie principale post-Lega vada bene sempre (credo di sì) usiamo quello, per gli spin-off invece sceglierei un  "dopo aver terminato la

[2018-08-01 10:59] lucas992x commented on #36
Per la serie principale va sempre bene post-Lega, ma se vogliamo essere generici e includere gli spin-off possiamo stabilire post-game che è più generico, e nelle rispettive sezioni metterci il solito avviso spoiler (o anche nella pagina stessa).

[2018-08-01 11:15] flavio-a commented on #36
Secondo me non è un problema separare tra serie principale e spin-off. Posto che comunque post-game non mi dispiace anche se è in inglese.

[2018-08-01 14:27] flavio-a opened #39 "Raggruppare forme alternative uguali negli elenchi"
## Descrizione
Negli elenchi, spesso vengono ripetute più volte entry uguali solo perché corrispondono a forme alternative diverse. Per esempio, nell'[elenco Pokémon per statistiche base](https://wiki.pokemoncentral.it/Elenco_Pok%C3%A9mon_per_statistiche_base) compaiono tutte le forme di Pikachu cosplay nonostante abbiano le stesse statistiche della forma base.
La proposta è di raggruppare tutte q

[2018-08-02 16:01] davla commented on #36
Post-trama?

[2018-08-02 16:08] davla commented on #37
Noto con piacere che state scoprendo le complicazioni di avere criteri più *larghi di maniche* da soli. Io resto della mia idea, molto semplice e diretta:

[2018-08-02 16:09] lucas992x commented on #37
@davla Anche quelle possono essere considerate stesso effetto dicendo "problema di stato".

[2018-08-02 16:10] lucas992x commented on #36
@davla Idea interessante, anche se forse non è del tutto corretta visto che in alcuni giochi c'è una trama che continua dopo i titoli di coda. Però non la scarterei, ci penso un po' su.

[2018-08-02 16:17] flavio-a commented on #39
Ora vi convinco tutti che ho ragione io:
![screenshot_02-08_18 12](https://user-images.githubusercontent.com/11007745/43596554-e945f17a-967f-11e8-9f19-6344f6570b8b.png)

Lasciate perdere Pikachu che ancora non funziona, Rotom ha evidentemente un problema. Come soluzione stavo pensando di mettere l'elenco delle forme in tt, ma temo risulti scomodo.

[2018-08-02 16:20] davla commented on #37
Così facendo però Fuococarica e Baldeali, per esempio, non sono varianti. Perché Fuococarica ha un effetto aggiuntivo in più. Effetto aggiuntivo che è proprio della maggior parte delle mosse fuoco, quindi, in un certo senso, *non conta*.

[2018-08-02 16:20] flavio-a commented on #36
A me non convince perché succede spesso che la trama continui dopo la Lega (mi vengono in mente sul momento due MD e Nero 2).

[2018-08-02 16:21] lucas992x commented on #37
@davla Ah ok, se intendi che la presenza o meno della possibilità di infliggere un problema di stato è opzionale, sono d'accordo.

[2018-08-02 16:23] davla commented on #37
Hai appena vinto il rephrasing del concetto nella pagina.

[2018-08-02 16:27] flavio-a commented on #37
Va bene il problema di stato opzionale però solo se è presente un altro effetto in comune. Se una mossa infligge solo il problema di stato e l'altra non ha effetto secondario io non le considererei.

[2018-08-02 16:35] davla commented on #37
Quindi se facessero la variante volante di Geloraggio senza effetto aggiuntivo non la metteresti?

[2018-08-02 16:43] flavio-a commented on #37
In effetti forse sì. Tu dici che il motivo per cui Geloraggio è Geloraggio sono i 90 BP con 100% precisione, non il fatto di congelare. E che sono questi a renderlo simile a Lanciafiamme e Fulmine. Forse hai ragione.

[2018-08-02 16:48] lucas992x commented on #37
Diciamo quindi che il problema di stato conta solo se è l'effetto principale della mossa e non se è un effetto aggiuntivo?

[2018-08-02 17:04] flavio-a commented on #37
Io farei come dice Maze, ovvero

non contano tra gli effetti secondari. Per il resto io tengo la mia posizione (che è molto simile a quella di Maze), ovvero

Quindi Geloraggio conta come mossa _senza effetti secondari_, mentre Fuococarica e Baldeali hanno lo entrambe solo l'effetto aggiuntivo di causare contraccolpo (e quindi sono varianti se rispettano i vincoli su potenza, precisione e PP). Se T

[2018-08-02 17:26] lucas992x commented on #33
La fusione è stata completata. Chiudo.

[2018-08-02 17:26] #33 closed, assigned to mexicat

[2018-08-03 16:24] davla commented on #37
Effettivamente, la tua sembra solo una versione più convoluta di quello che ho detto io. Quindi, anche a me non interessa troppo quale delle due si scelga.

[2018-08-03 16:27] davla commented on #39
Più che altro, poi, si scatenano guerre civili per il mini-sprite. Mi hai convinto.

Però non buttare via il codice che hai scritto per fare quello, sono sicuro che tornerà utile.

[2018-08-03 17:36] flavio-a commented on #39
@davla Non c'è rischio, è già committato. Solo in locale, per ora, ma provvederò a pushare.

Tornando IT: soluzioni per l'elenco lunghissimo/il MS? O qualcuno passa all'altra sponda?

[2018-08-04 07:36] flavio-a commented on #37
La mia idea era di dare più importanza a potenza e precisione rispetto ai PP, che secondo me sono meno caratterizzanti per una mossa, poi potrebbe essere una precisazione inutile che si rivela diversa dalla tua in due casi in croce.

[2018-08-04 07:41] lucas992x commented on #37
@flavio-a Anche secondo me i PP sono poco rilevanti, e infatti non vengono nemmeno indicati nel template

[2018-08-04 10:25] flavio-a commented on #5
News di agosto:
parlando con il webmaster di WikDex (wiki spagnolo) sono venuti fuori un po' di spunti interessanti sulla questione:
- da mobile anche gli iinterwiki non si aggiornano, per esempio in Home non c'è lo spagnolo ma c'è ancora il polacco. La pagina degli interwiki da mobile viene generata con una query all'API di MediaWiki ([questa](https://m.wiki.pokemoncentral.it/api.php?action=query

[2018-08-04 15:01] flavio-a commented on #39
Io ho pronte entrambe le soluzioni, ditemi quale caricare.

[2018-08-04 15:08] flavio-a commented on #35
Approvo togliere il gen dal gensup (si capisce abbastanza, e ci sono i link).
Per il trattino su sfondo grigio a me non dispiace, anche perché si vede poco
![schermata 2018-08-04 alle 17 06 29-fullpage](https://user-images.githubusercontent.com/11007745/43677827-e1a1cce8-9808-11e8-95fd-5823e89cc728.png)

[2018-08-04 15:31] lucas992x commented on #39
Se l'hai aggiustata, confermo che preferisco la prima.

[2018-08-04 15:32] #26 closed, assigned to lucas992x

[2018-08-04 15:41] flavio-a commented on #39
Se preferisci la prima devi presentare delle soluzioni ai due problemi/motivare perché non sono problemi.

[2018-08-05 08:17] lucas992x commented on #39
Per le etichette problematiche, vorrei vedere un esempio pratico delle forme messe in `tt` per capire effettivamente come rende. Per i MS effettivamente i casi come questo sono un problema, provo a pensarci su, se nessuno trova idee per me va bene anche la seconda.

[2018-08-05 08:19] lucas992x commented on #27
Visto che ormai abbiamo fatto tutto, si può chiudere?

[2018-08-05 08:30] flavio-a commented on #27
Credo che @Cruifer avesse detto di volerla tenere aperta finché non avrà finito di correggerli tutti.

[2018-08-05 08:51] flavio-a commented on #39
https://wiki.pokemoncentral.it/Utente:Ff300/sandbox#Prove_statlist
La versione con il link è inusabile perché il nome della pagina e l'icona del mouse finiscono sopra il tt è non si riesce più a leggerne metà, e non metterci il link secondo me è un peccato. Inoltre così
1. non si può fare ctrl + f sul nome della forma (non è fondamentale)
2. mentre scorri non hai idea di quali forme siano, devi fe

[2018-08-05 10:13] Cruifer commented on #39
@flavio-a il secondo problema non è un vero problema, nel senso che per leggere i dati che ti interessano devi comunque fermarti, a premere l'asterisco sono giusto due secondi in più. Il vero problema mi sembra su mobile, ovvero per aprire il tooltip si preme sul link quindi si apre la pagina delle differenze di forma, cosa sgradevole se uno vuole leggere la pagina in santa pace. Sinceramente, la

[2018-08-05 10:50] flavio-a commented on #39
Dipende dall'elenco. Su quello per statistiche base l'unica differenza tra i due è Rotom, in cui uno non raggruppa le cinque forme elettrodomestico e l'altro sì, quindi parliamo di 4 righe di differenza. Ovviamente dipende molto da quando vogliamo unire le entry. Nell'ndex (in cui vorremo unire quelli con lo stesso tipo?) mi vengono in mente solo due esempi in cui sarebbero diversi (Charizard e Me

[2018-08-05 12:13] Cruifer commented on #27
Più che altro perché so che se la chiudiamo finisce nel dimenticatoio e rimaniamo con mezzi template aggiornati e mezzi no. A proposito a che punto siamo più o meno? Perché ricordo che erano rimasti ancora alcuni template vecchi ma non ricordo quanti.

[2018-08-05 12:17] Cruifer commented on #39
Va bene dai, allora a meno che Luca non trovi una soluzione decente opterei anche io per la seconda. Comunque siamo sicuri che il problema che ho detto prima non si presenta anche così vero?

[2018-08-05 13:52] flavio-a commented on #39
Quale problema? Se parli del link sul tt non c'è perché se scrivi `Tutte le forme` non c'è bisogno di nessun tt, quindi se uno preme è solo perché vuole effettivamente seguire il link. Se invece parli di qualcos'altro non ho capito.

[2018-08-05 14:58] Cruifer commented on #39
Non si sa mai passasse l'idea di scrivere comunque le forme nel tt, ma comunque va bene così ahah.

[2018-08-05 21:21] lucas992x commented on #37
Proposta:

Due o più mosse offensive possono essere definite _Varianti mossa_ se potenza e Precisione sono uguali (o differiscono al più di 5) e se hanno tutte lo stesso effetto aggiuntivo, ossia uno o più dei seguenti (oppure nessuno):
- essere multi-colpo
- alta probabilità di brutto colpo
- priorità diversa da 0 (e uguale per tutte le mosse del gruppo in questione)
- aumento/calo di statistiche

[2018-08-05 21:22] lucas992x commented on #39
Stando così le cose mi va bene la seconda opzione, visto che la prima ha troppe controindicazioni.

[2018-08-06 06:58] flavio-a commented on #37
Concordo anch'io sul togliere il "mossa esclusiva di". Ho anche trovato un altro effetto aggiuntivo unico, ovvero l'OHKO. Per il resto la tua definizione non mi sembra consideri né il problema della paralisi/scottatura/congelamento/avvelenamento né soprattutto quello delle mosse senza effetto aggiuntivo (Botta/Pistolacqua/Raffica/etc.). È solo un errore per come l'hai scritto o è voluto? Perché se

[2018-08-06 09:12] lucas992x commented on #37
Per l'assenza di effetti aggiuntivi ho editato. Cose come l'OHKO invece rientrano nell'ultimo punto, visto che è una caratteristica unica di quelle 4 mosse.
Per i problemi di stato, Maze ha giustamente fatto notare che:

Per questo non li ho menzionati nelle mosse offensive. Meglio specificare qualcosa?

[2018-08-06 09:20] flavio-a commented on #37
@lucas992 Bisogna almeno dire che i problemi di stato non contano tra gli effetti che distinguono tra varianti mosse e non (per esempio, io non avevo fatto caso all'elenco e pensavo ci fossero ancora anche i problemi di stato). In generale non so se abbia senso trascurarli sempre o solo quando sono quelli "del tipo della mossa". Forse è meglio la prima, tanto non ci sono quasi mai mosse da danno c

[2018-08-06 09:24] lucas992x commented on #27
Elenco quelli che mancano (se ne fate uno toglietelo da questo elenco):

Nessuno!

[2018-08-06 12:18] lucas992x commented on #37
A dire il vero non sono più varianti perché Falcecannone ha la potenza aumentata a 120 :P però rimangono Dinamipugno e Marchiatura.
Comunque ho editato aggiungendo questa parte.
______
Non sono rilevanti:
- Il numero di bersagli colpiti nelle lotte multiple
- La possibilità di infliggere un problema di stato

[2018-08-06 13:03] flavio-a commented on #37
Ok, per me vanno bene. Se anche gli altri confermano, aggiorniamo le pagine in questione.

[2018-08-06 13:37] flavio-a commented on #22
https://wiki.pokemoncentral.it/Utente:Ff300/sandbox
Questo è più o meno come dovrebbe venire. Il motivo per cui scrivo qui è che vorrei un consiglio su come evidenziare meglio il fatto che si può premere sui ✔ per far aprire il modale. Per il momento lo sto scrivendo nel footer, ma tanto nessuno lo legge quindi non mi sembra minimamente sufficiente.
Stavo pensando anche alla sottolineatura con pun

[2018-08-06 15:14] flavio-a commented on #32
Concordo tantissimo con Maze, aggiungere classi al CSS non è un male di per se ma rischia di portare ad un'esplosione, se si vogliono proprio aggiungere mettiamo solo quelle.

Per la questione di ridurre un po' il numero di entry si può introdurre il raggruppamento proposto in #39 in caso di forme con tipi uguali.
Per la questione del layout devo confessare che l'idea di avere le card anche da des

[2018-08-06 17:17] davla commented on #32
Le card da desktop sfruttano tutto lo spazio in orizzontale. Com'è ora, hai due simpatiche aree bianche, più o meno enormi, ai lati.

Ma comunque i card layout non risolvono il problema, se è legato alle larghezze variabili.

[2018-08-06 17:23] davla commented on #37
Non mi piace togliere i problemi di stato sempre. Ci sono casi in cui servono, Morso, per citarne una. E poi, non mi pare proprio una cosa su cui sorvolare, fatta eccezione per il caso delle mosse elettro che paralizzano etc che ripropongo sempre.

Sono disponibilissimo a droppare i PP.

Ma, onestamente, non mi piace nemmeno la definizione di Luppolo. Troppo lunga e articolata, quell'elenco mi fa

[2018-08-06 17:27] davla commented on #22
Sottolineatura, con trasformazione del cursore nella classica manina.

[2018-08-06 17:39] lucas992x commented on #22
Concordo con Dedalo, sottolineatura da `tt` e cursore a manina mi sembra la cosa migliore.

[2018-08-06 18:51] lucas992x commented on #37
L'ultimo punto tecnicamente è _qualsiasi altra cosa_, ma in pratica solo a patto che quella cosa sia esclusiva del gruppetto di mosse, e i casi sono pochi.
Vuoi ridurre la definizione a "effetto aggiuntivo identico a parte le due cose di seguito"?

[2018-08-06 23:11] lucas992x commented on #27
Comunicazioni importanti sull'uso di questi template.

Abbiamo messo il parametro _text_ per controllare il colore del testo sia in `NPartyBox` che in `NPartyGroup`, ma le pagine di contenuti richiamano i template "_Pokémon di [...]_" e non i primi 2, quindi bisogna aggiungere in ogni template "_Pokémon di [...]_" il parametro `text={{{text|no}}}`, in modo che nelle pagine di contenuti sia suffici

[2018-08-07 08:00] flavio-a commented on #37
@davla sai che la definizione di Luppolo è quasi uguale alla tua, solo che ha specificato cosa vuol dire stesso effetto, vero?
Comunque per i problemi di stato, proprio parlando di Morso ho notato che adesso ci sono un sacco di varianti che però non rimarrebbero tali con la tua definizione: per esempio avremmo Schiamazzo e Idropulsar in un gruppo a sé, così come Palmoforza e Dragospiro, Ruotafuoco

[2018-08-07 08:14] flavio-a commented on #32
Ti dirò che è proprio quello spazio laterale a piacermi. Ho fatto una prova veloce e il card layout mi piace molto di più se metti il container a che so, `width-xl-80 width-md-100` o qualcosa del genere (ovviamente aggiustando il numero di card per riga in accordo con la nuova larghezza). Questa è un'osservazione generale sui card layout, non limitata a questo caso.

Altra osservazione: ha davvero

[2018-08-07 08:21] CiaobyDany commented on #32
@flavio-a Approvo la rimozione del dex regionale, se ti interessa vai a vedere la pagina dedicata

[2018-08-07 08:48] flavio-a commented on #22
Ottimo, se nessuno ha altro da dire stasera carico e chiudo.

[2018-08-07 10:45] davla commented on #22
Io ho da ridire. Come hai implementato? Dov'è l'implementazione? Eh? Dov'è?

[2018-08-07 10:48] davla commented on #32
@flavio-a Sì, davo per scontato di limitare la larghezza se necessario. Però un 10% vuoto a destra e 10% vuoto a sinistra è molto meglio di adesso, che hai qualcosa come 180% a destra e 180% a sinistra (iperbole voluta).

Concordissimo sul dex regionale.

[2018-08-07 10:50] davla commented on #37
Ok, allora quello che non mi piace della definizione luppolosa è l'ignoramento dei problemi di stato. Quelli andrebbero presi in considerazione. Il che risolverebbe anche il problema di Morso.

[2018-08-07 11:03] flavio-a commented on #22
@davla in un commit sul mio pc che pusherò quando caricherò sul wiki per chiudere quest'issue

[2018-08-07 12:16] davla commented on #22
Hai usato id unici o lo snippet che ti sugerii io qualche tempo fa?

Va be', tanto se voglio cambiare un paio di cose posso farlo tranquillamente più tardi.

Approvato.

[2018-08-07 12:50] flavio-a commented on #37
Ma quindi tu vuoi dividere tutte quelle mosse in modo che non siano tutte varianti?

[2018-08-07 19:39] #22 closed, assigned to flavio-a

[2018-08-07 21:46] davla commented on #37
In realtà no. Ma non so più nemmeno io cosa voglio fare, tanto è una *questione delicata* comunque la guardi. Però i problemi di stato tolti a priori no, causano problemi e basta.

[2018-08-08 05:32] flavio-a commented on #37
Si potrebbe aggiungere "possiblità di causare un problema di stato (nello stesso numero)" tra gli effetti secondari, con però la clausola che paralsisi su mosse Elettro/etc. non contano. In questo modo nel caso di Morso restano tutte varianti tranne Ruotafuoco, che viene esclusa perché "non ha effetti secondari".

[2018-08-08 09:25] CiaobyDany commented on #35
Quindi sul gensup siamo tutti d'accordo, sul genblackabbrev?

[2018-08-08 09:27] CiaobyDany commented on #36
"dopo aver terminato la trama principale" mi sa di lungo e noioso. Post-trama non va bene perché spesso è usato per riferirsi alla trama post-lega che quindi è ancora trama. Post-game è chiaro all'universo, ma è pur sempre inglese, ci va bene comunque? (so che sto criticando le mie proposte iniziali, ma mi fanno cagare entrambe)

[2018-08-08 09:34] CiaobyDany commented on #38
Sinceramente non vedo perché toglierle in toto. Abbiamo già deciso che non sono un elemento determinante per rendere le pagine incomplete, ma perché rimuovere anche quelle che già ci sono? Poi onestamente con i dump recuperarle non è più così pesante come lo era fino a qualche anno fa. Se qualcuno ha sbatti di aggiungerle ben venga.

[2018-08-08 09:50] CiaobyDany commented on #39
Ma io ero per la prima opzione :C
Anyway, ottimo che sia uscito questo problema perché erano secoli che c'era bisogno venisse guardato. Per l'MS si usa quello della forma base se si raggruppano solo quando sono "tutte le forme". Leggermente off topic (ma nemmeno tanto): è fattibile ora fare in modo che le forme "base" non abbiano didascalie?
Mi spiego meglio. Finora il default è stato che se ci si

[2018-08-08 10:21] flavio-a commented on #36
A me va bene anche post-game, ma erano saltate fuori due proposte interessanti: "post-Lega" per la serie principale e "dopo i titoli di coda" per gli spin-off. Queste non ti aspirano interesse (cit.)?

[2018-08-08 10:21] flavio-a commented on #35
Io sono a favore del trattino su sfondo grigio. Per quanto riguarda il `gen` non mi dispiace se c'è solo una chiamata a genblackabbrev; al contrario se si trova in un elenco insieme ad un po' di sigle di giochi lo toglierei. Si potrebbe pensare di aggiungere un parametro per far apparire la scritta "gen" davanti (di default però non la metterei).

[2018-08-08 10:23] CiaobyDany commented on #36
@flavio-a Post-Lega rimane ambiguo perché la lega la puoi battere n volte, sono sempre più propenso per il trovare il termine dell'evento specifico (dopo essere diventati campione nella serie principale ad esempio)

[2018-08-08 10:24] CiaobyDany commented on #35
@flavio-a Onestà 100%: mi peserebbe molto il culo aggiungere il parametro e peserebbe ancora di più inserirlo considerando che spesso il template è richiamato da altri template e non è così facile aggiungere parametri in più rispetto a quelli base.

[2018-08-08 10:33] flavio-a commented on #39
Non ho ancora aggiornato niente sul Wiki. Se proponi delle soluzioni ragionevoli per i due problemi sono dispostissimo a cambiare (naturalmente a seguito di una votazione democratica :P). Ti faccio però notare che nei due esempi considerati le differenze tra i due metodi sono rispettivamente 4 e 2 entry in meno, quindi non cambia poi così tanto.

Così su due piedi non saprei, devo guardaci meglio

[2018-08-08 10:34] flavio-a commented on #35
Vero anche questo. Niente parametro e tutti contenti. Quindi io voto trattino grigio e togliere gen davanti anche al genblackabbrev.

[2018-08-08 10:46] lucas992x commented on #36
@CiaobyDany A sto punto userei post-game che è universale e ci farei una pagina dedicata in cui si scrive cosa significa in ciascun gioco

[2018-08-08 10:47] CiaobyDany commented on #36
@lucas992 Like per la pagina, non ci avevo pensato.

[2018-08-08 10:48] CiaobyDany commented on #35
@flavio-a Avete tempo fino a domenica per farci cambiare idea, poi chiudo e tolgo gen ovunque.

[2018-08-08 12:47] davla commented on #37
Questa mi piace di più. In generale, basta che si includano i problemi di stato e mi fate soddisfatto.

[2018-08-08 12:57] davla opened #40 "Forme base senza didascalia negli elenchi"
## Descrizione
Denelio said:

Mi spiego meglio. Finora il default è stato che se ci si riferisce a tutte le forme non si specifica nulla mentre se ci si riferisce ad una forma singola si mette la specificazione. Questo andava bene quando le forme alternative avevano tutte un nome proprio tranne due o tre eccezioni. Ora però abbiamo tipo tutte le forme di Alola che nella "forma base" non hanno un n

[2018-08-08 12:57] davla commented on #39
A parte il fatto che vorrei spezzarti le gambine come quando mi hai chiesto di resizare i modeli a 150px, ma la nuova issue serve perché devi darci requirements più precisi. Eccola:  #40

[2018-08-08 13:03] CiaobyDany commented on #40
@davla Nel mondo ideale sono solo quelle che non hanno un nome specifico, come appunto Pikachu, Rotom, Castform ecc. Le altre tipo Basculin Linearossa, Vivillon Giardinfiore, Tornadus Forma Incarnazione, Deering Forma Primavera ecc. devono continuare ad essere specificate. Quindi se come ora si può solo o mettere ovunque il nome della forma o toglierlo ovunque preferisco la prima. La domanda sorge

[2018-08-08 13:04] flavio-a commented on #37
Benissimo, quindi riassumendo il criterio è il seguente:

Due o più mosse offensive (ovvero non di _stato_) si definiscono _varianti mossa_ (mi rifiuto di mettere una maiuscola a "varianti" visto che è un nome che inventiamo noi) se hanno tutte Potenza e Precisione che differisce al massimo di 5 (comunque prese due mosse nel gruppo) e se hanno gli stessi effetti aggiuntivi (eventualmente nessuno),

[2018-08-08 13:12] flavio-a commented on #40
Semi-OT: qualsiasi modifica vorremo fare ai moduli dati per gestire questa cosa (ammesso che riusciamo a gestirla) vediamo se riusciamo a pensarla insieme a #28, visto che anche quell'issue richiederà di modificare qualcosa nella struttura.

[2018-08-08 13:41] flavio-a commented on #30
\*_**Reiso deddo** sull'issue_\*
C'è una cosa che non mi è chiara: vogliamo tenere il layout orizzontale da desktop e farlo diventare verticale da mobile o vogliamo farlo diventare sempre verticale? Così inizio a lavorare su un prototipo.

[2018-08-08 13:49] CiaobyDany commented on #30
Direi la più facile/leggera sulla pagina: sempre verticale. Peraltro ho visto la tua sandbox e non mi è parsa malvagia, nonostante i bordi in solid color.

[2018-08-08 14:29] CiaobyDany opened #41 "Gestione colori nelle grafiche"
## Descrizione
Da quando abbiamo introdotto i gradienti lo stile di PCW è notevolmente migliorato e circa tutto il mondo è d'accordo nel dire che siamo molto più belli di Bulba (ad eccezione di qualche pirla che trova seriamente gradevole il layout di Serebii, ma che direi non sia da prendere in considerazione). Tuttavia il cambiamento è stato un enorme trial & error che non ha mai avuto delle lin

[2018-08-08 15:01] flavio-a commented on #41
Quando hai aperto quest'issue avevo da poco visualizzato questa anteprima, e mi stavo proprio chiedendo cosa farci
![screenshot_08-08_16 33-1](https://user-images.githubusercontent.com/11007745/43844144-54ae7646-9b29-11e8-8cd6-a360ca62cda6.png)
quindi bravo che mi hai ninjato.

Poi le mie opinioni:
- box dei personaggi: approvo monocromatici
- gradienti monocolor:
  - la domanda classica che immag

[2018-08-08 15:14] lucas992x commented on #41
@flavio-a Non dimenticate che certi colori light sono troppo chiari, secondo me è meglio normale - light - normale

[2018-08-08 15:22] CiaobyDany commented on #41
Se ci sono due tipi si lascia as is. Il problema è lo sbilanciamento della pagina, soprattutto da mobile in cui attualmente "pende" verso destra, se fai un gradiente pesato al centro perdi questo effetto.

@lucas992 in realtà volevo anche usare questa issue come feedback per i colori problematici/da cambiare, ma non sapevo quanto fossi in-topic. Generalmente i colori light sono "giusti", l'unico p

[2018-08-08 15:27] lucas992x commented on #41
@CiaobyDany Anche un colore del GCC ha questo problema, e in generale ricontrollerei tutti quelli "vicini" al giallo

[2018-08-08 15:37] CiaobyDany commented on #41
@lucas992 Quelli del gcc sono stati importati da Bulba e mai modificati, potrei risolverlo (forse). Il giallo è un immenso problema però, sì, potesse essere abolito saremmo tutti più felici.

[2018-08-08 16:06] lucas992x commented on #41
Comunque a prescindere dal colore chiaro problematico o meno, i box di due tipi vanno da un colore normale a un colore normale, quindi trovo più coerente che anche quelli monotipo abbiano normale ai bordi.

[2018-08-08 16:08] CiaobyDany commented on #41
@lucas992 Questa è una buona argomentazione in effetti....

[2018-08-08 16:17] flavio-a commented on #30
Ok, via ai commenti (anche da telefoni stretti)
https://wiki.pokemoncentral.it/Utente:Ff300/sandbox#Prove_Evobox
questo concept dovrebbe funzionare bene su qualsiasi dispositivo ed essere abbastanza modulare da gestire qualsiasi cosa non richieda più di due forme affiancate.
Dovrebbe essere comodo anche per cose buffe tipo Necrozma, che mi immagino in un layout verticale 1-2-1

[2018-08-08 16:25] CiaobyDany commented on #30
@flavio-a E... No, non mi convince. Non ho capito le doppie frecce oblique/basse, immagino che fosse da scegliere tra le due. Direi basse perché oblique dovrebbero formare una linea obliqua nel diagramma della evoluzione e trovo la cosa abbastanza infattibile. Provare come per il template degli allenatori bordo esterno in gradiente, box bianco, e ogni box Pokémon ugualmente con bordo in gradiente,

[2018-08-08 16:28] CiaobyDany commented on #30
@CiaobyDany Oppure al contrario, bordo esterno in gradiente, megabox bianco, singoli box in gradiente e cerchio del modello bianco. Forse questa è più soddisfacente di soluzione.

[2018-08-08 19:32] davla commented on #30
Non in ordine

* Se non metti i casi patologici tipo Eevee non se ne fa niente
* Il box bianco puzza. Io sono per mettere più padding tra i box e toglierli.

[2018-08-08 19:35] davla commented on #40
I br non sono dipendenti dalle mie skills :stuck_out_tongue_closed_eyes:
Boh, a occhio non sembrerebbe troppo un problema, ma sicuramente spunteranno imprevisti
Non hai risposto alla seconda domanda.

EDIT: @flavio-a Ma non l'avevi già sistemata #28?

[2018-08-08 19:41] flavio-a commented on #30
Spoiler:

Visto che tutti e tre hanno una sola evoluzione, si stava pensando di mettere la forma base a sinistra e tutte le evoluzioni in verticale a destra.

Quindi Eevee non va preso in considerazione :P

[2018-08-08 20:18] flavio-a commented on #40
Se ti riferisci a #28 (visto che #23 è già chiusa da mo' e io non c'entravo particolarmente) no, non l'ho sistemata (e infatti è ancora aperta) perché volevo fare una cosa più flessibile di come abbiamo fatto con Pikachu per gestire meglio eventuali problemi simili in futuro. Quindi è finita in pausa a tempo indeterminato (come i contratti che non vanno più di moda al giorno d'oggi).

[2018-08-08 20:49] flavio-a commented on #30
@CiaobyDany sì, le frecce oblique sono un'idea che mi era venuta ma non mi avevano convinto più di tanto, le avevo lasciate solo perché nel caso non mi andava di cercarle di nuovo su Google.

La soluzione _à la Maze_ per la linea singola mi piace abbastanza, il problema è sulla linea doppia che non distingue benissimo tra le due evoluzioni affiancate. Prevengo già la proposta di @davla di aumentar

[2018-08-08 21:17] Cruifer commented on #30
Si potrebbe provare una cosa più simile ai template dei Pokémon di tizio? Mi spiego meglio, intendo un box con il classico gradiente, un bordo bianco intorno al box del Pokémon e il gradiente radiale dentro. Non è detto che venga bene, ma volevo almeno avere un'idea.
P. S. io metterei il box grande a `width-sm-100` è brutto forte vederlo stretto come adesso.

[2018-08-08 21:58] davla commented on #40
Sì, intendo #28, non ci vedo bene. Comunque, non lamentarti che tu il lavoro lo troverai easy-peasy.

No, personalmente non ho pensato ancora a niente al riguardo.

[2018-08-08 22:03] davla commented on #30
Avrò gusti orrendi, ma i cerchi binachi mi fanno schifo e tanto. Però secondo me ci sta la seconda versione senza il cerchio bianco. Proprio con niente, lo sprite sopra sullo sfondo gradiente del resto del box e basta.

[2018-08-09 05:46] flavio-a commented on #30
@Cruifer È quello che c'era prima e che Dany ha disapprovato, comunque dopo lo ritiro fuori dalla cronologia

[2018-08-09 07:22] Cruifer commented on #30
@flavio-a Sì, ma quello che c'era prima aveva il box grande bianco con dentro anche le scritte sotto del Pokémon (o ricordo male io?). Comunque ci sarebbe da considerare la proposta di dedalo, che alla fine come compromesso secondo me può anche andare bene.

[2018-08-09 10:30] flavio-a commented on #30
@Cruifer ah scusa, avevo capito male cosa intendevi. Sì, quello di prima aveva il box bianco rettangolare con anche nome, tipo, etc. dentro; tu invece vorresti provare una cosa tipo bordo bianco che separa il modello dal gradiente esterno, giusto?

Ammetto che tra le prove (vedi galleria dopo) quella di Maze è abbastanza convincente. La versione Crusca con bordino bianco tondo è... strana. La vers

[2018-08-09 12:43] Cruifer commented on #30
Sì quello che intendevo io era il secondo, e onestamente è quella che mi piace di più rispetto alle altre. Anche l'ultima non è male comunque.

[2018-08-09 14:19] flavio-a commented on #30
Il problema dell'ultima a mio avviso è che c'è troppo spazio tra il modello e le scritte relative ad un Pokémon, e questo spazio non si può togliere (quello è il minimo che si può ottenere) perché i modelli sono 150x150, quindi hanno del "padding intrinseco". Cioè, guarda Bulbasaur.

Io resto per le immagini 2 e 3 (e comunque a me non dispiaceva box bianco per ogni Pokémon con immagine su gradient

[2018-08-09 16:18] flavio-a commented on #40
@CiaobyDany e nei casi in cui serve per forza nominarla? Ad esempio nel DebRes (https://wiki.pokemoncentral.it/Rotom#Resistenze_e_vulnerabilit.C3.A0) non puoi non mettere dare un nome alla forma. La chiami semplicemente Rotom? In questo caso forse possiamo gestire le forme "senza nome" allo stesso modo delle Megaevoluzioni.
PS: da dove vengono i nomi tipo "Rotom Taglio"? Non c'è anche un nome per

[2018-08-09 21:33] davla commented on #30
Il *padding intrinseco* si può togliere in qualche modo. Il punto è che ci sono modelli che lo spazio lo prendono tutto.

Ad essere onesto, la 2 senza gradienti radiali è quella che mi piace di più. Cioè, quel cerchio bianco sarebbe brutalmente un bordo. Sarebbe da provare con modelli grossi, tipo MegaCharizard Y.

[2018-08-09 21:35] davla commented on #40
Ecco, il DebRes era quello a cui avevo pensato.

I nomi dovrei averli presi dal Pokédex, se non ricordo male.

[2018-08-10 05:48] flavio-a commented on #30
@davla Cosa intendi con "la 2 senza gradienti radiali"? Intendi la 4 (che è la seconda immagine senza gradienti radiali) o intendi una versione modificata della 2?

[2018-08-10 12:50] davla commented on #30
La seconda che hai detto. Se lasci al roba in sandbox, oltre che fare gli screenshot, la prossima volta aggiungo io stesso.

[2018-08-10 13:14] flavio-a commented on #30
Mi rompe avere 400 versioni del template in sandbox (che poi diventa altissima), è una menata mia.

Tornando IT: la 2 senza gradienti radiali non è quella che c'è adesso in sandbox con solo il cerchio bianco?

[2018-08-10 15:18] flavio-a commented on #37
https://wiki.pokemoncentral.it/Utente:Ff300/sandbox2
Ho creato il prototipo della nuova pagina, se avete qualcosa da ridire su come ho scritto la definizione ditelo ora o tacete per sempre.

[2018-08-10 15:52] CiaobyDany commented on #30
A me piace molto la 2 per il momento, btw, in [Linkable](https://wiki.pokemoncentral.it/Utente:Ff300/Linkable) metterei le dimensioni dei modelli fissi a 192px, altrimenti se hai qualcosa che sfora ti ritrovi disallineamenti e gli OCD si triggerano tantissimo.

[2018-08-10 16:36] lucas992x commented on #37
@flavio-a Approvo 👍🏻

[2018-08-10 19:05] flavio-a commented on #30
Il problema è che non c'è nessuna garanzia che 192px sia (e resti) la dimensione massima di un modello. Anzi, UltraNecrozma è già largo 202px, e personalmente non sono molto a favore di hardcodare così la dimensione massima di un modello in un template. Anche perché distinguiamo tra due problemi: se ci sono in verticale due modelli di dimensione diversa gli OCD si arrangiano anche se i cerchi non

[2018-08-11 13:11] #39 closed, assigned to flavio-a, lucas992x

[2018-08-13 08:38] flavio-a commented on #30
Ma quindi piace a tutti la 2 (più o meno)? Nel caso butto via tutto il resto e inizio a lavorare solo su quella.

Vorrei anche sottoporre un altro problema: lasciare sempre l'evobox in verticale occupa un sacco di spazio lasciando vuoto di lato da desktop. Da mobile chiaramente è l'unica soluzione, ma da desktop pensavo di provare a "girarlo" in orizzontale, soprattutto visto https://wiki.pokemonc

[2018-08-13 16:50] Cruifer commented on #30
@flavio-a Perché, come verrebbe su desktop? Puoi mettere uno screen? Comunque io lo dicevo che la due è la meglio

[2018-08-13 18:05] flavio-a commented on #30
Se intendi Floette non ho uno screen, però l'evobox verticale in generale viene qualcosa del tipo
![screenshot_13-08_20 01](https://user-images.githubusercontent.com/11007745/44049197-bd23db86-9f33-11e8-8b95-14b27f408a60.png)
(lascia perdere che è una versione vecchia, avevo quello a portata di mano, lo spazio bianco di fianco non cambia)

Comunque ora potete trovare nella mia sandbox la versione

[2018-08-14 12:10] davla commented on #37
Ti sei dimenticato i PP. Ho aggiunto io.

[2018-08-14 16:39] Cruifer commented on #35
@CiaobyDany comunque domenica è passata :P

[2018-08-14 19:21] CiaobyDany commented on #35
E c'hai ragione pure tu. Fatto.

[2018-08-14 19:21] #35 closed, assigned to CiaobyDany

[2018-08-14 19:35] CiaobyDany commented on #34
Up! @Cruifer @davla non hanno detto niente quindi è silenzio assenso? @flavio-a non hai detto cosa ne pensi dei tt su cinoreani con le traduzioni.

[2018-08-14 20:08] flavio-a commented on #34
Per la cosa di Bulba che mette la traduzione di giappocinoreano assolutamente a caso? Ramiamo via tutto, traduzioni o sempre o mai (e sempre è troppo difficile se non ci sono su Bulba), non traduciamo solo gli asiatici perché hanno degli alfabeti strani. Le traduzioni dei giappi sono ok negli infobox, ma nel langtable niente.

[2018-08-14 20:11] flavio-a commented on #40
Up. Ci serve una risposta a

senza né io né Maze abbiamo intenzione di lavorare ad un progetto con requisiti (fortemente) incompleti.

[2018-08-14 20:13] CiaobyDany commented on #40
@flavio-a Sì, scusate, mia madre si era sfasciata due dita in una porta e mi era passato di mente. Si chiama Rotom e basta anziché Forma Rotom.

[2018-08-14 20:19] flavio-a commented on #37
Come ci si poteva aspettare, sono sorti problemi su "gruppi intersecati", ovvero cose tipo tre mosse con potenza `10-15-20` e tutto il resto uguale. Per il momento ho trovato due esempi ([questo](https://wiki.pokemoncentral.it/Utente:Ff300/sandbox2#20-25.2F85-100_multicolpo_.28NON_.C3.88_UN_GRUPPO.29) e un altro, il difficile compito di trovare il quale viene lasciato al lettore). Cosa facciamo?
L

[2018-08-14 20:21] Cruifer commented on #34
Allora, mi sono un po' escluso da questa discussione perché non credo di essere abbastanza competente ma vabbè. Comunque siamo sicuri di volere la traduzione dei nomi jappo? Perché di solito (o sbaglio?) da noi la traduzione è in realtà la traduzione della traduzione in inglese. Secondo me si rischia di perdere sfumature nel significato che potrebbe storpiarne il risultato, ma non sono sicuro.

[2018-08-14 20:31] CiaobyDany commented on #34
@Cruifer Una doppia traduzione non è mai auspicabile, vero. Ma è altrettanto vero che spesso i nomi sono così basilari che sono difficili da tradurre in modo errato. Anche perché hai un contesto preciso su cui basarti. In ogni caso non capisco perché rimuovere un'informazione perché in alcuni casi non è completamente corretta (conta che comunque hai spesso nomi inglesi quindi è una traduzione dire

[2018-08-15 07:04] davla commented on #40
Ma sei sicuro che nel Pokédex sia così? Perché a me pare molto sensato prendere le cose dal Pokédex.

Non discuto sulle forme di Alola, perché sono piuttosto sicuro che non abbiano didascalia. Ma se potreste controllare anche quelle per sicurezza, mi fareste un favore.

[2018-08-15 07:06] davla commented on #34
Ah, non mi sono mai impicciato di questa cosa. Ma as long as mettete il `lang="ISO-CODE"` nell'HTML mi va bene tutto.

[2018-08-15 07:09] davla commented on #37
A me piacerebbe raggruppare più mosse possibili. Quindi, prendere il range che raggruppa più mosse.

Oppure quello con più valori uguali. Ah, no, il risultato è lo stesso.

[2018-08-15 08:52] flavio-a commented on #37
Supponi di avere mosse con le seguenti potenze: `10, 15, 15, 15, 20, 20, 20, 25`. Come le raggruppi? Puoi fare due gruppi piccoli ma che insieme sono più grossi (`10, 15, 15, 15` e `20, 20, 20, 25`), oppure un singolo gruppo più grosso e lasciare un po' di mosse da sole (`15, 15, 15, 20, 20, 20`).

E non pensare che siano casi limite perché questo è quasi successo, e ho guardato solo le mosse con

[2018-08-15 10:47] flavio-a commented on #40
Ho controllato sul Pokédex di Luna (unico che ho a disposizione) e... sorpresa! Forma Castform non è una nostra invenzione. Però le forme normali dei Pokémon di Alola o delle megaevoluzioni sono senza nome. Non riesco a verificare Rotom perché non è nel Pokédex e Pikachu normale non ha didascalia, ma potrebbe essere perché non ho visto nessuna forma alternativa (ho solo le versioni maschio e femmi

[2018-08-15 11:29] lucas992x commented on #40
@flavio-a Chiedete a qualcuno che abbia la Banca, in modo da usare quel Pokédex per i Pokémon mancanti. Lo farei io se avessi qui il 2DS, o se volete controllo tutto quando torno la settimana prossima.

[2018-08-15 12:53] davla commented on #37
Inserire più mosse possibili nella pagina. Quindi se i due gruppi insieme fanno più mosse che il gruppone singolo, si va per i due gruppi. O tre, insomma, avete carpito il pattern anche da soli,

[2018-08-15 12:55] davla commented on #40
Io posso controllare stasera, il Pokédex è completo se non per Blacephalon, che non ha forme.

[2018-08-15 13:37] flavio-a commented on #40
@davla il problema sono tutti i Pokémon che non sono nel dex di Alola e che quindi bisogna guardare nella banca, dobbiamo chiedere a qualcuno che ce l'ha

[2018-08-15 20:41] CiaobyDany commented on #40
Gente, ma perché non abbiamo cagato subito i dump per questa roba?

Considerazioni su nomi particolari:
- Unown ha tutte le forme che si chiamano *Forma Vaga*, don't ask why
- Castform normale è *Forma Castform*
- Rotom normale pure è *Forma Rotom*
- Arceus è *Forma di Arceus* indipendentemente da se tiene una lastra oppure no (ci sono 18 *Forma di Arceus* di fila)
- Basculin è *Forma Linearossa*

[2018-08-15 22:41] davla commented on #40
Onestamente, non ho capito alcune delle tue suggestions:

Cosa vuol dire "normale"? Che vuoi la label sotto con scritto *normale* o che non vuoi niente?

E credo uguale per tutte le altre occorrenze di *normale*

[2018-08-16 08:03] flavio-a commented on #40
Osservazioni generiche:
- È normale che Pikachu Cosplay non ci sia nei dump di USUL perché è stato rimosso dopo ROZA (in pratica esiste in un solo gioco).
- Più che rimuovere Unfeazant, Frillish e compagnia li sposterei nella parte sotto della pagina, dove troviamo anche Pichu Spunzorek, Lugia Ombra e Arbok.
- Il termine "Kantonian" di Serebii mi sembra tutto tranne che ufficiale, e finché non lo

[2018-08-17 21:23] davla commented on #29
Visto che mi si fa notare. rispondo.

Non ho capito una mazza.

Cioè, uguale a come è ora solo con altezza variabile?

[2018-08-17 21:42] davla commented on #29
Quindi è come è ora?

[2018-08-17 22:04] CiaobyDany commented on #29
@davla No! Devi mettere lo sfondo bianco all'immagine anziché quel grigino smunto con bordo di 1 pixel e fare il gradiente pcwiki sullo sfondo (magari iniziando a fare il normal-light-normal che aveva chiesto gika mesi fa e che dovremmo iniziare ad implementare)

[2018-08-18 08:58] davla commented on #29
Sto cominciando a odiare il colore background. Per me è bianco. E i bordini di 1px manco li vedo

Comunque:
- Il colore background quindi non si usa come background al posto del bianco perché a te non piace? Poi sono io quello che ha i colori accecanti.
- Il gradiente __alla gika__ non va bene lì. I box della gallery sarebbero troppo piccoli perché si noti anche la presenza di un gradiente.

[2018-08-18 10:33] davla opened #42 "Classi CSS per styles comuni"
## Descrizione
Come gika ci ha fatto notare in #32, gli `style="..."` sono meno efficienti dei `class="..."` (classi CSS). E a me personalmente pesa anche il culo scrivere tutte le volte `style="background: #FFF;"` e via dicendo. Mentre alcune cose vanno lasciate nello style (i gradienti, per esempio), molte possono essere spostate nel CSS.

## Risoluzione del problema
La soluzione è terribilmente

[2018-08-18 10:36] CiaobyDany commented on #42
@davla Perché non ero al corrente della std-table?

[2018-08-18 10:41] davla commented on #42
Perché a volte dico tante cose tutte insieme, e poi passa in secondo piano. Magari l'ho messa insieme a cose ben più importanti, tipo il `roundy-corners`. Un po' come il `justify-content: space-evenly;`, (`flex-main-space-evenly`), che ti ho rammentato più volte ma scommetto che non hai ancora guardato.

[2018-08-18 10:49] CiaobyDany commented on #42
@davla Actually lo so che esiste, ma di norma mi fa più comodo lo space around (anche se riconosco la sua utilità per casi che non mi è ancora capitato di affrontare). Ma quindi se ho roundy-corners (non era roundy-bottom una volta?) posso evitare di mettere il roundy? A questo punto non si può fare in modo che le class main dei flex includano anche le class flex, flex row e flex wrap? Roba tipo f

[2018-08-18 10:59] flavio-a commented on #42
1. Io sapevo della classe `std-table` da una vita ma visto che non usavamo più le table era diventata abbastanza inutile.
2. queste classi shorthand sono utili _a livello di prestazioni_? Cioè, c'è differenza tra `flex-row-nowrap` e `flex flex-row flex-nowrap`? Posto che a mio avviso le classi shorthand suonano molto belle, ma non si usano poi così tanto (questa del `flex-row-nowrap` probabilmente

[2018-08-18 11:09] davla commented on #42
@CiaobyDany Solo perché Flavìo ha postato prima.

- `roundy-bottom`: si chiama `roundy-footer` e arrotonda le celle più a sinistra e a destra dell'ultima riga. `roundy-corners` pure quelle della prima riga. In effetti, `roundy-corners` è un vestigio del periodo pre-gradienti, quando avevamo le celle colorate anche nelle intestazioni. Ma non è che faccia danni, quindi si può lasciare. Però provvede

[2018-08-21 10:09] davla commented on #40
Quindi, in conclusione, cosa si è deciso? Non ho capito se si vuole davvero eliminare la label per le forme *base* o se si vogliono solo cambiare i contenuti delle labels.

[2018-08-22 20:28] Cruifer opened #43 "Fix al G7event"
## Descrizione
Il template G7event (e il G6event/head) ha alcuni piccoli problemi da sistemare. So già come fare, devo solo ricordarmene a suo tempo.

[2018-08-23 08:35] flavio-a commented on #37
Ok, vi sottopongo un paio di problemi trovati mentre facevo i gruppi:
- https://wiki.pokemoncentral.it/Utente:Ff300/sandbox2#60-75.2F90-100_problema_di_stato_.28NON_.C3.88_UN_GRUPPO.29 qui ce ne sono due segnate, ditemi il vostro parere. Secondo me andrebbero escluse perché hanno un effetto in più oltre al problema di stato.
- https://wiki.pokemoncentral.it/Utente:Ff300/sandbox2#65-70.2F100_potenz

[2018-08-23 09:30] lucas992x commented on #37
In effetti non mi sembra una cattiva idea restringere il campo e accettare solo potenza uguale, lascerei magari una tolleranza sulla Precisione, se non crea casini pure quella.

[2018-08-23 13:36] flavio-a commented on #37
In generale l'idea di limitare ancora di più è per evitare gruppi enormi che contengono anche mosse relativamente distanti (oltre a rendere più facile il lavoro di dividere le mosse). Mettendo la potenza uguale si limita abbastanza questo fenomeno; l'unico "problema" di tenere la tolleranza sulla precisione è che Fulmindenti, Rogodenti e Gelodenti diventano varianti anche di altre mosse oltre che

[2018-08-23 15:46] #42 closed, assigned to flavio-a, davla, lucas992x, CiaobyDany, Cruifer

[2018-08-24 13:07] Cruifer opened #44 "Update al TrainerPoké"
## Descrizione
Il [Template:TrainerPoké](https://wiki.pokemoncentral.it/Template:TrainerPok%C3%A9) è da rendere mobile-friendly, ma come al solito se non lo scrivo qui me ne scordo.

[2018-08-25 14:24] lucas992x commented on #44
Ho notato che _Allenatore#Pokémon_ rimanda alla giusta sezione di pagina solo se il nome è singolo, non funziona con quelli che si sono evoluti (e che quindi hanno le forme evolutive precedenti scritte per esteso). Se riesci a sistemare anche questa cosa sarebbe ottimo.

[2018-08-26 11:16] davla commented on #37
Sono contento che alla fine i problemi con l'essere troppo permissivi stiano spuntando fuori. Una volta tanto, avevo previsto bene.

Io sarei per tenere anche la precisione uguale. Cioè, abbiamo visto che crea potenzialmente problemi, e se non ora, lo farà in futuro.

[2018-08-26 11:17] davla commented on #44
Ho l'impressione che non sia facile per niente. Mi puoi spiegare meglio, magari con un esempio?

[2018-08-26 12:42] lucas992x commented on #44
https://wiki.pokemoncentral.it/Ash_Ketchum#Cobalion rimanda correttamente alla sezione della pagina, mentre https://wiki.pokemoncentral.it/Ash_Ketchum#Butterfree non rimanda al Pokémon che trovi subito sotto Cobalion. Forse è solo un problema di _anchor_ mancante o usato male, non ho ancora guardato per bene il codice del template, ma l'ho scritto per non dimenticarlo.

[2018-08-26 12:53] davla commented on #44
Sì, è l'anchor che viene fatto sullo stesso testo visualizzato, ossia tutta la catena evolutiva con tanto di freccine. Quindi il testo dopo # deve essere esattamente quello.

[2018-08-26 12:57] lucas992x commented on #44
@davla Io però avevo provato anche a metterci quel testo e non funzionava. Potete fare una prova anche voi?

[2018-08-26 13:02] davla commented on #44
Eh, non cagarlo a mano nell'URL. Probabilmente MediaWiki mette una pezza sulle freccine, che non sono esattamentissimamente URL friendly. La cosa migliore sarebbe un parametro per specificare l'anchor, ma poi va usato l'anchor giusto in tutti i template che generano il link. È una questione spinosa.

[2018-08-26 13:03] flavio-a commented on #37
La precisione uguale secondo me non è fondamentale. Una volta imposto il vincolo forte sulla potenza, anche se la precisione varia un po' difficilmente si formano i pericolosi megagruppi . Basta fissare dei criteri precisi per la divisione in gruppi in caso di ambiguità (sì, ci sono ancora casi di ambiguità, tipo [questo](https://wiki.pokemoncentral.it/Utente:Ff300/sandbox2#95.2F90-100), che non s

[2018-08-26 13:06] CiaobyDany commented on #40
Scusate il ritardo nella risposta, ma continuava a sfuggirmi di mente finché Maze non mi ha fatto un po' di sano terrorismo psicologico.
Osservazioni generiche: qual è la differenza tra Pikachu Cosplay e Pikachu Spunzorek tale per cui i Pikachu Cosplay stanno nell'elenco principale ma Pikachu Spunzorek no? Si tratta in entrambi i casi di forme apparse in un gioco solo e non trasferibili altrove, n

[2018-08-26 13:10] lucas992x commented on #44
@davla Si potrebbe mettere un parametro facoltativo per l'_anchor_ che di default sia uguale al nome, in modo da non sminchiare nulla né dover correggere ogni singola pagina. Basterebbe sistemare i pochi casi in cui ci sono le frecce o altri caratteri strani.

[2018-08-26 13:21] flavio-a commented on #40
Pikachu Cosplay non è useless perché impara mosse diverse dalla forma base, Pichu Spunzorek (suppongo intendessi lui visto che non so niente di nessun Pikachu Spunzorek) invece è useless perché è solo grafico.

Sì, per te è ovvio, per il modulo forse non troppo, ne parlo prima con Maze ma mi riservo di tenere "tutte le forme" anche quando "è ovvio che non cambia un cazzo".

Io sono per lasciare so

[2018-08-26 14:47] flavio-a commented on #40
Ok, ne ho parlato un po' con Maze è c'è una cosa che non ci è chiara: la cosa di non scrivere "Tutte le forme" esattamente quando dovrebbe succedere? Ovvero: un intero elenco deve essere senza "Tutte le forme"? O solo alcuni Pokémon ma in tutti gli elenchi in cui vengono raggruppati? O la combinazione: ogni elenco ha una sua lista di Pokémon che, se vengono raggruppati, non deve avere la scritta t

[2018-08-26 14:50] CiaobyDany commented on #40
@flavio-a L'ultima che hai detto, ma se diventa un problema si può anche evitare, si specifica anche lì e si lascia uniformità.
Amen.

[2018-08-26 16:07] lucas992x commented on #38
Alla fine della fiera, decidiamo quindi di lasciarle? In tal caso, bisognerebbe scegliere uno standard di "posizionamento", perché come mi ha fatto notare un utente a volte si trova nella sezione giochi e altre in una sezione sua.

[2018-08-26 16:29] lucas992x commented on #40
Nei dump di ORAS si trova proprio il termine _ArcheoKyogre_ (e ovviamente _ArcheoGroudon_), mentre in SMUSUM questi due termini non li ho trovati. Dopo quando accendo la console ci controllo.

[2018-08-26 16:31] CiaobyDany commented on #40
@lucas992 Nella sezione delle forme ho controllato stamattina e segna Archeorisveglio, tu dove hai guardato? °°

[2018-08-26 16:33] lucas992x commented on #40
@CiaobyDany Nei dump di ORAS, ho cercato _archeokyogre_ e me l'ha trovato (6 match per l'esattezza)

[2018-08-26 20:54] flavio-a commented on #38
Io direi sezione a parte, tra "Nei giochi" e "Artwork" (o "Sprite", non mi ricordo come si chiama quella sezione lì).

[2018-08-26 20:58] flavio-a commented on #40
io non ho trovato niente cercando _archekyogre_ (con ricerca case insensitive) in tutta la cartella dei dump (che contiene dump ita ed eng di tutti i giochi da DP in poi).

[2018-08-26 21:05] Cruifer commented on #40
@flavio-a Dubito che typare possa aiutare nella ricerca :P

[2018-08-26 22:38] lucas992x commented on #40
Ho appena fatto un rapido controllo in-game in Zaffiro Alpha e Ultrasole: quando li usi in lotta sia le mega che gli archeo vengono chiamati con il loro nome di base, sia nei nomi mostrati di fianco alla barra dei PS sia quando agiscono (per attaccare o altro). Nei dump invece ci sono varie menzioni di ArcheoKyogre/ArcheoGroudon nei dialoghi, quindi direi che il nome ufficiale è quello.

[2018-08-26 22:54] CiaobyDany commented on #38
@flavio-a Ma se le citazioni vengono dai giochi non avrebbe più senso lasciarli come sottosezioni dei giochi?

[2018-08-26 22:58] CiaobyDany commented on #40
@lucas992 Allora ok, mi fa strana la discrepanza con le megaevoluzioni, ma non ha senso usare termini che non sono presenti nemmeno in-game.

[2018-08-27 06:56] flavio-a commented on #38
Anche sprite e modelli vengono dai giochi ma hanno una sezione a parte. La mia idea era di evitare 19 livelli di titoli, visto che servono almeno __Citazioni__ e __\<nomegioco\>__, e magari anche __\<posto/situazione\>__, però ha anche senso metterli dentro giochi.

[2018-08-27 06:59] flavio-a commented on #40
In realtà non aveo typato, ma ho tenuto solo i dump "main" e non quelli "story", quindi praticamente non ho dialoghi. Quindi il nome _ArcheoKyogre_ non appare in quei dump, ma solo in quelli della storia. Comunque sono dell'idea di usare ArcheoKyogre e ArcheoGroudon.

[2018-08-27 08:00] lucas992x commented on #38
@flavio-a Sono d'accordo con Flavio e aggiungo: da mobile la sezione ==Citazioni== verrebbe collassata, mentre ===Citazioni=== no, costringendo quindi gli utenti mobile a scrollare parecchio per una cosa che alla fine in pochi guardano.

[2018-08-27 08:59] lucas992x commented on #27
Ho aggiornato gli ultimi template rimasti, e ora metto il centesimo commento a questa issue per chiuderla in bellezza :D

[2018-08-27 08:59] #27 closed, assigned to lucas992x, Cruifer

[2018-08-27 15:34] flavio-a commented on #40
Sto guardando per cambiare i nomi delle forme nei moduli e ho trovato le seguenti cose che discordano da quanto abbiamo deciso. Prima le cose di cui chiedo conferma:
- Kyurem base, che nei dump è "_Forma di Kyurem_", nel modulo è solo "_Kyurem_". Devo cambiarlo? O usare "_Normale_", come Pikachu, Greninja e Necrozma?
- Arceus al momento usa la stessa dicitura "_Tipo \<nometipo\>_" di Silvally. Ten

[2018-08-28 16:56] CiaobyDany commented on #40
Alla fine della fiera noi diamo informazioni per i giocatori. E i giocatori sanno che cosa si trovano in-game, non cosa si trovano sul sito ufficiale. Quindi Kyurem è Forma di Kyurem per quanto faccia cagare. Arceus cambiamo in \<nometipo\> e basta perché sì.

Sugli altri, Genesect a parte non mi sembra proprio quello che avevamo deciso, lel. Stavamo discutendo per la loro rimozione o la cosa è st

[2018-08-28 17:13] flavio-a commented on #40
Io in realtà mi ero attenuto a [questo commento](https://github.com/pokemoncentral/wiki-project/issues/40#issuecomment-413328978), che mi sembrava fosse l'ultimo a parte le discussioni su Archeo e Arceus. Però in effetti ho frainteso io quando hai detto

pensando che "eliminare le label" fosse riferito solo al "tutte le forme" (non so perché).
L'argomentazione del "i giocatori sanno cosa trovano i

[2018-08-28 17:24] CiaobyDany commented on #40
Mi sono espresso male. Quello che intendo è che in caso di dubbio la prima fonte che useranno per il controllo sono i giochi, perché pure i sassi sanno che il sito ufficiale (se sei in possesso di fibra 1 Gb/s e hw di ultima generazione per consentirne il caricamento in tempi umani) fa cagare a livello di contenuti. Quindi atteniamoci ai giochi ove possibile.

Per la rimozione, io sono a favore se

[2018-08-28 22:12] CiaobyDany commented on #34
Posto che non avendo avuto nessun parere contrario serio sto continuando nella mia strada sulle langtable, mentre sistemavo una pagina ho trovato un'idea carina da usare per lo standard degli infobox. La nomenclatura dei parametri preferibilmente dovrebbe essere più user friendly, ma volendo mantenere quanto già presente non avevo molte alternative, btw, la prova è questa: https://wiki.pokemoncent

[2018-08-29 10:02] flavio-a opened #45 "Modulo:Stats sbaglia su Shedinja"
## Descrizione
Il modulo Stats, quando usato su Shedinja, mostra erroneamente come limite max e min dei PS i valori ottenuti con la formula normale, mentre Shedinja ha sempre 1 PS.

## Pagine affette
- https://wiki.pokemoncentral.it/Shedinja#Statistiche

[2018-08-29 14:43] davla commented on #44
Però poi devi correggere gli usi dell'anchor. Tipo, un link a `Ash_Ketchum#Metapod` va trasformato in `Ash_ketchum#Butterfree`

[2018-08-29 14:45] davla commented on #40
Vi informo del fatto che vi ho perso long ago. Aggiornatemi quando avete deciso.

[2018-08-29 15:09] #43 closed, assigned to Cruifer

[2018-08-29 16:29] Cruifer commented on #30
Andrebbe implementato anche per i Pokémon glitch. C'è modo di farlo utilizzando lo stesso modulo?

[2018-08-29 16:31] Cruifer commented on #25
Anche questo andrebbe implementato per i Pokémon glitch.

[2018-08-30 11:11] Cruifer opened #46 "Modulo Party da rendere mobile friendly"
## Descrizione
Il [modulo Party](https://wiki.pokemoncentral.it/Modulo:Squadra), che dovrebbe essere quello definitivo, non è mobile friendly (anche se credo fosse stato creato apposta per questo). O almeno non è compatibile né col [template Pokémon](https://wiki.pokemoncentral.it/Template:Pok%C3%A9mon) né col [template nPokémon](https://wiki.pokemoncentral.it/Template:NPok%C3%A9mon) (vedi [qui](h

[2018-08-30 12:04] CiaobyDany commented on #46
@Cruifer Imo si potrebbero fare i box interni bianchi e #fuckthesystem. Un conto è se hai un Pokémon di un determinato tipo che ha senso che stai a specificare, perché magari è diverso dal contenitore (vedi Evobox), ma qui si tratta solo di abbellimenti grafici dal dubbio gusto (lo so che li ho proposti io inizialmente, non state a specificarlo). Se vai a scartabellare tra le mie cronologie delle

[2018-08-30 12:06] lucas992x commented on #46
Il cerchio/ellisse e il rettangolo che attualmente hanno un controgradiente io li metterei bianchi e via, trovo inutile il gradiente interno oltre che brutto in alcuni casi.

[2018-08-30 12:11] CiaobyDany commented on #46
@CiaobyDany Ah, giusto, un altro problema è come allineare nelle lotte in doppio i due allenatori con le informazioni sulla lotta, perché nella versione desktop hai allenatore-info-allenatore e su mobile dovrai avere allenatore-allenatore-(a capo)-info. Immagino che si farà con un ignorantissimo show/hide responsive, ma magari trovate altre soluzioni che sono più meglio.

[2018-08-30 12:25] lucas992x commented on #46
Da desktop, trovate proprio brutto mettere prima i due Allenatori e poi a destra il rettangolo delle info? Se si potesse passare da box tondo/elissoidale a rettangolare e affiancare i due sprite in un rettangolo unico, penso che non sarebbe male.

[2018-08-30 12:28] CiaobyDany commented on #46
@lucas992 Idealmente mettevi due colori diversi sullo sfondo degli allenatori e poi li ripetevi nell'elenco Pokémon sotto. (es: Max rosso, Ivan Blu, sotto i Pokémon di Max in un box rosso e i Pokémon di Ivan in un box blu). Non che la cosa non si possa ripetere anche così in effetti, fai un horizgrad da un colore all'altro e diventa abbastanza intuitivo

[2018-08-30 12:30] lucas992x commented on #46
Se fai l'`horizGrad` per distinguerli in questo modo sei a posto da desktop, ma non da mobile dove verranno impilati anziché affiancati (se ho capito bene cosa intendi).

[2018-08-30 12:37] CiaobyDany commented on #46
@lucas992 Sinceramente pensavo di tenerli affiancati anche da mobile gli allenatori perché pensavo agli sprite fino alla quinta generazione, ma in effetti forse dalla sesta non ci stanno più bene affiancati. Qualcuno può confermare/smentire?

[2018-08-30 12:42] lucas992x commented on #46
In VI/VII gen gli sprite sono 400*240px, decisamente troppo larghi per affiancarli da mobile senza doverli rimpicciolire troppo.

[2018-08-30 12:44] Cruifer commented on #46
ho inizato a fare una prova [qui](https://wiki.pokemoncentral.it/Utente:Cruifer/Sandbox/3). Come prima cosa ho tolto quei graidenti inutili e ho messo il background bianco. Poi ho messo un `flex-sm-wrap` in modo tale da far impilare i Pokémon.

desktop:

**prima**
![immagine](https://user-images.githubusercontent.com/38588039/44852004-5c4b2080-ac62-11e8-8a72-9785d9ab9863.png)

**dopo**
![immagine]

[2018-08-30 13:24] CiaobyDany commented on #46
https://wiki.pokemoncentral.it/Utente:Cruifer/Sandbox/3
Link per comodità
Due cose:
-Il wrap lo metterei da subito sinceramente, almeno inizia ad andare a capo anche con schermi medi perché altrimenti ti ritrovi cose di questo tipo:
![immagine](https://user-images.githubusercontent.com/38566659/44854195-37f24280-ac68-11e8-9683-2133599a7b20.png)
e non credo che siano il nostro obiettivo.
-No, nient

[2018-08-30 13:32] Cruifer commented on #46
allora, secondo me mettere il `flex-wrap` sin da subito non è una buona idea perché poi da desktop ti ritrovi questo:
![immagine](https://user-images.githubusercontent.com/38588039/44854776-c3b89e80-ac69-11e8-9474-ce6fc740e0ce.png)
quindi ho messo il breakpoint a `md`, dimmi se noti comunque problemi.

[2018-08-30 13:34] lucas992x commented on #46
Quest'ultimo screen mi convince ancora di più a rendere rettangolari i box attualmente elissoidali degli Allenatori. Per il resto sono d'accordo, meglio wrappare prima i Pokémon.

[2018-08-30 13:36] lucas992x commented on #46
Altro problema:
![scr](https://user-images.githubusercontent.com/38510975/44855028-70931b80-ac6a-11e8-902f-351300d46309.png)
ma immagino sia dovuto al fatto che è un work in progress.

[2018-08-30 13:50] Cruifer commented on #46
a me non convince:
![immagine](https://user-images.githubusercontent.com/38588039/44855889-54907980-ac6c-11e8-987f-c4fcf50289b2.png)

In realtà boh, non saprei nemmeno come sistemarla sta cosa. Può essere che sia colpa del nPokémon?

[2018-08-30 13:53] CiaobyDany commented on #46
Be', @Cruifer, lì il problema è che li devi mettere centrati, non il fatto che vadano a capo. Cioè, affiancati non vengono schiacciati? Io il wrap lo lascerei, ma sentiamo gli altri.
Questione box sprite/modelli tondo: era tondo perché fino alla quinta avevamo gli sprite 80x80 pixel degli allenatori e se guardi le prime generazioni non viene male. Provare con un roundy 80 anziché un roundy full? P

[2018-08-30 14:03] Cruifer commented on #46
roundy 80 non esiste nel css, massimo 20 che viene così:
![immagine](https://user-images.githubusercontent.com/38588039/44856348-79d1b780-ac6d-11e8-9c9e-83879788d454.png)
ma comunque si può mettere nello style, l'equivalente in proporzione sarebbe `5rem` ovvero questo:
![immagine](https://user-images.githubusercontent.com/38588039/44856606-2318ad80-ac6e-11e8-814e-11dab599202e.png)
btw, col `subst`

[2018-08-30 14:12] CiaobyDany commented on #46
A me con il 5 rem piace. Che poi era come doveva essere in origine prima di scoprire che il roundy-full non funzionava come credevo.

[2018-08-30 14:19] Cruifer commented on #46
a me non piace molto, perché si vede che non è allineato con l'altro box, mentre col `roundy-full` la cosa era grosso modo impercettibile. Allineato come penso io verrebbe così:

![immagine](https://user-images.githubusercontent.com/38588039/44857554-58be9600-ac70-11e8-8426-3e67a476f46e.png)

non è meglio?

[2018-08-30 14:25] CiaobyDany commented on #46
Ah, sì, così viene meglio, conta che prima sotto c'era la ricompensa, quindi veniva allineato giusto. A proposito di ricompensa, è così necessario mandare a capo dopo i due punti? Anzi, è così necessario scrivere che è la ricompensa? Non viene scritta nessuna altra informazione e oggettivamente trovo difficile fraintendere i soldi/PL/ilcazzocheè per qualcosa che non sia la ricompensa.

[2018-08-30 15:00] lucas992x commented on #46
Concordo con Bany sia sulla nuova forma del box sia sulla ricompensa. Poi pensavo che si potrebbe spostare il rettangolino delle Poké Ball sotto il box dello sprite, così da mobile si vedrebbe subito quello prima delle altre info. Che ne dite? (Ovviamente facendo così si allungherebbe leggermente l'altro rettangolo in modo da averlo alto come gli altri due messi assieme.)

[2018-08-30 15:01] CiaobyDany commented on #46
@lucas992 Se poi effettivamente mettiamo anche il secondo sprite/modello nello stesso box non è un'idea malvagia e ha anche il suo senso.

[2018-08-30 15:02] lucas992x commented on #46
A pensarci meglio, forse le Ball starebbero meglio direttamente dentro allo stesso box dello sprite, e non in un box separato immediatamente sottostante.

[2018-08-30 15:06] CiaobyDany commented on #46
@lucas992

[2018-08-30 15:06] CiaobyDany commented on #46
@CiaobyDany Avevo mandato uno sticker da Telegram ma non l'ha preso. Idea GENIALE. Peccato che con gli sprite di quinta ci vada a mignotte. Vorrei vedere una prova prima di decidere.

[2018-08-30 18:07] Cruifer commented on #46
"impossibile sia questo". E invece era quello. Però poi si vede da schifo. Quindi ho messo tanto padding, anche se sono abbastanza sicuro che poi dedalo mi direbbe che questa soluzione puzza. Ok, ero concentrato su questo che ho perso di vista il resto della discussione sui due allenatori, pls riassumete quello che avete detto prima @CiaobyDany e/o @lucas992 e altre eventuali cose che mi sono pers

[2018-08-30 18:13] CiaobyDany commented on #46
@Cruifer Ma le width percentuali fanno tanto schifo? Eventualmente lasciando una width fissa minima per il box esterno onde evitare situazioni di mega-shrink del tutto con la squadra collassata.

Basically, l'idea è di mettere lo sprello (termine che userò da qui all'infinito per indicare sprite/modello) secondo allenatore della lotta in doppio nello stesso box in cui c'è lo sprello del primo alle

[2018-08-30 18:40] Cruifer commented on #46
Le width in quel box venivano beatamente ignorate quindi boh. Ho messo un `min-width-xl-33` alla table btw.

Per il resto ho provato a fare quello che hai detto ma non sono sicuro di aver capito bene, dacci un occhiata quando vuoi.

[2018-08-31 16:37] flavio-a commented on #25
Causa un bug, fino a 1 minuto fa non si potevano passare gli speciali al modulo, ma ora è tutto a posto. Lo "svantaggio" se volete è che non c'è un modulo dati per le statistiche, quindi la chiamata non può essere con un semplice "BASEPAGENAME" ma deve contenere tutte le statistiche (esempio: https://wiki.pokemoncentral.it/Missingno.)
Personalmente non farei un modulo dati per questo visto che non

[2018-08-31 16:43] flavio-a commented on #30
Questa è una domanda non banale. La risposta vorrebbe essere sì, ma al momento è decisamente no. Per come è fatto il modulo adesso, ci sono degli ostacoli notevoli. Questa è una debolezza del modulo attuale che sto parzialmente risolvendo mentre cerco di creare il tanto atteso (da me e Maze) modulo Evo/data, ma se mi dici che l'Evobox dovrà gestire anche i glitch (come in effetti sembra sensato) l

[2018-08-31 18:49] flavio-a commented on #25
Ok, sostituzione fatta con il bot (o mano dove serviva). Chiudo.

[2018-08-31 18:49] #25 closed, assigned to flavio-a

[2018-08-31 19:20] Cruifer commented on #44
Allora, ho sentito Ale e per renderlo mobile friendly si è deciso di farlo seguendo lo stile di #26, vedi [sandbox](https://wiki.pokemoncentral.it/Utente:Cruifer/Sandbox/2#Template:TrainerPok.C3.A9). A parte il discorso tecnico sull' `anchor` di cui ci ho capito molto poco, è emerso un problema. La scritta che riguarda le mosse prima veniva mandata a capo con degli spazi, col nuovo template però n

[2018-08-31 21:05] CiaobyDany commented on #44
Ho aggiunto il link al template in questione nel primo messaggio per rendere più comoda la navigazione.
Non va a capo perché il doppio a capo funziona solo se sei in testo aperto e crea automaticamente i due `<p>`. In un `<div>` i `<p> `non sono creati perché sei già in un div, e quindi i doppi a capo non funzionano. Come questo si risolva non saprei, ho già provato a mettere un `<p>` dentro al di

[2018-08-31 21:06] CiaobyDany commented on #24
Ho appena realizzato che abilità speciale crea un casino immane. Perché attualmente noi segnamo come abilità speciali Morfosintonia di Greninja e Mente Locale di Rockruff che sono abilità peculiari che non ottengono di solito. Se le nascoste diventano speciali come le distinguiamo le une dalle altre?

[2018-08-31 21:07] CiaobyDany commented on #46
Meglio di quanto pensassi, puoi fare un ultimo tentativo quando hai tempo di una lotta singola con gli sprite gen I-V?

[2018-08-31 21:24] CiaobyDany opened #47 "Cosa fare con l'elenco Pokémon per strumento tenuto"
## Descrizione
Abbiamo trovato un compromesso sul layout che accontenta quasi tutti, ma non abbiamo comunque risolto i problemi che affliggono la pagina. In particolare mi riferisco al superamento del limite di template da parte dell'elenco. Intanto quello che dovrebbe diventare il nuovo template di base è [questo](https://wiki.pokemoncentral.it/Utente:CiaobyDany/sandbox2), mentre la pagina con l'

[2018-08-31 21:49] Cruifer commented on #47
Modulizzare la pagina aiuterebbe in qualche modo a superare il problema dei template?

[2018-08-31 21:52] CiaobyDany commented on #47
Parrebbe di sì, ma non è una cosa certa. E in ogni caso bisognerebbe trovare qualcuno disposto a farlo, ma Flavio sicuramente è impegnato in altro e Maze non so cosa stia facendo in questo periodo, quindi ce lo dirà lui. In ogni caso come per qualsiasi altro elenco alla fine bisogna vedere se e come spezzarlo quando diventerà troppo lungo.

[2018-09-01 00:16] Snorlite commented on #24
In quali pagine Morfosintonia e Mente Locale vengono segnate abilità speciali? Nelle pagine di Greninja e Rockruff leggo "Abilità evento" nel PokémonInfo.

[2018-09-01 07:48] lucas992x commented on #44
Con il [template mossa improvvisata](https://wiki.pokemoncentral.it/Template:Mossa_improvvisata) la situazione era un pochino diversa perché c'erano sempre 3 etichette (debutto, partner e mosse), quindi l'altezza era simile all'immagine: per gestire il tutto avevo messo le 3 etichette dentro a un `div` unico, ciascuna dentro al proprio `div` in modo da farle andare a capo.
Qui cambia perché potreb

[2018-09-01 07:49] flavio-a commented on #47
Se la modulizziamo il problema del limite di template non si pone più perché non ci sono più template, solo moduli :P
Tornando seri, modulizzare funzionerebbe perché si può trasformare la pagina in un'unica chiamata ad un modulo (molto complessa, ma sempre una). La proposta di Maze di usare un modulo dati sarebbe una bella cosa, ma il problema è che questo modulo dati è da fare. L'altra possibilit

[2018-09-01 08:26] CiaobyDany commented on #24
Ah, allora ricordavo male io, tanto meglio, scusate.

[2018-09-01 08:28] CiaobyDany commented on #47
Il render mi ispira di più sinceramente perché poi almeno può gestirla in autonomia Lugia mentre il modulo non lo può toccare.

[2018-09-01 09:04] flavio-a commented on #40
È un po' sbatti perché bisogna distinguere tra moduli in cui vuoto = niente etichetta (eg: le liste) e moduli in cui vuoto = nome del Pokémon (eg: DebRes, AltSprites), ma questo sembra fattibile senza troppi problemi.

Slegato dalla gestione in tutti gli altri moduli, c'è il problema movelist, perché sono gestiti molto a mano non avendo un modulo dati. Mi spiego: [qui](https://wiki.pokemoncentral.

[2018-09-01 10:19] lucas992x commented on #44
Ho rapidamente riciclato il template delle mosse improvvisate, provatelo e vedete se vi sembra buono (l'ho messo nella stessa sandbox in una sezione separata per comodità).

[2018-09-01 11:20] Cruifer commented on #44
@CiaobyDany sì, immaginavo fosse un probelma del genere. Non mettere in assoluto il div potrebbe risolvere il problema? Anche se immagino di no perché è comunque dentro al div grande.

@lucas992 ho sentito Ale per il layout e boh preferisce quello di prima. E il punto è che comunque non risolve il problema della scritta. Ah, l'anchor che hai messo in cima al tuo layout risolve il problema di cui a

[2018-09-01 11:48] lucas992x commented on #44
Con la mia soluzione andare due volte a capo funziona esattamente come ti aspetteresti dal wikicode, ossia iniziando un nuovo paragrafo, come succedeva prima. Ecco un esempio:
![scr](https://user-images.githubusercontent.com/38510975/44945602-1bcbde00-aded-11e8-81d7-c0a2d06120c0.png)
Per quanto riguarda l'_anchor_, al momento ho messo un parametro facoltativo per correggerlo se dovesse servire. Or

[2018-09-01 12:01] Cruifer commented on #44
Però questa cosa è strana, perché ad esempio:
![439635294_10956237030348245147](https://user-images.githubusercontent.com/38588039/44945694-4ae34f00-adef-11e8-9714-5b6fb5ef64a1.jpg)

![446622078_5543068337676677680](https://user-images.githubusercontent.com/38588039/44945695-4e76d600-adef-11e8-8342-4f4df9220a51.jpg)

[2018-09-01 12:05] lucas992x commented on #44
Ho messo la descrizione direttamente fuori dal `flex`, che tanto non le serve visto che occupa sempre l'intera larghezza, e ora dovrebbe funzionare sempre.

[2018-09-01 12:13] Cruifer commented on #44
uh, sì ora funzia sempre. Riferisco a Frænky.

[2018-09-01 13:06] lucas992 commented on #44
Prova (ignorate questo commento)

[2018-09-01 13:09] CiaobyDany commented on #44
@lucas992 No, non lo ignoro. Problemi?

[2018-09-01 13:14] lucas992x commented on #44
Tanto l'avevo già cancellato ancora prima che tu rispondessi :P

[2018-09-02 10:34] Cruifer commented on #46
Non mi sono dimenticato, ovviamente. No no. Se riesco lo faccio di pomeriggio/stasera.

Nel frattempo che mi dimenticavo del commento di dany, mi sono messo a migliorare un po' il layout. Visto che l'allineamento veniva comunque sballato in qualche modo, ho trovato un'altra soluzione. Ovvero, il box più piccolo dei due si allunga fino ad essere come l'altro, e il contenuto viene centrato verticalm

[2018-09-02 11:40] CiaobyDany commented on #46
Sì, siamo tutti d'accordo. Dove con tutti d'accordo intendo che io e il mio OCD siamo d'accordo e non me ne frega un cazzo di cosa pensino gli altri. Già che ci sei, ci sarebbe da sistemare nel box bianco delle scritte un po' di padding/margin/line-height che messi così a cdc non mi hanno mai convinto.

[2018-09-02 19:56] #44 closed, assigned to Cruifer

[2018-09-02 21:29] Cruifer commented on #46
Ok, ho messo una carrellata di prove in sandbox.

Ho tolto uno `style="line-height: 10px"` nella classe allenatore che mi sembrava peggio che meglio messo lì, e la scritta `Ricompensa:`. Il resto tutto sommato non mi sembra male.

[2018-09-02 21:33] lucas992x commented on #46
Per casi come questo ci vuole una larghezza minima del box bianco:
![scr](https://user-images.githubusercontent.com/38510975/44960924-802f9000-af08-11e8-8298-0ef223b3f7b9.png)
![scr](https://user-images.githubusercontent.com/38510975/44960948-d8ff2880-af08-11e8-89a4-9309caf29587.png)
Se lo ingrandissimo a sufficienza secondo me verrebbe bene anche con questi sprite.

[2018-09-02 21:44] CiaobyDany commented on #46
IDEA: e se il boxettino della fuffa a parole diventasse un flex column? Adesso ci sono ancora un po' di differenze di margin/padding che non mi entusiasmano, ma se diventasse un flex non ci sarebbero problemi. Per il box sprello allenatore sì, con un min-width: 10em o il cazzo che è mi andrà bene così.

[2018-09-02 21:54] Cruifer commented on #46
@lucas992 ho messo un `min-width-xl-40`, dimmi se va meglio.

@CiaobyDany è già un `flex-column`, e no, non ci sono altri margin o padding ma solo big-text o text-small, al limite può essere quello.

[2018-09-02 22:17] CiaobyDany commented on #46
@Cruifer Io la min-width la setterei fissa piuttosto che in percentuale, perché date le diverse dimensioni degli schermi con cui andrai a lavorare potresti avere problemi.

Oh... Allora boh, saranno paranoie mie

[2018-09-02 22:18] lucas992x commented on #46
Per quelli delle vecchie gen mi sembra che vada bene. Però bisogna allargare anche per i nuovi, vedi Diantha (forse non hai visto l'edit del mio commento).

[2018-09-02 22:19] lucas992x commented on #46
@CiaobyDany Sai che questa è un'ottima idea? Tanto sappiamo a priori la dimensione in pixel degli sprelli, quindi...

[2018-09-02 22:28] CiaobyDany commented on #46
@lucas992 Più che degli sprelli direi che il problema sono le ball. Contiamo quanto sono larghe ad occhio, decidiamo un minimo di spazio vuoto che vogliamo metterci intorno e impostiamo la min-width. Senza fare troppi conti farei una prova con uno sprite di prima mettendo grandezze a caso finché non si arriva ad un intorno sufficientemente approssimato e poi si decide.

[2018-09-02 22:38] Cruifer commented on #46
No wait, non si può lavorare sulle Ball perché non sono quelle che danno problema nel caso specifico di Diantha. E no, la width minima fissa non mi sembra una buona idea perché la width fissa era proprio quella che non rendeva il modulo mobile friendly. Piuttosto andrebbe provato un `img-fluid` in modo che il box si allarghi quanto basta adattandosi al caso specifico, ma preferisco guardarci con p

[2018-09-03 09:04] flavio-a commented on #46
Non ho seguito un cazzo del resto, ho letto adesso solo la questione degli spirte: per quelli nuovi grossi se si riesce l'ideale è del padding, così anche i bordi arrotondati (approvati da Giovanni Muciaccia) non intersecano lo sprite. Ho dovuto fare la stessa cosa con l'Evobox (e non ho risolto tutti i problemi). In ogni caso un `img-fluid` mi sembra sempre un'ottima idea per evitare sprite megae

[2018-09-03 10:50] Cruifer commented on #46
Allora, mi sono reso conto di un problema per cui il `min-width-xl-40` non si può usare:
![immagine](https://user-images.githubusercontent.com/38588039/44982646-e3580b80-af76-11e8-8199-210cfedc6945.png)

E boh, ho provato ad usare l'`img-fluid` e non ho ottenuto i risultati sperati, se qualcuno più bravo di me ci può dare un'occhiata mi fa un piacere.

Nel mentre stavo pensando che lo spazio fra i

[2018-09-03 10:57] CiaobyDany commented on #46
Che era il motivo per cui ti avevo detto di usare le min-width fisse. Se
non va bene nessuna delle due la situazione inizia a diventare un problema.
Hai provato con un min-width-xl-20 min-width-md-40? Gli iMac 5k full screen
continueranno a vederlo male ma sti gran cazzi onestamente. Dovremmo tenere
da conto range umani di utilizzo, quindi fino al Full HD.
Per il resto lo space evenly mi piace.

[2018-09-03 16:14] Cruifer commented on #46
Messo lo space evenly e le min-width. E boh, non mi sembra che risolvano particolarmente il problema. Mi inventerò qualcosa.

[2018-09-04 10:12] lucas992x opened #48 "Tipi sbagliati nel Trainerlist"
## Descrizione
Il [template Trainerlist](https://wiki.pokemoncentral.it/Template:Trainerlist/Pok%C3%A9mon) ricava da solo i tipi del Pokémon da mostrare, ma quando si ha un Pokémon che ha cambiato tipo in una generazione successiva il risultato è chiaramente errato.

## Pagine affette
Un esempio si trova qui https://wiki.pokemoncentral.it/Via_Vittoria_(Nero_2_e_Bianco_2)#Grotta, ma sono sicurament

[2018-09-04 10:17] flavio-a commented on #48
@lucas992 Se il template sotto usa il modulo PokémonInfo posso guardare per aggiungere un parametro gen con cui selezionare la generazione di cui si vogliono i tipi.

La soluzione con i parametri comunque dovrebbe essere attuabile senza problemi, se non messi si usa il default preso dal modulo. Tanto se uno passa i tipi è perché sono quelli di una vecchia generazione e quindi vorrà vedere sempre q

[2018-09-04 10:19] CiaobyDany commented on #48
@lucas992 Credo che l'aggiunta del parametro non si scampi perché implementare un riconoscimento automatico della generazione a partire dal titolo della pagina (che è l'unica cosa che si possa fare senza cambiare le chiamate) è ridicolmente lungo e complesso. Senza contare che ci sono pagine che mostrano allenatori di più generazioni (Kanto ad esempio) in cui comunque non potresti distinguere a pr

[2018-09-04 10:32] lucas992x commented on #48
Se riusciamo ad aggiungere un parametro gen mi sembra la cosa migliore, poi ci vorrà pazienza a metterlo nelle pagine già esistenti ma vabbé.

[2018-09-04 10:38] flavio-a commented on #48
A quello non si scampa. Una rilevazione automatica della gen non si può fare, quindi qualcosa va aggiunto alla chiamata. A questo punto mettiamo sempre la gen e siamo sicuri che in qualsiasi momento del futuro non avremo problemi (finché i moduli funzionano).

In realtà mi sto accorgendo adesso che forse non c'è il supporto per i vecchi tipi nei moduli dati, quindi dovrò sistemare anche quello.

[2018-09-04 12:47] Cruifer opened #49 "Infobox con scritte che non seguono gli standard"
## Descrizione
Come avevo notato un paio di settimane fa, ci sono alcuni infobox in cui le scritte non seguono gli allineamenti standard, ovvero scritte allineate a destra su desktop e centrate su mobile e le label sempre a sinistra.

## Pagine affette
- [x] https://wiki.pokemoncentral.it/Template:ZonaAnimeInfobox
- [x] https://wiki.pokemoncentral.it/Template:EpisodeInfobox
- [x] https://wiki.poke

[2018-09-04 13:04] Cruifer commented on #11
@lucas992 la pagina è [Tea & Teo](https://wiki.pokemoncentral.it/Tea_%26_Teo), dovrebbe bastare mettere la class `overflow-auto` al [Template:TrainerPoké](https://wiki.pokemoncentral.it/Template:TrainerPok%C3%A9).

![immagine](https://user-images.githubusercontent.com/38588039/45032969-6e0e3880-b053-11e8-8613-048c3cc31b2b.png)

[2018-09-04 16:18] davla commented on #24
Sottolineo come *Abilità Evento* sia un termine fandom.

[2018-09-04 16:24] davla commented on #30
Consiglio di fare un modulo a parte, magari con input manuale. I glitch fanno cosi stranissimi, e a conti fatti l'evobox non fa millemila calcoli come il `DebRes`. L'unica cosa è verificare se l'utilità dell'`Evobox/data` per i glitch in altri contesti possa essere utile (per esempio, le mosse in corsivo nei `learnlists`).

[2018-09-04 16:41] davla commented on #46
Scrivete troppo. In ordine sparso:
- Mi sono accorto che `1rem = 10px` distrugge il senso del `rem`. Quindi, in linea di massima, `1rem = 16px`, perché quello è il default del browser. Ho già cambiato le classi `roundy` per rispecchiare questa cosa, e nessuno fino ad ora se n'è accorto, quindi ho fatto le cose bene.
- Vedo che un roundy solo in orizzontale piace molto. Vedo se riesco a inventarmi

[2018-09-04 16:46] davla commented on #47
Il render mi fa schifo, è la mia creazione di cui mi vergogno di più.

Ma se dici che Lugia deve fare cose, immagino che i dati non siano tutti pronti, quindi il modulo dati non si può fare. A meno che Lugia non sia abbastanza sveglio da saper ricopiare la sintassi avendo esempi a disposizione, e mi pare di sì. Ma se preferite la soluzione render-based, e se Flavìo si occupa del tutto (non voglio

[2018-09-04 16:59] CiaobyDany commented on #47
Potrebbe lavorare alla parte dei dati del modulo in una sandbox locale e
poi passarla per l'upload. In realtà il 99% è già pronto, però
periodicamente sbucano casi strani per cui bisogna rimetterci le mani,
soprattutto per gli esemplari di cui è presente una sola specie con
incontro overworld in cui non è chiaro se lo strumento sia tenuto per
l'evento o perché tutti i selvatici sono programmati pe

[2018-09-04 18:01] davla commented on #45
Me ne ero scordato. @pokemoncentral/wiki qualcuno sa di casi analoghi? Mi pare non ce ne siano.

[2018-09-04 18:02] CiaobyDany commented on #45
@davla Ringraziando il cielo c'è solo lui che ha statistiche a cazzo e mi sembra più che sufficiente. Ma sicuramente nell'ottava generazione GF compenserà

[2018-09-04 20:12] davla commented on #45
Sono fiducioso. Implemento con un simpatico `if`.

[2018-09-05 09:03] lucas992x commented on #40
Immagino che fare un modulo dati anche per i movelist sia un bel macello, quindi aspetto a proporlo.

Per Arceus (ma anche Silvally) forse può essere utile notare che Dragobolide la imparano solo quando hanno la lastra/ROM di tipo Drago, questo dovrebbe essere l'unico caso in cui la loro forma non è useless nell'ambito mosse apprese. Ho corretto nella pagina della mossa, ma non nelle varie pagine

[2018-09-05 09:08] lucas992x commented on #49
Tempo fa avevo proposto di templatizzare gli infobox, ma @CiaobyDany aveva risposto con un secco no che non ne valeva la pena perché andrebbe templatizzata la singola riga e quest'ultima si scrive con due righe di codice. Questa issue mi ci ha fatto ripensare, e sono ancora dell'idea che non sarebbe male farlo, in modo da avere sempre uniformità e poter gestire facilmente tutti gli infobox.

[2018-09-05 09:33] CiaobyDany commented on #49
Ribadisco il no alla luce dei problemi sul limite di inclusione dei template che stanno apparendo fin troppo spesso ultimamente.

[2018-09-05 09:45] lucas992x commented on #49
Domanda: se nella pagina includiamo un template che in realtà è composto da 100 template, per la pagina ce ne sono 100 o uno solo?

[2018-09-05 09:49] CiaobyDany commented on #49
@lucas992 100. O non avrei problemi con l'elenco strumenti tenuti.

[2018-09-05 12:25] lucas992x commented on #49
Altra domanda: questo limite è influenzato anche da come sono fatti template stessi o no? Perché io ho provato a includere 2500 volte `{{colore|...}}` in una pagina e funziona tranquillamente.

[2018-09-05 22:10] #45 closed, assigned to davla

[2018-09-06 16:18] flavio-a commented on #47
So che odi il render ma a me non sembra male come idea. Comunque anche secondo me è un problema usare un modulo dati perché dopo Lugia149 non può modificarlo, e sicuramente ci vuole più tempo a mettere su il modulo dati che il render.

Poi niente ci vieta in futuro di aggiungere il modulo dati in questione.

[2018-09-06 16:21] flavio-a commented on #30
Sicuramente non avevo intenzione di fare un modulo dati per le evoluzioni dei glitch (che magari iniziano ad evolversi in modi a caso, brrr...). L'idea era solo di riciclare tutto il macchinario dell'Evobox (grafica, funzioni che creano certi box, etc...) nel limite del possibile con una chiamata manuale.

[2018-09-06 16:26] flavio-a commented on #49
Come fai a sapere che sono proprio 2500 e non 2501? Eh? Li hai contati?

Comunque la verità è che lo sa solo MediaWiki. Puoi provare a cercare nella loro documentazione come contano le inclusioni template e quando si supera il limite, anche se ovviamente ti mancherà il numerino magico scelto da Gika. Tieni anche conto che 2500 template non sono così tanti, su 800 entry basta che ognuna includa alt

[2018-09-06 16:34] lucas992x commented on #49
@flavio-a so che erano esattamente 2500, basta prendere sempre lo stesso e ripeterlo alternando sapientemente _Ctrl + A_ e _Ctrl + C_ / _Ctrl + V_ ;)
In un Infobox comunque dovrebbero essere al massimo qualche decina, che si può anche ridurre con alcuni accorgimenti. Se no si potrebbe valutare la possibilità di modulizzare.

[2018-09-06 16:45] flavio-a commented on #49
Allora, ho letto tutta l'issue e non solo l'ultimo messaggio quindi adesso posso rispondere sul serio.
1 - Se fai _Ctrl + A_ / _Ctrl + C_ / _Ctrl + V_ a ripetizione puoi ottenere solo potenze di 2 quindi è assurdo che tu abbia ottenuto 2500 copie, cvd.
2 - Il limite di inclusione template si verifica nelle pagine degli elenchi, in cui non compaiono gli infobox, quindi il problema non si pone, anch

[2018-09-06 16:52] lucas992x commented on #49
@flavio-a Non ho alternato ACVACVACV..., ho usato ACVVVVV per arrivare a 5, poi di nuovo ACVVVVV per arrivare a 25, poi ACVVVV per arrivare a 100, e poi in modo simile fino alla fine, ma questo non è importante, so esattamente che erano 2500.

[2018-09-06 17:03] flavio-a commented on #40
Nelle pagine dei due Pokémon secondo me viene meglio mettendo la nota con il parametro `notes` (se esiste davvero).

Tornando al movelist, il modulo dati era già stato pensato e scartato ma non mi ricordo perché, forse perché nessuno aveva voglia di farlo. Naturalmente le cose per me non sono cambiate, quindi io nisba (magari Dedalo). Sempre riguardo ad Arceus/Silvally comunque ci sarà da aggiunge

[2018-09-06 20:41] davla commented on #47
@flavio-a Fintantoché lo fai tu, a me sta bene tutto

[2018-09-06 20:43] davla commented on #30
Se pensi che sia inutile, allora a postissimo.

[2018-09-06 20:46] Cruifer opened #50 "Nuove sigle per cose che non sono giochi"
## Descrizione
Servono nuove sigle per via della #31: l'elenco è [qua](https://wiki.pokemoncentral.it/Utente:Lucas992/Sandbox#Sigle).

## Risoluzione del problema
Lo sa dedalo.

[2018-09-06 21:43] CiaobyDany commented on #40
Scusa la risposta tardiva.
Sì, vorremmo che lì Lycanroc avesse segnata la forma, che lì di nuovo Wormadam avesse segnata la forma e che lì Arceus avesse segnato un "tutte le forme". Ok all'inserimento della forma di default. Ok al chek manuale. Basically si tratta di aprire i moveset dei Pokémon con differenze di forma non useless e andare nelle pagine di ogni mossa per segnare le mosse imparate d

[2018-09-06 22:05] davla commented on #49
Guerra tra matematici.

Anyway, non so quanto WikiCode possa essere sufficientemente flessibile da rendere la templatizzazione degli infobox conveniente. Con altri template engines, per esempio Jinja o simili, non ci penserei due volte. Però magari non ho visto abbastanza infobox da farmi un'idea. Diciamo che si potrebbe provare, ma le mie aspettative restano scarse.

Avrei pensato a fare una clas

[2018-09-06 22:28] lucas992x opened #51 "Classi Allenatore"
## Descrizione
Osservazioni sulle Classi Allenatore by Denelio:

Le pagine di coppie di classi Allenatore sono gestite alla cazzo di cane perché #TPCiCulo con la mania di cambiare i nomi 15 volte ma solo in alcune lingue rende dannatamente difficile seguire il tutto, in particolare:
- In eng/ita in quinta generazione c'è il Buffone/Harlequin che in giapponese è il Clown. I Clown però esistono anch

[2018-09-06 22:33] CiaobyDany commented on #51
@lucas992 Mmm... Magari togli i primi 4 punti che erano un mio rant e non sono correlate alla issue, lol. E nel concreto la issue è sulle controparti maschili e femminili delle classi Allenatore. A meno che non si voglia ridiscutere per intero il progetto che attualmente è gestito particolarmente a caso, ma sinceramente non so quanto sia prioritario rifare le 150 pagine in questione.

[2018-09-07 09:25] flavio-a commented on #40
Gestire separatamente no perché c'è un sacco di roba in comune con gli altri movelist. Gestire un po' più a mano si può fare ma ha alcuni problemi: adesso per esempio basta inserire il nome della forma/ndex con abbreviazione per avere già ms giusto __e link sotto__. Se vuoi fare le cose a mano il link sotto te lo sogni.

Mi è però venuto in mente che si potrebbe aggiungere un parametro per dire al

[2018-09-07 09:35] flavio-a commented on #28
Non so perché io non abbia chiuso quest'issue con  pokemoncentral/wiki-lua-modules@14454c6a0db7434bc2875470b8450104180bed1b (nonostante sia meraviglioso farlo). Comunque FYI ho aggiunto un modulo dati apposta (BothForms-data) per gestire i Pokémon che hanno sia AltForms che UselessForms. E ve lo dico lo stesso anche se a molti di voi non fregherà un cazzo.

[2018-09-07 09:35] #28 closed, assigned to flavio-a

[2018-09-07 10:00] flavio-a commented on #5
Vediamo se così funziona:
@mexicat devi copiare le seguenti query e scriverci il risultato.

Questa prima query serve solo a controllare che l'id di Aggron che ho trovato sia giusto (dovrebbe essere 12932)
[code]

Questa query testa le categorie
[code]

Questa gli interwiki della home
[code]

Questa i puntano qui (credo)
[code]

[2018-09-07 10:24] CiaobyDany commented on #40
@flavio-a Io avevo pensato ad un override manuale per quei due casi. Se sono due dovrebbe essere fattibile, no?

[2018-09-07 12:31] Cruifer opened #52 "Update al GlitchPkmnInfobox"
## Descrizione
Sono due anni che ho quel [coso](https://wiki.pokemoncentral.it/Template:GlitchPkmnInfobox) in [sandbox](https://wiki.pokemoncentral.it/Utente:Cruifer/Sandbox), direi che è il momento di aggiornarlo seriamente. È da rendere mobile friendly l'ultima parte e sistemare un po' la grafica, e dovrebbe essere quasi finito.

[2018-09-07 12:51] lucas992x commented on #52
@Cruifer Io aspetterei, in attesa di capire se si deciderà di templatizzare gli Infobox o no.

[2018-09-07 12:56] CiaobyDany commented on #52
@lucas992 Se l'idea è come credo di fare un infobox simile al PokémonInfo non credo siano correlate. A meno che non vogliate rifare pure il PokémonInfo, cosa che vi sconsiglio altamente.

[2018-09-07 15:34] flavio-a commented on #40
Cosa intendi con override manuale? Intendi mettere nel codice del modulo due `if` che gestiscono quei due casi? Intendi non usare proprio il modulo e inserire direttamente il codice delle due righe nella pagina? Non ho proprio capito cosa vuoi sovrascrivere manualmente, e cosa vuol dire manualmente.

[2018-09-07 15:42] CiaobyDany commented on #40
@flavio-a Una qualsiasi delle tue opzioni, o si scrive il codice nudo e crudo nella pagina o si crea una flag apposta (stronzo=yes) con cui poi si inseriscono a mano con altri parametri ndex, nome cazzi e mazzi che non deve prendere automaticamente perché sbaglierebbe.

(sì, lo so che la flag sarebbe superflua, ma l'idea di mettere stronzo=yes nei casi bastardi mi attizza parecchio)

[2018-09-07 15:45] CiaobyDany commented on #51
@CiaobyDany Ah, giusto, una cosa abbastanza seria è sistemare il Cercapokémon che ho scoperto ieri come la pagina fosse con il titolo sbagliato ma mi sono limitato a spostarla senza correggere il testo e i link in entrata.

[2018-09-07 20:03] Cruifer commented on #11
@lucas992

![99deb7e6-a8cc-4cdb-97a5-3a7a6dba744e](https://user-images.githubusercontent.com/38588039/45240622-944d0600-b2e9-11e8-83b6-b884d61cd74d.jpeg)

[2018-09-07 20:12] lucas992x commented on #11
Fixato, tra un po' potrei iniziare a metterlo ovunque a caso :D

[2018-09-08 14:27] flavio-a commented on #48
Io in teoria ho fatto la modifica (anche se non l'ho ancora caricata perché richiede testing abbondante). Al modulo adesso basta passare il parametro `gen=n` che funziona come vi aspettate; se non viene passato si suppone di default l'ultima generazione.
Mancano quindi da
- [x] caricare il modulo (faccio io appena sono soddisfatto del numero di test)
- [x] aggiornare il template per prendere il pa

[2018-09-08 14:50] flavio-a commented on #40
Io sono abbastanza convinto che il flag che dicevo io per cercare la forma tra quelle useless dovrebbe risolvere il problema (se vuoi te lo chiamo `stronzo = yes` XD), comunque faccio anche quello che dicevi tu di mettere i parametri opzionali per tutto (ndex visualizzato, ndex usato per il MS, nome, tipi, gruppi uova, etichetta), anche se è un po' sbatti (perché il modulo è scritto da cani).

[2018-09-08 16:02] lucas992x commented on #48
Ho modificato il template [`Trainerlist/entry`](https://wiki.pokemoncentral.it/Template:Trainerlist/entry) in modo che prenda un parametro `gen` e lo passi ad ognuno dei 6 Pokémon, quindi quando avrai fatto tutto ti basterà modificare [`Trainerlist/Pokémon`](https://wiki.pokemoncentral.it/Template:Trainerlist/Pok%C3%A9mon). Poi ho aggiunto `gen=5` nella pagina sopra indicata, così puoi provare sub

[2018-09-08 18:53] CiaobyDany commented on #40
@flavio-a No, niente stronzo, dobbiamo far finta di essere seri almeno nel mainspace. E metti i parametri over-ridabili solo per le cose necessarie, non stare a fare lavoro inutile.

[2018-09-08 21:51] davla commented on #50
Mi servono i colori.

[2018-09-08 21:57] CiaobyDany commented on #50
@davla Mi sono dimenticato. Ma mi hai fatto ricordare un'altra cosa. I colori li guardo domani, ormai sono abituato al filtro blu del PC e non ci potrei lavorare.

[2018-09-09 12:33] Cruifer commented on #11
![schermata 2018-09-09 alle 14 29 11](https://user-images.githubusercontent.com/38588039/45264443-cc189280-b43c-11e8-86ff-e27bfc6f4349.png)

Spoiler: no. Mettiamolo solo se serve altrimenti si fanno danni (lo so che stavi scherzando ma vabbè)

[2018-09-10 21:36] mexicat commented on #5
[code]

[code]

[code]

[code]

[2018-09-11 14:13] lucas992x commented on #24
Qualche cosa per evitare di rincretinire:
- _species strenghts_ = _potenziale della specie_
- _base stats_ = _punti base_
- _individual strengths_ = _punti individuali_

Bulba, per motivi ignoti, continua a chiamare _base stat_ ciò che dovrebbe chiamarsi _species strength_: https://bulbapedia.bulbagarden.net/wiki/Base_stats. Da noi questa cosa è stata chiamata _statistiche base_, immagino per una

[2018-09-11 14:14] CiaobyDany commented on #24
@lucas992 Non sono motivi ignoti, è che non hanno balle di cambiare una roba che sono 20 anni che il mondo chiama in un modo con un nome che non capirebbe nessuno, per quanto ufficiale.

[2018-09-11 14:32] lucas992x commented on #5
Interessante _Pokémon_di_tipo_rcciaio_.

[2018-09-11 19:17] Cruifer opened #53 "Delineare degli standard per categorie di template"
## Descrizione
Ok, sappiamo tutti che sulla wiki abbiamo molti template che non seguono standard comuni sia strutturalmente (vedi #49) che graficamente (#41). Direi che dovremmo discutere almeno se gli standard che abbiamo attualmente vanno bene e sistemare i vari template di conseguenza. Si potrebbe anche pensare di mettere gli standard nel manuale di stile, in effetti. Poi consiglio di continuar

[2018-09-11 19:57] davla commented on #50
Mi sono dimenticato di chiudere la issue con il commit. Pazienza. Fixed in pokemoncentral/wiki-lua-modules@c5f88b8

[2018-09-11 23:10] lucas992x commented on #53
Io rimango dell'idea di templatizzare gli infobox. Si tratta di aggiungere solo qualche decina di template ad una pagina (nei casi peggiori), e le pagine che superano il limite consentito non contengono infobox (o almeno a me non risulta).

[2018-09-12 08:19] Cruifer commented on #53
Boh dai, io non sono molto convinto però magari si può fare una prova e vedere come va.

[2018-09-12 08:29] flavio-a commented on #5
No più che altro interessante che le query siano sbagliate. Questo vuol dire che tutto quello che pensavo sulla cache è sbagliato, e la colpa è da un altra parte. Comunque molto strano che __rebuildall.php__ non avesse funzionato all'epoca.

Il fatto dei _Pokémon_di_tipo_rcciaio_ è carino perché è un errore recente, quindi sembra che il database si aggiorni per alcune cose e per altre no. Tra l'al

[2018-09-12 10:22] flavio-a commented on #48
Ok, adesso la [pagina di prova](https://wiki.pokemoncentral.it/Via_Vittoria_(Nero_2_e_Bianco_2)#Grotta) si vede bene, ho caricato tutto quello che dovevo caricare e aggiornato il template (in due volte perché figurati se senza anteprima riesco a fare giusto al primo colpo). Se volete tenere questa issue come memo che ci sono da aggiornare le pagine ok ma unassign me. Altrimenti potete chiuderla ma

[2018-09-12 11:09] lucas992x commented on #48
Tutte le zone di Sinnoh, Unima, Kalos e Alola dovrebbero essere a posto. Per Kanto, Johto e Hoenn forse c'è un modo per farle con un bot, nel dubbio lascerei aperta la issue.

[2018-09-12 13:29] lucas992x commented on #53
Una categoria di template non ancora aggiornata e relativamente facile da fare è quella dei template di navigazione dei Capipalestra e simili. Per questo tipo di template, potremmo usare il layout del [template Starter](https://wiki.pokemoncentral.it/Template:Pok%C3%A9mon_Starter) oppure quello del [template dei Capitani e Kahuna](https://wiki.pokemoncentral.it/Template:Capitani_e_Kahuna_di_Alola)

[2018-09-12 13:50] Cruifer commented on #53
Allora, la cosa migliore secondo me fra i due è molto meglio il template dei capitani e dei Kahuna di Alola, a patto di togliere i gradienti dei singoli box e di mettere un colore solid. Anche perché il template degli starter non risolve direttamente il problema dei gradienti vicini (anche se è solo un bordo è comunque attaccato al gradiente del box principale). Per il resto ok, mi sembra che due

[2018-09-12 13:52] lucas992x commented on #53
@Cruifer Per il template starter si potrebbe risolvere facilmente impostando anche il box grosso come un rettangolo con bordo gradientato e interno bianco. EDIT l'ho appena modificato, perché efffettivamente hai ragione a dire che gradienti contro gradienti non va bene.
Anyway, se preferite comunque la seconda opzione, dentro al box mettiamo un colore solid e light con le scritte dark?

[2018-09-12 14:07] Cruifer commented on #53
too much bianco. Ce n'è già troppo

Per i colori boh, dovremmo provare, appena ho voglia faccio delle prove in sandbox (oppure fai tu se vuoi).

[2018-09-12 14:12] lucas992x commented on #53
Allora direi che nei prossimi giorni con comodo scrivo i template, così poi ci facciamo tutti i test del caso, a meno che qualcun altro non abbia delle obiezioni e/o delle altre proposte.

[2018-09-12 16:28] Cruifer commented on #53
Ho fatto una bozza di come mi piacerebbe che fosse ([link](https://wiki.pokemoncentral.it/Utente:Cruifer/Sandbox#regioni)). Ditemi che vi sembra. A me piace. Ovviamente è una cosa fatta un po' alla svelta e che non supporta la settima gen (per ora), ma si sistema poi con calma.

[2018-09-12 16:32] CiaobyDany commented on #53
@Cruifer Boh, quei riquadri così piani non mi entusiasmano ma non ho idee migliori. Inoltre farei width 25 perché tranne che ad Unima le Palestre sono 8 e almeno ci stanno su due righe senza riporti.

[2018-09-12 17:19] lucas992x commented on #53
Come idea generale non mi dispiace, salvo il fatto che metterei di default 25% su schermi grossi. Comunque ho messo la mia proposta nella [mia sandbox](https://wiki.pokemoncentral.it/Utente:Lucas992/ProveTemplate), ho cambiato un po' di parametri per rendere il template più "universale" (visto che non lo useremo solo con i Capipalestra).